<?xml version="1.0" encoding="utf-8"?>
<ClientSettingsPref xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<ClientSettingsList>
		<ClientSettings>
			<ClientName>Apex</ClientName>			
			<!--<FileFormatter>csv,xls</FileFormatter>-->
			<FileFormatter>csv</FileFormatter>
			<!--<InputDataLocationType>FileSystem,DB</InputDataLocationType>-->
			<InputDataLocationType>DB</InputDataLocationType>
			<RiskPreferences>
				<BenchMarkSymbol>$INX</BenchMarkSymbol>
				<StartDate>2010-10-09</StartDate>
				<EndDate>2011-01-17</EndDate>
				<GroupingCriteria></GroupingCriteria>				
				<!--Symbol,Fund,Strategy,SubSectorName,CountryName,SectorName,SecurityTypeName-->
				<ViewCriteria>SectorName</ViewCriteria>
				<PercentageBenchMarkMove>10</PercentageBenchMarkMove>
			</RiskPreferences>
			<!--<ReportType>RiskReport,Internal,StressTest</ReportType>-->
			<ReportType>RiskReport</ReportType>
			<FileSettings />
			<ImportType>Position</ImportType>
			<ThirdPartyNames>GS</ThirdPartyNames>		
			<ClientSettingName>Apex</ClientSettingName>
		</ClientSettings>
		<ClientSettings>
			<ClientName>NirvanaReportsWeb</ClientName>
			<FileFormatter>csv</FileFormatter>
			<InputDataLocationType>FileSystem</InputDataLocationType>
			<ReportType>Internal</ReportType>
			<FileSettings />
			<ImportType>Position</ImportType>
			<ThirdPartyNames>ICICI Potential</ThirdPartyNames>			
			<ClientSettingName>NirvanaReportsWeb</ClientSettingName>
		</ClientSettings>
	</ClientSettingsList>
</ClientSettingsPref>