<?xml version="1.0" encoding="utf-8"?>
<BlotterPreference>
  <xmlSerializerSection type="Prana.Blotter.BlotterPreferenceData, Prana.Blotter, Version=1.0.2048.32027, Culture=neutral, PublicKeyToken=null">
    <BlotterPreferenceData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <SymbolList>
        <anyType xsi:type="ItemValue">
          <Item xsi:type="xsd:string">1234</Item>
          <Value xsi:type="xsd:string">,111111111111111,22222222222222222222,3333333333333333333,44444444444444444</Value>
        </anyType>
      </SymbolList>
      <CustomBlotters>
        <anyType xsi:type="CustomBlotter">
          <Filters>
            <anyType xsi:type="ItemValue">
              <Item xsi:type="xsd:string">symbolList</Item>
              <Value xsi:type="xsd:string">1234</Value>
            </anyType>
            <anyType xsi:type="ItemValue">
              <Item xsi:type="xsd:string">assetClass</Item>
              <Value xsi:type="xsd:string" />
            </anyType>
            <anyType xsi:type="ItemValue">
              <Item xsi:type="xsd:string">underlying</Item>
              <Value xsi:type="xsd:string" />
            </anyType>
            <anyType xsi:type="ItemValue">
              <Item xsi:type="xsd:string">clients</Item>
              <Value xsi:type="xsd:string" />
            </anyType>
            <anyType xsi:type="ItemValue">
              <Item xsi:type="xsd:string">side</Item>
              <Value xsi:type="xsd:string" />
            </anyType>
          </Filters>
          <BlotterColumnsPreferenceData>
            <DisplayList>
              <anyType xsi:type="xsd:string">Symbol</anyType>
              <anyType xsi:type="xsd:string">TradingAccount</anyType>
              <anyType xsi:type="xsd:string">Order ID</anyType>
            </DisplayList>
            <SortKey>Symbol</SortKey>
            <Ascending>true</Ascending>
          </BlotterColumnsPreferenceData>
          <CustomBlotterName>CS11111111111</CustomBlotterName>
        </anyType>
      </CustomBlotters>
      <StagingBlotterColumns>
        <DisplayList>
          <anyType xsi:type="xsd:string">Symbol</anyType>
          <anyType xsi:type="xsd:string">TradingAccount</anyType>
          <anyType xsi:type="xsd:string">Order ID</anyType>
        </DisplayList>
        <SortKey />
        <Ascending>false</Ascending>
      </StagingBlotterColumns>
      <OpenBlotterColumns>
        <DisplayList>
          <anyType xsi:type="xsd:string">Symbol</anyType>
          <anyType xsi:type="xsd:string">TradingAccount</anyType>
          <anyType xsi:type="xsd:string">Order ID</anyType>
        </DisplayList>
        <SortKey />
        <Ascending>true</Ascending>
      </OpenBlotterColumns>
      <ClosedBlotterColumns>
        <DisplayList>
          <anyType xsi:type="xsd:string">Symbol</anyType>
          <anyType xsi:type="xsd:string">TradingAccount</anyType>
          <anyType xsi:type="xsd:string">Order ID</anyType>
        </DisplayList>
        <SortKey />
        <Ascending>true</Ascending>
      </ClosedBlotterColumns>
      <AllBlotterColumns>
        <DisplayList>
          <anyType xsi:type="xsd:string">Symbol</anyType>
          <anyType xsi:type="xsd:string">TradingAccount</anyType>
          <anyType xsi:type="xsd:string">Order ID</anyType>
        </DisplayList>
        <SortKey />
        <Ascending>true</Ascending>
      </AllBlotterColumns>
      <SummaryBlotterColumns>
        <DisplayList>
          <anyType xsi:type="xsd:string">Symbol</anyType>
          <anyType xsi:type="xsd:string">TradingAccount</anyType>
          <anyType xsi:type="xsd:string">Order ID</anyType>
        </DisplayList>
        <SortKey />
        <Ascending>true</Ascending>
      </SummaryBlotterColumns>
    </BlotterPreferenceData>
  </xmlSerializerSection>
</BlotterPreference>