/****** Object:  Table [dbo].[T_W_Indices]    Script Date: 03/20/2015 14:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_W_Indices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [varchar](max) NULL,
	[Quotes] [varchar](max) NOT NULL,
	[IsVAMI] [bit] NOT NULL,
	[IsPeriod] [bit] NOT NULL,
	[IsBenchmark] [bit] NOT NULL,
	[EODSymbol] [varchar](max) NULL,
	[Source] [int] NOT NULL,
 CONSTRAINT [PK_T_W_Indices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF