<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ColumnMapping" type="System.Configuration.AppSettingsSection" />
    <section name="SymbolMapping" type="System.Configuration.AppSettingsSection" />
    <section name="ExchangeMapping" type="System.Configuration.AppSettingsSection" />
    <section name="CurrenciesToUpdate" type="System.Configuration.AppSettingsSection" />
    <section name="APIDetails" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <appSettings>
  </appSettings>

  <ColumnMapping>
    <!-- symbol name price changesPercentage change dayLow dayHigh yearHigh marketCap priceAvg50 priceAvg200 volume avgVolume exchange open previousClose eps pe earningsAnnouncement sharesOutstanding timestamp 
 The order defined here will be used to dump column in final output
 -->
    <add key="price" value="LASTPRICE" />
    <add key="dayHigh" value="HIGH" />
    <add key="dayLow" value="LOW" />
    <add key="open" value="OPEN" />
    <add key="ask" value="ASK" />
    <add key="bid" value="BID" />
    <add key="change" value="CHANGE" />
    <add key="volume" value="TOTALVOLUME" />
    <add key="previousClose" value="PREVIOUS" />
    <add key="sharesOutstanding" value="SHARESOUTSTANDING" />
    <add key="updateTime" value="UPDATETIME" />
  </ColumnMapping>

  <SymbolMapping>
    <add key="$SPX" value="%5EGSPC" />
    <add key="$INDU" value="%5EDJI" />
    <add key="$COMPQ" value="%5EIXIC" />
    <add key="$RUT" value="%5ERUT" />
	<add key="CTC.A-TC" value="CTC-A.TO" />
	<add key="ATD.B-TC" value="ATD-B.TO" />
	<add key="BF.B" value="BF-B" />
	<add key="BRK.B" value="BRK-B" />
	
	
  </SymbolMapping>

  <ExchangeMapping>
    <add key="-LON" value=".L" />
    <add key="-TC" value=".TO" />
    <add key="-HKG" value=".HK"/>
    <add key="-SWX" value=".SW"/>
    <add key="-ASX" value=".AX"/>
  </ExchangeMapping>

  <CurrenciesToUpdate>
    <!--Currency Conversion mapping based on exchanges given by FMP-->
    <add key="LON" value="D,100" />
    <add key="LSE" value="D,100" />
  </CurrenciesToUpdate>

  <APIDetails>
    <add key="FMPAPI" value="83074d8683638649983698f879f0faed"/>
    <!--No of Symbols to request in one URL hit-->
    <add key="BatchSymbolRequestLimit" value="150" />
    <!-- Comma Separated list of symbols which needs to be excluded from currency conversion mapping -->
    <add key="ExcludeSymbolsFromCurrencyConversion" value="IDHC.L" />
  </APIDetails>

</configuration>