/****** Object:  Table [dbo].[T_MW_RjoM_AcctVal]    Script Date: 07/18/2014 14:52:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MW_RjoM_AcctVal](
	[AcctId] [int] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL,
	[Val_TradingLevel] [decimal](38, 8) NOT NULL,
	[Val_InvestedCash] [decimal](38, 8) NOT NULL,
 CONSTRAINT [PK_RjoM_AcctVal] PRIMARY KEY CLUSTERED 
(
	[AcctId] ASC,
	[UpdateDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO