/****** Object:  Table [dbo].[T_MW_RjoM_FundCombinationFundAssoc]    Script Date: 07/18/2014 14:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MW_RjoM_FundCombinationFundAssoc](
	[FundCombinationId] [bigint] NOT NULL,
	[FundId] [int] NOT NULL,
 CONSTRAINT [PK_RjoM_FundCombinationFundAssoc] PRIMARY KEY CLUSTERED 
(
	[FundCombinationId] ASC,
	[FundId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
