<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nirvana.Middleware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="assetModels" type=" System.Configuration.DictionarySectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="Nirvana.Middleware.Properties.Settings.DestConnectString"
        connectionString="{0};MultipleActiveResultSets=True;Connect Timeout=3600;Packet Size=16384"
        providerName="System.Data.SqlClient" />
    <add name="Nirvana.Middleware.Properties.Settings.SourceConnectString"
        connectionString="{0};MultipleActiveResultSets=True;Connect Timeout=3600;Packet Size=16384"
        providerName="System.Data.SqlClient" />
    <add name="Nirvana.Middleware.Properties.Settings.HistoricalConnectString"
        connectionString="Data Source=bloomberg.nirvanasolutions.com;Initial Catalog=Historicals;Persist Security Info=True;User ID=sa;Password=NIRvana2@@6"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Nirvana.Middleware.Properties.Settings>
      <setting name="AverageVolumeDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MailIdentity" serializeAs="String">
        <value>34</value>
      </setting>
      <setting name="RollBackDays" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="T_TS_GenericPNL" serializeAs="String">
        <value>T_MW_GenericPNL</value>
      </setting>
      <setting name="T_TS_DerivedData" serializeAs="String">
        <value>T_MW_DerivedData</value>
      </setting>
      <setting name="T_TS_DailyReturns" serializeAs="String">
        <value>T_MW_DailyReturns</value>
      </setting>
      <setting name="T_TS_DailyReturns_Fund" serializeAs="String">
        <value>T_MW_DailyReturns_Fund</value>
      </setting>
      <setting name="T_TS_Transactions" serializeAs="String">
        <value>T_MW_Transactions</value>
      </setting>
      <setting name="CreateTables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LookbackDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>36000</value>
      </setting>
      <setting name="EnableLINQLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterestFreeRate" serializeAs="String">
        <value>0.0023</value>
      </setting>
      <setting name="GetVedaPrices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExecuteWithRecompile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogSQLStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseExternalCalcs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreAUECID" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DerivedDataEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DailyReturnsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TouchStep" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWinDaleToCalculateImpliedVol" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImpliedVolatiltyIterations" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UseUserPrefToCalculateImpliedVol" serializeAs="String">
        <value>True</value>
      </setting>
    </Nirvana.Middleware.Properties.Settings>
  </applicationSettings>
  <assetModels>
    <add key="FutureOption" value="Black76" />
  </assetModels>
</configuration>