Create Procedure [dbo].[P_OTC_DeleteCustomFields]                                                      
(                                                      
 @CustomFieldId int,                                                      
 @ErrorMessage varchar(500) output,                                                                                               
 @ErrorNumber int output                                                                  
)                                                         
As         
Begin
delete From T_OTC_CustomFields where ID= @CustomFieldId
end
