CREATE Procedure [dbo].[P_OTC_GetTemplateDetailedData] 
( 
@OTCTemplateID int,
@InstrumentTypeID int        
)        
AS

select @InstrumentTypeID  = InstrumentType from T_OTC_Templates
Where T_OTC_Templates.ID =@OTCTemplateID 

if( @InstrumentTypeID  =1)
BEGIN
	SELECT OTC.[ID]
		  ,[Name]
		  ,[InstrumentType]
		  ,[Description]
		  ,[UnderlyingAssetID]
		  ,[ISDACounterParty]
		  ,[CreatedBy]
		  ,[CreationDate]
		  ,[LastModifiedBy]
		  ,[LastModifieDate]
		  ,[EquityLeg_Frequency]
		  ,[EquityLeg_BulletSwap]
		  ,[EquityLeg_ExcludeDividends]
		  ,[EquityLeg_ImpliedCommission]
		  ,[Commission_Basis]
		  ,[Commission_HardCommissionRate]
		  ,[Commission_SoftCommissionRate]
		  ,[FinanceLeg_InterestRate]
		  ,[FinanceLeg_SpreadBasisPoint]
		  ,[FinanceLeg_DayCount]
		  ,[FinanceLeg_Frequency]
		  ,[CustomFields]
		  ,[ISDAContract]
		  ,[FinanceLeg_FixedRate]
		  ,[DaysToSettle]
	  FROM T_OTC_Templates AS OTC
	  inner JOIN T_OTC_EquitySwapData E on E.OTCTemplateID = OTC.ID
	  Where OTC.ID =@OTCTemplateID 
  END


ELSE if( @InstrumentTypeID  =2)
BEGIN
	SELECT OTC.[ID]
		  ,[Name]
		  ,[InstrumentType]
		  ,[Description]
		  ,[UnderlyingAssetID]
		  ,[ISDACounterParty]
		  ,[CreatedBy]
		  ,[CreationDate]
		  ,[LastModifiedBy]
		  ,[LastModifieDate]
		  ,[Commission_Basis]
		  ,[Commission_HardCommissionRate]
		  ,[Commission_SoftCommissionRate]
		  ,[FinanceLeg_InterestRate]
		  ,[FinanceLeg_SpreadBasisPoint]
		  ,[FinanceLeg_DayCount]
		  ,[FinanceLeg_FixedRate]
		  ,[FinanceLeg_ScriptLeadingFee]
		  ,[Collateral_Margin]
		  ,[Collateral_Rate]
		  ,[Collateral_DayCount]
		  ,[CustomFields]
		  ,[ISDAContract]
		  ,[DaysToSettle]
	  FROM T_OTC_Templates AS OTC
	  inner JOIN T_OTC_CFDData C on C.OTCTemplateID = OTC.ID
	  Where OTC.ID =@OTCTemplateID 
END
ELSE if( @InstrumentTypeID  =3)
BEGIN
	SELECT OTC.[ID]
		,[Name]
		,[InstrumentType]
		,[Description]
		,[UnderlyingAssetID]
		,[ISDACounterParty]
		,[CreatedBy]
		,[CreationDate]
		,[LastModifiedBy]
		,[LastModifieDate]
		,[OTCTemplateID]
		,[EquityLeg_ConversionRatio] 
		,[FinanceLeg_ZeroCoupon] 
		,[FinanceLeg_IRBenchMark] 
		,[FinanceLeg_FXRate] 
		,[FinanceLeg_SBPoint] 
		,[FinanceLeg_DayCount] 
		,[FinanceLeg_CouponFreq] 
		,[Commission_Basis] 
		,[Commission_HardCommissionRate] 
		,[Commission_SoftCommissionRate] 
		,[CustomFields] 
	  FROM T_OTC_Templates AS OTC
	  inner JOIN T_OTC_ConvertibleBondData C on C.OTCTemplateID = OTC.ID
	  Where OTC.ID =@OTCTemplateID 
	  end