Create Procedure [dbo].[P_OTC_SaveOTCTemplateData]                                                      
(                                                      
 @xml nText,                                                      
 @ErrorMessage varchar(500) output,                                                                                               
 @ErrorNumber int output                                                                  
)                                                         
As         
  DECLARE @handle int                                                                            
  exec sp_xml_preparedocument @handle OUTPUT, @Xml 
  
  CREATE TABLE #TempTemplateData(
	[Id]  [int], 
	[Name] [varchar](500),
	[InstrumentType] [varchar](100),
	[Description] [varchar](1000),
	[UnderlyingAssetID] [int],
	[ISDACounterParty] [int],
	[CreatedBy] [int],
	[CreationDate] [datetime] ,
	[LastModifiedBy] [int],
	[LastModifieDate] [datetime] ,
	[ISDAContract] [ntext],
	[Commission_Basis] [varchar](50),
	[Commission_HardCommissionRate] [float],
	[Commission_SoftCommissionRate] [float],
	[FinanceLeg_IRBenchMark] [float],
	[FinanceLeg_SBPoint] [float],
	[FinanceLeg_DayCount] [int],
	[FinanceLeg_FXRate] [varchar](50) ,
	[FinanceLeg_CouponFreq] [int],
	[EquityLeg_ConversionRatio] [float],
	[FinanceLeg_ZeroCoupon] [bit],
	[CustomFieldsString] nText,
	[DaysToSettle] [int]
	)                                                                                                               
 Insert Into #TempTemplateData                                                                                                                                                                           
 (    
[Id],                                                                                                                                                                      
[Name],
[InstrumentType],
[Description],
[UnderlyingAssetID] ,
[ISDACounterParty],
[CreatedBy],
[CreationDate] ,
[LastModifiedBy],
[LastModifieDate],
[Commission_Basis],
[Commission_HardCommissionRate],
[Commission_SoftCommissionRate],
[FinanceLeg_IRBenchMark],
[FinanceLeg_SBPoint],
[FinanceLeg_DayCount],
[FinanceLeg_FXRate],
[FinanceLeg_CouponFreq],
[EquityLeg_ConversionRatio],
[FinanceLeg_ZeroCoupon],
[CustomFieldsString]  ,
[DaysToSettle]                             
  )                                                                               
  Select 
[Id] ,                               
[Name],
[InstrumentType],
[Description],
[UnderlyingAssetID] ,
[ISDACounterParty],
[CreatedBy],
[CreationDate] ,
[LastModifiedBy],
[LastModifieDate],
[Commission_Basis],
[Commission_HardCommRate] ,
[Commission_SoftCommRate] ,
[FinanceLeg_IRBenchMark],
[FinanceLeg_SBPoint],
[FinanceLeg_DayCount],
[FinanceLeg_FXRate],
[FinanceLeg_CouponFreq],
[EquityLeg_ConversionRatio],
[FinanceLeg_ZeroCoupon],
[CustomFieldsString]   ,
[DaysToSettle]                                    
  FROM OPENXML(@handle, '//SecMasterConvertibleBondData', 2)                                                                                                                           
  WITH                                                                                                
  (    
[Id]  [int],                                                     
[Name] [varchar](500),
[InstrumentType] [varchar](100),
[Description] [varchar](1000),
[UnderlyingAssetID] [int],
[ISDACounterParty] [int],
[CreatedBy] [int],
[CreationDate] [datetime] ,
[LastModifiedBy] [int],
[LastModifieDate] [datetime] ,
[Commission_Basis] [varchar](50),
[Commission_HardCommRate] [float],
[Commission_SoftCommRate] [float],
[FinanceLeg_IRBenchMark] [float],
[FinanceLeg_SBPoint] [float],
[FinanceLeg_DayCount] [int],
[FinanceLeg_FXRate] [varchar](50) ,
[FinanceLeg_CouponFreq] [int],
[EquityLeg_ConversionRatio] [float],
[FinanceLeg_ZeroCoupon] [bit],
[CustomFieldsString] nText  ,
[DaysToSettle] [int]          
  )  
 
 
  update T_OTC_Templates
  Set
    [Name] = #TempTemplateData.[Name],
	[InstrumentType]= #TempTemplateData.[InstrumentType],
	[Description]=#TempTemplateData.[Description],
	[UnderlyingAssetID] =#TempTemplateData.[UnderlyingAssetID],
	[ISDACounterParty]=#TempTemplateData.[ISDACounterParty],
	[CreatedBy]=#TempTemplateData.[CreatedBy],
	[CreationDate] =#TempTemplateData.[CreationDate],
	[LastModifiedBy]=#TempTemplateData.[LastModifiedBy],
	[LastModifieDate]=#TempTemplateData.[LastModifieDate],
	[ISDAContract]  =#TempTemplateData.[ISDAContract],
	[DaysToSettle]  =#TempTemplateData.[DaysToSettle]
  from 
  T_OTC_Templates
  inner join #TempTemplateData on #TempTemplateData.Id = T_OTC_Templates.ID

  
  update T_OTC_Templates
  Set
    [Name] = #TempTemplateData.[Name],
	[InstrumentType]= #TempTemplateData.[InstrumentType],
	[Description]=#TempTemplateData.[Description],
	[UnderlyingAssetID] =#TempTemplateData.[UnderlyingAssetID],
	[ISDACounterParty]=#TempTemplateData.[ISDACounterParty],
	[CreatedBy]=#TempTemplateData.[CreatedBy],
	[CreationDate] =#TempTemplateData.[CreationDate],
	[LastModifiedBy]=#TempTemplateData.[LastModifiedBy],
	[LastModifieDate]=#TempTemplateData.[LastModifieDate],
	[ISDAContract]  =#TempTemplateData.[ISDAContract],
	[DaysToSettle]  =#TempTemplateData.[DaysToSettle]
  from 
  T_OTC_Templates
  inner join #TempTemplateData on #TempTemplateData.InstrumentType = T_OTC_Templates.InstrumentType and  #TempTemplateData.CreatedBy = 0


update T_OTC_ConvertibleBondData  
Set
[EquityLeg_ConversionRatio] = #TempTemplateData.EquityLeg_ConversionRatio
,[FinanceLeg_ZeroCoupon] = #TempTemplateData.FinanceLeg_ZeroCoupon
,[FinanceLeg_IRBenchMark] = #TempTemplateData.FinanceLeg_IRBenchMark
,[FinanceLeg_FXRate] = #TempTemplateData.FinanceLeg_FXRate
,[FinanceLeg_SBPoint] = #TempTemplateData.FinanceLeg_SBPoint
,[FinanceLeg_DayCount] = #TempTemplateData.FinanceLeg_DayCount
,[FinanceLeg_CouponFreq] = #TempTemplateData.FinanceLeg_CouponFreq
,[Commission_Basis] = #TempTemplateData.Commission_Basis 
,[Commission_HardCommissionRate] = #TempTemplateData.Commission_HardCommissionRate
,[Commission_SoftCommissionRate] = #TempTemplateData.Commission_SoftCommissionRate
,[CustomFields] = #TempTemplateData.[CustomFieldsString]
from T_OTC_ConvertibleBondData
inner join T_OTC_Templates on T_OTC_Templates.ID = T_OTC_ConvertibleBondData.OTCTemplateID
inner join #TempTemplateData on #TempTemplateData.Id = T_OTC_Templates.ID


  
  update T_OTC_ConvertibleBondData  
Set [EquityLeg_ConversionRatio] = #TempTemplateData.EquityLeg_ConversionRatio
,[FinanceLeg_ZeroCoupon] = #TempTemplateData.FinanceLeg_ZeroCoupon
,[FinanceLeg_IRBenchMark] = #TempTemplateData.FinanceLeg_IRBenchMark
,[FinanceLeg_FXRate] = #TempTemplateData.FinanceLeg_FXRate
,[FinanceLeg_SBPoint] = #TempTemplateData.FinanceLeg_SBPoint
,[FinanceLeg_DayCount] = #TempTemplateData.FinanceLeg_DayCount
,[FinanceLeg_CouponFreq] = #TempTemplateData.FinanceLeg_CouponFreq
,[Commission_Basis] = #TempTemplateData.Commission_Basis 
,[Commission_HardCommissionRate] = #TempTemplateData.Commission_HardCommissionRate
,[Commission_SoftCommissionRate] = #TempTemplateData.Commission_SoftCommissionRate
,[CustomFields] = #TempTemplateData.[CustomFieldsString]
  from T_OTC_ConvertibleBondData
  inner join T_OTC_Templates on T_OTC_Templates.ID = T_OTC_ConvertibleBondData.OTCTemplateID
  inner join #TempTemplateData on #TempTemplateData.InstrumentType = T_OTC_Templates.InstrumentType and  #TempTemplateData.CreatedBy = 0


IF exists(select * from   #TempTemplateData where #TempTemplateData.Id not in (select ID from T_OTC_Templates) and #TempTemplateData.CreatedBy <> 0 )
BEGIN
		                
 Insert Into T_OTC_Templates                                                                                                                                                                           
 (                                                                                                                                                                          
	[Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] , 
	  [DaysToSettle]                  
  )                                                                               
  Select                                  
   [Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] ,
	[DaysToSettle]
	from   #TempTemplateData
	where #TempTemplateData.ID not in (select ID from T_OTC_Templates)

declare @templateID int
SELECT @templateID = SCOPE_IDENTITY()

  Insert Into T_OTC_ConvertibleBondData                                                                                                                                                                           
   ( 
[OTCTemplateID]
,[EquityLeg_ConversionRatio]
,[FinanceLeg_ZeroCoupon]
,[FinanceLeg_IRBenchMark]
,[FinanceLeg_FXRate]
,[FinanceLeg_SBPoint]
,[FinanceLeg_DayCount]
,[FinanceLeg_CouponFreq]
,[Commission_Basis]
,[Commission_HardCommissionRate]
,[Commission_SoftCommissionRate]
,[CustomFields]
  )                                                                               
  Select  
@templateID                                
,[EquityLeg_ConversionRatio]
,[FinanceLeg_ZeroCoupon]
,[FinanceLeg_IRBenchMark]
,[FinanceLeg_FXRate]
,[FinanceLeg_SBPoint]
,[FinanceLeg_DayCount]
,[FinanceLeg_CouponFreq]
,[Commission_Basis]
,[Commission_HardCommissionRate]
,[Commission_SoftCommissionRate]
,[CustomFieldsString]
from #TempTemplateData
END                

Drop Table #TempTemplateData                      
                                                  
EXEC sp_xml_removedocument @handle                                                                                