Create Procedure [dbo].[P_OTC_SaveCFDTemplateData]                                                      
(                                                      
 @xml nText,                                                      
 @ErrorMessage varchar(500) output,                                                                                               
 @ErrorNumber int output                                                                  
)                                                         
As         
--Declare @xml varchar(5000)                                                      
--Declare @ErrorMessage varchar(500)                                                                                               
--Declare @ErrorNumber int     
	                                                                     
--SET @ErrorNumber = 0                                                                          
--SET @ErrorMessage = 'Success'                                                       
--  set @xml = '
--  <SecMasterCFDData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
--  <Id>0</Id>
--  <Name>EquitySwapCFDTEST1</Name>
--  <InstrumentType>2</InstrumentType>
--  <Description>Default temp</Description>
--  <UnderlyingAssetID>1</UnderlyingAssetID>
--  <ISDACounterParty>47</ISDACounterParty>
--  <CreatedBy>17</CreatedBy>
--  <CreationDate>2019-10-30T07:08:47</CreationDate>
--  <LastModifiedBy>17</LastModifiedBy>
--  <LastModifieDate>2019-10-31T10:56:28.9943501-04:00</LastModifieDate>
--  <DaysToSettle>3</DaysToSettle>
--  <EffectiveDate>0001-01-01T00:00:00</EffectiveDate>
--  <CustomFieldsString>[{"ID":1,"Name":"Target close :","DefaultValue":"Sachin mishra","DataType":"1","UIOrder":0,"InstrumentType":"1"},{"ID":2,"Name":"Flag Date :","DefaultValue":"10/29/2019","DataType":"3","UIOrder":0,"InstrumentType":"1"},{"ID":3,"Name":"Reason for Holding :","DefaultValue":"Access to Market","DataType":"1","UIOrder":0,"InstrumentType":"1"},{"ID":4,"Name":"Yes/No :","DefaultValue":"Yes","DataType":"4","UIOrder":0,"InstrumentType":"1"},{"ID":5,"Name":"Ratings :","DefaultValue":"9","DataType":"2","UIOrder":0,"InstrumentType":"1"}]</CustomFieldsString>
--  <OTCTemplateID>0</OTCTemplateID>
--  <Collateral_Margin>1</Collateral_Margin>
--  <Collateral_Rate>1</Collateral_Rate>
--  <Collateral_DayCount>1</Collateral_DayCount>
--  <Fianace_InteresrRatebenchmark>1</Fianace_InteresrRatebenchmark>
--  <Fianace_Fixedrate>1</Fianace_Fixedrate>
--  <Fianace_SpreadBP>2</Fianace_SpreadBP>
--  <Fianace_DayCount>1</Fianace_DayCount>
--  <Fianace_ScriptlendingFee>1</Fianace_ScriptlendingFee>
--  <CFD_Commissionbasis>0</CFD_Commissionbasis>
--  <CFD_HardCommRate>100</CFD_HardCommRate>
--  <CFD_SoftCommRate>100</CFD_SoftCommRate>
--  <CustomFields>
--    <OTCCustomFields>
--      <ID>1</ID>
--      <Name>Target close :</Name>
--      <DefaultValue>Sachin mishra</DefaultValue>
--      <DataType>1</DataType>
--      <UIOrder>0</UIOrder>
--      <InstrumentType>1</InstrumentType>
--    </OTCCustomFields>
--    <OTCCustomFields>
--      <ID>2</ID>
--      <Name>Flag Date :</Name>
--      <DefaultValue>10/29/2019</DefaultValue>
--      <DataType>3</DataType>
--      <UIOrder>0</UIOrder>
--      <InstrumentType>1</InstrumentType>
--    </OTCCustomFields>
--    <OTCCustomFields>
--      <ID>3</ID>
--      <Name>Reason for Holding :</Name>
--      <DefaultValue>Access to Market</DefaultValue>
--      <DataType>1</DataType>
--      <UIOrder>0</UIOrder>
--      <InstrumentType>1</InstrumentType>
--    </OTCCustomFields>
--    <OTCCustomFields>
--      <ID>4</ID>
--      <Name>Yes/No :</Name>
--      <DefaultValue>Yes</DefaultValue>
--      <DataType>4</DataType>
--      <UIOrder>0</UIOrder>
--      <InstrumentType>1</InstrumentType>
--    </OTCCustomFields>
--    <OTCCustomFields>
--      <ID>5</ID>
--      <Name>Ratings :</Name>
--      <DefaultValue>9</DefaultValue>
--      <DataType>2</DataType>
--      <UIOrder>0</UIOrder>
--      <InstrumentType>1</InstrumentType>
--    </OTCCustomFields>
--  </CustomFields>
--</SecMasterCFDData>'                                     

  DECLARE @handle int                                                                            
                                                                                                                           
  exec sp_xml_preparedocument @handle OUTPUT, @Xml 
  
  
  CREATE TABLE #TempTemplateData(
	[Id]  [int], 
	[Name] [varchar](500),
	[InstrumentType] [varchar](100),
	[Description] [varchar](1000),
	[UnderlyingAssetID] [int],
	[ISDACounterParty] [int],
	[CreatedBy] [int],
	[CreationDate] [datetime] ,
	[LastModifiedBy] [int],
	[LastModifieDate] [datetime] ,
	[ISDAContract] [ntext],
	[CommissionBasis] [varchar](50),
	[HardCommissionRate] [float],
	[SoftCommissionRate] [float],
	[Finance_InterestRate] [float],
	[Finance_SpreadBasisPoint] [float],
	[Finance_DayCount] [int],
	[Finance_FixedRate] [varchar](50) ,
	[Finance_ScriptLeadingFee] [varchar](50) ,
	[Collateral_Margin] [varchar](100),
	[Collateral_Rate] [float],
	[Collateral_DayCount] [float],
	[CustomFieldsString] nText,
    [DaysToSettle] [int],
	)                                                                                                               
 Insert Into #TempTemplateData                                                                                                                                                                           
 (    
    [Id],                                                                                                                                                                      
	[Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] ,  
	[CommissionBasis],
	[HardCommissionRate] ,
	[SoftCommissionRate] ,
	[Finance_InterestRate] ,
	[Finance_SpreadBasisPoint] ,
	[Finance_DayCount] ,
	[Finance_FixedRate] ,
	[Finance_ScriptLeadingFee],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[CustomFieldsString],
    [DaysToSettle]	                              
  )                                                                               
  Select 
    [Id] ,                               
    [Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] , 
	[CFD_CommissionBasis],
	[CFD_HardCommRate] ,
	[CFD_SoftCommRate] ,
	[Finance_InteresrRatebenchmark] ,
	[Finance_SpreadBP] ,
	[Finance_DayCount] ,
	[Finance_Fixedrate] ,
	[Finance_ScriptlendingFee],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[CustomFieldsString],
    [DaysToSettle]	                      
                                                              
  FROM OPENXML(@handle, '//SecMasterCFDData', 2)                                                                                                                           
  WITH                                                                                                
  (    
    [Id]  [int],                                                     
    [Name] [varchar](500),
	[InstrumentType] [varchar](100),
	[Description] [varchar](1000),
	[UnderlyingAssetID] [int],
	[ISDACounterParty] [int],
	[CreatedBy] [int],
	[CreationDate] [datetime] ,
	[LastModifiedBy] [int],
	[LastModifieDate] [datetime] ,
	[ISDAContract] [ntext],
	[CFD_Commissionbasis] [varchar](50),
	[CFD_HardCommRate] [float],
	[CFD_SoftCommRate] [float],
	[Finance_InteresrRatebenchmark] [float],
	[Finance_SpreadBP] [float],
	[Finance_DayCount] [int],
	[Finance_Fixedrate] [varchar](50) ,
	[Finance_ScriptlendingFee] [varchar](50) ,
	[Collateral_Margin] [varchar](100),
	[Collateral_Rate] [float],
	[Collateral_DayCount] [float],
	[CustomFieldsString] nText,
    [DaysToSettle] [int]	                                                 
  )  
 
 
  update T_OTC_Templates
  Set
    [Name] = #TempTemplateData.[Name],
	[InstrumentType]= #TempTemplateData.[InstrumentType],
	[Description]=#TempTemplateData.[Description],
	[UnderlyingAssetID] =#TempTemplateData.[UnderlyingAssetID],
	[ISDACounterParty]=#TempTemplateData.[ISDACounterParty],
	[CreatedBy]=#TempTemplateData.[CreatedBy],
	[CreationDate] =#TempTemplateData.[CreationDate],
	[LastModifiedBy]=#TempTemplateData.[LastModifiedBy],
	[LastModifieDate]=#TempTemplateData.[LastModifieDate],
	[ISDAContract]  =#TempTemplateData.[ISDAContract],
	[DaysToSettle]  =#TempTemplateData.[DaysToSettle]
  from 
  T_OTC_Templates
  inner join #TempTemplateData on #TempTemplateData.Id = T_OTC_Templates.ID

  
  update T_OTC_Templates
  Set
    [Name] = #TempTemplateData.[Name],
	[InstrumentType]= #TempTemplateData.[InstrumentType],
	[Description]=#TempTemplateData.[Description],
	[UnderlyingAssetID] =#TempTemplateData.[UnderlyingAssetID],
	[ISDACounterParty]=#TempTemplateData.[ISDACounterParty],
	[CreatedBy]=#TempTemplateData.[CreatedBy],
	[CreationDate] =#TempTemplateData.[CreationDate],
	[LastModifiedBy]=#TempTemplateData.[LastModifiedBy],
	[LastModifieDate]=#TempTemplateData.[LastModifieDate],
	[ISDAContract]  =#TempTemplateData.[ISDAContract],
	[DaysToSettle]  =#TempTemplateData.[DaysToSettle]
  from 
  T_OTC_Templates
  inner join #TempTemplateData on #TempTemplateData.InstrumentType = T_OTC_Templates.InstrumentType and  #TempTemplateData.CreatedBy = 0

  update T_OTC_CFDData  
  Set [Commission_Basis] =#TempTemplateData.CommissionBasis
	,[Commission_HardCommissionRate] =#TempTemplateData.HardCommissionRate
	,[Commission_SoftCommissionRate] =#TempTemplateData.SoftCommissionRate
	,[FinanceLeg_InterestRate] =#TempTemplateData.Finance_InterestRate
	,[FinanceLeg_SpreadBasisPoint] =#TempTemplateData.Finance_SpreadBasisPoint
	,[FinanceLeg_DayCount] =#TempTemplateData.Finance_DayCount
	,[FinanceLeg_FixedRate] =#TempTemplateData.Finance_FixedRate
	,[FinanceLeg_ScriptLeadingFee] =#TempTemplateData.Finance_ScriptLeadingFee
	,[Collateral_Margin] =#TempTemplateData.Collateral_Margin
	,[Collateral_Rate] =#TempTemplateData.Collateral_Rate
	,[Collateral_DayCount] =#TempTemplateData.Collateral_DayCount
	,[CustomFields] =#TempTemplateData.CustomFieldsString
  from T_OTC_CFDData
  inner join T_OTC_Templates on T_OTC_Templates.ID = T_OTC_CFDData.OTCTemplateID
  inner join #TempTemplateData on #TempTemplateData.Id = T_OTC_Templates.ID


  
  update T_OTC_CFDData  
  Set [Commission_Basis] =#TempTemplateData.CommissionBasis
	,[Commission_HardCommissionRate] =#TempTemplateData.HardCommissionRate
	,[Commission_SoftCommissionRate] =#TempTemplateData.SoftCommissionRate
	,[FinanceLeg_InterestRate] =#TempTemplateData.Finance_InterestRate
	,[FinanceLeg_SpreadBasisPoint] =#TempTemplateData.Finance_SpreadBasisPoint
	,[FinanceLeg_DayCount] =#TempTemplateData.Finance_DayCount
	,[FinanceLeg_FixedRate] =#TempTemplateData.Finance_FixedRate
	,[FinanceLeg_ScriptLeadingFee] =#TempTemplateData.Finance_ScriptLeadingFee
	,[Collateral_Margin] =#TempTemplateData.Collateral_Margin
	,[Collateral_Rate] =#TempTemplateData.Collateral_Rate
	,[Collateral_DayCount] =#TempTemplateData.Collateral_DayCount
	,[CustomFields] =#TempTemplateData.CustomFieldsString
  from T_OTC_CFDData
  inner join T_OTC_Templates on T_OTC_Templates.ID = T_OTC_CFDData.OTCTemplateID
  inner join #TempTemplateData on #TempTemplateData.InstrumentType = T_OTC_Templates.InstrumentType and  #TempTemplateData.CreatedBy = 0


IF exists(select * from   #TempTemplateData where #TempTemplateData.Id not in (select ID from T_OTC_Templates) and #TempTemplateData.CreatedBy <> 0 )
BEGIN
		                
 Insert Into T_OTC_Templates                                                                                                                                                                           
 (                                                                                                                                                                          
	[Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] , 
	  [DaysToSettle]                  
  )                                                                               
  Select                                  
   [Name],
	[InstrumentType],
	[Description],
	[UnderlyingAssetID] ,
	[ISDACounterParty],
	[CreatedBy],
	[CreationDate] ,
	[LastModifiedBy],
	[LastModifieDate],
	[ISDAContract] ,
	[DaysToSettle]
	from   #TempTemplateData
	where #TempTemplateData.ID not in (select ID from T_OTC_Templates)

declare @templateID int
SELECT @templateID = SCOPE_IDENTITY()

  Insert Into T_OTC_CFDData                                                                                                                                                                           
   ( 
 [OTCTemplateID]  
,[Commission_Basis]  
,[Commission_HardCommissionRate]  
,[Commission_SoftCommissionRate]  
,[FinanceLeg_InterestRate]  
,[FinanceLeg_SpreadBasisPoint]  
,[FinanceLeg_DayCount]  
,[FinanceLeg_FixedRate]  
,[FinanceLeg_ScriptLeadingFee]  
,[Collateral_Margin]  
,[Collateral_Rate]  
,[Collateral_DayCount]  
,[CustomFields]       
  )                                                                               
  Select  
@templateID                                
,[CommissionBasis]
,[HardCommissionRate]
,[SoftCommissionRate]
,[Finance_InterestRate]
,[Finance_SpreadBasisPoint]
,[Finance_DayCount]
,[Finance_FixedRate]
,[Finance_ScriptLeadingFee]
,[Collateral_Margin]
,[Collateral_Rate]
,[Collateral_DayCount]
,[CustomFieldsString]
from #TempTemplateData
END                

Drop Table #TempTemplateData                      
                                                  
EXEC sp_xml_removedocument @handle                                                                                
                                                                                 
--COMMIT TRANSACTION TRAN1                                                                                
                                              
--END TRY                                                                                
--BEGIN CATCH                             
-- SET @ErrorMessage = ERROR_MESSAGE();                                                             
-- SET @ErrorNumber = Error_number();                                                                                 
-- ROLLBACK TRANSACTION TRAN1                                                                                   
--END CATCH;