Create  Procedure [dbo].[P_OTC_DeleteTemplate]  (
@TemplateID int =-1     
)
AS
delete from T_OTC_EquitySwapData where OTCTemplateID=@TemplateID  
delete from T_OTC_CFDData where OTCTemplateID=@TemplateID
delete  from T_OTC_ConvertibleBondData where OTCTemplateID=@TemplateID

delete  from T_OTC_Templates where id=@TemplateID and CreatedBy <> 0