if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyUserUnderLyings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyUserUnderLyings]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyUserUnderLyings
	(
		@companyUserID int		
	)
AS
	SELECT     T_UnderLying.UnderLyingID, T_UnderLying.UnderLyingName, T_UnderLying.AssetID, T_UnderLying.Comment
	FROM         T_CompanyUserUnderLyings INNER JOIN
                      T_UnderLying ON T_CompanyUserUnderLyings.UnderLyingID = T_UnderLying.UnderLyingID
	WHERE     (T_CompanyUserUnderLyings.CompanyUserID = @companyUserID)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

