if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllFixCapabilities]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllFixCapabilities]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllFixCapabilities
AS
	SELECT   FixCapabilityID, Description
FROM         T_FIXCapability
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

