ALTER PROCEDURE dbo.GetCompanyUnderLyings
	(
		@companyID int		
	)
AS
	SELECT     CU.CompanyID, CU.UnderLyingID, U.UnderLyingName, U.AssetID, U.Comment
	FROM         T_CompanyUnderLying CU, T_UnderLying U
	Where CU.CompanyID = @companyID AND CU.UnderLyingID = U.UnderLyingID
