if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_AddRowCurrency]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_AddRowCurrency]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_AddRowCurrency
	(
		@currency varchar(50)
	)
AS 
INSERT T_Currency (CurrencyName)
  Values(@currency)	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

