if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyUserTradingAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyUserTradingAccounts]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyUserTradingAccounts
	(
		@companyUserID int
	)
AS
	Delete T_CompanyUserTradingAccounts
	Where CompanyUserID = @companyUserID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

