if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClientFunds]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClientFunds]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClientFunds
(
	@companyClientID int
)
AS
	
	Delete T_CompanyClientFund
	Where CompanyClientID = @companyClientID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

