if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClientTraderByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClientTraderByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClientTraderByID
(
	@companyClientTraderID int	
)
AS

Delete T_CompanyClientTrader
Where TraderID = @companyClientTraderID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

