if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyTradingAccount]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyTradingAccount]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyTradingAccount
	(
		@companyTradingAccountsID int	
	)
AS
Delete T_CompanyTradingAccounts
Where CompanyTradingAccountsID = @companyTradingAccountsID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

