if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyTradingAccountByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyTradingAccountByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyTradingAccountByID
	(
		@companyTradingAccountID int	
	)
AS
Delete T_CompanyTradingAccounts
Where CompanyTradingAccountsID = @companyTradingAccountID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

