if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCurrency]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCurrency]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCurrency

	(
		@currencyID int		
	)
	AS
/*Declare @DeletedID int
SET @DeletedID = 0 

UPDATE T_Currency
SET DeletedID = 0
WHERE
CurrencyID = @currencyID 
*/
--begin
		Declare @total int

		Select @total = Count(1) 
		From T_Exchange
		Where Currency = @currencyID
		
		if ( @total = 0)
		begin
		--return -1
		--end
		
		--else
		--begin 	
		Select @total = Count(1) 
		From T_AUECExchange
		Where Currency = @currencyID
	--	end
		if (@total = 0)
		begin
		
			DELETE T_Currency
		Where CurrencyID = @currencyID
		
		end
		else
		begin
			return -1
		end
	end
		else
		begin
	return -1
	end
	
/*
INSERT INTO T_Currency(CurrencyName)
Values (@currencyName)
*/
	/* SET NOCOUNT ON */


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

