if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClientByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClientByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClientByID
	(
		@companyID int,
		@companyClientID int,
		@deleteForceFully int
	)
AS
	--Delete Corresponding Company Client Details	
	if ( @deleteForceFully = 1)
		begin 
			-- If Company Client is referenced anywhere and still we want to delete it.
			--Delete Company Client and related information.
			------------------------ Start : Delete dependent data ---------------------------------
			exec P_DeleteCompanyClientFund @companyClientID
			
			exec P_DeleteCompanyClientTrader @companyClientID
			------------------------ End   : Delete dependent data ----------------------------------
			
			Delete T_CompanyClient
			Where CompanyClientID = @companyClientID
		end
		
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_CompanyClient
		Where CompanyClientID = @companyClientID
	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_CompanyClient
			Where CompanyClientID = @companyClientID

			if ( @total = 0)
			begin 		
				-- If Company Client is not referenced anywhere.
				--Delete Company Client.
				
				------------------------ Start : Delete dependent data ---------------------------------
				exec P_DeleteCompanyClientFund @companyClientID
				
				exec P_DeleteCompanyClientTrader @companyClientID
				------------------------ End   : Delete dependent data ----------------------------------
				
				Delete T_CompanyClient
				Where CompanyClientID = @companyClientID
			end
		end
		else
		begin
			return -1
		end
	end
				
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

