if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteTradingAccountsUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteTradingAccountsUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteTradingAccountsUser
	(
		@userID int
	)
AS
	Delete T_CompanyUserTradingAccounts
	Where CompanyUserID = @userID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

