if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyCounterPartyCompanyLevelTagDetail]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyCounterPartyCompanyLevelTagDetail]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyCounterPartyCompanyLevelTagDetail
(
	@companyCounterPartyID int
)
AS
	
	Delete T_CompanyCounterPartyVenueDetails
	where CompanyCounterPartyID = @companyCounterPartyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

