if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyByID
(
	@companyID int,
	@deleteForceFully int
)
AS	
	--Delete Corresponding Company Details	
	if ( @deleteForceFully = 1)
		begin 
			-- If Company is referenced anywhere and still we want to delete it.
			--Delete Company and related information.
			--------------------------- Start: Delete Dependent data -----------------------------------
	
			---- Start : Delete Company User dependent data ----------
			Delete T_CompanyUserTradingAccounts
			Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
			
			Delete T_CompanyUserModule
			Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
			
			Delete T_CompanyUserAsset
			Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
			
			Delete T_CompanyUserUnderlyings
			Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
			
			Delete T_CompanyUserCounterPartyVenues
			Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
			
			exec P_DeleteCompanyUser @companyID
			
			---- End : Delete Company User dependent data ----------
			
			---- Start : Delete Company Client dependent data ----------
			
			Delete T_CompanyClientTrader
			Where CompanyClientID IN (Select CompanyClientID From T_CompanyClient Where CompanyID = @companyID)
			
			Delete T_CompanyClientFund
			Where CompanyClientID IN (Select CompanyClientID From T_CompanyClient Where CompanyID = @companyID)
			
			Delete T_CompanyClient
			Where CompanyID = @companyID
			
			---- End : Delete Company Client dependent data ----------
			
			---- Start : Delete Company Counterparty ----------
			Delete T_CompanyCounterPartyVenues
			Where CompanyID = @companyID	
			---- End : Delete Company Counterparty ----------
				
			--------------------------- End: Delete Dependent data -----------------------------------
			
			exec P_DeleteCompanyAssets @companyID
			exec P_DeleteCompanyCounterParties @companyID
			exec P_DeleteCompanyThirdParty @companyID
			exec P_DeleteCompanyUnderLyings @companyID
			exec P_DeleteCompanyModules @companyID

			exec P_DeleteCompanyFunds @companyID
			exec P_DeleteCompanyStrategies @companyID
			exec P_DeleteCompanyTradingAccounts @companyID
			exec P_DeleteCompanyClearingFirmsPrimeBrokers @companyID

			Delete T_Company
			Where CompanyID = @companyID
		end
	
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_Company
		Where CompanyID = @companyID
	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_Company
			Where CompanyID = @companyID

			if ( @total = 0)
			begin 		
				-- If Company is not referenced anywhere.
				--Delete Company.
				--------------------------- Start: Delete Dependent data -----------------------------------
	
				---- Start : Delete Company User dependent data ----------
				Delete T_CompanyUserTradingAccounts
				Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
				
				Delete T_CompanyUserModule
				Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
				
				Delete T_CompanyUserAsset
				Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
				
				Delete T_CompanyUserUnderlyings
				Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
				
				Delete T_CompanyUserCounterPartyVenues
				Where CompanyUserID IN (Select UserID From T_CompanyUser Where CompanyID = @companyID)
				
				exec P_DeleteCompanyUser @companyID
				
				---- End : Delete Company User dependent data ----------
				
				---- Start : Delete Company Client dependent data ----------
				
				Delete T_CompanyClientTrader
				Where CompanyClientID IN (Select CompanyClientID From T_CompanyClient Where CompanyID = @companyID)
				
				Delete T_CompanyClientFund
				Where CompanyClientID IN (Select CompanyClientID From T_CompanyClient Where CompanyID = @companyID)
				
				Delete T_CompanyClient
				Where CompanyID = @companyID
				
				---- End : Delete Company Client dependent data ----------
				
				---- Start : Delete Company Counterparty ----------
				Delete T_CompanyCounterPartyVenues
				Where CompanyID = @companyID	
				---- End : Delete Company Counterparty ----------
					
				--------------------------- End: Delete Dependent data -----------------------------------
				
				exec P_DeleteCompanyAssets @companyID
				exec P_DeleteCompanyCounterParties @companyID
				exec P_DeleteCompanyThirdParty @companyID
				exec P_DeleteCompanyUnderLyings @companyID
				exec P_DeleteCompanyModules @companyID

				exec P_DeleteCompanyFunds @companyID
				exec P_DeleteCompanyStrategies @companyID
				exec P_DeleteCompanyTradingAccounts @companyID
				exec P_DeleteCompanyClearingFirmsPrimeBrokers @companyID

				Delete T_Company
				Where CompanyID = @companyID
			end
		end
		else
		begin
			return -1
		end
	end
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

