if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCounterPartiesForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCounterPartiesForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCounterPartiesForUser
	(
		@userID int
	)
AS
	Delete T_CompanyUserCounterParties
	Where CompanyUserID = @userID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

