if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClearingFirmPrimeBroker]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClearingFirmPrimeBroker]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClearingFirmPrimeBroker
	(
		@companyClearingFirmsPrimeBrokersID int	
	)
AS
Delete T_CompanyClearingFirmsPrimeBrokers
Where CompanyClearingFirmsPrimeBrokersID = @companyClearingFirmsPrimeBrokersID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

