ALTER PROCEDURE dbo.P_DeleteCompanyCounterParties
	(
		@companyID int
	)
AS
	Delete T_CompanyCounterParties
	Where CompanyID = @companyID



/*ALTER PROCEDURE dbo.P_DeleteCompanyCounterParties
	(
		@companyID int
	)
AS
	Delete T_CompanyCounterPartyVenues
	Where CompanyID = @companyID */
