if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyStrategies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyStrategies]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyStrategies
	(
		@companyID int
	)
AS
	Delete T_CompanyStrategy
	Where CompanyID = @companyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

