ALTER PROCEDURE dbo.P_DeleteAUEC
	(
		@auecID int 
	)
AS
	DELETE T_AUECExchange
	Where AUECID = @auecID
	
	DELETE T_AUECHoliday
	Where AUECID = @auecID
	
	DELETE T_AUECMarketFee
	Where AUECID = @auecID

	DELETE T_AUECCompliance
	Where AUECID = @auecID
	
	DELETE T_AUEC
	Where AUECID = @auecID