ALTER PROCEDURE dbo.P_DeleteCounterPartyVenue
	(
		@counterPartyVenueID int	
	)
AS
Delete T_CounterPartyVenueDetails
Where CounterPartyVenueID = @counterPartyVenueID

Delete T_CounterPartyVenue
Where CounterPartyVenueID = @counterPartyVenueID