ALTER PROCEDURE dbo.P_DeleteCompany
(
	@companyID int
)
AS	
	exec P_DeleteCompanyUser @companyID
	
	exec P_DeleteCompanyCounterParty @companyID		
	
	exec P_DeleteCompanyClient @companyID
	
	exec P_DeleteCompanyCounterParties @companyID
	
	exec P_DeleteCompanyModules @companyID
	
	exec P_DeleteCompanyThirdParty @companyID
	
	exec P_DeleteCompanyUnderLyings @companyID
	
	exec P_DeleteCompanyAssets @companyID
	
	exec P_DeleteSetUpCompany @companyID	
	
	--exec P_DeleteCompanyUser @companyID
	
	--exec P_DeleteCompanyClient @companyID
	
	Delete T_Company
	Where CompanyID = @companyID
	
	
	
