if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyCounterPartyVenueDetailsByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyCounterPartyVenueDetailsByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyCounterPartyVenueDetailsByID
(
		@companyCounterPartyVenueDetailsID int	
)
AS
Delete T_CompanyCounterPartyVenueDetails
Where CompanyCounterPartyVenueDetailsID = @companyCounterPartyVenueDetailsID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

