if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyUserByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyUserByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyUserByID
	(
		@companyID int,
		@companyUserID int,
		@deleteForceFully int
	)
AS
	
	--Delete Corresponding Company Client Details	
	if ( @deleteForceFully = 1)
		begin 
			-- If Company User is referenced anywhere and still we want to delete it.
			--Delete Company User and related information.
			-------------------------- Start : Delete Company User Permissions --------------------------
	
			-- Delete Company User Counterparties.
			exec P_DeleteCompanyUserCounterParties @companyUserID
			
			-- Delete Company User Application Component \ Module.
			exec P_DeleteCompanyUserModules @companyUserID
			
			-- Delete Company User Assets.
			exec P_DeleteCompanyUserAssets @companyUserID
			
			-- Delete Company User Underlyings.
			exec P_DeleteCompanyUserUnderLyings @companyUserID
			
			-- Delete Company User Trading Account.
			exec P_DeleteCompanyUserTradingAccounts @companyUserID
			
			-------------------------- End : Delete Company User Permissions --------------------------
			
			Delete T_CompanyUser
			Where CompanyID = @companyID
				AND UserID = @companyUserID
		end
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_CompanyUser
		Where UserID = @companyUserID
	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_CompanyUser
			Where UserID = @companyUserID

			if ( @total = 0)
			begin 		
				-- If Company User is not referenced anywhere.
				--Delete Company User.
				
				-------------------------- Start : Delete Company User Permissions --------------------------
	
				-- Delete Company User Counterparties.
				exec P_DeleteCompanyUserCounterParties @companyUserID
				
				-- Delete Company User Application Component \ Module.
				exec P_DeleteCompanyUserModules @companyUserID
				
				-- Delete Company User Assets.
				exec P_DeleteCompanyUserAssets @companyUserID
				
				-- Delete Company User Underlyings.
				exec P_DeleteCompanyUserUnderLyings @companyUserID
				
				-- Delete Company User Trading Account.
				exec P_DeleteCompanyUserTradingAccounts @companyUserID
				
				-------------------------- End : Delete Company User Permissions --------------------------
				
				Delete T_CompanyUser
				Where CompanyID = @companyID
					AND UserID = @companyUserID
			end
		end
		else
		begin
			return -1
		end
	end
	
	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

