if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClientFundByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClientFundByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClientFundByID
(
	@companyClientFundID int	
)
AS

Delete T_CompanyClientFund
Where CompanyClientFundID = @companyClientFundID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

