if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteStrategy]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteStrategy]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteStrategy
	(
		@strategyID int	
	)
AS
Delete T_Strategy
Where StrategyID = @strategyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

