if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClearingFirmsPrimeBrokers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClearingFirmsPrimeBrokers
	(
		@companyID int
	)
AS
	Delete T_CompanyClearingFirmsPrimeBrokers
	Where CompanyID = @companyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

