if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyCounterPartyByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyCounterPartyByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyCounterPartyByID
(
	@companyID int,
	@companyCounterPartyID int
	
)
AS

Delete T_CompanyCounterParties
Where CounterPartyID = @companyCounterPartyID AND CompanyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

