if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteUserPermission]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteUserPermission]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteUserPermission
	(
		@userID int
	)

AS
	Delete T_UserPermission
	Where userID = @userID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

