ALTER PROCEDURE dbo.P_DeleteAsset
	(
		@assetID int,
		@deleteForceFully int
	)

AS
	--Delete Corresponding Assets	
	if ( @deleteForceFully = 1)
	begin 
		-- If Asset is referenced anywhere and still we want to delete it.
		--Delete Asset and related information.		
		Delete T_AUECHoliday 
		Where auecID in (Select auecID
						 From T_AUEC Where AssetID = @assetID)
						 
		Delete T_AUECCompliance
		Where auecID in (Select auecID
						 From T_AUEC Where AssetID = @assetID)
		
		Delete T_AUECMarketFee
		Where auecID in (Select auecID
						 From T_AUEC Where AssetID = @assetID)		
						 
		Delete T_AUECExchange
		Where auecID in (Select auecID
						 From T_AUEC Where AssetID = @assetID)		 				 		
						 
		Delete T_AUEC 
		Where AssetID = @assetID

		Delete T_Underlying 
		Where AssetID = @assetID

		Delete T_Asset 
		Where AssetID = @assetID		
	end
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_AUEC
		Where assetID = @assetID
	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_Underlying
			Where assetID = @assetID

			if ( @total = 0)
			begin 		
				-- If Asset is not referenced anywhere.
				--Delete Asset.
				Delete T_AUECHoliday 
				Where auecID in (Select auecID
								From T_AUEC Where AssetID = @assetID)
								 
				Delete T_AUECCompliance
				Where auecID in (Select auecID
								From T_AUEC Where AssetID = @assetID)
				
				Delete T_AUECMarketFee
				Where auecID in (Select auecID
								From T_AUEC Where AssetID = @assetID)		
								 
				Delete T_AUECExchange
				Where auecID in (Select auecID
								From T_AUEC Where AssetID = @assetID)
						 
				Delete T_AUEC 
				Where AssetID = @assetID

				Delete T_Underlying 
				Where AssetID = @assetID

				Delete T_Asset 
				Where AssetID = @assetID
			end	
		end		
		else
		begin
			return -1
		end
	end