if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteExchange]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteExchange]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteExchange
	(   
		@exchangeID int ,
		@deleteForceFully int
	)
	
AS
	--Delete Corresponding Assets	
	if ( @deleteForceFully = 1)
	begin 
		-- If Asset is referenced anywhere and still we want to delete it.
		--Delete Asset and related information.		
		
	DELETE T_AUECExchange
	Where auecID in (Select auecID	From T_AUEC Where ExchangeID = @exchangeID)
	
	DELETE T_AUECHoliday
	Where auecID in (Select auecID	From T_AUEC Where ExchangeID = @exchangeID)
	
	DELETE T_AUECMarketFee
	Where auecID in (Select auecID
						 From T_AUEC Where ExchangeID = @exchangeID)

	DELETE T_AUECCompliance
	Where auecID in (Select auecID
						 From T_AUEC Where ExchangeID = @exchangeID)
	
	DELETE T_AUEC
	Where  ExchangeID = @exchangeID
		
		
	DELETE T_Exchange
	Where ExchangeID = @exchangeID
	
	end
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_AUEC
		Where ExchangeID = @exchangeID
	
		if ( @total = 0)
		begin 		
			-- If Exchange is not referenced anywhere.
			
		DELETE T_Exchange
		Where ExchangeID = @exchangeID
	
		end	
		else
		begin
			return -1
		end
	end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

