ALTER PROCEDURE dbo.P_DeleteCounterParty
	(
		@counterPartyID int,	
		@deleteForceFully int
	)
AS

--Delete Corresponding Venues	
	if ( @deleteForceFully = 1)
	begin 
		-- If Venue is referenced anywhere and still we want to delete it.
		--Delete Venue and related information.
		Delete T_CounterPartyVenueDetails
		Where CounterPartyVenueID in (Select CounterPartyVenueID
						 From T_CounterPartyVenue Where CounterPartyID = @counterPartyID)
		
		Delete T_CounterPartyVenue
		Where CounterPartyID = @counterPartyID
		
		Delete T_CounterParty
		Where CounterPartyID = @counterPartyID
	end
	
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_CounterParty
		Where CounterPartyID = @counterPartyID
	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_CounterParty
			Where CounterPartyID = @counterPartyID

			if ( @total = 0)
			begin 		
				-- If CounterParty is not referenced anywhere.
				--Delete CounterParty.
				
				Delete T_CounterPartyVenueDetails
				Where CounterPartyVenueID in (Select CounterPartyVenueID
						 From T_CounterPartyVenue Where CounterPartyID = @counterPartyID)
						 
				Delete T_CounterPartyVenue
				Where CounterPartyID = @counterPartyID

				Delete T_CounterParty
				Where CounterPartyID = @counterPartyID
				
			end
		end
		else
		begin
			return -1
		end
	end
	

