if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyUserUnderLyings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyUserUnderLyings]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyUserUnderLyings
	(
		@companyUserID int
	)
AS
	Delete T_CompanyUserUnderLyings
	Where CompanyUserID = @companyUserID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

