if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyStrategyByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyStrategyByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyStrategyByID
	(
		@companyStrategyID int	
	)
AS
Delete T_CompanyStrategy
Where CompanyStrategyID = @companyStrategyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

