ALTER PROCEDURE dbo.P_DeleteUnderLying
	(
		@underlyingID int,
		@deleteForceFully int
	)

AS
	-- Delete Corresponding UnderLyings
	if ( @deleteForceFully = 1)
	begin 
		-- If UnderLying is referenced anywhere and still we want to delete it.
		--Delete UnderLying and related information.		
		Delete T_AUECHoliday 
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
						 
		Delete T_AUECCompliance
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
						 
		Delete T_AUECMarketFee
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
		
		Delete T_AUECExchange
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
	
		Delete T_AUEC 
		Where UnderLyingID = @underlyingID

		Delete T_Underlying 
		Where UnderLyingID = @underlyingID

	end
	else
	begin
		Declare @total int

		Select @total = Count(1) 
		From T_AUEC
		Where UnderLyingID = @underlyingID	
		if ( @total = 0)
		begin 
			Select @total = Count(1) 
			From T_Underlying
			Where UnderLyingID = @underlyingID
			
			if ( @total = 0)
			begin 		
				-- If UnderLying is not referenced anywhere.
				--Delete UnderLying.
			Delete T_AUECHoliday 
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
						 
		Delete T_AUECCompliance
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
						 
		Delete T_AUECMarketFee
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
		
		Delete T_AUECExchange
		Where auecID in (Select auecID
						 From T_AUEC Where UnderLyingID = @underlyingID)
	
		Delete T_AUEC 
		Where UnderLyingID = @underlyingID

		Delete T_Underlying 
		Where UnderLyingID = @underlyingID
			end	
			
		end		
		else
		begin
			return -1
		end
	end
	
	
	--Delete T_UnderLying 
	--Where UnderLyingID = @underlyingID