if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteSymbolMapping]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteSymbolMapping]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteSymbolMapping
	(
		@symbolMappingID int	
	)
AS
Delete T_SymbolMapping
Where MappedSymbolID = @symbolMappingID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

