if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteThirdParty]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteThirdParty]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteThirdParty
	(
		@thirdPartyID int	
	)
AS
Delete T_ThirdParty
Where ThirdPartyID = @thirdPartyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

