if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyCounterPartyVenues]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyCounterPartyVenues
	(
		@companyID int
	)
AS
	Delete T_CompanyCounterPartyVenues
	Where CompanyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

