if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteFund
	(
		@fundID int	
	)
AS
Delete T_Funds
Where FundID = @fundID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

