if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteClientFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteClientFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteClientFund
(
	@clientFundID int	
)
AS

Delete T_CompanyClientFund
Where CompanyClientFundID = @clientFundID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

