if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyFund
	(
		@companyFundID int	
	)
AS
Delete T_CompanyFunds
Where CompanyFundID = @companyFundID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

