if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyTradingAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyTradingAccounts]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyTradingAccounts
	(
		@companyID int
	)
AS
	Delete T_CompanyTradingAccounts
	Where CompanyID = @companyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

