if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyClientTrader]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyClientTrader]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyClientTrader
(
	@companyClientID int	
)
AS

Delete T_CompanyClientTrader
Where CompanyClientID = @companyClientID
	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

