if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_DeleteCompanyUserCounterParties]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_DeleteCompanyUserCounterParties]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_DeleteCompanyUserCounterParties
	(
		@companyUserID int
	)
AS
	Delete T_CompanyUserCounterPartyVenues
	Where CompanyUserID = @companyUserID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

