if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCounterPartyVenuesForCounterParty]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCounterPartyVenuesForCounterParty]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCounterPartyVenuesForCounterParty
	(
		@counterPartyID int
	)
AS
	/*SELECT     T_Venue.VenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CounterPartyVenue INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND 
                      T_CounterPartyVenue.CounterPartyID = @counterPartyID */
                      
 
 /* SELECT     T_CounterPartyVenue.CounterPartyVenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CompanyCounterPartyVenues INNER JOIN
                      T_CounterPartyVenue ON T_CompanyCounterPartyVenues.CounterPartyVenueID = T_CounterPartyVenue.CounterPartyVenueID INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND 
                      T_CounterPartyVenue.CounterPartyID = @counterPartyID */
                      


-- Selects all venues pertaining to the selected counterparty                       
 /*SELECT     T_CounterPartyVenue.CounterPartyVenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CounterParty INNER JOIN
                      T_CounterPartyVenue ON T_CounterParty.CounterPartyID = T_CounterPartyVenue.CounterPartyID INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND T_CounterParty.CounterPartyID = @counterPartyID  */
                      

-- Selects all venues pertaining to the selected counterparty                     
/*SELECT     T_CounterPartyVenue.CounterPartyVenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CompanyCounterPartyVenues INNER JOIN
                      T_CounterPartyVenue ON T_CompanyCounterPartyVenues.CounterPartyVenueID = T_CounterPartyVenue.CounterPartyVenueID INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND T_CounterPartyVenue.CounterPartyID = @counterPartyID
                      
                      */
SELECT     T_CounterPartyVenue.CounterPartyVenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CounterPartyVenue INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID
WHERE     (T_CounterPartyVenue.CounterPartyID = @counterPartyID)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

