if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCounterPartyVenuesForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCounterPartyVenuesForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCounterPartyVenuesForUser
	(
		@userID int
	)
AS
	SELECT     CPVD.CounterPartyVenueDetailsID, CPVD.CounterPartyVenueID, 
                      CPVD.DisplayName, CPVD.IsElectronic, CPVD.FixIdentifier, 
                      CPVD.AUECID, CPVD.SymbolConversionID, CPVD.SideID, 
                      CPVD.OrderTypesID, CPVD.TimeInForceID, CPVD.HandlingInstructionsID, 
                      CPVD.ExecutionInstructionsID, CPVD.AdvancedOrdersID, CPV.CounterPartyID, 
                      CPV.VenueID
FROM         T_CounterPartyVenueDetails CPVD INNER JOIN
                      T_CounterPartyVenue CPV ON CPVD.CounterPartyVenueID = CPV.CounterPartyVenueID INNER JOIN
                      T_CompanyUserCounterPartyVenues CCPV ON CPV.CounterPartyVenueID = CCPV.CounterPartyVenueID AND 
                      CPVD.CounterPartyVenueID = CCPV.CounterPartyVenueID
	
	
	
	
	
	
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

