if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyClientTraders]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyClientTraders]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyClientTraders
(
	@companyClientID int
)
AS
	SELECT     TraderID, FirstName, LastName, ShortName, Title, EMail, TelephoneWork, TelephoneCell, 
				Pager, TelephoneHome, Fax, CompanyClientID
	FROM         T_CompanyClientTrader
	WHERE CompanyClientID = @companyClientID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

