if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllAdvancedOrders]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllAdvancedOrders]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllAdvancedOrders

AS
	SELECT     AdvancedOrdersID, AdvancedOrders
FROM         T_AdvancedOrders
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

