if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyThirdParties]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyThirdParties]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyThirdParties
	(
		@companyID int		
	)
AS
	SELECT     CTP.CompanyID, CTP.ThirdPartyID, TP.ThirdPartyName, TP.Description
	FROM         T_CompanyThirdParty CTP, T_ThirdParty TP
	Where CTP.CompanyID = @companyID AND CTP.ThirdPartyID = TP.ThirdPartyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

