if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetThirdParties]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetThirdParties]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetThirdParties
	(
		@thirdPartyID int		
	)
AS
	SELECT     ThirdPartyID, ThirdPartyName, Description, ThirdPartyTypeID, ShortName, ContactPerson, Address1,
				Address2, CellPhone, WorkTelephone, Fax, Email
	FROM         T_ThirdParty
	Where ThirdPartyID = @thirdPartyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

