if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllCompanyFunds]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllCompanyFunds]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllCompanyFunds
AS
	SELECT   CompanyFundID, FundName, FundShortName, CompanyID
FROM         T_CompanyFunds

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

