if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetTradingAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetTradingAccounts]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetTradingAccounts
	(
		@tradingAccountsID int
	)
AS
	SELECT     TradingAccountsID, TradingAccountName, TradingShortName, CompanyID
	FROM         T_TradingAccounts
	Where TradingAccountsID = @tradingAccountsID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

