if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllClearingFirmsPrimeBrokers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllClearingFirmsPrimeBrokers
AS
	SELECT   ClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
FROM         T_ClearingFirmsPrimeBrokers

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

