if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetFund
	(
		@fundID int
	)
AS
	SELECT     CompanyFundID, FundName, FundShortName, CompanyID
	FROM         T_CompanyFunds
	Where CompanyFundID = @fundID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

