if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyCounterPartyVenueDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyCounterPartyVenueDetails]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyCounterPartyVenueDetails
(
	@companyCounterPartyID int
)
AS
	SELECT   CompanyCounterPartyVenueDetailsID, CompanyCounterPartyID, CompanyCounterPartyVenueID, UserID,
				ClearingFirmPrimeBrokerID, DeliverToCompanyID, DeliverToSubID, SenderCompanyID, FundID,
				OnBehalfOfCompID, CMTAGiveUp, OnBehalfOfSubID, CompanyCounterPartyVenueTagID
FROM         T_CompanyCounterPartyVenueDetails
Where CompanyCounterPartyID = @companyCounterPartyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

