ALTER PROCEDURE dbo.P_GetUnderLyingsByID
	(
		@ID int	
	)
AS
	Select UnderLyingID, UnderLyingName, AssetID, Comment
	From T_UnderLying
	Where UnderLyingID = @ID
	Order By AssetID, UnderLyingName
