if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllCompanyClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllCompanyClearingFirmsPrimeBrokers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllCompanyClearingFirmsPrimeBrokers
AS
	SELECT   CompanyClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
FROM         T_CompanyClearingFirmsPrimeBrokers

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

