if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetSymbol]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetSymbol]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetSymbol
	(
		@symbolID int
	)
AS
	SELECT     SymbolID, Symbol
	FROM         T_Symbol
	Where SymbolID = @symbolID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

