if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyClientFunds]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyClientFunds]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyClientFunds
	(
		@companyClientID int
	)

AS
	SELECT     CompanyClientFundID, CompanyClientFundName, CompanyClientFundShortName, CompanyClientID
	FROM         T_CompanyClientFund
	WHERE CompanyClientID = @companyClientID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

