ALTER PROCEDURE dbo.P_GetAllUsers
AS
	SELECT   UserID, LastName, FirstName, ShortName, Title, MailingAddress, EMail, 
                      TelphoneWork, TelphoneHome, TelphoneMobile, Fax, Login, TelphonePager, 
                      Address1, Address2, IsActive
FROM         T_User
--Where IsActive  = 1