if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyFunds]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyFunds]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyFunds
	(
		@companyID int
	)
AS
	SELECT     CompanyFundID, FundName, FundShortName, CompanyID
	FROM         T_CompanyFunds
	Where CompanyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

