ALTER PROCEDURE dbo.P_GetAllCounterPartyVenues
	AS
	
	/*
	SELECT     CPVD.CounterPartyVenueDetailsID, CPVD.CounterPartyVenueID, CPVD.DisplayName, CPVD.IsElectronic, 
				CPVD.FixIdentifier, CPVD.AUECID, CPVD.SymbolConversionID, CPVD.SideID, CPVD.OrderTypesID, 
				CPVD.TimeInForceID, CPVD.HandlingInstructionsID, CPVD.ExecutionInstructionsID, 
				CPVD.AdvancedOrdersID, CPV.CounterPartyID, CPV.VenueID
FROM         T_CounterPartyVenueDetails CPVD INNER JOIN
                      T_CounterPartyVenue CPV ON CPVD.CounterPartyVenueID = CPV.CounterPartyVenueID INNER JOIN
                      T_CompanyCounterPartyVenues CCPV ON CPV.CounterPartyVenueID = CCPV.CounterPartyVenueID AND 
                      CPVD.CounterPartyVenueID = CCPV.CounterPartyVenueID
                      
    */
    
    SELECT     CPVD.CounterPartyVenueDetailsID, CPV.CounterPartyVenueID, CPVD.DisplayName, CPVD.IsElectronic, CPVD.FixIdentifier, CPVD.AUECID, 
                      CPVD.SymbolConversionID, CPVD.SideID, CPVD.OrderTypesID, CPVD.TimeInForceID, CPVD.HandlingInstructionsID, CPVD.ExecutionInstructionsID, 
                      CPVD.AdvancedOrdersID, CPV.CounterPartyID, CPV.VenueID
FROM         T_CounterPartyVenueDetails CPVD RIGHT OUTER JOIN
                      T_CounterPartyVenue CPV ON CPVD.CounterPartyVenueID = CPV.CounterPartyVenueID 
    Order By CPV.CounterPartyID, CPV.VenueID
                      
    /*SELECT     CPVD.CounterPartyVenueDetailsID, CPVD.CounterPartyVenueID, CPVD.DisplayName, CPVD.IsElectronic, CPVD.FixIdentifier, CPVD.AUECID, 
                      CPVD.SymbolConversionID, CPVD.SideID, CPVD.OrderTypesID, CPVD.TimeInForceID, CPVD.HandlingInstructionsID, CPVD.ExecutionInstructionsID, 
                      CPVD.AdvancedOrdersID, CPV.CounterPartyID, CPV.VenueID
FROM         T_CounterPartyVenue CPV RIGHT OUTER JOIN
             T_CounterPartyVenueDetails CPVD ON CPVD.CounterPartyVenueID = CPV.CounterPartyVenueID */