if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllThirdPartyTypes]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllThirdPartyTypes]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllThirdPartyTypes
AS
	SELECT     ThirdPartyTypeID, ThirdPartyTypeName
	FROM         T_ThirdPartyType

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

