ALTER PROCEDURE dbo.P_GetExchangeByID
	(
		@exchangeByID int		
	)
AS
	SELECT ExchangeID, FullName, DisplayName, TimeZone, RegularTradingStartTime, 
		RegularTradingEndTime, PreMarketTradingStartTime, PreMarketTradingEndTime, LunchTimeStartTime, 
        LunchTimeEndTime, PostMarketTradingStartTime, PostMarketTradingEndTime, Country, Location,
        Currency, Unit, SettlementDays, DayLightSaving
	FROM	T_Exchange
	Where ExchangeID = @exchangeByID
