ALTER PROCEDURE dbo.P_GetAllVendors
AS
	SELECT VendorID, VendorName, ContactLastName, ContactFirstName, ShortName, 
		Title, [Product], Comment, MailingAddress, EMail, TelphoneWork, 
		TelphoneHome, TelphoneMobile, Pager, Fax, Address1, Address2
	FROM         T_Vendor
