ALTER PROCEDURE dbo.P_GetSymbolConversion
	(
		@symbolConversionID int
	)
AS
	SELECT     SymbolConversionID, SymbolName
	FROM         T_SymbolConversion
	Where SymbolConversionID = @symbolConversionID
