if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetTradersBoth]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetTradersBoth]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetTradersBoth
(
	@companyID int,
	@traderID int
)
AS
	SELECT     TraderID, FirstName, LastName, ShortName, Title, EMail, TelephoneWork, TelephoneCell, 
				Pager, TelephoneHome, Fax, CompanyClientID
	FROM         T_CompanyClientTrader
	WHERE CompanyClientID = @companyID and TraderID = @traderID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

