if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetIdentifier]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetIdentifier]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetIdentifier
(
	@identifierID int
)
AS
	SELECT   IdentifierID, IdentifierName
FROM         T_Identifier WHERE IdentifierID = @identifierID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

