ALTER PROCEDURE dbo.P_GetHandlingInstruction
(
		@handlingInstructionsID int
)
AS
SELECT     HandlingInstructionsID, HandlingInstructions
FROM         T_HandlingInstructions
	Where HandlingInstructionsID = @handlingInstructionsID
