if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetTradingAccountsForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetTradingAccountsForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetTradingAccountsForUser
	(
		@userID int
	)
AS
	SELECT     T_CompanyTradingAccounts.CompanyTradingAccountsID, T_CompanyTradingAccounts.TradingAccountName, 
				T_CompanyTradingAccounts.TradingShortName, T_CompanyTradingAccounts.CompanyID
	FROM         T_CompanyUserTradingAccounts INNER JOIN
                      T_CompanyTradingAccounts ON 
                      T_CompanyUserTradingAccounts.TradingAccountID = T_CompanyTradingAccounts.CompanyTradingAccountsID 
 Where T_CompanyUserTradingAccounts.CompanyUserID = @userID




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

