if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllSymbols]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllSymbols]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllSymbols
AS
	SELECT   SymbolID, Symbol
FROM         T_Symbol

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

