if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyStrategies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyStrategies]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyStrategies
	(
		@companyID int
	)
AS
	SELECT     CompanyStrategyID, StrategyName, StrategyShortName, CompanyID
	FROM         T_CompanyStrategy
	Where CompanyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

