if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllStrategies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllStrategies]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllStrategies
AS
	SELECT   StrategyID, StrategyName, StrategyShortName, CompanyID
FROM         T_Strategy

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

