
ALTER PROCEDURE dbo.P_GetCounterParty
	(
		@counterpartyID int
	)
AS
SELECT     CounterPartyID, FullName, ShortName, Address, Phone, Fax, ContactName1, Title1, EMail1, ContactName2, Title2, EMail2, Acronym, BaseCurrency, 
                      IsElectronicTrading, FIXVersionID, FIXCapabilities, CounterPartyTypeID, OutgoingCompanyID, IncomingCompanyID, Comment
FROM         T_CounterParty
WHERE     (CounterPartyID = @counterPartyID)