ALTER PROCEDURE dbo.P_GetUser
	(
		@userID int
	)
AS
	SELECT     UserID, LastName, FirstName, ShortName, Title, MailingAddress, EMail, TelphoneWork, 
			TelphoneHome, TelphoneMobile, Fax, Login, TelphonePager, Address1, Address2, isactive
	FROM         T_User
	Where UserID = @userID
