if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyModulesForCompany]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyModulesForCompany]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyModulesForCompany
	(
		@companyID int		
	)
AS
	SELECT    CM.ModuleID, M.ModuleName
	FROM         T_CompanyModule CM, T_Module M
	Where CM.CompanyID = @companyID AND CM.ModuleID = M.ModuleID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

