if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCounterPartyVenuesForCounterParties]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCounterPartyVenuesForCounterParties]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCounterPartyVenuesForCounterParties
	(
		@counterPartyID int
	)
AS
	SELECT     T_Venue.VenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CounterPartyVenue INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND 
                      T_CounterPartyVenue.CounterPartyID = @counterPartyID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

