if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyAssets]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyAssets]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyAssets
	(
		@companyID int		
	)
AS
	SELECT     CA.CompanyID, CA.AssetID, A.AssetName, A.Comment
	FROM         T_CompanyAsset CA, T_Asset A
	Where CA.CompanyID = @companyID AND CA.AssetID = A.AssetID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

