if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetClientFundByID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetClientFundByID]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetClientFundByID
	(
		@companyID int,
		@clientFundID int
	)
AS
	SELECT CompanyClientFundID, CompanyClientFundName, CompanyClientFundShortName, CompanyClientID
	FROM T_CompanyClientFund
	Where CompanyClientID = @companyID or CompanyClientFundID = @clientFundID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

