ALTER PROCEDURE dbo.P_GetCounterParties
	(
		@counterPartyID int
	)
AS
	SELECT CounterPartyID, FullName, ShortName, Address, Phone, Fax, ContactName1, Title1, EMail1, 
			ContactName2, Title2, EMail2, Acronym, BaseCurrency, 
			CounterPartyTypeI
	FROM T_CounterParty
	Where CounterPartyID = @counterPartyID