if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetFunds]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetFunds]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetFunds
	(
		@fundID int
	)
AS
	SELECT     FundID, FundName, FundShortName, CompanyID
	FROM         T_Funds
	Where FundID = @fundID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

