if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetClearingFirmsPrimeBrokers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetClearingFirmsPrimeBrokers
	(
		@clearingFirmsPrimeBrokersID int
	)
AS
	SELECT     ClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
	FROM         T_ClearingFirmsPrimeBrokers
	Where ClearingFirmsPrimeBrokersID = @clearingFirmsPrimeBrokersID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

