if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompliance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompliance]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompliance
	(
		@auecID int
	)
AS
	SELECT  AUECComplianceID, CurrencyConvention, Multiplier, IsShortSaleAllowed, IsShortSaleConfirmation,
			 ProvideFundNameWithTrade, IdentifierID, IsBuySideAllowed, IsSellSideAllowed, IsShortAllowed, 
			 IsBuyToCoverAllowed, IsBuyToOpenAllowed, IsBuyToCloseAllowed, IsSellToOpenAllowed, 
			 IsSellToCloseAllowed, auecID
	FROM  T_AUECCompliance
	Where AUECID = @auecID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

