ALTER PROCEDURE dbo.P_GetExecutionInstruction
(
		@executionInstructionsID int
)
AS
	SELECT     ExecutionInstructionsID, ExecutionInstructions
FROM         T_ExecutionInstructions
Where ExecutionInstructionsID = @executionInstructionsID
 
