ALTER PROCEDURE dbo.P_GetCompanies
AS
	SELECT     CompanyID, Name, Address1, Address2, CompanyTypeID, Telephone, Fax, 
			PrimaryContactFirstName, PrimaryContactLastName, PrimaryContactTitle, 
			PrimaryContactEMail, PrimaryContactTelephone, PrimaryContactCell, 
			SecondaryContactFirstName, SecondaryContactLastName, SecondaryContactTitle, 
			SecondaryContactEMail, SecondaryContactTelephone, SecondaryContactCell, TechnologyContactFirstName, 
			TechnologyContactLastName, TechnologyContactTitle, TechnologyContactEMail, 
			TechnologyContactTelephone, TechnologyContactCell, Compliance
	FROM  T_Company
