ALTER PROCEDURE dbo.P_GetCounterPartyVenues
	(
		@counterPartyVenueID int
	)
AS
	SELECT     CVD.CounterPartyVenueDetailsID, CVD.CounterPartyVenueID, CVD.DisplayName, CVD.IsElectronic, CVD.FixIdentifier, CVD.AUECID, 
				CVD.SymbolConversionID, CVD.SideID, CVD.OrderTypesID, CVD.TimeInForceID, 
				CVD.HandlingInstructionsID, CVD.ExecutionInstructionsID, CVD.AdvancedOrdersID,
				CV.CounterPartyID, CV.VenueID
	FROM         T_CounterPartyVenue CV, T_CounterPartyVenueDetails CVD		
	WHERE CV.CounterPartyVenueID = CVD.CounterPartyVenueID AND
			CV.CounterPartyVenueID = @counterPartyVenueID
			
			
			