if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyCounterPartyVenues]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyCounterPartyVenues
	(
		@companyID int		
	)
AS
	
	SELECT     CPVD.CounterPartyVenueDetailsID, CPVD.CounterPartyVenueID, CPVD.DisplayName, CPVD.IsElectronic, 
				CPVD.FixIdentifier, CPVD.AUECID, CPVD.SymbolConversionID, CPVD.SideID, CPVD.OrderTypesID, 
				CPVD.TimeInForceID, CPVD.HandlingInstructionsID, CPVD.ExecutionInstructionsID, 
				CPVD.AdvancedOrdersID, CPV.CounterPartyID, CPV.VenueID
FROM         
 T_CounterPartyVenue CPV INNER JOIN
                      T_CompanyCounterPartyVenues CCPV ON 
                      CPV.CounterPartyVenueID = CCPV.CounterPartyVenueID LEFT OUTER JOIN
                      T_CounterPartyVenueDetails CPVD ON CPV.CounterPartyVenueID = CPVD.CounterPartyVenueID
/*T_CounterPartyVenueDetails CPVD INNER JOIN
                      T_CounterPartyVenue CPV ON CPVD.CounterPartyVenueID = CPV.CounterPartyVenueID INNER JOIN
                      T_CompanyCounterPartyVenues CCPV ON CPV.CounterPartyVenueID = CCPV.CounterPartyVenueID AND 
                      CPVD.CounterPartyVenueID = CCPV.CounterPartyVenueID*/
Where CCPV.companyID = @companyID
Order By  CPV.CounterPartyID, CPV.VenueID







	/*(
		@counterPartyID int
	)
AS
	                  
                      
                      SELECT     T_Venue.VenueID, T_Venue.VenueName, T_Venue.VenueTypeID, T_Venue.Route
FROM         T_CompanyCounterPartyVenues INNER JOIN
                      T_CounterPartyVenue ON T_CompanyCounterPartyVenues.CounterPartyVenueID = T_CounterPartyVenue.CounterPartyVenueID INNER JOIN
                      T_Venue ON T_CounterPartyVenue.VenueID = T_Venue.VenueID AND 
                      T_CounterPartyVenue.CounterPartyID = @counterPartyID  */
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

