if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllCompanyTradingAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllCompanyTradingAccounts]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllCompanyTradingAccounts
AS
	SELECT   CompanyTradingAccountsID, TradingAccountName, TradingShortName, CompanyID
FROM         T_CompanyTradingAccounts

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

