if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllTradingAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllTradingAccounts]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllTradingAccounts
AS
	SELECT   TradingAccountsID, TradingAccountName, TradingShortName, CompanyID
FROM         T_TradingAccounts

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

