if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyUsers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyUsers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyUsers
	(
		@companyID int
	)
AS
	SELECT UserID, LastName, FirstName, ShortName, Title, MailingAddress, EMail, TelphoneWork, 
		TelphoneHome, TelphoneMobile, Fax, Login, TelphonePager, Address1, Address2
	FROM T_CompanyUser
	Where companyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

