ALTER PROCEDURE dbo.P_GetAUECMarketFees
	(
		@auecID int
	)
AS
Select  AUECID, PurchaseSecFees, SaleSecFees, PurchaseStamp, 
		SaleStamp, PurchaseLevy, SaleLevy
From    T_AUECMarketFee
Where   AUECID = @auecID
	
