if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetStrategies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetStrategies]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetStrategies
	(
		@strategyID int
	)
AS
	SELECT     StrategyID, StrategyName, StrategyShortName, CompanyID
	FROM         T_Strategy
	Where StrategyID = @strategyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

