if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyModules]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyModules]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyModules
	(
		@companyID int		
	)
AS
	SELECT     CM.ModuleID, M.ModuleName
	FROM         T_CompanyModule CM INNER JOIN
                      T_Module M ON CM.ModuleID = M.ModuleID
	WHERE     (CM.CompanyID = @companyID)

	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

