if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllHandlingInstructions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllHandlingInstructions]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllHandlingInstructions
	
AS
	SELECT     HandlingInstructionsID, HandlingInstructions
FROM         T_HandlingInstructions
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

