if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCounterPartyForCompany]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCounterPartyForCompany]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCounterPartyForCompany
	(
		@companyID int
	)
AS
	SELECT     T_CounterParty.CounterPartyID, T_CounterParty.FullName, T_CounterParty.ShortName, T_CounterParty.Address, T_CounterParty.Phone, T_CounterParty.Fax, 
                      T_CounterParty.ContactName1, T_CounterParty.Title1, T_CounterParty.EMail1, T_CounterParty.ContactName2, T_CounterParty.Title2, 
                      T_CounterParty.EMail2, T_CounterParty.Acronym, T_CounterParty.BaseCurrency, T_CounterParty.IsElectronicTrading, T_CounterParty.FIXVersionID, 
                      T_CounterParty.CounterPartyTypeID, T_CounterParty.FIXCapabilities, T_CounterParty.OutgoingCompanyID, T_CounterParty.IncomingCompanyID, 
                      T_CounterParty.Comment
FROM         T_CompanyCounterParty INNER JOIN
                      T_CounterParty ON T_CompanyCounterParty.CounterPartyID = T_CounterParty.CounterPartyID
WHERE     (T_CompanyCounterParty.CompanyID = @companyID)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

