if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyModulesForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyModulesForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyModulesForUser
(
		@companyUserID int		
)
AS
	SELECT    CM.ModuleID, M.ModuleName
	FROM         T_CompanyUserModule CM, T_Module M
	Where CM.CompanyUserID = @companyUserID AND CM.ModuleID = M.ModuleID


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

