if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetSymbolMapping]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetSymbolMapping]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetSymbolMapping
	(
		@counterPartyVenueID int
	)
AS
	SELECT     MappedSymbolID, AUECID, SymbolID, MappedSymbol, CounterPartyVenueID
	FROM         T_SymbolMapping
	Where CounterPartyVenueID = @counterPartyVenueID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

