ALTER PROCEDURE dbo.P_GetClientFunds
	(
		@companyClientID int
	)

AS
	SELECT     CompanyClientFundID, CompanyClientFundName, CompanyClientFundShortName, CompanyClientID
	FROM         T_CompanyClientFund
	WHERE CompanyClientID = @companyClientID