if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyClientsBoth]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyClientsBoth]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyClientsBoth
	(
		@companyID int,
		@companyClientID int
	)
AS
	SELECT CompanyClientID, ClientName, MailingAddress1, MailingAddress2, CompanyType, Telephone, Fax, 
			PrimaryContactFirstName, PrimaryContactLastName, PrimaryContactTitle, 
			PrimaryContactEMail, PrimaryContactTelephone, PrimaryContactCell, 
			SecondaryContactFirstName, SecondaryContactLastName, SecondaryContactTitle, 
			SecondryContactEmail, SecondaryContactTelephone, SecondaryContactCell, CompanyID
	FROM T_CompanyClient
	Where CompanyID = @companyID and CompanyClientID = @companyClientID	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

