if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllCompanyUsers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllCompanyUsers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllCompanyUsers
AS
	SELECT   UserID, LastName, FirstName, ShortName, Title, MailingAddress, EMail, TelphoneWork, 
		TelphoneHome, TelphoneMobile, Fax, Login, Password, IsActive, TelphonePager, Address1, Address2, CompanyID
FROM         T_CompanyUsers

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

