ALTER PROCEDURE dbo.P_GetAllCounterParties
AS
/*	SELECT   CounterPartyID, FullName, ShortName, Address, Phone, Fax, ContactName1, Title1, Email1,
               ContactName2, Title2, Email2, Acronym, BaseCurrency
FROM         T_CounterParty */


SELECT     CounterPartyID, FullName, ShortName, Address, Phone, Fax, ContactName1, Title1, EMail1, 
			ContactName2, Title2, EMail2, Acronym, BaseCurrency, 
			IsElectronicTrading, FIXVersionID, CounterPartyTypeID, FIXCapabilities,  OutgoingCompanyID, IncomingCompanyID, Comment
FROM         T_CounterParty
--Where IsActive  = 1