if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetClearingFirmsPrimeBroker]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetClearingFirmsPrimeBroker]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetClearingFirmsPrimeBroker
	(
		@clearingFirmsPrimeBrokerID int
	)
AS
	SELECT     ClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
	FROM         T_ClearingFirmsPrimeBrokers
	Where ClearingFirmsPrimeBrokersID = @clearingFirmsPrimeBrokerID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

