if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyClearingFirmPrimeBroker]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyClearingFirmPrimeBroker]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyClearingFirmPrimeBroker
	(
		@clearingFirmPrimeBrokerID int
	)
AS
	SELECT     CompanyClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
	FROM         T_CompanyClearingFirmsPrimeBrokers
	Where CompanyClearingFirmsPrimeBrokersID = @clearingFirmPrimeBrokerID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

