ALTER PROCEDURE dbo.P_GetAUECByAssetAndUnderLying
	(
		@assetID int,
		@underlyingID int
	)
AS
SELECT DISTINCT T_AUEC.AUECID, T_AUEC.assetID, T_AUEC.underlyingID, T_AUEC.ExchangeID, T_AUEC.CurrencyID
FROM	T_AUEC 
WHERE T_AUEC.assetID = @assetID 
	AND T_AUEC.underlyingID = @underlyingID
