ALTER PROCEDURE dbo.P_GetExchangeByUnderLyingID
	(
		@assetID int,
		@underlyingID int
	)
AS
	SELECT DISTINCT 
                      T_Exchange.ExchangeID, T_Exchange.FullName, T_Exchange.DisplayName, T_Exchange.TimeZone, T_Exchange.RegularTradingStartTime, 
                      T_Exchange.RegularTradingEndTime, T_Exchange.PreMarketTradingStartTime, T_Exchange.PreMarketTradingEndTime, 
                      T_Exchange.LunchTimeStartTime, T_Exchange.LunchTimeEndTime, T_Exchange.PostMarketTradingStartTime, 
                      T_Exchange.PostMarketTradingEndTime, T_Exchange.Country, T_Exchange.Location
FROM         T_Exchange INNER JOIN
                      T_AUEC ON T_Exchange.ExchangeID = T_AUEC.ExchangeID
Where T_AUEC.assetID = @assetID AND T_AUEC.underlyingID = @underlyingID
	
