if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetCompanyClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetCompanyClearingFirmsPrimeBrokers]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetCompanyClearingFirmsPrimeBrokers
	(
		@companyID int
	)
AS
	SELECT     CompanyClearingFirmsPrimeBrokersID, ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID
	FROM         T_CompanyClearingFirmsPrimeBrokers
	Where CompanyID = @companyID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

