if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllCompanyStrategies]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllCompanyStrategies]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllCompanyStrategies
AS
	SELECT   CompanyStrategyID, StrategyName, StrategyShortName, CompanyID
FROM         T_CompanyStrategy

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

