if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_GetAllFixs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_GetAllFixs]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_GetAllFixs
AS
	SELECT   FIXID, FixVersion
FROM         T_FIX
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

