ALTER PROCEDURE dbo.P_InsertAUECCompliance
	(
		@CurrencyConvention int,					--0
		@Multiplier int,							--1
		@IsShortSaleAllowed int,					--2
		@IsShortSaleConfirmation int,				--3
		@ProvideFundNameWithTrade int,				--4
		@ProvideIdentifierNameWithTrade int,		--5
		@IdentifierID int,							--6
		@IsBuySideAllowed int,						--7
		@IsSellSideAllowed int,						--8	
		@IsShortAllowed int,						--9
		@IsBuyToCoverAllowed int,					--10
		@IsBuyToOpenAllowed int,					--11
		@IsBuyToCloseAllowed int,					--12
		@IsSellToOpenAllowed int,					--13
		@IsSellToCloseAllowed int,					--14	
		@auecID int									--15
	)
AS
	Declare @total int
	set @total = 0
	
	Select @total = Count(*)
	From T_AUECCompliance
	Where AUECID = @auecID
	
	if(@total = 0)
	Begin
		--Insert Data
		Insert into T_AUECCompliance(CurrencyConvention, Multiplier, IsShortSaleAllowed, 
			IsShortSaleConfirmation, ProvideFundNameWithTrade, ProvideIdentifierNameWithTrade, 
			IdentifierID, IsBuySideAllowed, IsSellSideAllowed, IsShortAllowed, 
			IsBuyToCoverAllowed, IsBuyToOpenAllowed, IsBuyToCloseAllowed, IsSellToOpenAllowed, 
			IsSellToCloseAllowed, auecID)
		Values(@CurrencyConvention, @Multiplier, @IsShortSaleAllowed, 
			@IsShortSaleConfirmation, @ProvideFundNameWithTrade, @ProvideIdentifierNameWithTrade, 
			@IdentifierID, @IsBuySideAllowed, @IsSellSideAllowed, @IsShortAllowed, 
			@IsBuyToCoverAllowed, @IsBuyToOpenAllowed, @IsBuyToCloseAllowed, @IsSellToOpenAllowed, 
			@IsSellToCloseAllowed, @auecID)
	end
	else
	begin
		Update T_AUECCompliance
		Set CurrencyConvention = @CurrencyConvention, 
			Multiplier = @Multiplier, 
			IsShortSaleAllowed = @IsShortSaleAllowed, 
			IsShortSaleConfirmation = @IsShortSaleConfirmation, 
			ProvideFundNameWithTrade = @ProvideFundNameWithTrade, 
			ProvideIdentifierNameWithTrade = @ProvideIdentifierNameWithTrade, 
			IdentifierID = @IdentifierID, 
			IsBuySideAllowed = @IsBuySideAllowed, 
			IsSellSideAllowed = @IsSellSideAllowed, 
			IsShortAllowed = @IsShortAllowed, 
			IsBuyToCoverAllowed = @IsBuyToCoverAllowed, 
			IsBuyToOpenAllowed = @IsBuyToOpenAllowed, 
			IsBuyToCloseAllowed = @IsBuyToCloseAllowed, 
			IsSellToOpenAllowed = @IsSellToOpenAllowed, 
			IsSellToCloseAllowed = @IsSellToCloseAllowed
		Where AUECID = @auecID 
	end
	