ALTER PROCEDURE dbo.P_InsertAUECMarketFees
	(
		@AUECID int, 
		@PurchaseSecFees float, 
		@SaleSecFees float, 
		@PurchaseStamp float, 
		@SaleStamp float, 
		@PurchaseLevy float, 
		@SaleLevy float
	)
AS
	Declare @total int
	set @total = 0
	
	Select @total = Count(*)
	From T_AUECMarketFee
	Where AUECID = @auecID
	
	if(@total = 0)
	Begin
		--Insert Data
		INSERT INTO T_AUECMarketFee(AUECID, PurchaseSecFees, SaleSecFees, PurchaseStamp, 
			SaleStamp, PurchaseLevy, SaleLevy)
		VALUES(@AUECID, @PurchaseSecFees, @SaleSecFees, @PurchaseStamp, 
			@SaleStamp, @PurchaseLevy, @SaleLevy)	
	end
	else
	begin
		Update T_AUECMarketFee
		Set PurchaseSecFees = @PurchaseSecFees, 
			SaleSecFees = @SaleSecFees, 
			PurchaseStamp = @PurchaseStamp, 
			SaleStamp = @SaleStamp, 
			PurchaseLevy = @PurchaseLevy, 
			SaleLevy = @SaleLevy
		Where AUECID = @auecID
	end
