if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_InsertRowCurrency]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_InsertRowCurrency]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_InsertRowCurrency

	(
		@currencyID int,
		@currencyName varchar(50),
		@currencySymbol varchar(50)
	)
AS

--Declare @DeletedID int
--set @DeletedID = 1

if @currencyID > 0
begin

UPDATE T_Currency 
Set CurrencyName = @currencyName, CurrencySymbol = @currencySymbol

Where CurrencyID= @currencyID
end
else
begin

INSERT INTO T_Currency(CurrencyName
--,DeletedID
,CurrencySymbol)
Values (@currencyName, 
--@DeletedID, 
@currencySymbol)

end
  


	/* SET NOCOUNT ON */
	RETURN
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

