ALTER PROCEDURE dbo.P_InsertAUECHolidays
	(
		@auecID int,
		@HolidayID int,
		@Date datetime,
		@Description varchar(60)
	)
AS
	
if @HolidayID > 0
begin
		Update T_AuecHoliday
		Set HolidayDate = @Date, 
			Description = @Description
		Where  HolidayID = @HolidayID

end
else
begin

		--Insert Data
		Insert Into T_AuecHoliday(AUECID, HolidayDate, Description)
		Values(@auecID, @Date, @Description)
	end
	