ALTER PROCEDURE dbo.P_InsertAUECExchange
	(
		@auecID int,
		@FullName varchar(50),
		@DisplayName varchar(50), 
		@Currency varchar(50), 
		@Unit varchar(50), 
		@TimeZone varchar(50), 
		@PreMarketTradingStartTime datetime, 
		@PreMarketTradingEndTime datetime, 
		@LunchTimeStartTime datetime, 
		@LunchTimeEndTime datetime, 
		@RegularTradingStartTime datetime, 
		@RegularTradingEndTime datetime, 				
		@PostMarketTradingStartTime datetime, 
		@PostMarketTradingEndTime datetime, 
		@SettlementDays int, 
		@DayLightSaving varchar(50),
		@Country varchar(50), 
		@Location varchar(50)
	)
AS
	Declare @total int
	set @total = 0
	
	Select @total = Count(*)
	From T_AUECExchange
	Where AUECID = @auecID
	
	if(@total = 0)
	Begin
		--Insert Data
		INSERT INTO T_AUECExchange(FullName, DisplayName, Currency, Unit, TimeZone, RegularTradingStartTime, 
			RegularTradingEndTime, PreMarketTradingStartTime, PreMarketTradingEndTime, LunchTimeStartTime, 
			LunchTimeEndTime, PostMarketTradingStartTime, PostMarketTradingEndTime, SettlementDays, DayLightSaving, 
			AUECID, Country, Location)
		Values(@FullName, @DisplayName, @Currency, @Unit, @TimeZone, @RegularTradingStartTime, 
			@RegularTradingEndTime, @PreMarketTradingStartTime, @PreMarketTradingEndTime, @LunchTimeStartTime, 
			@LunchTimeEndTime, @PostMarketTradingStartTime, @PostMarketTradingEndTime, @SettlementDays, @DayLightSaving, 
			@AUECID, @Country, @Location)
	end
	else
	Begin
		--Update Data
		Update T_AUECExchange
		Set FullName = @FullName, 
			DisplayName = @DisplayName, 
			Currency = @Currency, 
			Unit = @Unit, 
			TimeZone = @TimeZone, 
			RegularTradingStartTime = @RegularTradingStartTime,
			RegularTradingEndTime = @RegularTradingEndTime, 
			PreMarketTradingStartTime = @PreMarketTradingStartTime, 
			PreMarketTradingEndTime = @PreMarketTradingEndTime, 
			LunchTimeStartTime = @LunchTimeStartTime, 
			LunchTimeEndTime = @LunchTimeEndTime, 
			PostMarketTradingStartTime = @PostMarketTradingStartTime, 
			PostMarketTradingEndTime = @PostMarketTradingEndTime, 
			SettlementDays = @SettlementDays, 
			DayLightSaving = @DayLightSaving,
			Country = @Country, 
			Location = @Location
		Where AUECID = @auecID
	end
	