ALTER PROCEDURE dbo.P_InsertAUEC
(
	@assetID int,
	@underlyingID int,
	@exchangeID int,
--	@currencyID int,
	@result int 
)
AS
	declare @total int
	set @total = 0
	
	Select @total = Count(*)
	From T_AUEC
	Where AssetID = @assetID
		And UnderLyingID = @underlyingID
		And ExchangeID = @exchangeID
	
	
	
	if(@total = 0)
	Begin	
		Insert Into T_AUEC(AssetID, UnderLyingID, ExchangeID
		--, CurrencyID
		)
		Values(@assetID, 
		@underLyingID, 
		@exchangeID
		--,
		-- @currencyID
		 ) 	

		Set @result = scope_identity()
		
		--Enter default data
		--Enter Exchange Details.
		Insert Into T_AUECExchange(FullName, DisplayName, Currency, Unit, TimeZone, 
				RegularTradingStartTime, RegularTradingEndTime, PreMarketTradingStartTime, 
                PreMarketTradingEndTime, LunchTimeStartTime, LunchTimeEndTime, 
                PostMarketTradingStartTime, PostMarketTradingEndTime, SettlementDays, DayLightSaving, AUECID)
        (
		 SELECT     FullName, DisplayName, Currency, Unit, TimeZone, RegularTradingStartTime, RegularTradingEndTime, PreMarketTradingStartTime, 
                      PreMarketTradingEndTime, LunchTimeStartTime, LunchTimeEndTime, PostMarketTradingStartTime, PostMarketTradingEndTime, SettlementDays, 
                      DayLightSaving, @result
		 FROM         T_Exchange
		 Where  ExchangeID = @exchangeID
		 )
		
		-- Enter Market Fees
		Insert into T_AUECMarketFee(AUECID, PurchaseSecFees, SaleSecFees, PurchaseStamp, 
									SaleStamp, PurchaseLevy, SaleLevy)
			VALUES (@result, 0, 0, 0, 0, 0, 0)
			
		-- Enter 
		Insert into T_AUECCompliance(CurrencyConvention, Multiplier, IsShortSaleAllowed, IsShortSaleConfirmation, ProvideFundNameWithTrade, 
                      ProvideIdentifierNameWithTrade, IdentifierID, IsBuySideAllowed, IsSellSideAllowed, IsShortAllowed, IsBuyToCoverAllowed, IsBuyToOpenAllowed, 
                      IsBuyToCloseAllowed, IsSellToOpenAllowed, IsSellToCloseAllowed, auecID)
		        Values(1, 0, 0, 0, 0, 0, '0', 0, 0, 0, 0, 0, 0, 0, 0, @result)
	End
	else
	begin
		set @result = -1;  --Already exist
	end

Select @result