if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_IsAdmin]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_IsAdmin]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_IsAdmin
(
		@userID int		
)
AS
Declare @totalPermisions int
Declare @userPermisions int

Set @totalPermisions = 0
Set @userPermisions = 0

Select @totalPermisions = Count(1)
FROM T_Permission 

SELECT  @userPermisions = COUNT(1) 
FROM         T_User INNER JOIN
                      T_UserPermission ON T_User.UserID = T_UserPermission.UserID INNER JOIN
                      T_Permission ON T_UserPermission.PermissionID = T_Permission.PermissionID
WHERE     (T_User.UserID = @userID)


if(@userPermisions = @totalPermisions)
Begin
	Select 1
End
else
Begin
	Select 0
End
	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

