if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyUserAsset]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyUserAsset]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyUserAsset
	(
		@companyUserID int,
		@assetID int
	)
AS
	Insert T_CompanyUserAsset(AssetID, CompanyUserID)
	values(@assetID, @companyUserID)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

