if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveTradingAccount]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveTradingAccount]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveTradingAccount
(
		@tradingAccountsID int,
		@tradingAccountName varchar(50),
		@tradingShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_TradingAccounts
Where TradingAccountsID = @tradingAccountsID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_TradingAccounts 
	Set TradingAccountName = @tradingAccountName, 
		TradingShortName = @tradingShortName,
		CompanyID = @companyID
		
	Where TradingAccountsID = @tradingAccountsID
	
	Set @result = @tradingAccountsID
end
else
--Insert SymbolMapping
begin
	INSERT T_TradingAccounts(TradingAccountName, TradingShortName, CompanyID)
	Values(@tradingAccountName, @tradingShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

