if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyStrategy]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyStrategy]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyStrategy
(
		@companyStrategyID int,
		@strategyName varchar(50),
		@strategyShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CompanyStrategy
Where CompanyStrategyID = @companyStrategyID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_CompanyStrategy 
	Set StrategyName = @strategyName, 
		StrategyShortName = @strategyShortName,
		CompanyID = @companyID
		
	Where CompanyStrategyID = @companyStrategyID
	
	Set @result = @companyStrategyID
end
else
--Insert SymbolMapping
begin
	INSERT T_CompanyStrategy(StrategyName, StrategyShortName, CompanyID)
	Values(@strategyName, @strategyShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

