ALTER PROCEDURE dbo.P_SaveUserDetail
(
		@F_name varchar(50),
		@L_name varchar(50),
		@S_name varchar(50),
		@Title varchar(50),
		@E_mail varchar(50),
		@mailingadd varchar(50),
		@Tele_work varchar(50),
		@Tele_home varchar(50),
		@Tele_mobile varchar(50),
		@Tele_pager varchar(50),
		@login varchar(20),
		@password varchar(20),
		@address1 varchar(50),
		@address2 varchar(50),
		@fax varchar(50),
		@userID int,
		@result int 
	)
AS 

if(@userID > 0)
begin	
	Update T_User 
	Set FirstName = @F_name, 
		LastName = @L_name, 
		ShortName = @S_name, 
		Title = @Title, 
		Email = @E_mail, 
		MailingAddress = @mailingadd, 
		TelphoneWork = @Tele_work, 
		TelphoneHome = @Tele_home,
		TelphoneMobile = @Tele_mobile, 
		TelPhonePager = @Tele_pager, 
		Login = @login, 
--		Password = @password,
		Address1 = @address1, 
		Address2 = @address2, 
		Fax = @fax		
	Where userID = @userID
		and userID <> 37	
	
	Set @result = @userID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_User 
	Where Login = @login
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
		INSERT T_User (FirstName, LastName, ShortName, Title, Email, MailingAddress, TelphoneWork, TelphoneHome,
               TelphoneMobile, TelphonePager, Login, Password, Address1, Address2, Fax)
		Values(@F_name, @L_name, @S_name, @Title, @E_mail, @mailingadd,	@Tele_work,	@Tele_home,	@Tele_mobile,
			@Tele_pager, @login, @password,	@address1, @address2, @fax)  
			
		Set @result = scope_identity()
	end
end
select @result