ALTER PROCEDURE dbo.P_SaveVenue
(
		@venueID int,
		@venueName varchar(50),
		@venueTypeID int,
		@route varchar(50),
		@result	int
)
AS 

if(@venueID > 0)
begin	
	Update T_Venue 
	Set VenueName = @venueName, 
		VenueTypeID = @venueTypeID, 
		Route = @route

	Where VenueID = @venueID
			
	
	Set @result = @venueID
end
else
begin
	declare @total int 
	set @total = 0
	select @total = count(*)
	from T_Venue 
	Where VenueID = @venueID	
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_Venue(VenueName, VenueTypeID, Route)
	Values(@venueName, @venueTypeID, @route)
        
        Set @result = scope_identity()
	end
end
select @result