ALTER PROCEDURE dbo.P_SaveExecutionInstruction
(
		@executionInstructionsID int,	
		@executionInstructions varchar(50),
		@result	int
)
AS 

if(@executionInstructionsID > 0)
begin	
	Update T_ExecutionInstructions
	Set ExecutionInstructions = @executionInstructions
		

	Where ExecutionInstructionsID = @executionInstructionsID
			
	
	Set @result = @executionInstructionsID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_ExecutionInstructions 
	Where ExecutionInstructionsID = @executionInstructionsID
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_ExecutionInstructions(ExecutionInstructions)
	Values(@executionInstructions)
        
        Set @result = scope_identity()
	end
end
select @result