if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveHandlingInstruction]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveHandlingInstruction]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveHandlingInstruction
(
		@handlingInstructionsID int,	
		@handlingInstructions varchar(50),
		@result	int
)
AS 

if(@handlingInstructionsID > 0)
begin	
	Update T_HandlingInstructions
	Set HandlingInstructions = @handlingInstructions
		

	Where HandlingInstructionsID = @handlingInstructionsID
			
	
	Set @result = @handlingInstructionsID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_HandlingInstructions 
	Where HandlingInstructionsID = @handlingInstructionsID
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_HandlingInstructions(HandlingInstructions)
	Values(@handlingInstructions)
        
        Set @result = scope_identity()
	end
end
select @result
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

