if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveTradingAccountsForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveTradingAccountsForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveTradingAccountsForUser
	(
		@tradingAccountID int,
		@userID int
	)
AS

	Insert T_CompanyUserTradingAccounts(TradingAccountID, CompanyUserID)
	Values(@tradingAccountID, @userID)
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

