if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyFund
(
		@companyFundID int,
		@fundName varchar(50),
		@fundShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CompanyFunds
Where CompanyFundID = @companyFundID

if(@total > 0)
begin	
	--Update CompanyFunds
	Update T_CompanyFunds 
	Set FundName = @fundName, 
		FundShortName = @fundShortName,
		CompanyID = @companyID
		
	Where CompanyFundID = @companyFundID
	
	Set @result = @companyFundID
end
else
--Insert CompanyFunds
begin
	INSERT T_CompanyFunds(FundName, FundShortName, CompanyID)
	Values(@fundName, @fundShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

