ALTER PROCEDURE dbo.P_SaveCompanyCounterParties
	(
		@companyID int,
		@counterPartyID int
	)
AS

	Insert T_CompanyCounterParties(companyID, CounterPartyID)
	Values(@companyID, @counterPartyID)
	
	