ALTER PROCEDURE dbo.P_SaveOrderType
(
		@orderTypesID int,	
		@orderTypes varchar(50),
		@result	int
)
AS 

if(@orderTypesID > 0)
begin	
	Update T_OrderType
	Set OrderTypes = @orderTypes
		

	Where OrderTypesID = @orderTypesID
			
	
	Set @result = @orderTypesID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_OrderType 
	Where OrderTypesID = @orderTypesID
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_OrderType(OrderTypes)
	Values(@orderTypes)
        
        Set @result = scope_identity()
	end
end
select @result