if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyCounterPartyVenues]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyCounterPartyVenues
	(
		@companyID int,
		@counterPartyVenueID int
	)
AS

	Insert T_CompanyCounterPartyVenues(companyID, CounterPartyVenueID)
	Values(@companyID, @counterPartyVenueID)
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

