if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyUserUnderLying]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyUserUnderLying]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyUserUnderLying
	(
		@companyUserID int,
		@underlyingID int
	)
AS
	Insert T_CompanyUserUnderLyings(UnderLyingID, CompanyUserID)
	values(@underlyingID, @companyUserID)
	
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

