if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyCounterPartyUserLevelTagDetail]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyCounterPartyUserLevelTagDetail]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyCounterPartyUserLevelTagDetail
(
		@companyCounterPartyID int,
		@companyCounterPartyVenueID int,
		@userID int,
		@onBehalfOfSubID varchar(50),
		@CMTAGiveUp varchar(50),
		@companyCounterPartyVenueTagID int
		
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0
Declare @companyCounterPartyVenueDetailsID int
Set @companyCounterPartyVenueDetailsID = 0

Select @total = Count(*)
From T_CompanyCounterPartyVenueDetails
Where CompanyCounterPartyVenueDetailsID = @companyCounterPartyVenueDetailsID

if(@total > 0)
begin	
	--Update FundLevelTagDetail
	Update T_CompanyCounterPartyVenueDetails 
	Set CompanyCounterPartyID = @companyCounterPartyID, 
		CompanyCounterPartyVenueID = @companyCounterPartyVenueID,
		UserID = @userID,
		OnBehalfOfSubID = @onBehalfOfSubID,
		CMTAGiveUp = @CMTAGiveUp,
		CompanyCounterPartyVenueTagID = @companyCounterPartyVenueTagID
		
	Where CompanyCounterPartyVenueDetailsID = @companyCounterPartyVenueDetailsID
	
	Set @result = @companyCounterPartyVenueDetailsID
end
else
--Insert FundLevelTagDetail
begin
	INSERT T_CompanyCounterPartyVenueDetails(CompanyCounterPartyID, CompanyCounterPartyVenueID, 
				UserID, OnBehalfOfSubID, CMTAGiveUp, CompanyCounterPartyVenueTagID)
	Values(@companyCounterPartyID, @companyCounterPartyVenueID, @userID, @onBehalfOfSubID, @CMTAGiveUp,
				 @companyCounterPartyVenueTagID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

