if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyModulesForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyModulesForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyModulesForUser
	(
		@companyUserID int,
		@moduleID int
		
	)
AS

	Insert T_CompanyUserModule(ModuleID, CompanyUserID)
	Values(@moduleID, @companyUserID)
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

