ALTER PROCEDURE dbo.P_SaveCounterParty
(
		@counterPartyID int,
		@counterPartyFullName varchar(50),
		@shortName varchar(50),
		@address varchar(50),
		@phone varchar(50),
		@fax varchar(50),
		@contactName1 varchar(50),
		@title1 varchar(50),
		@email1 varchar(50),
		@contactName2 varchar(50),
		@title2 varchar(20),
		@email2 varchar(20),
		@acronym varchar(50),
		@baseCurrency int,
		@isElectonicTrading bit,
		@fIXVersionID int,
		@fIXCapabilities int,
		@counterPartyType int,
		@outgoingCompanyID varchar(50),
		@incomingCompanyID varchar(50),
		@comment text,
		@result int 
	)
AS 

if(@counterPartyID > 0)
begin	
	Update T_CounterParty 
	Set FullName = @counterPartyFullName, 
		ShortName = @ShortName, 
		Address = @address, 
		Phone = @phone, 
		Fax = @fax, 
		ContactName1 = @contactName1, 
		Title1 = @title1,
		Email1 = @email1, 
		ContactName2 = @contactName2, 
		Title2 = @title2,
		Email2 = @email2, 
		Acronym = @acronym, 
		BaseCurrency = @baseCurrency,
		IsElectronicTrading = @isElectonicTrading,
		FIXVersionID = @fIXVersionID,
		FIXCapabilities = @fIXCapabilities,
		CounterPartyTypeID = @counterPartyType,
		OutgoingCompanyID = @outgoingCompanyID,
		IncomingCompanyID = @incomingCompanyID,
		Comment = @comment
		
		Where CounterPartyID = @counterPartyID
				
		
		Set @result = @counterPartyID
	end
	else
	begin
		declare @total int
		set @total = 0
		select @total = count(*)
		from T_CounterParty 
		Where CounterPartyID = @counterPartyID	
		
		if(@total > 0)
		begin
			Set @result = -1
		end
		else
		begin
		INSERT T_CounterParty(FullName, ShortName, Address, Phone, Fax, ContactName1, Title1, Email1,
               ContactName2, Title2, Email2, Acronym, BaseCurrency, IsElectronicTrading, FIXVersionID,
               FIXCapabilities, CounterPartyTypeID, OutgoingCompanyID, IncomingCompanyID, Comment)
		Values(@counterPartyFullName, @shortName, @address, @phone, @fax, @contactName1, @title1, @email1,
               @contactName2, @title2, @email2, @acronym, @baseCurrency, @isElectonicTrading, @fIXVersionID,
               @fIXCapabilities, @counterPartyType, @outgoingCompanyID, @incomingCompanyID, @comment)  
			
		Set @result = scope_identity()
	end
end
select @result