if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyVenues]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyVenues]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

--This will basically save CounterPartyVenue for a company
CREATE PROCEDURE dbo.P_SaveCompanyVenues
	(
		@companyID int,
		@counterPartyID int,
		@venueID int
	)
AS
	Declare @CounterPartyVenueID int
	Set @CounterPartyVenueID = 0
	
	-- This is done to look for the registered or existing venue for the equivalent counterparty.
	Select @CounterPartyVenueID = CounterPartyVenueID
	FROM T_CounterPartyVenue
	Where CounterPartyID = @counterPartyID
		AND VenueID = @venueID
	
	if(@CounterPartyVenueID > 0)
	Begin
		Insert T_CompanyCounterPartyVenues(companyID, CounterPartyVenueID)
		Values(@companyID, @CounterPartyVenueID)
	end
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

