ALTER PROCEDURE dbo.P_SaveSide
(
		@sideID int,
		@side varchar(50),
		@result	int
)
AS 

if(@sideID > 0)
begin	
	Update T_Side 
	Set Side = @side
		

	Where SideID = @sideID
			
	
	Set @result = @sideID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_Side 
	Where SideID = @sideID	
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_Side(Side)
	Values(@side)
        
        Set @result = scope_identity()
	end
end
select @result