if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveStrategy]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveStrategy]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveStrategy
(
		@strategyID int,
		@strategyName varchar(50),
		@strategyShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_Strategy
Where StrategyID = @strategyID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_Strategy 
	Set StrategyName = @strategyName, 
		StrategyShortName = @strategyShortName,
		CompanyID = @companyID
		
	Where StrategyID = @strategyID
	
	Set @result = @strategyID
end
else
--Insert SymbolMapping
begin
	INSERT T_Strategy(StrategyName, StrategyShortName, CompanyID)
	Values(@strategyName, @strategyShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

