if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveFund]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveFund]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveFund
(
		@fundID int,
		@fundName varchar(50),
		@fundShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_Funds
Where FundID = @fundID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_Funds 
	Set FundName = @fundName, 
		FundShortName = @fundShortName,
		CompanyID = @companyID
		
	Where FundID = @fundID
	
	Set @result = @fundID
end
else
--Insert SymbolMapping
begin
	INSERT T_Funds(FundName, FundShortName, CompanyID)
	Values(@fundName, @fundShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

