if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveSymbolMapping]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveSymbolMapping]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveSymbolMapping
(
		@mappedSymbolID int,
		@aUECID int,
		@symbolID int,
		@mappedSymbol varchar(50),
		@counterPartyVenueID int		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_SymbolMapping 
Where MappedSymbolID = @mappedSymbolID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_SymbolMapping 
	Set AUECID = @aUECID, 
		SymbolID = @symbolID, 
		MappedSymbol = @mappedSymbol,
		CounterPartyVenueID = @counterPartyVenueID
		
	Where MappedSymbolID = @mappedSymbolID
	
	Set @result = @mappedSymbolID
end
else
--Insert SymbolMapping
begin
	INSERT T_SymbolMapping(AUECID, SymbolID, MappedSymbol, CounterPartyVenueID)
	Values(@aUECID, @symbolID, @mappedSymbol, @counterPartyVenueID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

