ALTER PROCEDURE dbo.P_SaveTimeInForce
(
		@timeInForceID int,	
		@timeInForce varchar(50),
		@result	int
)
AS 

if(@timeInForceID > 0)
begin	
	Update T_TimeInForce
	Set TimeInForce = @timeInForce
		

	Where TimeInForceID = @timeInForceID
			
	
	Set @result = @timeInForceID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_TimeInForce 
	Where TimeInForceID = @timeInForceID
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
	INSERT T_TimeInForce(TimeInForce)
	Values(@timeInForce)
        
        Set @result = scope_identity()
	end
end
select @result