if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCounterPartyVenuesForUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCounterPartyVenuesForUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCounterPartyVenuesForUser
	(
		@counterPartyVenueID int,
		@userID int
	)
AS

	Insert T_CompanyUserCounterPartyVenues(CounterPartyVenueID, CompanyUserID)
	Values(@counterPartyVenueID, @userID)
	
	
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

