if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyClearingFirmPrimeBroker]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyClearingFirmPrimeBroker]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyClearingFirmPrimeBroker
(
		@companyClearingFirmsPrimeBrokersID int,
		@clearingFirmsPrimeBrokersName varchar(50),
		@clearingFirmsPrimeBrokersShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CompanyClearingFirmsPrimeBrokers
Where CompanyClearingFirmsPrimeBrokersID = @companyClearingFirmsPrimeBrokersID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_CompanyClearingFirmsPrimeBrokers 
	Set ClearingFirmsPrimeBrokersName = @clearingFirmsPrimeBrokersName, 
		ClearingFirmsPrimeBrokersShortName = @clearingFirmsPrimeBrokersShortName,
		CompanyID = @companyID
		
	Where CompanyClearingFirmsPrimeBrokersID = @companyClearingFirmsPrimeBrokersID
	
	Set @result = @companyClearingFirmsPrimeBrokersID
end
else
--Insert SymbolMapping
begin
	INSERT T_CompanyClearingFirmsPrimeBrokers(ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID)
	Values(@clearingFirmsPrimeBrokersName, @clearingFirmsPrimeBrokersShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

