if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyUser]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyUser]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyUser
(
		@userID varchar(50),
		@lastName varchar(50),
		@firstName varchar(50),
		@shortName varchar(50),
		@title varchar(50),
		@mailingAddress varchar(50),
		@eMail varchar(50),
		@telphoneWork varchar(50),
		@telphoneHome varchar(50),
		@telphoneMobile varchar(50),
		@fax varchar(50),
		@login varchar(50),
		@password varchar(50),
		@isActive int,
		@telphonePager varchar(50),
		@address1 varchar(50),
		@address2 varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CompanyUser
Where UserID = @userID

if(@total > 0)
begin	
	--Update CompanyUser
	Update T_CompanyUser 
	Set LastName = @lastName, 
		FirstName = @firstName,
		ShortName = @shortName,
		Title = @title,
		MailingAddress = @mailingAddress,
		EMail = @eMail,
		TelphoneWork = @telphoneWork,
		TelphoneHome = @telphoneHome,
		TelphoneMobile = @telphoneMobile,
		Fax = @fax,
		Login = @login,
		Password = @password,
		IsActive = @isActive,
		TelphonePager = @telphonePager,
		Address1 = @address1,
		Address2 = @address2,
		CompanyID = @companyID
		
	Where UserID = @userID 
	
	Set @result = @userID
end
else
--Insert CompanyUser
begin
	INSERT T_CompanyUser(LastName, FirstName, ShortName, Title, MailingAddress, EMail, TelphoneWork, TelphoneHome,
							TelphoneMobile, Fax, Login, Password, IsActive, TelphonePager, Address1, Address2,
							CompanyID)
	Values(@lastName, @firstName, @shortName, @title, @mailingAddress, @eMail, @telphoneWork, @telphoneHome,
			@telphoneMobile, @fax, @login, @password, @isActive, @telphonePager, @address1, @address2, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

