ALTER PROCEDURE dbo.P_SaveAsset
(
		@AssetID int,		
		@assetName varchar(50),
		@comment text
		
	)
AS 

if(@AssetID > 0)
begin	
	Update T_Asset 
	Set Assetname = @assetName,
		Comment = @comment		
	Where AssetID = @AssetID	
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_Asset 
	Where Assetname = @assetName
	
	if(@total > 0)
	begin
		
		Set @AssetID = -1
	end
	else
	begin
		INSERT T_Asset (Assetname, Comment)
		Values(@AssetName, @comment)  
			
		Set @AssetID = scope_identity()
	end
end
select @AssetID