ALTER PROCEDURE dbo.P_SaveUnderlying
(
		@UnderlyingID int,		
		@AssetID int,
		@Name varchar(50),
		@comment text
)
AS 

if(@UnderlyingID > 0)
begin	
	Update T_UnderLying 
	Set AssetID = @AssetID,
		UnderLyingName = @Name,
		Comment = @comment		
	Where UnderlyingID = @UnderlyingID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_UnderLying
			Where UnderLyingName = @Name And AssetID = @AssetID
	
	if(@total > 0)
	begin
		Set @UnderlyingID = -1
	end
	else
	begin
		INSERT T_Underlying (UnderLyingName, AssetID, Comment)
		Values(@Name, @AssetID, @comment)  
			
		Set @UnderlyingID = scope_identity()
	end
end
select @UnderlyingID