ALTER PROCEDURE dbo.P_SaveVendorDetail
(
		@V_name varchar(50),
		@F_name varchar(50),
		@L_name varchar(50),
		@S_name varchar(50),
		@Product varchar(50),
		@E_mail varchar(50),
		@Tele_work varchar(50),
		@Tele_home varchar(50),
		@Tele_mobile varchar(50),
		@Tele_pager varchar(50),
		@address1 varchar(50),
		@address2 varchar(50),
		@fax varchar(50),
		@title varchar(50),
		@comment varchar(50),
		@mailingaddress varchar(100),
		@vendorID int,
		@result int 
	)
AS 

if(@vendorID > 0)
begin	
	Update T_Vendor 
	Set VendorName = @V_name, 
		ContactFirstName = @F_name, 
		ContactLastName = @L_name, 
		ShortName = @S_name, 
		[Product] = @Product, 
		Email = @E_mail, 
		TelphoneWork = @Tele_work, 
		TelphoneHome = @Tele_home,
		TelphoneMobile = @Tele_mobile, 
		Pager = @Tele_pager, 
		Address1 = @address1, 
		Address2 = @address2, 
		Fax = @fax, 
		Title = @title, 
		Comment = @comment, 
		MailingAddress = @mailingaddress
	Where VendorID = @vendorID	
	
	Set @result = @vendorID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_Vendor 
	Where VendorName = @V_name
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
		INSERT T_Vendor (VendorName, ContactFirstName, ContactLastName, ShortName, [Product], Email, TelphoneWork, TelphoneHome,
		           TelphoneMobile, Pager, Address1, Address2, Fax, Title, Comment, MailingAddress)
		Values(@V_name,	@F_name, @L_name, @S_name, @Product, @E_mail,@Tele_work,@Tele_home,@Tele_mobile,@Tele_pager,
				@address1,@address2,@fax,@title,@comment,@mailingaddress)  
			
		Set @result = scope_identity()
	end	
end
select @result
