if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyTradingAccount]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyTradingAccount]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyTradingAccount
(
		@companyTradingAccountsID int,
		@tradingAccountName varchar(50),
		@tradingShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CompanyTradingAccounts
Where CompanyTradingAccountsID = @companyTradingAccountsID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_CompanyTradingAccounts 
	Set TradingAccountName = @tradingAccountName, 
		TradingShortName = @tradingShortName,
		CompanyID = @companyID
		
	Where CompanyTradingAccountsID = @companyTradingAccountsID
	
	Set @result = @companyTradingAccountsID
end
else
--Insert SymbolMapping
begin
	INSERT T_CompanyTradingAccounts(TradingAccountName, TradingShortName, CompanyID)
	Values(@tradingAccountName, @tradingShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

