if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveCompanyCounterPartyCompanyLevelTagDetail]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveCompanyCounterPartyCompanyLevelTagDetail]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveCompanyCounterPartyCompanyLevelTagDetail
(
		@companyCounterPartyID int,
		@companyCounterPartyVenueID int,
		@clearingFirmPrimeBrokerID int,
		@deliverToCompanyID varchar(50),
		@deliverToSubID varchar(50),
		@senderCompanyID varchar(50),
		@companyCounterPartyVenueTagID int
		
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0
Declare @companyCounterPartyVenueDetailsID int
Set @companyCounterPartyVenueDetailsID = 0

Select @total = Count(*)
From T_CompanyCounterPartyVenueDetails
Where CompanyCounterPartyVenueDetailsID = @companyCounterPartyVenueDetailsID

if(@total > 0)
begin	
	--Update CompanyLevelTagDetail
	Update T_CompanyCounterPartyVenueDetails 
	Set CompanyCounterPartyID = @companyCounterPartyID, 
		CompanyCounterPartyVenueID = @companyCounterPartyVenueID,
		ClearingFirmPrimeBrokerID = @clearingFirmPrimeBrokerID,
		DeliverToCompanyID = @deliverToCompanyID,
		DeliverToSubID = @deliverToSubID,
		SenderCompanyID = @senderCompanyID,
		CompanyCounterPartyVenueTagID = @companyCounterPartyVenueTagID
		
	Where CompanyCounterPartyVenueDetailsID = @companyCounterPartyVenueDetailsID
	
	Set @result = @companyCounterPartyVenueDetailsID
end
else
--Insert CompanyLevelTagDetail
begin
	INSERT T_CompanyCounterPartyVenueDetails(CompanyCounterPartyID, CompanyCounterPartyVenueID, 
				ClearingFirmPrimeBrokerID, DeliverToCompanyID, DeliverToSubID, SenderCompanyID,
				CompanyCounterPartyVenueTagID)
	Values(@companyCounterPartyID, @companyCounterPartyVenueID, @clearingFirmPrimeBrokerID,
				@deliverToCompanyID, @deliverToSubID, @senderCompanyID, @companyCounterPartyVenueTagID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

