ALTER PROCEDURE dbo.P_SaveCounterPartyVenue
(
		@counterPartyVenueDetailsID int,
		@counterPartyVenueID int,
		@displayName varchar(50),
		@isElectronic int,
		@fixIdentifier varchar(50),
		@auecID varchar(200),
		@symbolConversionID int,
		@sideID int,
		@orderTypesID int,
		@timeInForceID int,
		@handlingInstructionsID int,
		@executionInstructionsID int,
		@advancedOrdersID int,
		@result int 
	)
AS 
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_CounterPartyVenueDetails 
Where CounterPartyVenueID = @counterPartyVenueID

if(@total > 0)
begin	
	--Update CounterPartyVenue
	Update T_CounterPartyVenueDetails 
	Set DisplayName = @displayName, 
		IsElectronic = @isElectronic, 
		FixIdentifier = @fixIdentifier, 
		AUECID = @auecID, 
		SymbolConversionID = @symbolConversionID,
		SideID = @sideID,
		OrderTypesID = @orderTypesID,
		TimeInForceID = @timeInForceID,
		HandlingInstructionsID = @handlingInstructionsID,
		ExecutionInstructionsID = @executionInstructionsID,
		AdvancedOrdersID = @advancedOrdersID
			
	Where CounterPartyVenueID = @counterPartyVenueID 
				
		
	Set @result = @counterPartyVenueDetailsID
end
else
--Insert CounterPartyVenue
begin
		/*
		declare @total int
		set @total = 0
		select @total = count(*)
		from T_CounterPartyVenueDetails 
		Where CounterPartyVenueDetailsID = @counterPartyVenueDetailsID	
		
		if(@total > 0)
			begin
				Set @result = -1
			end
		else
			begin*/
				INSERT T_CounterPartyVenueDetails(CounterPartyVenueID, DisplayName, IsElectronic, FixIdentifier, AUECID,
						SymbolConversionID, SideID, OrderTypesID, TimeInForceID,
						HandlingInstructionsID, ExecutionInstructionsID, AdvancedOrdersID)
				Values(@counterPartyVenueID, @displayName, @isElectronic, @fixIdentifier, @auecID, 
						@symbolConversionID, @sideID, @orderTypesID, @timeInForceID,
						@handlingInstructionsID, @executionInstructionsID, @advancedOrdersID)  
					
				Set @result = scope_identity()
		--	end
end
select @result