if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveThirdPartyDetail]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveThirdPartyDetail]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveThirdPartyDetail
(
		@thirdPartyName varchar(50),
		@description varchar(50),
		@thirdPartyTypeID int,
		@shortName varchar(50),
		@contactPerson varchar(50),
		@address1 varchar(50),
		@address2 varchar(50),
		@cellPhone varchar(50),
		@workTelephone varchar(50),
		@fax varchar(50),
		@email varchar(20),
		@thirdPartyID int,
		@result int 
	)
AS 

if(@thirdPartyID > 0)
begin	
	Update T_ThirdParty 
	Set ThirdPartyName = @thirdPartyName, 
		Description = @description, 
		ThirdPartyTypeID = @thirdPartyTypeID, 
		ShortName = @shortName, 
		ContactPerson = @contactPerson, 
		Address1 = @address1, 
		Address2 = @address2, 
		CellPhone = @cellPhone,
		WorkTelephone = @workTelephone, 
		Fax = @fax, 
		Email = @email
--			
	Where ThirdPartyID = @thirdPartyID
			
	
	Set @result = @thirdPartyID
end
else
begin
	declare @total int
	set @total = 0
	select @total = count(*)
	from T_ThirdParty 
	Where ThirdPartyID = @thirdPartyID
	
	if(@total > 0)
	begin
		Set @result = -1
	end
	else
	begin
		INSERT T_ThirdParty(ThirdPartyName, Description, ThirdPartyTypeID, ShortName, ContactPerson, Address1,
			 Address2, CellPhone, WorkTelephone, Fax, Email)
		Values(@thirdPartyName, @description, @thirdPartyTypeID, @shortName, @contactPerson, @address1,	@address2,
			@cellPhone, @workTelephone, @fax, @email)  
			
		Set @result = scope_identity()
	end
end
select @result
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

