if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_SaveClearingFirmPrimeBroker]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_SaveClearingFirmPrimeBroker]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_SaveClearingFirmPrimeBroker
(
		@clearingFirmsPrimeBrokersID int,
		@clearingFirmsPrimeBrokersName varchar(50),
		@clearingFirmsPrimeBrokersShortName varchar(50),
		@companyID int
		
)
AS 
Declare @result int
Declare @total int 
Set @total = 0

Select @total = Count(*)
From T_ClearingFirmsPrimeBrokers
Where ClearingFirmsPrimeBrokersID = @clearingFirmsPrimeBrokersID

if(@total > 0)
begin	
	--Update SymbolMapping
	Update T_ClearingFirmsPrimeBrokers 
	Set ClearingFirmsPrimeBrokersName = @clearingFirmsPrimeBrokersName, 
		ClearingFirmsPrimeBrokersShortName = @clearingFirmsPrimeBrokersShortName,
		CompanyID = @companyID
		
	Where ClearingFirmsPrimeBrokersID = @clearingFirmsPrimeBrokersID
	
	Set @result = @clearingFirmsPrimeBrokersID
end
else
--Insert SymbolMapping
begin
	INSERT T_ClearingFirmsPrimeBrokers(ClearingFirmsPrimeBrokersName, ClearingFirmsPrimeBrokersShortName, CompanyID)
	Values(@clearingFirmsPrimeBrokersName, @clearingFirmsPrimeBrokersShortName, @companyID)
	
	Set @result = scope_identity()
		--	end
end
select @result


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

