ALTER PROCEDURE dbo.P_SaveCompanyDetail
	(
		@CompanyID				int, 
		@Address1				varchar(100), 
		@Address2				varchar(100), 
		@CompanyTypeID			int,	
		@Compliance				int,		
		@Fax					varchar(50), 
		@Name					varchar(50), 
		@PrimaryContactCell		 varchar(50), 
		@PrimaryContactEMail	 varchar(50), 
		@PrimaryContactFirstName varchar(50), 
		@PrimaryContactLastName	 varchar(50), 
		@PrimaryContactTelephone varchar(50), 
		@PrimaryContactTitle	 varchar(50), 
		
		@SecondaryContactCell		varchar(50), 
		@SecondaryContactEMail		varchar(50), 
		@SecondaryContactFirstName varchar(50), 
		@SecondaryContactLastName  varchar(50), 
		@SecondaryContactTelephone	varchar(50), 
		@SecondaryContactTitle	   varchar(50), 
		
		@TechnologyContactCell		varchar(50), 
		@TechnologyContactEMail		varchar(50), 
		@TechnologyContactFirstName varchar(50), 
		@TechnologyContactLastName	varchar(50), 
		@TechnologyContactTelephone	varchar(50),
		@TechnologyContactTitle		varchar(50), 		
		 
		
		@Telephone				varchar(50)		
	)
AS

if(@CompanyID > 0) 
begin
	--Update
	Update T_Company
	Set Name = @Name, 
		Address1 = @Address1, 
		Address2 = @Address2, 
		CompanyTypeID = @CompanyTypeID, 
		Telephone = @Telephone, 
		Fax = @Fax, 
		PrimaryContactFirstName = @PrimaryContactFirstName, 
		PrimaryContactLastName = @PrimaryContactLastName, 
		PrimaryContactTitle = @PrimaryContactTitle, 
        PrimaryContactEMail = @PrimaryContactEMail, 
        PrimaryContactTelephone = @PrimaryContactTelephone, 
        PrimaryContactCell = @PrimaryContactCell, 
		SecondaryContactFirstName = @SecondaryContactFirstName, 
		SecondaryContactLastName = @SecondaryContactLastName, 
		SecondaryContactTitle = @SecondaryContactTitle, 
		SecondaryContactEMail = @SecondaryContactEMail, 
		SecondaryContactTelephone = @SecondaryContactTelephone, 
		SecondaryContactCell = @SecondaryContactCell, 
		TechnologyContactFirstName = @TechnologyContactFirstName, 
		TechnologyContactLastName = @TechnologyContactLastName, 
		TechnologyContactTitle = @TechnologyContactTitle, 
		TechnologyContactEMail = @TechnologyContactEMail, 
		TechnologyContactTelephone = @TechnologyContactTelephone, 
		TechnologyContactCell = @TechnologyContactCell, 
		Compliance = @Compliance
	Where CompanyID = @CompanyID
end
else
begin
	--Insert
	Insert into T_Company(Name, Address1, Address2, CompanyTypeID, Telephone, Fax, 
					PrimaryContactFirstName, PrimaryContactLastName, PrimaryContactTitle, 
                    PrimaryContactEMail, PrimaryContactTelephone, PrimaryContactCell, 
                    SecondaryContactFirstName, SecondaryContactLastName, SecondaryContactTitle, 
                    SecondaryContactEMail, SecondaryContactTelephone, SecondaryContactCell, 
                    TechnologyContactFirstName, TechnologyContactLastName, TechnologyContactTitle, 
                    TechnologyContactEMail, TechnologyContactTelephone, TechnologyContactCell, 
                    Compliance)
	Values(@Name, @Address1, @Address2, @CompanyTypeID, @Telephone, @Fax, 
					@PrimaryContactFirstName, @PrimaryContactLastName, @PrimaryContactTitle, 
                    @PrimaryContactEMail, @PrimaryContactTelephone, @PrimaryContactCell, 
                    @SecondaryContactFirstName, @SecondaryContactLastName, @SecondaryContactTitle, 
                    @SecondaryContactEMail, @SecondaryContactTelephone, @SecondaryContactCell, 
                    @TechnologyContactFirstName, @TechnologyContactLastName, @TechnologyContactTitle, 
                    @TechnologyContactEMail, @TechnologyContactTelephone, @TechnologyContactCell, 
                    @Compliance)
                    
   Set @CompanyID = scope_identity()
end
	Select @CompanyID
	