if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_UpdateCompanyUserModules]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_UpdateCompanyUserModules]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_UpdateCompanyUserModules
(
	@companyID int
)
AS
	Delete T_CompanyUserModule
	Where ModuleID Not IN (Select ModuleID
								From T_CompanyModule
								Where CompanyID = @companyID
							  )
		AND CompanyUserID IN (Select UserID
								From T_CompanyUser
								Where CompanyID = @companyID)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

