if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_UpdateCompanyUserUnderLyings]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_UpdateCompanyUserUnderLyings]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_UpdateCompanyUserUnderLyings
(
	@companyID int
)
AS
	Delete T_CompanyUserUnderLyings
	Where UnderlyingID Not IN (Select UnderlyingID
								From T_CompanyUnderLying
								Where CompanyID = @companyID
							  )
		AND CompanyUserID IN (Select UserID
								From T_CompanyUser
								Where CompanyID = @companyID)
	

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

