if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[P_UpdateCompanyUserAsset]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[P_UpdateCompanyUserAsset]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE dbo.P_UpdateCompanyUserAsset
(
	@companyID int
)
AS
	Delete T_CompanyUserAsset
	Where AssetID Not IN (Select AssetID
								From T_CompanyAsset
								Where CompanyID = @companyID
							  )
		AND CompanyUserID IN (Select UserID
								From T_CompanyUser
								Where CompanyID = @companyID)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

