ALTER PROCEDURE dbo.P_ValidateLogin
	(
		@login		varchar(20),
		@password	varchar(20)		
	)
AS	
	Declare @Total int
	
	Set @Total = 0;
	
	Select @Total = Count(1)
	From T_User
	Where Login = @login
		And Password = @password
		
	if(@total > 0)
	begin
		Select UserID
		From T_User
		Where Login = @login
			And Password = @password
	end 
	else
	begin
		Select @Total		
	end 
	
	
		
	
