
 /*************************************************                                                
Author : Ankit Misra                                               
Creation Date : 28th May , 2015                                                  
Description : Script for Lower DashBoard PNL part of Daily Report                                  
                                   
Execution Statement:                                               
P_MW_LowerDashBoardPNL_DailyReport @EndDate='2015-04-02 00:00:00:000',@Fund=N'1245,1213,1214,1238,1239,1240,1241,1242,1244,1243,1246',@IncludeHistoricalPNL=1,@PTHFund='1270'                           
*************************************************/                              
ALTER Procedure [dbo].[P_MW_LowerDashBoardPNL_DailyReport]                              
(                              
 @EndDate datetime,                              
 @Fund Varchar(max),              
 @IncludeHistoricalPNL Bit,              
 @PTHFund Varchar(Max),
 @IncludeCash bit                               
)                              
AS                 
                
--Declare @EndDate datetime                                              
--Declare @Fund Varchar(2000)              
--Declare @IncludeHistoricalPNL Bit              
--Declare @PTHFund Varchar(Max)                                                 
--Declare @IncludeCash bit               
--                                                   
--                                              
--Set @EndDate ='8/11/2015'                  
--Set @Fund = '1286,1288,1290,1306'                 
--Set @IncludeHistoricalPNL=1               
--Set @PTHFund = '1307'                   
--Set @IncludeCash =1                   
                             
BEGIN                             
                            
Declare @DefaultAUECID int                              
Set @DefaultAUECID=(select top 1 DefaultAUECID  from T_Company where companyId <> -1)                            
-------------------------------------------------------------------                            
--                            
-------------------------------------------------------------------                            
Declare @T_FundIDs Table                                                                                                                                          
(                                                                                                                                          
 FundId int                                                                                                                                          
)                                                                                                                                          
Insert Into @T_FundIDs Select * From dbo.Split(@Fund, ',')                                                                              
              
---- PTH Funds              
Declare @T_PTHFundIDs Table                                                                                                                                                                        
(                                                                                                                                                                        
 FundId int                                                                                                                                                                        
)                                                                                                                                                                        
Insert Into @T_PTHFundIDs Select * From dbo.Split(@PTHFund, ',')                
                      
Declare @PTHFundCount Int              
Set @PTHFundCount = (Select Count(FundID) from @T_PTHFundIDs)              
                  
If ( @PTHFundCount > 0)              
Begin              
Delete From @T_FundIDs Where FundID In ( Select FUndID From @T_PTHFundIDs)              
End                                                                               
                                                              
-----------------------------------------------------------------------------------------------------------                                        
--REMOVING PTH FUNDS FROM FUND PARAMETER STRING FOR [F_MW_GetLinkedPortfolioACB_DailyReport] FUNCTION                                        
-----------------------------------------------------------------------------------------------------------                                        
DECLARE @FundsExcludingPTHFunds Varchar(max)                                        
SELECT  @FundsExcludingPTHFunds = ISNULL(@FundsExcludingPTHFunds,'')+ CONVERT(varchar(4), FundId)+',' FROM @T_FundIDs                                          
-----------------------------------------------------------------------------------------------------------                                          
        
CREATE TABLE #T_CompanyFunds                                                           
(                                                       
 CompanyFundID int,                                                        
 FundName varchar(50)                                                                        
)                                                
Insert Into #T_CompanyFunds                                                      
Select                                                                                                                       
CompanyFundID,                                                                                
FundName                                                                                
From T_CompanyFunds INNER JOIN @T_FundIDs FundIDs ON T_CompanyFunds.CompanyFundID = FundIDs.FundID                            
                          
----------------------------------------------------------------------------                            
--Adjusting Dates AUECwise PreviousBusinessDay, MonthStartDate,YearStartDate                            
----------------------------------------------------------------------------                            
                            
Declare                                                                               
@PreviousBusinessDay DateTime,                                                                              
@MTDFromdate datetime,                                                                              
@YTDFromdate datetime                            
                            
Set @PreviousBusinessDay =  dbo.AdjustBusinessDays(@EndDate,-1, @DefaultAUECID)                                                                              
Select @MTDFromdate= dbo.F_MW_GetWeekendAdjusted (@EndDate,1,3)                                                             
Select @YTDFromdate= dbo.F_MW_GetWeekendAdjusted (@EndDate,1,7)                                                                        
                                                                        
IF (Datediff(Day,@EndDate,@MTDFromdate)=0 and Datediff(Day,@EndDate,@YTDFromdate)=0)                                                                        
BEGIN                                       
Set @MTDFromdate=dbo.F_MW_GetWeekendAdjusted (dbo.AdjustBusinessDays(@EndDate,-1, @DefaultAUECID),1,3)                                                                        
Set @YTDFromdate=dbo.F_MW_GetWeekendAdjusted (dbo.AdjustBusinessDays(@EndDate,-1, @DefaultAUECID),1,7)                                                                        
END                             
    
----------------------------------------------------------------------------------    
--THIS PART IS HARD CODED BECAUSE TIGERVEDA USES HISTORICAL PNL BEFORE '7/31/2015'    
----------------------------------------------------------------------------------    
Declare @ITDDate Datetime    
Set @ITDDate='08/01/2015'    
                        
-------------------------------------------------------------------                
--Selection of Required Fields From Generic Middleware Table                            
-------------------------------------------------------------------     
SELECT                 
                
UnderlyingSymbol,                
MAX(Asset) AS Asset,                
                
Sum(                
 Case                          
   When DateDiff(Day,@EndDate,Rundate) = 0 AND Asset NOT IN ('FX','FXForward')                          
   Then DeltaExposureBase                                                                              
   Else 0.0                           
 End                
) As DeltaExposureBase,                          
                          
Sum(                
 Case                          
   When DateDiff(Day,@EndDate,Rundate) = 0 and Asset IN('FX','FXForward')                          
   Then (TotalRealizedPNLOnCost + ChangeInUNRealizedPNL + Dividend)                                                                              
   Else 0.0                           
 End                
) As TodaysFXPNL,                      
                           
Sum(                
 Case                                         
   When DateDiff(Day,@EndDate,Rundate) = 0                                                                              
   Then TotalRealizedPNLOnCost + ChangeInUNRealizedPNL + Dividend                                                                              
   Else 0.0                                                     
 End                
) As TodayPNL,                                                                          
                
Sum(Case                                             
   When DateDiff(Day,@ITDDate,Rundate)>= 0                                                                                  
   Then TotalRealizedPNLOnCost + ChangeInUNRealizedPNL + Dividend                                                                        
   Else 0.0                                                                           
 End                
) AS MTDPNL                           
                
Into #PNL                           
From T_MW_GenericPNL PNL                                                                           
Inner Join #T_CompanyFunds ON #T_CompanyFunds.FundName = PNL.Fund                                                                                    
Where                                                                                                     
Datediff (day , @MTDFromdate , Rundate) >= 0 and                                                                                                 
Datediff(day , Rundate , @EndDate) >= 0 AND                             
Open_CloseTag <> 'Accruals' 
AND Asset<> 
	CASE 
		WHEN  @IncludeCash<>1 
		THEN 'Cash'
		ELSE '' 
	END                  
Group By UnderlyingSymbol                 
----------------------------------------------------------------------------------    
--THIS PART IS HARD CODED BECAUSE TIGERVEDA USES HISTORICAL PNL BEFORE '7/31/2015'    
----------------------------------------------------------------------------------    
IF(DATEDIFF(Day,@YTDFromdate,@ITDDate)>0)     
BEGIN    
SET @YTDFromdate= @ITDDate    
END    
IF(DATEDIFF(Day,@MTDFromdate,@ITDDate)>0)     
BEGIN    
SET @MTDFromdate= @ITDDate    
END        
----------------------------------------------------------------------------------    
--Select * from  #PNL                  
                
Alter Table #PNL                
Add Side Varchar(20)                
                
Alter Table #PNL                
Add TodaysLongPNL Float                
                
Alter Table #PNL                
Add TodaysShortPNL Float                
                
Update #PNL                
Set Side =                 
Case                
When DeltaExposureBase>=0                
Then 'Long'                
Else 'Short'                
End                
Where Asset NOT IN ('FX','FXForward')                
                
Update #PNL                
Set TodaysLongPNL = TodayPNL                
Where Side = 'Long'                
                
Update #PNL                
Set TodaysShortPNL = TodayPNL                
Where Side = 'Short'              
                
--Select * from   #PNL                
                    
Select                
Sum(TodaysLongPNL) AS TodaysLongPNLPercent,                    
Sum(TodaysShortPNL) AS TodaysShortPNLPercent,                    
Sum(TodaysFXPNL) AS TodaysFXPNLPercent,                    
Sum(TodayPNL) AS TodayPNLPercent,                    
Sum(MTDPNL) AS MTDPNLPercent               
Into #TotalPNLPercent                    
from  #PNL              
              
              
Alter Table #TotalPNLPercent    
Add YTDPNLPercent Float    
                  
----------------------------------------------------------------------------------------------------------------------------                            
--This Part Includes Historical PNL which is not detailed and only used for calculating YTD PNL of JAN,FEB,MAR,APR of 2015                  
----------------------------------------------------------------------------------------------------------------------------                 
IF(@IncludeHistoricalPNL=1 AND DATEDIFF(Day,'2015/01/01',@EndDate)>=0 AND DATEDIFF(Day,@EndDate,'2015/12/31')>=0)                  
BEGIN                  
    
Declare @MTDPNLPercent Float    
Set @MTDPNLPercent=             
(          
SELECT           
CASE      
WHEN DATEDIFF(Day,@EndDate,'2015/07/31')=0        
THEN (SUM(JulPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/06/30')=0          
THEN (SUM(JunPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/05/31')=0          
THEN (SUM(MayPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/04/30')=0          
THEN (SUM(AprPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/03/31')=0          
THEN (SUM(MarPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/02/28')=0          
THEN (SUM(FebPNLPercent)/100)    
WHEN DATEDIFF(Day,@EndDate,'2015/01/31')=0          
THEN (SUM(JanPNLPercent)/100)    
ELSE 0.0          
END            
FROM T_TigerVedaMonthWiseHistoricalPNL TVPS                  
Inner Join #T_CompanyFunds ON #T_CompanyFunds.FundName = TVPS.Account              
--Where TVPS.Asset<>'Cash'    
)           
          
    
Declare @YTDPNLPercent Float     
Set @YTDPNLPercent=    
(          
SELECT           
CASE      
WHEN DATEDIFF(Day,@EndDate,'2015/07/31')<=0              
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100))+log(1+(SUM(MarPNLPercent)/100))+log(1+(SUM(AprPNLPercent)/100))+log(1+(SUM(MayPNLPercent)/100))+log(1+(SUM(JunPNLPercent)/100))+log(1+(SUM(JulPNLPercent)/100)))    
WHEN DATEDIFF(Day,@EndDate,'2015/06/30')=0          
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100))+log(1+(SUM(MarPNLPercent)/100))+log(1+(SUM(AprPNLPercent)/100))+log(1+(SUM(MayPNLPercent)/100))+log(1+(SUM(JunPNLPercent)/100)))    
WHEN DATEDIFF(Day,@EndDate,'2015/05/31')=0          
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100))+log(1+(SUM(MarPNLPercent)/100))+log(1+(SUM(AprPNLPercent)/100))+log(1+(SUM(MayPNLPercent)/100)))              
WHEN DATEDIFF(Day,@EndDate,'2015/04/30')=0          
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100))+log(1+(SUM(MarPNLPercent)/100))+log(1+(SUM(AprPNLPercent)/100)))              
WHEN DATEDIFF(Day,@EndDate,'2015/03/31')=0          
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100))+log(1+(SUM(MarPNLPercent)/100)))              
WHEN DATEDIFF(Day,@EndDate,'2015/02/28')=0          
THEN (log(1+(SUM(JanPNLPercent)/100))+log(1+(SUM(FebPNLPercent)/100)))              
WHEN DATEDIFF(Day,@EndDate,'2015/01/31')=0          
THEN (log(1+(SUM(JanPNLPercent)/100)))              
ELSE 0.0          
END            
FROM T_TigerVedaMonthWiseHistoricalPNL TVPS                  
Inner Join #T_CompanyFunds ON #T_CompanyFunds.FundName = TVPS.Account              
)          
               
END                  
----------------------------------------------------------------------------------------------------------------------------                
Declare @DailyPortfolioACB Float                            
Set @DailyPortfolioACB = NULLIF(dbo.[F_MW_GetLinkedPortfolioACB_DailyReport](@EndDate,@EndDate,@FundsExcludingPTHFunds),0)    
    
Update #TotalPNLPercent     
SET TodaysLongPNLPercent=ISNULL((TodaysLongPNLPercent/@DailyPortfolioACB),0),                    
TodaysShortPNLPercent=ISNULL((TodaysShortPNLPercent/@DailyPortfolioACB),0),                    
TodaysFXPNLPercent=ISNULL((TodaysFXPNLPercent/@DailyPortfolioACB),0),                    
TodayPNLPercent=ISNULL((TodayPNLPercent/@DailyPortfolioACB),0)    
------------------------------------------------------------------------------------------------------------------------------    
--    
------------------------------------------------------------------------------------------------------------------------------    
IF(Datediff(Day,'2015/07/31',@EndDate)>0)    
BEGIN    
Update #TotalPNLPercent                                                                    
Set                                                                             
YTDPNLPercent = ISNULL(dbo.[F_MW_GetLinkedPerformance_DailyReport](@YTDFromdate,@EndDate,@FundsExcludingPTHFunds,'Portfolio',@YTDPNLPercent),0)    
    
Declare @MonthlyPortfolioACB Float                            
Set @MonthlyPortfolioACB = NULLIF(dbo.[F_MW_GetLinkedPortfolioACB_DailyReport](@MTDFromdate,@EndDate,@FundsExcludingPTHFunds),0)    
Update #TotalPNLPercent                                                                    
Set                                                                             
MTDPNLPercent=ISNULL((MTDPNLPercent/@MonthlyPortfolioACB),0)    
END    
    
ELSE --ONLY HISTORICAL DATA IS TO BE INCLUDED    
    
BEGIN    
Update #TotalPNLPercent                                                                    
Set                                                                             
YTDPNLPercent =ISNULL((EXP(@YTDPNLPercent)-1),0),    
MTDPNLPercent = ISNULL(@MTDPNLPercent,0)    
END    
---------------------------------------------------------------------------------------------------------------------------------                    
Select * from  #TotalPNLPercent                      
                            
Drop Table #T_CompanyFunds,#PNL,#TotalPNLPercent                          
END