

/*************************************************                                                      
Author : Ankit Misra                    
Creation Date : 06 July, 2015                    
Description : Script for Calculation of PTH part of Daily Report                    
                    
1. Rate - this is the rate entered in the TT. It is the borrow rate that comes up for the short position. This field needs to feed through the MW so it can appear in the report.                     
2. Annual Cost - This would be the current market value x borrow rate                     
3 Daily Cost - This would be the current market value x borrow rate / 365                     
              
Modified By: Sandeep Singh
Modified Date: 4 AUG 2015
Desc: http://jira.nirvanasolutions.com:8080/browse/PRANA-10128 
(PTH section instead of using borrow rate, client enters rate in internal comments)

Modified By: Sandeep Singh
Modified Date: 10 AUG 2015
Desc: http://jira.nirvanasolutions.com:8080/browse/PRANA-10317
(Tiger Veda Daily report: Show Counter Party on PTH section instead of PB)

Execution Statement:                    
P_MW_GetPTH_DailyReport '08-04-2015','52'                    
*************************************************/                    
ALTER Procedure [dbo].[P_MW_GetPTH_DailyReport]                    
(                    
 @EndDate datetime, 
 @Fund Varchar(max),                    
 @PTHFund Varchar(Max)                    
)                    
AS              
      
BEGIN               
      
--Declare @Fund Varchar(max)  
 
--Declare @EndDate Datetime                    
--Declare @PTHFund Varchar(max)            
--            
--Set @EndDate  = '08-04-2015' 
--Set @Fund = '1263,1264'            
--Set @PTHFund = '1300,1303,1307'           
                 
Declare @T_FundIDs Table                                                                                                                                  
(                    
 FundId int                    
)                    
                    
Insert Into @T_FundIDs Select * From dbo.Split(@Fund, ',')                                                                      
           
---- PTH Funds          
Declare @T_PTHFundIDs Table                                                                                                                                                                    
(                                                                                                                                                                    
 FundId int                                              
)                                                                                                                                                                    
Insert Into @T_PTHFundIDs Select * From dbo.Split(@PTHFund, ',')            
                  
                                                                     
                                                                      
CREATE TABLE #T_CompanyFunds                                                                                                                                  
(                                                                                                       
 CompanyFundID int,                    
 FundName varchar(50)                    
)                    
                                        
Insert Into #T_CompanyFunds                                              
Select                                                                                                               
CompanyFundID,                                                                        
FundName                                                                        
From T_CompanyFunds 
INNER JOIN @T_FundIDs FundIDs ON T_CompanyFunds.CompanyFundID = FundIDs.FundID 
INNER JOIN @T_PTHFundIDs PTHFundIDs ON PTHFundIDs.FundID = FundIDs.FundID          
          
Select          
MasterFund AS MasterFund,          
Sum(EndingPriceBase * BeginningQuantity * SideMultiplier) AS MasterFundNav          
Into #MasterFundWiseNAV          
From T_MW_GenericPNL     
Where DateDiff(Day,RunDate,@EndDate) = 0 And Open_CloseTag = 'O'         
Group By MasterFund          
          
--Select * from #MasterFundWiseNAV                 
             
Select             
GPNL.TaxlotID,            
--Sub.ShortRebate,            
Case
When ISNUMERIC(InternalComments) = 1
Then Cast(InternalComments As Float)
Else 0
End As ShortRebate, 
GPNL.SecurityName,            
GPNL.Symbol,           
GPNL.BloombergSymbol,            
GPNL.UnderlyingSymbol,    
CASE    
WHEN Asset NOT IN ('FX','FXForward')    
THEN (GPNL.EndingPriceBase * GPNL.BeginningQuantity * GPNL.SideMultiplier)
ELSE 0.0     
END AS DeltaExposureBase,          
GPNL.EndingPriceLocal,            
GPNL.EndingPriceBase,            
(GPNL.EndingPriceBase*GPNL.BeginningQuantity*GPNL.SideMultiplier) AS EndingMarketValueBase,            
----TP.ThirdPartyName AS PrimeBroker, 
GPNL.Broker AS PrimeBroker,         
GPNL.MasterFund  AS MasterFund,        
NULLIF(MFN.MasterFundNAV,0) AS MasterFundNAV,
GPNL.BeginningQuantity * GPNL.SideMultiplier As Amount         
InTo #TempPTHData            
From T_MW_GenericPNL GPNL            
Inner Join #T_CompanyFunds ON #T_CompanyFunds.FundName = GPNL.Fund              
Inner Join V_Taxlots VT On VT.TaxlotID = GPNL.TaxlotID            
----Inner Join T_TradedOrders TRO On TRO.GroupID = VT.GroupID            
----Inner Join T_Order T On T.ParentClOrderID  = TRO.ParentClOrderID            
----Inner Join T_Sub Sub On T.ParentClOrderID  = Sub.ParentClOrderID 
           
----LEFT OUTER JOIN T_CompanyThirdPartyMappingDetails CTPMD On #T_CompanyFunds.CompanyFundID = CTPMD.InternalFundNameID_FK                                                                                                        
----LEFT OUTER JOIN T_CompanyThirdParty CTP On CTPMD.CompanyThirdPartyID_FK = CTP.CompanyThirdPartyID                                                                                                        
----LEFT OUTER JOIN T_ThirdParty TP On CTP.ThirdPartyID = TP.ThirdPartyID        
LEFT OUTER JOIN #MasterFundWiseNAV MFN ON GPNL.MasterFund= MFN.MasterFund            
Where DateDiff(Day,RunDate,@EndDate) = 0 And Open_CloseTag = 'O' And Asset <> 'Cash'            
Order by VT.GroupID         
        
        
--Select * from #TempPTHData          
                   
                    
SELECT                                                 
SecurityName AS SecurityName,                                        
Symbol AS Symbol,                                        
BloombergSymbol AS BloombergSymbol,                                        
UnderlyingSymbol AS UnderlyingSymbol,                    
--0 AS Amount,                    
Amount,
DeltaExposureBase AS ExposureValue,          
(DeltaExposureBase/MasterFundNav) / 100 AS ExposureValuePercent,                                                                    
EndingPriceLocal As LocalPX,                    
EndingPriceBase As BasePX,                                            
ShortRebate/100 AS BorrowRate,   --Dividing By 100 Because Format is 'P' in the rdl                                    
((ShortRebate /100) * EndingMarketValueBase) AS AnnualCost,                    
((ShortRebate /100) * EndingMarketValueBase)/365 AS DailyCost,                    
PrimeBroker AS PB                                          
From #TempPTHData                 
                    
Drop Table #T_CompanyFunds,#TempPTHData,#MasterFundWiseNAV                    
END 