/****** Object:  StoredProcedure [dbo].[P_ImportPerformanceOnBoard]    Script Date: 11/20/2015 11:12:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[P_ImportPerformanceOnBoard]
(
	@FilePath varchar(max)
)
AS
BEGIN
-- Transaction start-----------
BEGIN TRANSACTION [Tran1]
--Start try block statement ---
BEGIN TRY

---- Create a temp table
CREATE TABLE #TempDataTable 
(
	Fund VARCHAR(300) Not Null -- COL A
	,Field VARCHAR(100) Null -- COL B
	,Period VARCHAR(100) Null -- COL C
	,Definition VARCHAR(100) Null -- COL D
	,[Value] VARCHAR(100) Null -- COL E
)

---- insert bulk data in temp table


DECLARE @bulkinsert NVARCHAR(2000)
SET @bulkinsert = N'BULK INSERT #TempDataTable FROM ''' + @filePath + N''' WITH (FIELDTERMINATOR = '','', ROWTERMINATOR = ''\n'')'
EXEC sp_executesql @bulkinsert


------ we are getting spaces left and reght sider, so updating before saving in the database
UPDATE #TempDataTable 
SET 
	Fund = RTRIM(LTRIM(Fund)),
	Field = RTRIM(LTRIM(Field)),
	Period = RTRIM(LTRIM(Period)),
	Definition = RTRIM(LTRIM(Definition)),
	[Value] = RTRIM(LTRIM([Value]))

DELETE from #TempDataTable where Field='Field'

select * from #TempDataTable

SELECT 
Fund as Fund
,CAST([Value] as float) as Performance
--,CAST(Definition AS datetime) as asOfDate
,DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,CAST(' june 2015' AS datetime))+1,0)) as asOfDate
--,DATEADD(d,-1,DATEADD(mm, DATEDIFF(m,0,CAST(Right(Definition, charindex(' ', Definition) - 1) + '-' + Left(Definition, charindex(' ', Definition) - 1) + '-' + '01' AS datetime))+1,0)) as asofDate
,dbo.TRIM(Case 
			when Field LIKE '%Gross%' 
			THEN 'Gross'
			When Field Like '%Net%'
			Then 'Net'
			WHEN Field LIKE '%Index%'
			THEN left(Field, charindex('Index', Field) - 2)
			End
+' '+Period) as DataType
,CASE 
	WHEN Field LIKE '%Index%'
	THEN 1
	ELSE 0
 End as IsBenchMark into #Temp

from #TempDataTable

select * from #Temp
SELECT PB.Performance
		FROM T_MW_PerformanceOnBoard PB
		INNER JOIN #Temp T ON T.Fund=PB.Fund or T.AsofDate=PB.AsOfDate or 
		T.DataType =PB.DataType or PB.IsBenchmark=T.IsBenchmark
IF NOT EXISTS (
		SELECT PB.Performance
		FROM T_MW_PerformanceOnBoard PB
		INNER JOIN #Temp T ON T.Fund=PB.Fund or T.AsofDate=PB.AsOfDate or 
		T.DataType =PB.DataType or PB.IsBenchmark=T.IsBenchmark
		)----------------------------Checking current Symbol is present on not based on Symbol and Date------------
BEGIN
	PRINT 'Insert'
	INSERT INTO T_MW_PerformanceOnBoard (
		Fund
		,AsOfDate
		,DataType
		,Performance
		,IsBenchmark
		)
	SELECT Fund
		,AsOfDate
		,DataType
		,Performance
		,IsBenchmark
	FROM #Temp
select * from T_MW_PerformanceOnBoard

END------------------------Insert symbol,Date and Volatiltiy if not exist ------------------------------------------------
ELSE
BEGIN
Print 'Update'
	UPDATE T_MW_PerformanceOnBoard
	SET Performance = T.Performance
	FROM #Temp T
	INNER JOIN T_MW_PerformanceOnBoard PB ON T.Fund=PB.Fund AND T.AsofDate=PB.AsOfDate and 
		T.DataType =PB.DataType and PB.IsBenchmark=T.IsBenchmark
select * from T_MW_PerformanceOnBoard

END-----------------------Update Volatility if Exist----------------------------------------------------------------------


Drop TABLE #Temp
Drop Table #TempDataTable

--if all records saved successfully then commit 
Commit TRANSACTION [Tran1]
END TRY
BEGIN CATCH
-- roll back all record if anyone query failed
  ROLLBACK TRANSACTION [Tran1]
END CATCH  

End
