<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="LiveFeedProviders" type="System.Configuration.NameValueSectionHandler" />
    <section name="AddOnSymbols" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <dataConfiguration defaultDatabase="PranaConnectionString" />

  <connectionStrings>
    
    <add name="PranaConnectionString" connectionString="Database=MaplerockV2.2;Server=localhost\MSSQLSERVER14;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>


    <!-- Joining with the secmaster table can make it slow. This join would go away as we change back to using from t_PMDataDump

    TODO : We need to pick up BloombergSymbol, Exchange, Proxy Symbol eventually from T_PMDataDump but in older releases
    these columns are not available in T_PMDataDump; so to make it backward compatible - applied the join from sm table.
    In case the underlying symbol's data is not available, then defaulting the values to US Equity, Equity and exchange to NASD (which may not be correct in all circumstances)

    Ideally the sql should be written through SP but there can be requirement to change query in short term so exposing.
    NEED TO BE VERY CAREFUL NOT TO CHANGE THIS WITH PROPER CONSENT.
    https://stackoverflow.com/questions/38216794/how-to-store-multi-line-sql-query-in-app-config-file-in-net
    Had to replace <> by &lt;&gt; 
    
    This query is to pick up the open symbols from db 
      1) Use ProxySymbol in case of equityswap
      2) Pickup EquitySwap as Equities to avoid duplicate rows and pick up symbol's data only 1 time
      3) Extracted exchange from exchange identifier (before -)
      4) If UserProxySymbolUsed is true in OMI, then only use ProxySymbol
    -->
    <add key="SqlQuery"
         value="
            Select distinct CASE WHEN ISNULL(OMI.UserProxySymbolUsed, 0) = 1 THEN sm.ProxySymbol ELSE [dump].Symbol END AS Symbol,
            sm.BloombergSymbol,
            REPLACE([dump].[Asset Class],'EquitySwap','Equity') as Asset, 
            SUBSTRING(auec.ExchangeIdentifier,0, CharIndex('-',auec.ExchangeIdentifier)) as Exchange,
			[dump].[Trade Currency] as Currency
            from dbo.T_PMDataDump [dump] with(nolock) 
            Left Join T_UserOptionModelInput OMI with(nolock)  ON OMI.Symbol = [dump].Symbol 
            Left Join V_SecMasterData sm with(nolock) on sm.TickerSymbol = dump.Symbol
            Left Join T_AUEC auec with(nolock) on sm.AUECID = auec.AUECID
            WHERE [dump].CreatedOn = (SELECT MAX (DD.CreatedOn) FROM T_PMDataDump DD where ISNULL([dump].CreatedOn,0) &lt;&gt; 0) 
      
            union 
      
            Select distinct underlyingDump.[Underlying Symbol] as Symbol, 
            COALESCE(sm.BloombergSymbol, underlyingDump.[Underlying Symbol] + ' US equity') as BloombergSymbol, 
            COALESCE(sm.AssetName, 'Equity') as Asset,
            COALESCE(SUBSTRING(auec.ExchangeIdentifier,0, CharIndex('-',auec.ExchangeIdentifier)),'NASD') as Exchange,
            underlyingDump.[Trade Currency] as Currency
            from dbo.T_PMDataDump underlyingDump with(nolock)
            Left Join T_UserOptionModelInput OMI with(nolock)  ON OMI.Symbol = underlyingDump.[Underlying Symbol] 
            Left Join V_SecMasterData sm with(nolock) on sm.TickerSymbol = underlyingDump.[Underlying Symbol]
            Left Join T_AUEC auec with(nolock) on sm.AUECID = auec.AUECID
             where [Asset Class] = 'EquityOption' and Isnull([Underlying Symbol],'') not in (Select distinct Symbol from T_PMDataDump) 
             and CreatedOn = (SELECT MAX (DD.CreatedOn) FROM T_PMDataDump DD where ISNULL(DD.CreatedOn,0) &lt;&gt; 0)"
    />

    <!--Interval to request and receive response from API server, in milli seconds.-->
    <add key="LivePricesFileReadInterval" value="500000" />
    
    <!--This folder needs to be entered on pricing server to make sure data is fetched correctly-->
    <add key="PricingFolder" value="outgoing" />

    <!--Change to True to use Bloomberg Symbology-->
    <add key="IsBBGSymbology" value="False" />

    <!-- Pricing file ftp details-->
    <add key="FtpName" value="NirvanaFTP" />
    <add key="FtpType" value="FTP" />
    <add key="Host" value="192.168.2.59" />
    <add key="Port" value="21" />
    <add key="UsePassive" value="true" />
    <add key="UseSsl" value="false" />
    <add key="UserName" value="ramesh.verma" />
    <add key="Password" value="1234" />
    <add key="KeyFile" value="" />
    <add key="PassPhrase" value="" />

  </appSettings>

  <!--Don't change these-->
  <LiveFeedProviders>
    <add key="Yahoo" value="YahooAdapter.dll~YahooAdapter.YahooProvider~" />
    <add key="FMP" value="FinancialModelingAdpater.dll~FinancialModelingAdpater.FinancialModelingProvider~" />
    <add key="Activ" value="ActivAdapter.dll~ActivAdapter.ActivProvider~" />
    <add key="IEX" value="IEXAdapter.dll~IEXAdapter.IEXProvider~" />
    <add key="MarketStack" value="MarketStackAdapter.dll~MarketStackAdapter.MarketStackProvider~" />
    <add key="Barchart" value="BarchartAdapter.dll~BarchartAdapter.BarchartProvider~" />
    <add key="Finnhub" value="FinnhubAdapter.dll~FinnhubAdapter.FinnhubProvider~" />
  </LiveFeedProviders>

  
  <!-- Symbol and asset.
  For FX rates asset will be 'FX' and for indices it wil 'Index'
  Add ticker or Bloomberg Symbol based on symbolgy in use for Index.FX Symbols need be in this format -> CAD Curncy.
  -->
  <AddOnSymbols>
    <add key="CAD Curncy" value="FX" />
    <add key="EUR Curncy" value="FX" />
    <add key="JPY Curncy" value="FX" />
    <add key="GBP Curncy" value="FX" />
    <add key="BRL Curncy" value="FX" />
	<add key="TWD Curncy" value="FX" />
	
	
    <add key="CHF Curncy" value="FX" />
    <add key="AUD Curncy" value="FX" />
    <add key="NZD Curncy" value="FX" />
    <add key="SGD Curncy" value="FX" />
    <add key="HKD Curncy" value="FX" />
    <add key="ZAR Curncy" value="FX" />
    <add key="MXN Curncy" value="FX" />
   
   <!-- below symbols will be fetched from yahoo
     -->
    <add key="NOK Curncy" value="FX" />
    <add key="BDT Curncy" value="FX" />
	<add key="THB Curncy" value="FX" />
	<add key="VND Curncy" value="FX" />
	<add key="INR Curncy" value="FX" />
	<add key="IDR Curncy" value="FX" />
	<add key="TWD Curncy" value="FX" />
    

    <!--<add key="$NIFTY" value="Index" />
    <add key="$COMPQ" value="Index" />
    <add key="$VIX" value="Index" />
    <add key="$SPX" value="Index" />
    <add key="$DXY-FTSA" value="Index" />
    <add key="$RUT" value="Index" />
    <add key="$INDU" value="Index" />
    <add key="$TSX-TC" value="Index" />
    <add key="$RUI" value="Index" />
    <add key="$BBR" value="Index" />-->
  </AddOnSymbols>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>

    <services>
      <service name="LiveFeedUtility.MarketDataService">
        <endpoint binding="netTcpBinding" contract="Prana.MarketDataService.Common.IMarketDataService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5555/MarketDataService"/>
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>

</configuration>