body {margin: 0; background-image: url('images/bg-pattern.jpg')} 
.tableBannerbg {background-image: url('images/TSBanner.jpg'); width: 950px; height: 156px;text-align:right; vertical-align:text-bottom;}
.tableTopBorder {background-image: url('images/TopBorder.jpg'); width: 950px; height: 37px}
.tableBottomBorder {background-image: url('images/BottomBorder.jpg'); width: 950px; height: 72px}
.ReportMenuHeader {font-family: times new roman; font-weight: bold; font-size: 36px; vertical-align:text-top}
.ReportMenuItem {font-family: times new roman; font-weight: normal; font-size: 18px; color: black; width:450px}
.footerText {font-family: verdana; font-weight: normal; font-size: 9px; color: white;}
.forgotPWDText {font-family: times new roman; font-weight: normal; font-size: 12px; color: black;}
.SelectAll {font-family: times new roman; font-weight: normal; font-size: 18px; color: black;}
.Label {font-family: times new roman; font-weight: normal; font-size: 14px;}
.UIGroupName {font-family: times new roman; font-weight: normal; font-size: 24px;}
.ReportMenuFiller {height: 10px}
.inputtext{width: 218px;height: 22px;background-color: #fff;color: #000;font-size: 13px;font-weight: normal;font-style: normal;}
.login {margin-top: 80px;}
.contentPlaceHolder{width: 950px; background-color: white;}
.ComboBoxs{Width:162px}

.ui-datepicker {font-family:times new roman; font-size: 12px; margin-left:10px}

a.ReportMenu:link              { color:black; text-decoration:none; }
a.ReportMenu:visited           { color:black; text-decoration:none; }
a.ReportMenu:hover             { color:black; text-decoration:none; }
a.ReportMenu:active            { color:black; text-decoration:none; }

a.footerLink:link              { color:white; text-decoration:none; }
a.footerLink:visited           { color:white; text-decoration:none; }
a.footerLink:hover             { color:white; text-decoration:none; }
a.footerLink:active            { color:white; text-decoration:none; }