/****** Object:  StoredProcedure [dbo].[P_SaveThirdPartyGnuPG]    Script Date: 05/09/2013 14:10:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[P_SaveThirdPartyGnuPG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[P_SaveThirdPartyGnuPG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_SaveThirdPartyGnuPG]
(
	@GnuPGId int,
	@GnuPGName varchar(50),
	@HomeDirectory varchar(255),
	@Command int,
	@UseCmdBatch bit,
	@UseCmdYes bit,
	@UseCmdArmor bit,
	@VerboseLevel int,
	@Recipient varchar(255),
	@Originator varchar(255),
	@PassPhrase varchar(255),
	@PassPhraseDescriptor varchar(255),
	@Timeout int,	
	@Enabled bit
)
AS

Declare @result int

if @GnuPGId > 0
begin
	Update T_ThirdPartyGnuPG
	Set
		HomeDirectory			= @HomeDirectory,
		GnuPGName				= @GnuPGName,
		[Command]				= @Command,
		UseCmdBatch				= @UseCmdBatch,
		UseCmdYes				= @UseCmdYes,
		UseCmdArmor				= @UseCmdArmor,
		VerboseLevel			= @VerboseLevel,
		Recipient				= @Recipient,
		Originator				= @Originator,
		PassPhrase				= @PassPhrase,
		PassPhraseDescriptor	= @PassPhraseDescriptor,
		[Timeout]				= @Timeout,		
		[Enabled] = @Enabled		
	where GnuPGId = @GnuPGId
		
	Set @result = @GnuPGid
end
else
begin
	Insert into T_ThirdPartyGnuPG
	(
		GnuPGName, 
		HomeDirectory,
		UseCmdBatch,
		UseCmdYes,
		UseCmdArmor,
		VerboseLevel,
		Recipient, 
		Originator, 
		PassPhrase,
		PassPhraseDescriptor,
		[Timeout],
		[Command], 
		[Enabled]
	)
	Values
	(
		@GnuPGName,
		@HomeDirectory,
		@UseCmdBatch,
		@UseCmdYes,
		@UseCmdArmor,
		@VerboseLevel,
		@Recipient, 
		@Originator, 
		@PassPhrase,
		@PassPhraseDescriptor,
		@Timeout,
		@Command, 
		@Enabled
	)
	
	Set @result = @@Identity	
end

Select @result
