/****** Object:  StoredProcedure [dbo].[P_DeleteThirdPartyGnuPG]    Script Date: 05/09/2013 14:10:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[P_DeleteThirdPartyGnuPG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[P_DeleteThirdPartyGnuPG]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE Procedure [dbo].[P_DeleteThirdPartyGnuPG]
(
	@GnuPGId int
)

AS
begin

Declare @InUse int

Select @InUse = Count(*) from T_ThirdPartyBatch Where GnuPGId = @GnuPGId

if @InUse = 0
begin
	Delete from T_ThirdPartyGnuPG where GnuPGId = @GnuPGId	
end

select -@InUse
end

