/****** Object:  StoredProcedure [dbo].[P_DeleteThirdPartyFtp]    Script Date: 05/09/2013 14:10:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[P_DeleteThirdPartyFtp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[P_DeleteThirdPartyFtp]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- Author:		<Author,,Matt Carlucci>
-- Create date: <Create Date, 5/1/2013,>
-- Description:	<Description,,Delete Third Party Ftp>
-- =============================================
CREATE Procedure [dbo].[P_DeleteThirdPartyFtp]
(
	@FtpId int
)

AS
begin

Declare @InUse int

Select @InUse = Count(*) from T_ThirdPartyBatch Where FtpId = @FtpId

if @InUse = 0
begin
	Delete from T_ThirdPartyFtp where FtpId = @FtpId	
end

select -@InUse
end
