/****** Object:  StoredProcedure [dbo].[P_SaveThirdPartyFtp]    Script Date: 05/09/2013 14:10:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[P_SaveThirdPartyFtp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[P_SaveThirdPartyFtp]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_SaveThirdPartyFtp]
(
	@FtpId int,
	@FtpName varchar(50),
	@Host varchar(255),
	@Port int,
	@UsePassive bit,
	@Encryption bit,
	@UserName varchar(255),
	@Password varchar(255),
	@FtpType varchar(25),
	@KeyFile varchar(255),
	@PassPhrase varchar(255),
	@FtpFolderPath varchar(255)
)

AS

Declare @result int
if @FtpId > 0
begin
	Update T_ThirdPartyFtp 
	Set 
		Host		  = @Host,
		FtpName		  = @FtpName,
		Port		  = @Port,
		UsePassive	  = @UsePassive,
		Encryption		  = @Encryption,
		UserName	  = @UserName,
		[Password]	  = @Password,
		FtpType		  = @FtpType,
		KeyFile		  = @KeyFile,
		PassPhrase	  = @PassPhrase,	
		ftpFolderPath = @ftpFolderPath	
	where FtpId = @FtpId	
	
	Set @result = @FtpId
end
else
begin
	INSERT INTO T_ThirdPartyFtp 
	(
		Host, 
		FtpName, 
		Port, 
		UsePassive, 
		Encryption, 
		UserName,
		[Password], 
		FtpType,
		KeyFile, 
		PassPhrase,
		ftpFolderPath
	)
	Values
	(
		@Host, 
		@FtpName, 
		@Port, 
		@UsePassive, 
		@Encryption, 
		@UserName, 
		@Password, 
		@FtpType, 
		@KeyFile, 
		@PassPhrase,
		@ftpFolderPath
	)
	Set @result = @@Identity
end

Select @result
