/****** Object:  StoredProcedure [dbo].[P_W_HistoricalEntities]    Script Date: 02/20/2015 23:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Exec [P_W_HistoricalEntities] '02/19/2015','MapleRock'
-- =============================================
CREATE Procedure [dbo].[P_W_HistoricalEntities] 
@ToDate datetime,@RegistrationName varchar(Max) 
As
Begin

Set NOCOUNT On;

Select RegistrationID,ClientID 
Into #Registration 
From T_W_Registration Where RegistrationName = @RegistrationName

Select C.ClientID,C.ClientName,C.ClientAlias Into #RegistrationLevel
From #Registration R 
Join T_W_Clients C On R.ClientID = C.ClientID 

Select C.ClientID,C.ClientName,C.ClientAlias Into #ClientLevel
From #Registration R 
Join T_W_RegistrationClientMapping S On R.RegistrationID = S.RegistrationID 
Join T_W_Clients C On S.ClientID = C.ClientID 

Create Table #RegistrationLevelClientFunds 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),StartDate datetime,CalendarStartMonth int)
Insert Into #RegistrationLevelClientFunds 
(ClientName,ClientAlias,FundName,StartDate,CalendarStartMonth) 
Select C.ClientName,C.ClientAlias,CF.FundName,F.StartDate,F.CalendarStartMonth 
From #RegistrationLevel C 
Join T_W_ClientFundMapping CFM On C.ClientID = CFM.ClientID 
Join T_W_Funds F On CFM.TouchFundID = F.TouchFundID 
Join T_CompanyFunds CF On F.PranaFundID = CF.CompanyFundID 

Create Table #ClientLevelClientFunds 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),StartDate datetime,CalendarStartMonth int)
Insert Into #ClientLevelClientFunds 
(ClientName,ClientAlias,FundName,StartDate,CalendarStartMonth) 
Select C.ClientName,C.ClientAlias,CF.FundName,F.StartDate,F.CalendarStartMonth 
From #ClientLevel C 
Join T_W_ClientFundMapping CFM On C.ClientID = CFM.ClientID 
Join T_W_Funds F On CFM.TouchFundID = F.TouchFundID 
Join T_CompanyFunds CF On F.PranaFundID = CF.CompanyFundID 

Create Table #RegistrationLevelHistoricalDates_1 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),StartDate datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #RegistrationLevelHistoricalDates_1 
(ClientName,ClientAlias,FundName,StartDate,WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,ClientAlias,FundName,StartDate,
DateAdd(d,1-DatePart(dw,@ToDate),@ToDate),
DateAdd(d,1-DatePart(d,@ToDate),@ToDate),
DateAdd(qq,DateDiff(qq,0,@ToDate),0),
Case Len(Cast(CalendarStartMonth As varchar(2))) 
When 1 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + '0' + Cast(CalendarStartMonth As varchar(1)) + '-01' 
When 2 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + Cast(CalendarStartMonth As varchar(2)) + '-01' 
Else DateAdd(yy,DateDiff(yy,0,@ToDate),0) End 
From #RegistrationLevelClientFunds
--Update #RegistrationLevelHistoricalDates_1 Set StartDate = @ToDate 
--Where StartDate Is Null Or DateDiff(d,StartDate,@ToDate) < 0 

Create Table #ClientLevelHistoricalDates_1 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),StartDate datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #ClientLevelHistoricalDates_1 
(ClientName,ClientAlias,FundName,StartDate,WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,ClientAlias,FundName,StartDate,
DateAdd(d,1-DatePart(dw,@ToDate),@ToDate),
DateAdd(d,1-DatePart(d,@ToDate),@ToDate),
DateAdd(qq,DateDiff(qq,0,@ToDate),0),
Case Len(Cast(CalendarStartMonth As varchar(2))) 
When 1 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + '0' + Cast(CalendarStartMonth As varchar(1)) + '-01' 
When 2 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + Cast(CalendarStartMonth As varchar(2)) + '-01' 
Else DateAdd(yy,DateDiff(yy,0,@ToDate),0) End 
From #ClientLevelClientFunds
--Update #ClientLevelHistoricalDates_1 Set StartDate = @ToDate 
--Where StartDate Is Null Or DateDiff(d,StartDate,@ToDate) < 0 

Create Table #RegistrationLevelHistoricalDates
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),ToDate datetime,[Day] datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #RegistrationLevelHistoricalDates
(ClientName,ClientAlias,FundName,ToDate,[Day],WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,ClientAlias,FundName,@ToDate,
Case When DateDiff(d,StartDate,@ToDate) < 0 Or DateDiff(d,StartDate,@ToDate) Is Null Then StartDate Else @ToDate End,
Case When DateDiff(d,StartDate,WTDFromDate) < 0 Or DateDiff(d,StartDate,WTDFromDate) Is Null Then StartDate Else WTDFromDate End,
Case When DateDiff(d,StartDate,MTDFromDate) < 0 Or DateDiff(d,StartDate,MTDFromDate) Is Null Then StartDate Else MTDFromDate End,
Case When DateDiff(d,StartDate,QTDFromDate) < 0 Or DateDiff(d,StartDate,QTDFromDate) Is Null Then StartDate Else QTDFromDate End,
Case When DateDiff(d,StartDate,YTDFromDate) < 0 Or DateDiff(d,StartDate,YTDFromDate) Is Null Then StartDate Else YTDFromDate End 
From #RegistrationLevelHistoricalDates_1

Create Table #ClientLevelHistoricalDates
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),ToDate datetime,[Day] datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #ClientLevelHistoricalDates
(ClientName,ClientAlias,FundName,ToDate,[Day],WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,ClientAlias,FundName,@ToDate,
Case When DateDiff(d,StartDate,@ToDate) < 0 Or DateDiff(d,StartDate,@ToDate) Is Null Then StartDate Else @ToDate End,
Case When DateDiff(d,StartDate,WTDFromDate) < 0 Or DateDiff(d,StartDate,WTDFromDate) Is Null Then StartDate Else WTDFromDate End,
Case When DateDiff(d,StartDate,MTDFromDate) < 0 Or DateDiff(d,StartDate,MTDFromDate) Is Null Then StartDate Else MTDFromDate End,
Case When DateDiff(d,StartDate,QTDFromDate) < 0 Or DateDiff(d,StartDate,QTDFromDate) Is Null Then StartDate Else QTDFromDate End,
Case When DateDiff(d,StartDate,YTDFromDate) < 0 Or DateDiff(d,StartDate,YTDFromDate) Is Null Then StartDate Else YTDFromDate End 
From #ClientLevelHistoricalDates_1 

Create Table #RegistrationLevelToDate 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime)
Insert Into #RegistrationLevelToDate 
(ClientName,ClientAlias,FundName,TimeFrame,FromDate,ToDate)
Select ClientName,ClientAlias,FundName,TimeFrame,FromDate,ToDate From 
(Select ClientName,ClientAlias,FundName,ToDate,[Day] As [Day],WTDFromDate As [WeekToDate],MTDFromDate As [MonthToDate],QTDFromDate As [QuarterToDate],YTDFromDate As [YearToDate] From #RegistrationLevelHistoricalDates) P
UnPivot (FromDate For TimeFrame In ([Day],[WeekToDate],[MonthToDate],[QuarterToDate],[YearToDate])) U

Create Table #ClientLevelToDate 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime)
Insert Into #ClientLevelToDate 
(ClientName,ClientAlias,FundName,TimeFrame,FromDate,ToDate)
Select ClientName,ClientAlias,FundName,TimeFrame,Case When FromDate = '' Then Null Else FromDate End,ToDate From 
(Select ClientName,ClientAlias,FundName,ToDate,IsNull([Day],'') As [Day],IsNull(WTDFromDate,'') As [WeekToDate],IsNull(MTDFromDate,'') As [MonthToDate],IsNull(QTDFromDate,'') As [QuarterToDate],IsNull(YTDFromDate,'') As [YearToDate] From #ClientLevelHistoricalDates) P
UnPivot (FromDate For TimeFrame In ([Day],[WeekToDate],[MonthToDate],[QuarterToDate],[YearToDate])) U 

Create Table #EntityToDate_1 
(GroupBy varchar(Max),Client varchar(Max),Entity varchar(Max),HierarchySpace int,EntityAlias varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime) 
Insert Into #EntityToDate_1 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate) 
Select 'Aggregate',ClientName,ClientName,4,ClientAlias,TimeFrame,Min(FromDate),Max(ToDate) 
From #ClientLevelToDate Group By ClientName,ClientAlias,TimeFrame 
Insert Into #EntityToDate_1 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate) 
Select 'Fund',ClientName,FundName,8,FundName,TimeFrame,FromDate,ToDate 
From #ClientLevelToDate 

Create Table #EntityToDate 
(GroupBy varchar(Max),Client varchar(Max),Entity varchar(Max),HierarchySpace int,EntityAlias varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,Idx int,Visible bit Default(('True'))) 
Insert Into #EntityToDate 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate,Idx) 
Select 'Aggregate',ClientName,ClientName,0,ClientAlias,TimeFrame,Min(FromDate),Max(ToDate),0 
From #RegistrationLevelToDate Group By ClientName,ClientAlias,TimeFrame 
Insert Into #EntityToDate 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate,Idx,Visible) 
Select 'Fund',ClientName,FundName,8,FundName,TimeFrame,FromDate,ToDate,0,'False' 
From #RegistrationLevelToDate  
Insert Into #EntityToDate 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate,Idx) 
Select GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate,Rank() Over (Partition By TimeFrame Order By Client,HierarchySpace,Entity) From #EntityToDate_1

Select GroupBy,Client,Entity,HierarchySpace,EntityAlias,TimeFrame,FromDate,ToDate,Idx,Visible From #EntityToDate Order By TimeFrame,Idx

Drop Table #Registration,#RegistrationLevel,#ClientLevel
Drop Table #RegistrationLevelClientFunds,#ClientLevelClientFunds 
Drop Table #RegistrationLevelHistoricalDates_1,#ClientLevelHistoricalDates_1 
Drop Table #RegistrationLevelHistoricalDates,#ClientLevelHistoricalDates 
Drop Table #RegistrationLevelToDate,#ClientLevelToDate 
Drop Table #EntityToDate_1,#EntityToDate

End