/****** Object:  StoredProcedure [dbo].[P_W_SymbolHistPrice]    Script Date: 07/31/2014 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Name
-- Create date: 
-- exec P_W_SymbolHistPrice 'SN','01/01/2013','09/17/2013'
CREATE PROCEDURE [dbo].[P_W_SymbolHistPrice] 
	-- Add the parameters for the stored procedure here
    @Symbol varchar(100),
    @FromDate smalldatetime,
    @ToDate smalldatetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	create table #t 
	(Date datetime,
	 Price float)

	insert into #t(date, price)

	Select Date,Case When IsNull(SettlementPrice,0) = 0 Then [Close] * SplitRatio Else SettlementPrice * SplitRatio End As Price 
	From [Historical].[Historicals].dbo.DailyBars Where (Symbol = @Symbol) And (Date Between @FromDate And @ToDate)

   if not exists(select * from #t)    
 Begin  
     insert into #t(date, price)    
     select date,FinalMarkPrice from PM_dayMarkPrice Where (Symbol = @Symbol) And (Date Between @FromDate And @ToDate)     
     order by date    
 End  
       
	select Date,Price from #t
	
	Drop Table #t
END

