<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Historical.Pricing.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Historical.Pricing.Properties.Settings.HistoricalsConnectionString"
            connectionString="Data Source=_MJCW7_;Initial Catalog=Historicals;User ID=sa;Password=NIRvana123"
            providerName="System.Data.SqlClient" />
        <add name="Historical.Pricing.Library.Properties.Settings.HistoricalsConnectionString"
            connectionString="Data Source=dev.nirvanasolutions.com;Initial Catalog=Historicals;User ID=sa;Password=NIRvana2@@6"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Historical.Pricing.Library.Properties.Settings>
            <setting name="ConnectTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkTimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </Historical.Pricing.Library.Properties.Settings>
    </applicationSettings>
</configuration>
