<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="FolderName" value="\Logging Data"/>
		<add key="TextFileName" value="\ComplianceLoggingData"/>
		<add key="NoOfDays" value="10"/>
		
		<!-- time in seconds-->
		<add key="QueueReadTimer" value="300"/>
		<add key="QueuePath" value=".\Private$\"/>

		<!--comma seprated QueueNames-->
		<add key="QueueName" value="ComplianceLoggingQueue"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
