<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="AllocationService_Logs\AllocationService_SocketConnection.log" formatter="Text Formatter" name="SocketConnection" header="-------------------------------------" footer="-----------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_AllLog.log" formatter="Text Formatter" name="FlatFileDestination" header="-------------------------------------" footer="-----------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_Error.log" formatter="Text Formatter" name="RollingFileErrorListener" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_Warnings.log" formatter="Basic Messages" name="RollingWarningsTraceListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_Informations.log" formatter="Basic Messages" name="RollingInformationsTraceListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_Verbose.log" formatter="Text Formatter" name="RollingFileVerboseListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_ConfigBasedLogging.log" formatter="Text Formatter" name="RollingFileConfigListener" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="AllocationService_Logs\AllocationService_PranaLog.log" header="-------------------------------------" footer="-----------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Flat File Destination" />
      <add fileName="AllocationService_Logs\AllocationService_Log.log" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingFile ExceptionListener" />
      <add fileName="AllocationService_Logs\AllocationService_Trace.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingFile TraceListener" />
      <add fileName="AllocationService_Logs\AllocationService_InformationReporter.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" header="" footer="" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="2048" formatter="Information_Reporter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingInformationReporterTraceListener" />
    </listeners>
    <formatters>
      <add name="Default Formatter" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add name="Text Formatter" template="{message} {timestamp}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add template="Timestamp: {timestamp} {message}&#xD;&#xA;		" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Line Formatter" />
      <add template="{timestamp} : {title}{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Basic Messages" />
      <add template="{title}{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Information_Reporter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category" />
      <add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Default Category">
        <listeners>
          <add name="RollingFile ExceptionListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="RollingFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Tracing">
        <listeners>
          <add name="RollingFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_AllLog">
        <listeners>
          <add name="FlatFileDestination" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Error">
        <listeners>
          <add name="RollingFileErrorListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Warning">
        <listeners>
          <add name="RollingWarningsTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Information">
        <listeners>
          <add name="RollingInformationsTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_ActivityTracingAndDebuging">
        <listeners>
          <add name="RollingFileVerboseListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_ConfigBasedLogging">
        <listeners>
          <add name="RollingFileConfigListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Information_Reporter">
        <listeners>
          <add name="RollingInformationReporterTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_SocketConnection">
        <listeners>
          <add name="SocketConnection" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="RollingFileErrorListener" />
          <add name="RollingFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="LogAndSocketPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_SocketConnection" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndShowPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Prana.LogManager.EnterpriseLibrary.MessageReportingExceptionHandler, Prana.LogManager.EnterpriseLibrary" name="Custom Handler" />
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndThrowPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ShowOnlyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Prana.LogManager.EnterpriseLibrary.MessageReportingExceptionHandler, Prana.LogManager.EnterpriseLibrary" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogOnlyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <castle>
    <components>
      <component id="AllocationService" service="Prana.CoreService.Interfaces.IPranaServiceCommon,Prana.CoreService.Interfaces" type="Prana.AllocationService.AllocationService, Prana.AllocationService" />
      <!--<component id="LogManager" service="Prana.LogManager.ILog,Prana.LogManager" type="Prana.LogManager.EnterpriseLibrary.EnterpriseLibraryLogging, Prana.LogManager.EnterpriseLibrary" />-->
      <component id="LogManager" service="Prana.LogManager.ILog,Prana.LogManager" type="Prana.LogManager.SerilogLibrary.SerilogLibraryLogging, Prana.LogManager.SerilogLibrary" />
      <component id="DatabaseManager" service="Prana.DatabaseManager.IDatabaseManager,Prana.DatabaseManager" type="Prana.DatabaseManager.EnterpriseLibrary.DatabaseManager,Prana.DatabaseManager.EnterpriseLibrary" />
    </components>
  </castle>
  <appSettings>
    <!-- Socket HeartBeat-->
    <add key="ServerHeartBeat" value="60" />
    <add key="ServerDisconnectInterval" value="180" />
    <!-- WCF HeartBeat-->
    <add key="HeartBeatInterval" value="5000" />
    <add key="DisconnectionInterval" value="16000" />
    <add key="IsLoggingEnabled" value="true" />
    <add key="ServiceDescription" value="Prana Allocation Green Field Service." />
    <add key="OrderRequestPort" value="5003" />
    <add key="KafkaConfigPath" value="D:\\ThirdPartySoftwares\\Kafka\\config\\config_clientname.xml" />
    
    <!--*******SERILOG CONFIGURATIONS********-->
    <!-- Console Sink -->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u3}] {Message:lj} [User:{UserId}, CorrelationId:{CorrelationId})]{NewLine}{Exception}{NewLine}" />
    <!-- **TO ADD SEQ, USE THIS**
		<add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
		<add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
		 -->
    <!-- Rolling File -->
    <add key="serilog:using:File" value="Serilog.Sinks.File" /> 
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="5242880" />
    <!--5 MB SIZE-->
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u3}] {Message:lj} [User:{UserId}, CorrelationId:{CorrelationId}, Source:{CustomSource})]{NewLine}{Exception}{NewLine}" />
    <!-- Minimum Level, Can be Verbose, Information, Warning-->
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:enrich:with-property:AppName" value="AllocationService" />
    <!--*******END OF SERILOG CONFIGURATIONS********-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding" transferMode="Buffered" closeTimeout="1.00:00:00" openTimeout="1.00:00:00" receiveTimeout="1.00:00:00" sendTimeout="1.00:00:00" maxBufferPoolSize="0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="1.00:00:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <dataContractSerializer />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Prana.AllocationService.AllocationService">
        <endpoint address="net.tcp://localhost:5057/AllocationService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.CoreService.Interfaces.IAllocationService" name="AllocationServiceEndpointAddress" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>