/****** Object:  Job [Touch.{@database@}]    Script Date: 08/07/2013 22:12:49 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [[Uncategorized (Local)]]]    Script Date: 08/07/2013 22:12:49 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'Touch.{@database@}', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'No description available.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'sa', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [Touch]    Script Date: 08/07/2013 22:12:50 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Touch', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'Declare @ReportID varchar(100)
Select @ReportID = ''Touch''

Declare @DefaultAUECID int

/* batch cutoff time for daily process in terms of eastern starndard time*/
/* timezone diff between eastern standard time and user''s timezone*/
--Select @BatchCutoffTime = 6/7.., @TimezoneDiff = 0/12..
Declare @BatchCutoffTime int, @TimezoneDiff int

Declare @AsOfDate datetime,@ToDate datetime

Select @DefaultAUECID = DefaultAUECID From T_Company

Select @BatchCutoffTime = BatchCutoffTime,@TimezoneDiff = TimezoneDiff From T_W_BatchPreferences Where ReportID = @ReportID

Select @AsOfDate = DateAdd(hour,@TimezoneDiff,GetDate())
If DatePart(hour,@AsOfDate) < @BatchCutoffTime
Select @AsOfDate = DateAdd(d,-1,@AsOfDate)

Select @ToDate = dbo.AdjustBusinessDays(@AsOfDate,-1,@DefaultAUECID)

Select @AsOfDate = Cast(Floor(Cast(@AsOfDate As float)) As datetime),@ToDate = Cast(Floor(Cast(@ToDate As float)) As datetime)

Declare @Client varchar(Max)
Select @Client = Stuff((Select '',''+ClientName From T_W_Clients For xml Path('''')),1,1,'''')

--Select @AsOfDate,@ToDate,@Client,@ReportID

Exec P_W_Batch @AsOfDate,@ToDate,@Client,@ReportID', 
		@database_name=N'{@database@}', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'Touch', 
		@enabled=1, 
		@freq_type=8, 
		@freq_interval=62, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=1, 
		@active_start_date=20140804, 
		@active_end_date=99991231, 
		@active_start_time=90000, 
		@active_end_time=235959
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave: