<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="MasterFile" value="\\192.168.2.108\DistributedAutomation_Master\TestCasesIDSmoke.xlsx"/>
		<add key="SamsaraFile" value="\\192.168.2.108\DistributedAutomation_SlaveWithRead\TestAutomationSmoke\TestCases\TestCasesID_Samsara.xlsx"/>
		<add key="SamsaraComplianceFile" value="\\192.168.2.108\DistributedAutomation_SlaveWithRead\TestAutomationSmoke\TestCases\TestCasesID_Compliance_Samsara.xlsx"/>
		<add key="EnterpriseFile" value="\\192.168.2.108\DistributedAutomation_SlaveWithRead\TestAutomationSmoke\TestCases\TestCasesID.xlsx"/>
		<add key="EnterpriseComplianceFile" value="\\192.168.2.108\DistributedAutomation_SlaveWithRead\TestAutomationSmoke\TestCases\TestCasesID_Compliance.xlsx"/>
		<add key="BackupFilePath" value="\\192.168.2.108\f\DelegatedFilesBackup\"/>
		<add key="-sheetDelegation" value="FALSE"/>
		<add key="-NotRunFailedCases" value="FALSE"/>
		<add key="NotRunSheets" value="E:\TestCases_Kartik.xlsx"/>
	</appSettings>
	<connectionStrings>
		<add name="Client" connectionString="Database=DistNirvanaClientDev;Server=localhost\MSSQLSERVER14;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
		<add name="SM" connectionString="Database=DistSecurityMasterDev;Server=localhost\MSSQLSERVER14;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>