/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetGroupsInGroupType]    Script Date: 07/21/2014 11:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetGroupsInGroupType 1
Exec P_MW_RjoM_GetGroupsInGroupType 2 
Exec P_MW_RjoM_GetGroupsInGroupType 3 
Exec P_MW_RjoM_GetGroupsInGroupType 4 
Exec P_MW_RjoM_GetGroupsInGroupType 5 
Exec P_MW_RjoM_GetGroupsInGroupType 6 
Exec P_MW_RjoM_GetGroupsInGroupType 7 
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetGroupsInGroupType] 
	-- Add the parameters for the stored procedure here
	@GroupTypeId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	If @GroupTypeId In (4,5,6) 
	Begin 
		Select Id,[Name] From T_MW_RjoM_InvestorIP Where GroupTypeId = @GroupTypeId
	End
	Else If @GroupTypeId In (7)
	Begin 
		Select Id,[Name] From T_MW_RjoM_FundCombination Where GroupTypeId = @GroupTypeId
	End
	Else If @GroupTypeId In (1,2,3)
	Begin 
		Select CompanyMasterFundID As Id,MasterFundName As [Name] From T_CompanyMasterFunds Where GroupTypeId = @GroupTypeId
	End
END

