/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetInvolvedGroups]    Script Date: 07/21/2014 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',1,76
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',2,77
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',3,86
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',4,1
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',5,8
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',6,3
Exec P_MW_RjoM_GetInvolvedGroups '01/01/2014','06/07/2014',7,2
*/
-- =============================================
CREATE Procedure [dbo].[P_MW_RjoM_GetInvolvedGroups]
-- Add the parameters for the stored procedure here 
@StartDate datetime, 
@EndDate datetime,
@GroupTypeId int,
@GroupId varchar(Max) 
As 
Begin 
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

Create Table #EntitiesTraces 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))
Insert Into #EntitiesTraces
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash)
Exec P_MW_RjoM_GetParticipation @StartDate,@EndDate,@GroupTypeId,@GroupId 

Create Table #Filters 
(FilterId int,FilterName varchar(Max))
If @GroupTypeId In (4,5,6) 
Begin 
	Insert Into #Filters (FilterId, FilterName) 
	Select Distinct FundId,'Fund-'+FundName From #EntitiesTraces
End
Else If @GroupTypeId In (1,2,3,7)
Begin 
	Insert Into #Filters (FilterId, FilterName) 
	Select Distinct FundId,'Fund-'+FundName From #EntitiesTraces
	Insert Into #Filters (FilterId, FilterName) 
	Select Distinct AcctId,'Account-'+AcctName From #EntitiesTraces 
	Insert Into #Filters (FilterId, FilterName) 
	Select Distinct InvestorIPId,'InvestorIP-'+InvestorIPName From #EntitiesTraces
End 

Select FilterId,FilterName From #Filters 

Drop Table #Filters,#EntitiesTraces
End