/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetTotalTradingLevel]    Script Date: 07/21/2014 11:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',1,76
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',2,77
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',3,86
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',4,1
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',5,8
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',6,3
Exec P_MW_RjoM_GetTotalTradingLevel '01/01/2014','06/07/2014',7,3
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetTotalTradingLevel]
	-- Add the parameters for the stored procedure here
	@StartDate datetime,
	@EndDate datetime,
	@GroupTypeId int,
	@GroupId varchar(Max)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here
Create Table #EntitiesTraces 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))
Insert Into #EntitiesTraces
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash)
Exec P_MW_RjoM_GetParticipation @StartDate,@EndDate,@GroupTypeId,@GroupId 

Create Table #EntitiesTracesAndVals_1 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8),Val_TradingLevel decimal(38,8),Val_InvestedCash decimal(38,8),TheRank int)
Insert Into #EntitiesTracesAndVals_1
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash,Val_TradingLevel,Val_InvestedCash,TheRank)
Select D.Date,D.InvestorIPId,D.InvestorIPName,D.FundId,D.FundName,D.AcctId,D.AcctName,D.Part_TradingLevel,D.Part_InvestedCash,IsNull(S.Val_TradingLevel,0) As Val_TradingLevel,IsNull(S.Val_InvestedCash,0) As Val_InvestedCash,Rank() Over(Partition By D.Date,D.FundId,D.AcctId Order By S.UpdateDate Desc) As TheRank 
From #EntitiesTraces D Left Outer Join T_MW_RjoM_AcctVal S On D.AcctId = S.AcctId And D.Date >= S.UpdateDate 
Create Table #EntitiesTracesAndVals 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8),Val_TradingLevel decimal(38,8),Val_InvestedCash decimal(38,8))
Insert Into #EntitiesTracesAndVals
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash,Val_TradingLevel,Val_InvestedCash)
Select Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash,Val_TradingLevel,Val_InvestedCash
From #EntitiesTracesAndVals_1 Where TheRank = 1

Select Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Sum(Part_TradingLevel*Val_TradingLevel) As Val_TradingLevel,Sum(Part_InvestedCash*Val_InvestedCash) As Val_InvestedCash 
From #EntitiesTracesAndVals 
Group By Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName

Drop Table #EntitiesTraces,#EntitiesTracesAndVals_1,#EntitiesTracesAndVals

END