/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_ValidateInvestorIPFundParticipation]    Script Date: 07/21/2014 11:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_ValidateInvestorIPFundParticipation

Handled Invalidity Includes -
1, Incompatible InvestorIP And Fund
2, Invalid Investment 

Other sorts of Invalidity such as No Such InvestorIP or No Such Fund have been handled by the foreign key.
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_ValidateInvestorIPFundParticipation] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here 
Create Table #InvalidKeys 
(InvestorIPGroupTypeId int,FundGroupTypeId int,InvestorIPId int,FundId int,UpdateDate smalldatetime,Invalidity varchar(Max))

/* The following two cases have been avoided by applying foreign keys */
--Insert Into #InvalidKeys 
--(InvestorIPId,FundId,UpdateDate,Invalidity)
--Select InvestorIPId,FundId,UpdateDate,'No Such InvestorIP' 
--From T_MW_RjoM_InvestorIPFundPart 
--Where InvestorIPId Not In (select Id From T_MW_RjoM_InvestorIP) 
--Insert Into #InvalidKeys 
--(InvestorIPId,FundId,UpdateDate,Invalidity) 
--Select InvestorIPId,FundId,UpdateDate,'No Such Fund' 
--From T_MW_RjoM_InvestorIPFundPart 
--Where FundId Not In (select CompanyMasterFundID From T_CompanyMasterFunds)

/* InvestorIPFundPart With GroupTypeId */
Select A.InvestorIPId,B.Name As InvestorIPName,B.GroupTypeId As InvestorIPGroupTypeId,
A.FundId,C.MasterFundName As FundName,C.GroupTypeId As FundGroupTypeId,
UpdateDate,Part_TradingLevel,Part_InvestedCash 
Into #InvestorIPFundPartWithGroupTypeId From T_MW_RjoM_InvestorIPFundPart A 
Join T_MW_RjoM_InvestorIP B On A.InvestorIPId = B.Id 
Join T_CompanyMasterFunds C On A.FundId = C.CompanyMasterFundID 

Insert Into #InvalidKeys 
(InvestorIPGroupTypeId,FundGroupTypeId,InvestorIPId,FundId,UpdateDate,Invalidity) 
Select InvestorIPGroupTypeId,FundGroupTypeId,InvestorIPId,FundId,UpdateDate,'Incompatible InvestorIP And Fund'
From #InvestorIPFundPartWithGroupTypeId 
Where (Not (InvestorIPGroupTypeId = 4 And FundGroupTypeId = 1)) 
And (Not (InvestorIPGroupTypeId = 5 And FundGroupTypeId = 1)) 
And (Not (InvestorIPGroupTypeId = 6 And FundGroupTypeId = 2)) 

Select FundId,UpdateDate,Sum(Part_TradingLevel) As Part_TradingLevel,Sum(Part_InvestedCash) As Part_InvestedCash 
Into #InvalidInvestment From #InvestorIPFundPartWithGroupTypeId 
Where InvestorIPGroupTypeId = 4 And FundGroupTypeId = 1 
Group By FundId,UpdateDate 
Having Sum(Part_TradingLevel) <> 1 Or Sum(Part_InvestedCash) <> 1

Insert Into #InvalidKeys 
(InvestorIPGroupTypeId,FundGroupTypeId,InvestorIPId,FundId,UpdateDate,Invalidity) 
Select A.InvestorIPGroupTypeId,A.FundGroupTypeId,A.InvestorIPId,A.FundId,A.UpdateDate,'Invalid Investment/' + Cast(A.Part_TradingLevel As varchar(Max))+ '/' + Cast(A.Part_InvestedCash As varchar(Max))
From #InvestorIPFundPartWithGroupTypeId A 
Join #InvalidInvestment B On A.FundId = B.FundId And A.UpdateDate = B.UpdateDate 
Where A.InvestorIPGroupTypeId = 4 And A.FundGroupTypeId = 1 

Select InvestorIPGroupTypeId,FundGroupTypeId,InvestorIPId,FundId,UpdateDate,Invalidity From #InvalidKeys

Drop Table #InvestorIPFundPartWithGroupTypeId,#InvalidInvestment
Drop Table #InvalidKeys

END