/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_ValidateAssociation]    Script Date: 07/21/2014 11:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_ValidateAssociation

Handled Invalidity Includes -
1, Invalid Fund Combination
2, Invalid Account Proxy 

Other sorts of Invalidity such as No Such Group have been handled by the foreign key.
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_ValidateAssociation] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here 
Create Table #InvalidKeys 
(FromGroupTypeId int,ToGroupTypeId int,FromId int,ToId int,Invalidity varchar(Max))

Create Table #AssociationWithGroupTypeId 
(FromId int,FromName varchar(Max),FromGroupTypeId int,
ToId int,ToName varchar(Max),ToGroupTypeId int)
Insert Into #AssociationWithGroupTypeId 
(FromId,FromName,FromGroupTypeId,
ToId,ToName,ToGroupTypeId) 
Select A.CompanyMasterFundID,A.MasterFundName,A.GroupTypeId,
C.CompanyFundID,C.FundName,Null As ToGroupTypeId
From T_CompanyMasterFunds A 
Join T_CompanyMasterFundSubAccountAssociation B On A.CompanyMasterFundID = B.CompanyMasterFundID
Join T_CompanyFunds C On B.CompanyFundID = C.CompanyFundID
Insert Into #AssociationWithGroupTypeId 
(FromId,FromName,FromGroupTypeId,
ToId,ToName,ToGroupTypeId) 
Select A.Id As FromId,A.Name As FromName,A.GroupTypeId As FromGroupTypeId,
C.CompanyMasterFundID As ToId,C.MasterFundName As ToName,C.GroupTypeId As ToGroupTypeId 
From T_MW_RjoM_FundCombination A 
Join T_MW_RjoM_FundCombinationFundAssoc B On A.Id = B.FundCombinationId 
Join T_CompanyMasterFunds C On B.FundId = C.CompanyMasterFundID

Insert Into #InvalidKeys 
(FromGroupTypeId,ToGroupTypeId,FromId,ToId,Invalidity) 
Select FromGroupTypeId,ToGroupTypeId,FromId,ToId,'Invalid Fund Combination' 
From #AssociationWithGroupTypeId Where FromGroupTypeId = 7 And (ToGroupTypeId Is Null Or ToGroupTypeId <> 1)

Select FromId,Count(ToId) As CountToId 
Into #InvalidAccountProxy From #AssociationWithGroupTypeId 
Where FromGroupTypeId = 2 And ToGroupTypeId Is Null 
Group By FromId 
Having Count(ToId) <> 1 

Insert Into #InvalidKeys 
(FromGroupTypeId,ToGroupTypeId,FromId,ToId,Invalidity) 
Select A.FromGroupTypeId,A.ToGroupTypeId,A.FromId,A.ToId,'Invalid Account Proxy' 
From #AssociationWithGroupTypeId A 
Join #InvalidAccountProxy B On A.FromId = B.FromId 
Where FromGroupTypeId = 2 And ToGroupTypeId Is Null 

Select FromGroupTypeId,ToGroupTypeId,FromId,ToId,Invalidity From #InvalidKeys

Drop Table #AssociationWithGroupTypeId,#InvalidAccountProxy
Drop Table #InvalidKeys

END