/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetParticipation]    Script Date: 07/21/2014 11:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',1,76
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',2,77
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',3,86
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',4,1
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',5,8
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',6,3
Exec P_MW_RjoM_GetParticipation '01/01/2014','06/07/2014',7,2
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetParticipation] 
-- Add the parameters for the stored procedure here
@StartDate datetime, 
@EndDate datetime,
@GroupTypeId int,
@GroupId varchar(Max)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here
;With Cte (Date) As 
(Select @StartDate 
Union All
Select DateAdd(d,1,Date) From Cte 
Where DateDiff(d,Date,@EndDate) > 0)
Select Date Into #Dates From Cte Option (MaxRecursion 730) 

Create Table #EntitiesTraces_1 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8),TheRank int)

Create Table #EntitiesTraces 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))

/* Start */
Create Table #UpInvestorsPart 
(UpdateDate datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))

Select Distinct UpdateDate,FundId 
Into #UpInvestor From T_MW_RjoM_InvestorIP A 
Join T_MW_RjoM_InvestorIPFundPart B On A.Id = B.InvestorIPId 
Where A.GroupTypeId = 4

Select A.UpdateDate,A.FundId,C.MasterFundName As FundName,B.Id As InvestorIPId,B.Name As InvestorIPName
Into #UpInvestors From #UpInvestor A 
Join T_MW_RjoM_InvestorIP B On B.GroupTypeId = 4 
Join T_CompanyMasterFunds C On A.FundId = C.CompanyMasterFundID And C.GroupTypeId = 1

Insert Into #UpInvestorsPart 
(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
Select A.UpdateDate,A.InvestorIPId,A.InvestorIPName,A.FundId,A.FundName,IsNull(B.Part_TradingLevel,0) As Part_TradingLevel,IsNull(B.Part_InvestedCash,0) As Part_InvestedCash 
From #UpInvestors A 
Left Outer Join T_MW_RjoM_InvestorIPFundPart B On A.UpdateDate = B.UpdateDate And A.FundId = B.FundId And A.InvestorIPId = B.InvestorIPId
/* End */

If @GroupTypeId In (4,5,6)
Begin 
	Create Table #UpdateDatesEntities 
	(UpdateDate datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))
	If @GroupTypeId = 4 
	Begin 
	Insert Into #UpdateDatesEntities 
	(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
	Select UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash 
	From #UpInvestorsPart 
	Where InvestorIPId In (Select Items From dbo.Split(@GroupId,',')) 
	End 
	If @GroupTypeId = 5 
	Begin 
	-- FundIP
	Create Table #UpFundIPsPart 
	(UpdateDate datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))

	Select Distinct UpdateDate,InvestorIPId
	Into #UpFundIP From T_CompanyMasterFunds A 
	Join T_MW_RjoM_InvestorIPFundPart B On A.CompanyMasterFundID = B.FundId 
	Where A.GroupTypeId = 1 

	Select A.UpdateDate,B.CompanyMasterFundID As FundId,B.MasterFundName As FundName,A.InvestorIPId,C.Name As InvestorIPName
	Into #UpFundIPs From #UpFundIP A 
	Join T_CompanyMasterFunds B On B.GroupTypeId = 1 
	Join T_MW_RjoM_InvestorIP C On A.InvestorIPId = C.Id And C.GroupTypeId = 5

	Insert Into #UpFundIPsPart 
	(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
	Select A.UpdateDate,A.InvestorIPId,A.InvestorIPName,A.FundId,A.FundName,IsNull(B.Part_TradingLevel,0) As Part_TradingLevel,IsNull(B.Part_InvestedCash,0) As Part_InvestedCash 
	From #UpFundIPs A 
	Left Outer Join T_MW_RjoM_InvestorIPFundPart B On A.UpdateDate = B.UpdateDate And A.FundId = B.FundId And A.InvestorIPId = B.InvestorIPId

	Insert Into #UpdateDatesEntities 
	(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
	Select UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash 
	From #UpFundIPsPart 
	Where InvestorIPId In (Select Items From dbo.Split(@GroupId,','))  

	Drop Table #UpFundIP,#UpFundIPs,#UpFundIPsPart
	End 
	If @GroupTypeId = 6 
	Begin 
	-- AcctProxyIP
	Create Table #UpAcctProxyIPsPart 
	(UpdateDate datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))

	Select Distinct UpdateDate,InvestorIPId
	Into #UpAcctProxyIP From T_CompanyMasterFunds A 
	Join T_MW_RjoM_InvestorIPFundPart B On A.CompanyMasterFundID = B.FundId 
	Where A.GroupTypeId = 2 

	Select A.UpdateDate,B.CompanyMasterFundID As FundId,B.MasterFundName As FundName,A.InvestorIPId,C.Name As InvestorIPName
	Into #UpAcctProxyIPs From #UpAcctProxyIP A 
	Join T_CompanyMasterFunds B On B.GroupTypeId = 2 
	Join T_MW_RjoM_InvestorIP C On A.InvestorIPId = C.Id And C.GroupTypeId = 6

	Insert Into #UpAcctProxyIPsPart 
	(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
	Select A.UpdateDate,A.InvestorIPId,A.InvestorIPName,A.FundId,A.FundName,IsNull(B.Part_TradingLevel,0) As Part_TradingLevel,IsNull(B.Part_InvestedCash,0) As Part_InvestedCash 
	From #UpAcctProxyIPs A 
	Left Outer Join T_MW_RjoM_InvestorIPFundPart B On A.UpdateDate = B.UpdateDate And A.FundId = B.FundId And A.InvestorIPId = B.InvestorIPId

	Insert Into #UpdateDatesEntities 
	(UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash)
	Select UpdateDate,InvestorIPId,InvestorIPName,FundId,FundName,Part_TradingLevel,Part_InvestedCash 
	From #UpAcctProxyIPsPart 
	Where InvestorIPId In (Select Items From dbo.Split(@GroupId,','))  

	Drop Table #UpAcctProxyIP,#UpAcctProxyIPs,#UpAcctProxyIPsPart 
	End 
	Insert Into #EntitiesTraces_1
	(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash,TheRank)
	Select A.Date,B.InvestorIPId,B.InvestorIPName,B.FundId,B.FundName,E.CompanyFundID As AcctId,E.FundName As AcctName,B.Part_TradingLevel,B.Part_InvestedCash,Rank() Over(Partition By A.Date,B.FundId,B.InvestorIPId Order By B.UpdateDate Desc) As TheRank 
	From #Dates A 
	Left Outer Join #UpdateDatesEntities B On A.Date > = B.UpdateDate 
	Join T_CompanyMasterFunds C On B.FundId = C.CompanyMasterFundID 
	Join T_CompanyMasterFundSubAccountAssociation D On C.CompanyMasterFundID = D.CompanyMasterFundID 
	Join T_CompanyFunds E On D.CompanyFundID = E.CompanyFundID 
	End
	Else If @GroupTypeId In (1,2,3,7)
	Begin 
	Create Table #Funds 
	(FundId int,FundName varchar(Max))
	If @GroupTypeId = 7 
	Begin
	Insert Into #Funds
	(FundId,FundName)
	Select C.CompanyMasterFundID As FundId,C.MasterFundName As FundName 
	From T_MW_RjoM_FundCombination A 
	Join T_MW_RjoM_FundCombinationFundAssoc B On A.Id = B.FundCombinationId 
	Join T_CompanyMasterFunds C On B.FundId = C.CompanyMasterFundID
	Where A.GroupTypeId = @GroupTypeId And A.Id In (Select Items From dbo.Split(@GroupId,',')) 
End
Else If @GroupTypeId In (1,2,3) 
Begin
	Insert Into #Funds
	(FundId,FundName)
	Select A.CompanyMasterFundID As FundId,A.MasterFundName As FundName 
	From T_CompanyMasterFunds A 
	Where A.GroupTypeId = @GroupTypeId And A.CompanyMasterFundID In (Select Items From dbo.Split(@GroupId,',')) 
	End 
	Create Table #FundsAccts 
	(FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max))
	Insert Into #FundsAccts
	(FundId,FundName,AcctId,AcctName)
	Select A.FundId,A.FundName,C.CompanyFundID As AcctId,C.FundName As AcctName 
	From #Funds A 
	Join T_CompanyMasterFundSubAccountAssociation B On A.FundId = B.CompanyMasterFundID 
	Join T_CompanyFunds C On B.CompanyFundID = C.CompanyFundID
	Create Table #DatesFundsAccts 
	(Date datetime,FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max))
	Insert Into #DatesFundsAccts
	(Date,FundId,FundName,AcctId,AcctName)
	Select Date,FundId,FundName,AcctId,AcctName 
	From #Dates,#FundsAccts 
	Insert Into #EntitiesTraces_1
	(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash,TheRank)
	Select A.Date,InvestorIPId,IsNull(B.InvestorIPName,'Undefined') As InvestorIPName,A.FundId,A.FundName,A.AcctId,A.AcctName,IsNull(B.Part_TradingLevel,1) As Part_TradingLevel,IsNull(B.Part_InvestedCash,1) As Part_InvestedCash,Rank() Over(Partition By A.Date,B.FundId,B.InvestorIPId Order By B.UpdateDate Desc) As TheRank From #DatesFundsAccts A
	Left Outer Join #UpInvestorsPart B On A.Date > = B.UpdateDate And A.FundId = B.FundId 
	Drop Table #Funds,#FundsAccts,#DatesFundsAccts
End

Insert Into #EntitiesTraces
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash)
Select Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash 
From #EntitiesTraces_1 
Where TheRank = 1

Select Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash 
From #EntitiesTraces

Drop Table #UpInvestor,#UpInvestors,#UpInvestorsPart
Drop Table #EntitiesTraces_1,#EntitiesTraces 
Drop Table #Dates
END

