/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetGroupTypes]    Script Date: 07/21/2014 11:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetGroupTypes
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetGroupTypes] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select Id,[Name] From T_MW_RjoM_GroupType
END