/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetMTM]    Script Date: 07/21/2014 11:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================               
/* Usage:
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',1,76
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',2,77
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',3,86
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',4,1
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',5,8
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',6,3
Exec P_MW_RjoM_GetMTM '01/01/2014','06/07/2014',7,3
*/       
-- =============================================            
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetMTM]                   
(                  
@StartDate datetime,                  
@EndDate datetime,                     
@GroupTypeId int,
@GroupId varchar(Max)               
)                  
As              

SELECT        
Rundate,                 
Symbol ,                  
Fund as Fund,                         
Asset as Asset,                   
MasterFund as  MasterFund,                  
TradeCurrency as TradeCurrency,                   
SecurityName as SecurityName,                  
OpeningFXRate as OpeningFXRate ,                  
Strategy as Strategy ,                   
PutOrCall as PutOrCall ,                  
                         
            
UDASector as UDASector,                   
UDACountry as UDACountry,                   
UDASecurityType as UDASecurityType,                   
UDAAssetClass as UDAAssetClass,                  
UDASubSector as UDASubSector ,                  
CUSIPSymbol as CUSIPSymbol,                  
ISINSymbol as ISINSymbol,                  
SEDOLSymbol  as  SEDOLSymbol,                  
BloombergSYmbol as BloombergSYmbol,                   
ReutersSYmbol as ReutersSYmbol,                  
IDCOSymbol as IDCOSymbol ,                   
OSISymbol as OSISymbol ,       
TotalRealizedPNLOnCost + ChangeInUNRealizedPNL + Dividend as TotalGainLossMTM_Method1_Cost,                             
TotalRealizedPNLMTM + TotalUnrealizedPNLMTM + Dividend as TotalGainLossMTM_Method2_MTM                    
Into #Raw                       
from T_MW_GenericPNL            
                
where                   
datediff (day , @Startdate , Rundate) >= 0 and                
datediff(day , Rundate , @EndDate) >= 0  
and Open_CloseTag <> 'Accruals'     

Create Table #EntitiesTraces 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))
Insert Into #EntitiesTraces
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash)
Exec P_MW_RjoM_GetParticipation @StartDate,@EndDate,@GroupTypeId,@GroupId 

Select 
S2.InvestorIPName As InvestorIP,
S2.FundName As Fund,
S2.AcctName As Account,            
Symbol ,                                      
Asset,                              
TradeCurrency,                   
SecurityName,                             
Strategy ,                   
PutOrCall ,                                 
            
UDASector,                   
UDACountry,                   
UDASecurityType,                   
UDAAssetClass,                  
UDASubSector ,                  
CUSIPSymbol,                  
ISINSymbol,                  
SEDOLSymbol,                  
BloombergSYmbol,                   
ReutersSYmbol,                  
IDCOSymbol ,                   
OSISymbol ,  
S2.Part_TradingLevel * TotalGainLossMTM_Method1_Cost as TotalGainLossMTM_Method1_Cost,                                
S2.Part_TradingLevel * TotalGainLossMTM_Method2_MTM as TotalGainLossMTM_Method2_MTM                 
Into #Treated    
From #Raw D
Join #EntitiesTraces S2 On D.Fund = S2.AcctName And D.Rundate = S2.Date 

SELECT     
InvestorIP,   
Fund,
Account,            
Symbol ,    
TradeCurrency,    
Strategy as Strategy ,                   
PutOrCall as PutOrCall ,                                
Min(Asset) As Asset,                              
Min(SecurityName) As SecurityName,                             
                                             
Min(UDASector) As UDASector,                   
Min(UDACountry) As UDACountry,                   
Min(UDASecurityType) As UDASecurityType,                   
Min(UDAAssetClass) As UDAAssetClass,                  
Min(UDASubSector) As UDASubSector,                  
Min(CUSIPSymbol) As CUSIPSymbol,                  
Min(ISINSymbol) As ISINSymbol,                  
Min(SEDOLSymbol) As SEDOLSymbol,                  
Min(BloombergSYmbol) As BloombergSYmbol,                   
Min(ReutersSYmbol) As ReutersSYmbol,                  
Min(IDCOSymbol) As IDCOSymbol,                   
Min(OSISymbol) As OSISymbol,                
                                 
SUM(TotalGainLossMTM_Method1_Cost) as TotalGainLossMTM_Method1_Cost,                   
SUM(TotalGainLossMTM_Method2_MTM) as TotalGainLossMTM_Method2_MTM                                   
from #Treated            
                  
Group By InvestorIP,Fund,Account,Symbol,TradeCurrency,Strategy,PutOrCall
            
Drop Table #Raw,#EntitiesTraces,#Treated