/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_SetAssociation]    Script Date: 07/21/2014 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_SetAssociation 'RJ OASIS','Access OASIS 1','Fund'
Exec P_MW_RjoM_SetAssociation 'RJ OASIS','Access OASIS 2','Fund'
Exec P_MW_RjoM_SetAssociation 'RJ OASIS','Access OASIS 3','Fund'
Exec P_MW_RjoM_SetAssociation 'Account Proxy of Account 1','Access OASIS 1','Account Proxy'
Exec P_MW_RjoM_SetAssociation 'Account Combination of Account 1-2-3','Access OASIS 1','Account Combination Proxy'
Exec P_MW_RjoM_SetAssociation 'Account Combination of Account 1-2-3','Access OASIS 2','Account Combination Proxy'
Exec P_MW_RjoM_SetAssociation 'Account Combination of Account 1-2-3','Access OASIS 3','Account Combination Proxy'

Parameter @GroupTypeName refers to the one for fromgroup.
Parameter @InsertIfNotExist is optional, pass 1 for shortcut creation of from and to groups while setting association.
*/
/* Notes:
Account Proxy cannot have associations with multiple accounts.
Fund Combination cannot have associations to funds only.

After a batch of inserts, the whole batch can be verified by: 
Exec P_MW_RjoM_ValidateAssociation 
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_SetAssociation] 
	-- Add the parameters for the stored procedure here
	@FromName varchar(Max),
	@ToName varchar(Max),
	@GroupTypeName varchar(Max),
	@InsertIfNotExist bit = 0  
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here 
Declare @GroupTypeId int 
Select @GroupTypeId = Id From T_MW_RjoM_GroupType Where [Name] = @GroupTypeName 

Declare @FromId int 
Declare @ToId int 
Declare @FundSnapshot Table  
(CompanyMasterFundID int)

-- Define Fund 
-- Define Account Proxy 
-- Define Account Combination Proxy 
If @GroupTypeId In (1,2,3) 
Begin
	Select @FromId = CompanyMasterFundID From T_CompanyMasterFunds Where GroupTypeId = @GroupTypeId And MasterFundName = @FromName 
	If @FromId Is Null And @InsertIfNotExist = 1 
	Begin 
		Insert Into T_CompanyMasterFunds 
		(MasterFundName,GroupTypeId) 
		Output Inserted.CompanyMasterFundID Into @FundSnapshot
		Select @FromName,@GroupTypeId 
		Select @FromId = CompanyMasterFundID From @FundSnapshot
	End 
	Select @ToId = CompanyFundID From T_CompanyFunds Where FundName = @ToName
	If @ToId Is Null And @InsertIfNotExist = 1  
	Begin 
		Declare @AcctSnapshot Table  
		(CompanyFundID int) 
		Declare @CompanyID int 
		Select @CompanyID = CompanyID From T_Company 
		Insert Into T_CompanyFunds 
		(FundName,FundShortName,CompanyID) 
		Output Inserted.CompanyFundID Into @AcctSnapshot
		Select @ToName,@ToName,@CompanyID 
		Select @ToId = CompanyFundID From @AcctSnapshot 
	End 
	If (@FromId Is Not Null) And (@ToId Is Not Null) 
	Begin
		If Not Exists (Select CompanyMasterFundID,CompanyFundID From T_CompanyMasterFundSubAccountAssociation Where CompanyMasterFundID = @FromId And CompanyFundID = @ToId)
		Begin 
			Insert Into T_CompanyMasterFundSubAccountAssociation 
			(CompanyMasterFundID,CompanyFundID) 
			Select @FromId,@ToId 
		End
	End 
End
-- Define Fund Combination
Else If @GroupTypeId = 7 
Begin 
	Select @FromId = Id From T_MW_RjoM_FundCombination Where GroupTypeId = @GroupTypeId And [Name] = @FromName  
	If @FromId Is Null And @InsertIfNotExist = 1 
	Begin 
		Declare @FundCombinationSnapshot Table  
		(Id int)
		Insert Into T_MW_RjoM_FundCombination 
		([Name],GroupTypeId) 
		Output Inserted.Id Into @FundCombinationSnapshot
		Select @FromName,@GroupTypeId 
		Select @FromId = Id From @FundCombinationSnapshot
	End 
	Select @ToId = CompanyMasterFundID From T_CompanyMasterFunds Where MasterFundName = @ToName And GroupTypeId = 1 
	If @ToId Is Null And @InsertIfNotExist = 1 
	Begin 
		Insert Into T_CompanyMasterFunds 
		(MasterFundName,GroupTypeId) 
		Output Inserted.CompanyMasterFundID Into @FundSnapshot
		Select @ToName,1 
		Select @ToId = CompanyMasterFundID From @FundSnapshot
	End 
	If (@FromId Is Not Null) And (@ToId Is Not Null) 
	Begin
		If Not Exists (Select FundCombinationId,FundId From T_MW_RjoM_FundCombinationFundAssoc Where FundCombinationId = @FromId And FundId = @ToId) 
		Begin 
			Insert Into T_MW_RjoM_FundCombinationFundAssoc 
			(FundCombinationId,FundId) 
			Select @FromId,@ToId 
		End
	End 
End

END
