/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetGroupBysInGroupType]    Script Date: 07/21/2014 11:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_GetGroupBysInGroupType 1,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 2,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 3,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 4,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 5,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 6,'PnL_Summary_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 7,'PnL_Summary_MW'

Exec P_MW_RjoM_GetGroupBysInGroupType 1,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 2,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 3,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 4,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 5,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 6,'VSR_MW'
Exec P_MW_RjoM_GetGroupBysInGroupType 7,'VSR_MW'
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetGroupBysInGroupType] 
	-- Add the parameters for the stored procedure here
	@GroupTypeId int,
	@ReportId varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	Create Table #GroupBys ([Label] varchar(Max), [Value] varchar(Max), Idx int Identity(1,1))

	If @ReportId = 'PnL_Summary_MW' 
	Begin 
		If @GroupTypeId In (4,5,6) 
		Begin 
			Insert Into #GroupBys ([Label], [Value]) Values 
			('-Select-','Select') 
			Insert Into #GroupBys ([Label], [Value]) Values 
			('Fund','Fund')
			Insert Into #GroupBys ([Label], [Value]) Values 
			('Symbol','Symbol')
			Insert Into #GroupBys ([Label], [Value]) Values 
			('Asset','Asset')
		End
		Else If @GroupTypeId In (1,2,3,7)
		Begin 
			Insert Into #GroupBys ([Label], [Value]) Values 
			('-Select-','Select') 
		End
	End
	Else If @ReportId = 'VSR_MW'
	Begin 
		If @GroupTypeId In (4,5,6) 
		Begin 
			Insert Into #GroupBys ([Label], [Value]) Values 
			('-Select-','Select') 
		End
		Else If @GroupTypeId In (1,2,3,7)
		Begin 
			Insert Into #GroupBys ([Label], [Value]) Values 
			('-Select-','Select') 
		End
	End	
	
	Select [Label], [Value] From #GroupBys

	Drop Table #GroupBys
END

