/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_RemoveAssociation]    Script Date: 07/21/2014 11:44:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_RemoveAssociation 'RJ OASIS','Access OASIS 1','Fund'
Exec P_MW_RjoM_RemoveAssociation 'RJ OASIS','Access OASIS 2','Fund'
Exec P_MW_RjoM_RemoveAssociation 'RJ OASIS','Access OASIS 3','Fund'
Exec P_MW_RjoM_RemoveAssociation 'Account Proxy of Account 1','Access OASIS 1','Account Proxy'
Exec P_MW_RjoM_RemoveAssociation 'Account Combination of Account 1-2-3','Access OASIS 1','Account Combination Proxy'
Exec P_MW_RjoM_RemoveAssociation 'Account Combination of Account 1-2-3','Access OASIS 2','Account Combination Proxy'
Exec P_MW_RjoM_RemoveAssociation 'Account Combination of Account 1-2-3','Access OASIS 3','Account Combination Proxy'

Parameter @GroupTypeName refers to the one for fromgroup.
*/
/* Notes:
Account Proxy cannot have associations with multiple accounts.
Fund Combination cannot have associations to funds only.

After a batch of removals, the whole batch can be verified by: 
Exec P_MW_RjoM_ValidateAssociation 
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_RemoveAssociation] 
	-- Add the parameters for the stored procedure here
	@FromName varchar(Max),
	@ToName varchar(Max),
	@GroupTypeName varchar(Max)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here 
Declare @GroupTypeId int 
Select @GroupTypeId = Id From T_MW_RjoM_GroupType Where [Name] = @GroupTypeName 

Declare @FromId int 
Declare @ToId int 

-- Define Fund 
-- Define Account Proxy 
-- Define Account Combination Proxy 
If @GroupTypeId In (1,2,3) 
Begin
	Select @FromId = CompanyMasterFundID From T_CompanyMasterFunds Where GroupTypeId = @GroupTypeId And MasterFundName = @FromName 
	Select @ToId = CompanyFundID From T_CompanyFunds Where FundName = @ToName
	If (@FromId Is Not Null) And (@ToId Is Not Null)
	Begin 
		Delete From T_CompanyMasterFundSubAccountAssociation 
		Where CompanyMasterFundID = @FromId And CompanyFundID = @ToId
	End 
End
-- Define Fund Combination
Else If @GroupTypeId = 7 
Begin 
	Select @FromId = Id From T_MW_RjoM_FundCombination Where GroupTypeId = @GroupTypeId And [Name] = @FromName 
	Select @ToId = CompanyMasterFundID From T_CompanyMasterFunds Where MasterFundName = @ToName And GroupTypeId = 1  
	If (@FromId Is Not Null) And (@ToId Is Not Null)
	Begin 
		Delete From T_MW_RjoM_FundCombinationFundAssoc 
		Where FundCombinationId = @FromId And FundId = @ToId
	End 
End

END
