/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_GetUnrealizedPNL]    Script Date: 07/21/2014 11:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================               
/* Usage:
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',1,76
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',2,77
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',3,86
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',4,1
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW'5,8
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',6,3
Exec P_MW_RjoM_GetUnrealizedPNL '06/07/2014','VSR_MW',7,3
*/       
-- =============================================                 
CREATE PROCEDURE [dbo].[P_MW_RjoM_GetUnrealizedPNL]                  
(                  
@Rundate datetime,              
@ReportID Varchar(100),  
@GroupTypeId int,
@GroupId varchar(Max)     
)                  
As           
    
Create table #ParameterPreferences    
(    
 [FutureMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL,    
 [FXMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL,    
 [SwapMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL,    
 [InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL,    
 [TotalCostASZero_Futures] [bit] NOT NULL,    
 [TotalCostASZero_FutOptions] [bit] NOT NULL,    
 [TotalCostASZero_FX] [bit] NOT NULL,    
 [TotalCostASZero_Swaps] [bit] NOT NULL,    
 [IncludeFXPNLinEquity] [bit] NOT NULL,    
 [IncludeFXPNLinEquityOption] [bit] NOT NULL,    
 [IncludeFXPNLinFX] [bit] NOT NULL,    
 [IncludeFXPNLinFutures] [bit] NOT NULL,    
 [IncludeFXPNLinSwaps] [bit] NOT NULL,    
 [IncludeFXPNLinInternationalFutOptions] [bit] NOT NULL,    
 [IncludeFXPNLinOther] [bit] NOT NULL,    
 [IncludeCommissionInPNL_Equity] [bit] NOT NULL,    
 [IncludeCommissionInPNL_EquityOption] [bit] NOT NULL,    
 [IncludeCommissionInPNL_Futures] [bit] NOT NULL,    
 [IncludeCommissionInPNL_FutOptions] [bit] NOT NULL,    
 [IncludeCommissionInPNL_Swaps] [bit] NOT NULL,    
 [IncludeCommissionInPNL_FX] [bit] NOT NULL,    
 [IncludeCommissionInPNL_Other] [bit] NOT NULL    
)      
                                                                                         
Insert Into #ParameterPreferences                                  
Select    
 FutureMV_ZeroOrEndingMVOrUnrealized,    
 FXMV_ZeroOrEndingMVOrUnrealized,    
 SwapMV_ZeroOrEndingMVOrUnrealized,    
 InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized,    
 TotalCostASZero_Futures,    
 TotalCostASZero_FutOptions,    
 TotalCostASZero_FX,    
 TotalCostASZero_Swaps,    
 IncludeFXPNLinEquity,    
 IncludeFXPNLinEquityOption,    
 IncludeFXPNLinFX,    
 IncludeFXPNLinFutures,    
 IncludeFXPNLinSwaps,    
 IncludeFXPNLinInternationalFutOptions,    
 IncludeFXPNLinOther,    
 IncludeCommissionInPNL_Equity,    
 IncludeCommissionInPNL_EquityOption,    
 IncludeCommissionInPNL_Futures,    
 IncludeCommissionInPNL_FutOptions,    
 IncludeCommissionInPNL_Swaps,    
 IncludeCommissionInPNL_FX,    
 IncludeCommissionInPNL_Other    
from T_ReportPreferences where ReportID = @ReportID    
    
    
Declare @FutureMV_ZeroOrEndingMVOrUnrealized int    
Declare @FXMV_ZeroOrEndingMVOrUnrealized int    
Declare @SwapMV_ZeroOrEndingMVOrUnrealized int    
Declare @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized int    
Declare @TotalCostASZero_Futures bit    
Declare @TotalCostASZero_FutOptions bit    
Declare @TotalCostASZero_FX bit     
Declare @TotalCostASZero_Swaps bit    
Declare @IncludeFXPNLinEquity bit    
Declare @IncludeFXPNLinEquityOption bit    
Declare @IncludeFXPNLinFX bit      
Declare @IncludeFXPNLinFutures bit    
Declare @IncludeFXPNLinSwaps bit    
Declare @IncludeFXPNLinInternationalFutOptions bit    
Declare @IncludeFXPNLinOther bit    
Declare @IncludeCommissionInPNL_Equity bit    
Declare @IncludeCommissionInPNL_EquityOption bit    
Declare @IncludeCommissionInPNL_Futures bit    
Declare @IncludeCommissionInPNL_FutOptions bit    
Declare @IncludeCommissionInPNL_Swaps bit    
Declare @IncludeCommissionInPNL_FX bit    
Declare @IncludeCommissionInPNL_Other bit    
          
Set  @FutureMV_ZeroOrEndingMVOrUnrealized = (Select FutureMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)    
Set  @FXMV_ZeroOrEndingMVOrUnrealized = (Select FXMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)    
Set  @SwapMV_ZeroOrEndingMVOrUnrealized = (Select SwapMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)    
Set  @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = (Select InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)    
Set  @TotalCostASZero_Futures = (Select TotalCostASZero_Futures from #ParameterPreferences)    
Set  @TotalCostASZero_FutOptions = (Select TotalCostASZero_FutOptions from #ParameterPreferences)    
Set  @TotalCostASZero_FX = (Select TotalCostASZero_FX from #ParameterPreferences)    
Set  @TotalCostASZero_Swaps = (Select TotalCostASZero_Swaps from #ParameterPreferences)    
Set  @IncludeFXPNLinEquity = (Select IncludeFXPNLinEquity from #ParameterPreferences)    
Set  @IncludeFXPNLinEquityOption = (Select IncludeFXPNLinEquityOption from #ParameterPreferences)    
Set  @IncludeFXPNLinFX = (Select IncludeFXPNLinFX from #ParameterPreferences)    
Set  @IncludeFXPNLinFutures = (Select IncludeFXPNLinFutures from #ParameterPreferences)    
Set  @IncludeFXPNLinSwaps = (Select IncludeFXPNLinSwaps from #ParameterPreferences)    
Set  @IncludeFXPNLinInternationalFutOptions = (Select IncludeFXPNLinInternationalFutOptions from #ParameterPreferences)    
Set  @IncludeFXPNLinOther = (Select IncludeFXPNLinOther from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_Equity = (Select IncludeCommissionInPNL_Equity from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_EquityOption = (Select IncludeCommissionInPNL_EquityOption from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_Futures = (Select IncludeCommissionInPNL_Futures from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_FutOptions = (Select IncludeCommissionInPNL_FutOptions from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_Swaps = (Select IncludeCommissionInPNL_Swaps from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_FX = (Select IncludeCommissionInPNL_FX from #ParameterPreferences)    
Set  @IncludeCommissionInPNL_Other = (Select IncludeCommissionInPNL_Other from #ParameterPreferences)    
    
    
Declare @BaseCurrency Varchar(10)        
Set  @BaseCurrency = (select CurrencySymbol from t_company Company        
     left outer join T_Currency Currency        
     on Company.BaseCurrencyID = Currency.CurrencyID)        
--Select  @BaseCurrency             
               
SELECT                   
                  
Rundate,                
TradeDate,                 
-- Symbology Codes                
Symbol,                
CUSIPSymbol ,                 
ISINSymbol ,                
SEDOLSymbol ,           
BloombergSYmbol ,                 
ReutersSYmbol ,                 
IDCOSymbol ,                 
OSISymbol,                 
UnderlyingSymbol ,                
-- Grouping parameters                
Fund,                 
Asset,                  
TradeCurrency,                 
Side,    
SecurityName,                 
MasterFund,                
Strategy,                
UDASector,                 
UDACountry,                
UDASecurityType,                
UDAAssetClass,                
UDASubSector ,                
-- Basic Fields                
EndingPriceLocal,
EndingPriceBase,
CASE      
WHEN (asset = 'CASH')                     
Then EndingMarketValueBase      
Else      
BeginningQuantity      
END AS BeginningQuantity,                                      
Multiplier,        
CASE      
WHEN (asset = 'CASH')                     
Then 1       
Else      
SideMultiplier      
END AS SideMultiplier,                                    
PutOrCall,               
IsSwapped,               
Open_CloseTag ,                 
       
--Derived Fields               
              
Case               
When (@TotalCostASZero_FX = 1) and (Asset = 'FX')    
Then 0          
When (@TotalCostASZero_Futures= 1) and (Asset = 'Future')    
Then 0     
When (@TotalCostASZero_FutOptions = 1) and (Asset = 'FutureOption')    
Then 0     
When (@TotalCostASZero_Swaps = 1) and (Asset = 'Equity' And IsSwapped = 1)              
Then 0      
When (asset = 'CASH')             
Then 0        
Else TotalCost_Local              
End as TotalCost_Local,              
              
Case               
When (@TotalCostASZero_FX = 1) and (Asset = 'FX')    
Then 0          
When (@TotalCostASZero_Futures= 1) and (Asset = 'Future')    
Then 0     
When (@TotalCostASZero_FutOptions = 1) and (Asset = 'FutureOption')    
Then 0     
When (@TotalCostASZero_Swaps = 1) and (Asset = 'Equity' And IsSwapped = 1)               
Then 0        
When (asset = 'CASH')             
Then 0             
Else TotalCost_Base              
End as TotalCost_Base,              
                
            
             
Case     
-- When Market Value is Equal to Market Value              
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 1) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 1) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 1) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 1)    
)    
Then     
EndingMarketValueLocal      
-- When Market Value is Equal to Unrealize P&L and without Commission    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 0) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 0) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 0)    
)    
Then     
UnrealizedTotalGainOnCostD2_Local  + TotalOpenCommissionAndFees_Local    
-- When Market Value is Equal to Unrealize P&L and with Commission    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 1) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 1) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 1)    
)    
Then     
UnrealizedTotalGainOnCostD2_Local    
-- When Market Value is Equal to 0    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized not in (1,2))    
)    
Then     
0            
Else EndingMarketValueLocal              
End as EndingMarketValueLocal,               
              
      
      
Case     
-- When Market Value is Equal to Market Value              
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 1) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 1) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 1) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 1)    
)    
Then     
EndingMarketValueLocal*EndingFXRate      
-- When Market Value is Equal to Unrealize P&L and without Commission and with Single FX Rate    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 0 and @IncludeFXPNLinFutures = 0) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 0) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 0 and @IncludeFXPNLinSwaps = 0) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 0 and @IncludeFXPNLinInternationalFutOptions = 0)    
)    
Then     
UnrealizedTradingGainOnCostD2_Base  + TotalOpenCommissionAndFees_Local    
-- When Market Value is Equal to Unrealize P&L and with Commission and with Single FX Rate    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 1 and @IncludeFXPNLinFutures = 0) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 0) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 1 and @IncludeFXPNLinSwaps = 0) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 1 and @IncludeFXPNLinInternationalFutOptions = 0)    
)    
Then     
UnrealizedTradingGainOnCostD2_Base    
-- When Market Value is Equal to Unrealize P&L and without Commission and with Both FX Rate    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 0 and @IncludeFXPNLinFutures = 1) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 1) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 0 and @IncludeFXPNLinSwaps = 1) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 0 and @IncludeFXPNLinInternationalFutOptions = 1)    
)    
Then     
UnrealizedTotalGainOnCostD2_Base + TotalOpenCommissionAndFees_Base    
-- When Market Value is Equal to Unrealize P&L and with Commission and with Both FX Rate    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 1 and @IncludeFXPNLinFutures = 1) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 1) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 1 and @IncludeFXPNLinSwaps = 1) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 1 and @IncludeFXPNLinInternationalFutOptions = 1)    
)    
Then     
UnrealizedTotalGainOnCostD2_Base    
-- When Market Value is Equal to 0    
When     
(    
(Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or     
(Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or     
(Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or    
(Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized not in (1,2))    
)    
Then     
0              
Else EndingMarketValueBase              
End as EndingMarketValueBase            
                
Into #Raw                
FROM T_MW_GenericPNL  PNL    
inner join T_asset A on A.Assetname = PNL.Asset    
inner join T_CompanyFunds F on F.FundName = PNL.Fund    
          
Where     
(Open_CloseTag ='O')     
and     
datediff(d,Rundate,@rundate) = 0     

Create Table #EntitiesTraces 
(Date datetime,InvestorIPId int,InvestorIPName varchar(Max),FundId int,FundName varchar(Max),AcctId int,AcctName varchar(Max),Part_TradingLevel decimal(9,8),Part_InvestedCash decimal(9,8))
Insert Into #EntitiesTraces
(Date,InvestorIPId,InvestorIPName,FundId,FundName,AcctId,AcctName,Part_TradingLevel,Part_InvestedCash)
Exec P_MW_RjoM_GetParticipation @rundate,@rundate,@GroupTypeId,@GroupId 

Select
Rundate,
TradeDate,
-- Symbology Codes
Symbol,
CUSIPSymbol ,
ISINSymbol ,
SEDOLSymbol ,
BloombergSYmbol ,
ReutersSYmbol ,
IDCOSymbol ,
OSISymbol,
UnderlyingSymbol ,
-- Grouping parameters
S2.InvestorIPName As InvestorIP,S2.FundName As Fund,S2.AcctName As Account,
Asset,
TradeCurrency,
Side,
SecurityName,
Strategy,
UDASector,
UDACountry,
UDASecurityType,
UDAAssetClass,
UDASubSector ,
-- Basic Fields
EndingPriceLocal,
EndingPriceBase,
S2.Part_TradingLevel * BeginningQuantity As BeginningQuantity,
Multiplier,
SideMultiplier,
PutOrCall,
IsSwapped,
Open_CloseTag,
--Derived Fields
S2.Part_TradingLevel * TotalCost_Local As TotalCost_Local,
S2.Part_TradingLevel * TotalCost_Base As TotalCost_Base,
S2.Part_TradingLevel * EndingMarketValueLocal As EndingMarketValueLocal,
S2.Part_TradingLevel * EndingMarketValueBase As EndingMarketValueBase
From #Raw D
Join #EntitiesTraces S2 On D.Fund = S2.AcctName And D.Rundate = S2.Date 

Drop Table #Raw,#EntitiesTraces,#ParameterPreferences
