/****** Object:  StoredProcedure [dbo].[P_MW_RjoM_SetAcctVal]    Script Date: 07/21/2014 11:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
/* Usage:
Exec P_MW_RjoM_SetAcctVal '05/04/2014','Access OASIS 1',80000,800000
Exec P_MW_RjoM_SetAcctVal '05/04/2014','Access OASIS 2',80000,800000
Exec P_MW_RjoM_SetAcctVal '05/04/2014','Access OASIS 3',80000,800000
*/
-- =============================================
CREATE PROCEDURE [dbo].[P_MW_RjoM_SetAcctVal]
	-- Add the parameters for the stored procedure here
	@UpdateDate smalldatetime,
	@AcctName varchar(Max),
	@Val_TradingLevel decimal(38,8),
	@Val_InvestedCash decimal(38,8)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here 
Declare @AcctId int 
Select @AcctId = CompanyFundID 
From T_CompanyFunds Where FundName = @AcctName 

If @AcctId Is Not Null 
Begin 
Delete From T_MW_RjoM_AcctVal Where AcctId = @AcctId And UpdateDate =  @UpdateDate 
Insert Into T_MW_RjoM_AcctVal 
(AcctId,UpdateDate,Val_TradingLevel,Val_InvestedCash) 
Select @AcctId,@UpdateDate,@Val_TradingLevel,@Val_InvestedCash
End 

END