body
{
	font: 76% arial,sans-serif;	
	background: #414042;
}


a:link, a:hover, a:visited, a:active {
	font-size: 1em;
	color: #f26522;
	text-decoration: none;
}

div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #000;color: white}
div#content p{line-height:1.4}

div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#navigation
{
	float:left;width:15%; height:10%;
	background: #555;
	}

div#navigation a{display:block;background: #555;color:white;padding:10px;width:50px;height:100%;font-size:14px}
div#container
{
	background: #444;
	margin-left :50px;
	margin-right :50px;
width:90%;
height:80%;
	
}

div#wrapper
{
	float:left;
	width:80%
	}
div#content
{
	margin: 0 1%;
	
	
}
.divider {
	width: 100%;
	height: 2px;
	background: url(../images/divider.gif) no-repeat;
	font-size: 1px;
}
.verticledivider {
	width: 2px;
	height: 400px;
	background: url(../images/verticledivider.gif) no-repeat;
	font-size: 1px;
	float:left;
}

div#extra{float:left;width:25%;margin-left:-25%}
div#footer{clear:both;width:100%;background :#000}


div.ServerStatus
{ float:left;width:33%;height:175px;margin-left:0% ;border-style:solid;
  border-width :1px;margin-top:0%; background :white;margin-bottom:0
}
div#StatusWrapper
{
  	width:100%;height:180px;overflow:auto;border-width :1px;background :white;
}

div#AllConnections{float:left;width:100%;height:150px;margin-left:0px;margin-top:10px}
p.Heading{background:#42537A;color: white;margin-left:10}
.Button{background:#42537A;margin-left:10;color:white}