/****** Object:  Table [dbo].[T_W_KeyStat]    Script Date: 03/20/2015 14:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_W_KeyStat](
	[GroupBy] [varchar](max) NULL,
	[Client] [varchar](max) NULL,
	[Entity] [varchar](max) NULL,
	[Statistic] [varchar](50) NULL,
	[Day] [float] NULL,
	[Week] [float] NULL,
	[MTD] [float] NULL,
	[QTD] [float] NULL,
	[YTD] [float] NULL,
	[ID] [int] NULL,
	[IsNumberOrPercentage] [bit] NULL,
	[HiddenNoNav] [bit] NULL,
	[HiddenNoVolShal] [bit] NULL,
	[Format] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF