/****** Object:  Table [dbo].[T_W_Registration]    Script Date: 03/21/2014 23:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_W_Registration](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationName] [varchar](max) NOT NULL,
	[ClientID] [int] NULL,
 CONSTRAINT [PK_T_W_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO