/****** Object:  Table [dbo].[T_W_BatchPreferences]    Script Date: 02/23/2015 10:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_W_BatchPreferences](
	[ReportID] [varchar](100) NOT NULL,
	[BatchCutoffTime] [int] NOT NULL CONSTRAINT [DF_BatchCutoffTime]  DEFAULT ((6)),
	[TimezoneDiff] [int] NOT NULL CONSTRAINT [DF_TimezoneDiff]  DEFAULT ((0)),
	[StartDatePreference] [int] NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_StartDatePreference]  DEFAULT ((0)),
	[MaximumDrawDown_DropRankOrDrawDownRank] [int] NOT NULL CONSTRAINT [DF_MaximumDrawDown]  DEFAULT ((1)),
	[AnalyticsNAV_SavedOrCalculatedOrGrossExposure] [int] NOT NULL CONSTRAINT [DF_AnalyticsNAV]  DEFAULT ((1)),
	[Performance_TWROROrMDOrLinkedMD] [int] NOT NULL CONSTRAINT [DF_Performance]  DEFAULT ((1)),
	[CashFlow_IncludeOtherNonTaxlotTxnsOrInvestorCashTxnsOnly] [int] NOT NULL CONSTRAINT [DF_CashFlow]  DEFAULT ((1)),
	[Accruals_CashAccrualsOrCashDividendOrZero] [int] NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_Accruals_CashAccrualsOrCashDividend]  DEFAULT ((0)),
	[ACB_IncludeAccrualsOrMkvAndCashOnly] [int] NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_ACB_IncludeAccrualsOrMkvAndCashOnly]  DEFAULT ((0)),
	[StartDateHandling_ExistingEntriesOrBeginnigNAVBeginningCashZeroOutCashFlowEndingNAVMinusPNL] [int] NOT NULL CONSTRAINT [DF_StartDateHandling]  DEFAULT ((0)),
	[NegativePerformanceBase_AbsoluteOrNull] [int] NOT NULL CONSTRAINT [DF_NegativePerformanceBase]  DEFAULT ((0)),
	[PerformanceSmallerOrEqualToMinusOne_MinusZeroPoint999OrNull] [int] NOT NULL CONSTRAINT [DF_PerformanceSmallerOrEqualToMinusOne]  DEFAULT ((0)),
	[PNLContribution_PNLOrACB] [int] NOT NULL CONSTRAINT [DF_PNLContribution]  DEFAULT ((1)),
	[SectorLevel_SubSectorOrSector] [int] NOT NULL CONSTRAINT [DF_SectorLevel_SectorOrSubSector]  DEFAULT ((1)),
	[LongShortPNL_MVOrByExposure] [int] NOT NULL CONSTRAINT [DF_LongShortPNL]  DEFAULT ((1)),
	[IntradayNAV_AnalyticsOrDataDumpOrGrossExposure] [int] NOT NULL CONSTRAINT [DF_IntradayNAV]  DEFAULT ((1)),
	[IntradayCommaDelimitedIndices] [varchar](max) NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_IntradayCommaDelimitedIndices]  DEFAULT ('$SPX'),
	[PeriodPNL_CumulativeDailyOrHoldingPeriod] [int] NOT NULL CONSTRAINT [DF_PeriodPNL_CumulativeDailyOrHoldingPeriod]  DEFAULT ((1)),
	[FutOption_DeltaAdjustedPositionWithoutMultiplier] [bit] NOT NULL CONSTRAINT [DF_FutOption_DeltaAdjustedPositionWithoutMultiplier]  DEFAULT ((1)),
	[IntradayExposure_NotDeltaAdjustedOrDeltaAdjusted] [bit] NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_IntradayExposure_NotDeltaAdjustedOrDeltaAdjusted]  DEFAULT ((1)),
	[AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted] [bit] NOT NULL CONSTRAINT [DF_T_W_BatchPreferences_Exposure_NotDeltaAdjustedOrDeltaAdjusted]  DEFAULT ((1)),
	[FutureMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL CONSTRAINT [DF_FutureMV]  DEFAULT ((2)),
	[FXMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL CONSTRAINT [DF_FXMV]  DEFAULT ((2)),
	[SwapMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL CONSTRAINT [DF_SwapMV]  DEFAULT ((2)),
	[InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized] [int] NOT NULL CONSTRAINT [DF_InternationalFutOptionsMV]  DEFAULT ((2)),
	[IncludeFXPNLInMTMPNL_Equity] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__7C1B697B]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_EquityOption] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__7D0F8DB4]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_FX] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__7E03B1ED]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_Futures] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__7EF7D626]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_Swaps] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__7FEBFA5F]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_FutOptions] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__00E01E98]  DEFAULT ((1)),
	[IncludeFXPNLInMTMPNL_Other] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__01D442D1]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_Equity] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__02C8670A]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_EquityOption] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__03BC8B43]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_FX] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__04B0AF7C]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_Futures] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__05A4D3B5]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_Swaps] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0698F7EE]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_FutOptions] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__078D1C27]  DEFAULT ((1)),
	[IncludeCommissionInMTMPNL_Other] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__08814060]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_Equity] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__09756499]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_EquityOption] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0A6988D2]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_FX] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0B5DAD0B]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_Futures] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0C51D144]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_Swaps] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0D45F57D]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_FutOptions] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0E3A19B6]  DEFAULT ((1)),
	[IncludeFXPNLInCostBasisPNL_Other] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__0F2E3DEF]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_Equity] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__10226228]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_EquityOption] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__11168661]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_FX] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__120AAA9A]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_Futures] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__12FECED3]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_Swaps] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__13F2F30C]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_FutOptions] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__14E71745]  DEFAULT ((1)),
	[IncludeCommissionInCostBasisPNL_Other] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__15DB3B7E]  DEFAULT ((1)),
	[IncludeCashInPNL] [bit] NOT NULL CONSTRAINT [DF__T_W_Batch__Inclu__15DB3B7E1]  DEFAULT ((0)),
 CONSTRAINT [PK_T_W_BatchPreferences] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF