/****** Object:  Table [dbo].[T_W_RegistrationClientMapping]    Script Date: 03/21/2014 23:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_W_RegistrationClientMapping](
	[MappingID] [bigint] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_T_W_RegistrationClientMapping] PRIMARY KEY CLUSTERED 
(
	[MappingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO