/****** Object:  Table [dbo].[T_W_Dashboard]    Script Date: 03/20/2015 14:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_W_Dashboard](
	[GroupBy] [varchar](max) NULL,
	[Client] [varchar](max) NULL,
	[Entity] [varchar](max) NULL,
	[EndingNAV] [float] NULL,
	[EndingCash] [float] NULL,
	[GrossDeltaExposure] [float] NULL,
	[NetDeltaExposure] [float] NULL,
	[DayPNL] [float] NULL,
	[WeekPNL] [float] NULL,
	[MTDPNL] [float] NULL,
	[QTDPNL] [float] NULL,
	[YTDPNL] [float] NULL,
	[DayPerformance] [float] NULL,
	[WeekPerformance] [float] NULL,
	[MTDPerformance] [float] NULL,
	[QTDPerformance] [float] NULL,
	[YTDPerformance] [float] NULL,
	[SharpeRatio] [float] NULL,
	[DrawDown] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF