
/******
 Object:  StoredProcedure [dbo].[P_MW_GetAllMarketValue_RiskReport]    Script Date: 10/21/2015 13:05:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
         
            
/**********************************************************************        
Author: Sachin Mishra        
Date : 01 Oct 2015        
Description :  Get all market valuse (LMV,SMV,NAV,GMV,Exposure,NetExposure,Net Leverage)        
        
Exec [P_MW_GetAllMarketValue_RiskReport] '10/15/2015','1','MTM_V0'        
        
        
**********************************************************************/               
              
CREATE Procedure [dbo].[P_MW_GetAllMarketValue_RiskReport]              
(              
@EndDate datetime,              
@fund varchar(max),              
@ReportID Varchar(100)         
)              
As         
--      
--Declare @EndDate DateTime              
--Declare @fund varchar(max)              
--Declare @ReportID Varchar(100)        
--      
--Set @EndDate = '10-13-2015'              
--Set @fund = '5'              
--Set @ReportID = 'MTM_V0'           
              
Set Nocount on              
              
Select * Into #Funds                                          
from dbo.Split(@fund, ',')          
        
Select       
FundName,      
CompanyFundID       
InTo #FundIds       
From T_companyFunds       
INNER JOIN  #Funds On CompanyFundID = Items        
        
Select *       
InTo #TempPNL       
From T_MW_GenericPNL        
Where Datediff(Day,Rundate,@EndDate) = 0              
And Fund In (Select FundName From #FundIds)          
And Open_CloseTag <> 'C'        
                                        
Select              
 FutureMV_ZeroOrEndingMVOrUnrealized,              
 FXMV_ZeroOrEndingMVOrUnrealized,              
 SwapMV_ZeroOrEndingMVOrUnrealized,              
 InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized,              
 IncludeFXPNLinEquity,              
 IncludeFXPNLinEquityOption,              
 IncludeFXPNLinFX,              
 IncludeFXPNLinFutures,              
 IncludeFXPNLinSwaps,              
 IncludeFXPNLinInternationalFutOptions,              
 IncludeFXPNLinOther,              
 IncludeCommissionInPNL_Equity,              
 IncludeCommissionInPNL_EquityOption,              
 IncludeCommissionInPNL_Futures,              
 IncludeCommissionInPNL_FutOptions,              
 IncludeCommissionInPNL_Swaps,              
 IncludeCommissionInPNL_FX,              
 IncludeCommissionInPNL_Other            
        
Into #ParameterPreferences          
from T_ReportPreferences where ReportID = @ReportID              
              
              
Declare @FutureMV_ZeroOrEndingMVOrUnrealized int              
Declare @FXMV_ZeroOrEndingMVOrUnrealized int              
Declare @SwapMV_ZeroOrEndingMVOrUnrealized int              
Declare @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized int              
Declare @IncludeFXPNLinEquity bit              
Declare @IncludeFXPNLinEquityOption bit              
Declare @IncludeFXPNLinFX bit                
Declare @IncludeFXPNLinFutures bit              
Declare @IncludeFXPNLinSwaps bit              
Declare @IncludeFXPNLinInternationalFutOptions bit              
Declare @IncludeFXPNLinOther bit              
Declare @IncludeCommissionInPNL_Equity bit              
Declare @IncludeCommissionInPNL_EquityOption bit              
Declare @IncludeCommissionInPNL_Futures bit              
Declare @IncludeCommissionInPNL_FutOptions bit              
Declare @IncludeCommissionInPNL_Swaps bit              
Declare @IncludeCommissionInPNL_FX bit              
Declare @IncludeCommissionInPNL_Other bit              
              
Set  @FutureMV_ZeroOrEndingMVOrUnrealized = (Select FutureMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)              
Set  @FXMV_ZeroOrEndingMVOrUnrealized = (Select FXMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)              
Set  @SwapMV_ZeroOrEndingMVOrUnrealized = (Select SwapMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)              
Set  @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = (Select InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized from #ParameterPreferences)              
Set  @IncludeFXPNLinEquity = (Select IncludeFXPNLinEquity from #ParameterPreferences)              
Set  @IncludeFXPNLinEquityOption = (Select IncludeFXPNLinEquityOption from #ParameterPreferences)              
Set  @IncludeFXPNLinFX = (Select IncludeFXPNLinFX from #ParameterPreferences)              
Set  @IncludeFXPNLinFutures = (Select IncludeFXPNLinFutures from #ParameterPreferences)              
Set  @IncludeFXPNLinSwaps = (Select IncludeFXPNLinSwaps from #ParameterPreferences)              
Set  @IncludeFXPNLinInternationalFutOptions = (Select IncludeFXPNLinInternationalFutOptions from #ParameterPreferences)              
Set  @IncludeFXPNLinOther = (Select IncludeFXPNLinOther from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_Equity = (Select IncludeCommissionInPNL_Equity from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_EquityOption = (Select IncludeCommissionInPNL_EquityOption from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_Futures = (Select IncludeCommissionInPNL_Futures from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_FutOptions = (Select IncludeCommissionInPNL_FutOptions from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_Swaps = (Select IncludeCommissionInPNL_Swaps from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_FX = (Select IncludeCommissionInPNL_FX from #ParameterPreferences)              
Set  @IncludeCommissionInPNL_Other = (Select IncludeCommissionInPNL_Other from #ParameterPreferences)              
              
Declare @BaseCurrency Varchar(10)                  
Set  @BaseCurrency = (select top 1 CurrencySymbol from t_company Company          
     left outer join T_Currency Currency               
     on Company.BaseCurrencyID = Currency.CurrencyID)                
            
         
Create Table #TempMarketValue      
(      
Symbol Varchar(200),  
Side Varchar(20),  
BeginningQuantity FLOAT,      
MarketValue Float,
Fund Varchar(200)      
)           
      
Insert InTo #TempMarketValue      
Select   
PNL.Symbol,      
PNL.Side,  
PNL.BeginningQuantity,             
             
  Case               
  -- When Market Value is Equal to Market Value                        
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 1) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 1) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized = 1) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 1) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 1)              
  )              
  Then               
  PNL.EndingMarketValueLocal*PNL.EndingFXRate          
  -- When Market Value is Equal to Unrealize P&L and without Commission and with Single FX Rate                 
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 0 and @IncludeFXPNLinFutures = 0) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 0) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 0) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 0 and @IncludeFXPNLinSwaps = 0) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 0 and @IncludeFXPNLinInternationalFutOptions = 0)              
  )              
  Then               
  UnrealizedTradingGainOnCostD2_Base  + TotalOpenCommissionAndFees_Base              
  -- When Market Value is Equal to Unrealize P&L and with Commission and with Single FX Rate              
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 1 and @IncludeFXPNLinFutures = 0) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 0) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 0) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 1 and @IncludeFXPNLinSwaps = 0) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 1 and @IncludeFXPNLinInternationalFutOptions = 0)              
  )              
  Then               
  UnrealizedTradingGainOnCostD2_Base              
  -- When Market Value is Equal to Unrealize P&L and without Commission and with Both FX Rate              
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 0 and @IncludeFXPNLinFutures = 1) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 1) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 0 and @IncludeFXPNLinFX = 1) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 0 and @IncludeFXPNLinSwaps = 1) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 0 and @IncludeFXPNLinInternationalFutOptions = 1)              
  )              
  Then               
  UnrealizedTotalGainOnCostD2_Base + TotalOpenCommissionAndFees_Base              
  -- When Market Value is Equal to Unrealize P&L and with Commission and with Both FX Rate              
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Futures = 1 and @IncludeFXPNLinFutures = 1) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 1) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FX = 1 and @IncludeFXPNLinFX = 1) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_Swaps = 1 and @IncludeFXPNLinSwaps = 1) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2 and @IncludeCommissionInPNL_FutOptions = 1 and @IncludeFXPNLinInternationalFutOptions = 1)              
  )              
  Then               
  UnrealizedTotalGainOnCostD2_Base              
  -- When Market Value is Equal to 0              
  When               
  (              
  (Asset = 'Future' and @FutureMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or               
  (Asset = 'FX' and @FXMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or               
  (Asset = 'FXForward' and @FXMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or               
  (Asset = 'Equity' And IsSwapped = 1 and @SwapMV_ZeroOrEndingMVOrUnrealized not in (1,2)) or              
  (Asset = 'FutureOption' And (@BaseCurrency <> TradeCurrency) and @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized not in (1,2))              
  )              
  Then               
  0                        
  Else EndingMarketValueBase                        
  End ,
PNL.fund              
           
 From #TempPNL PNL              
 Where Open_CloseTag = 'O' And Asset <> 'Cash'      
    
 
 
Declare @EndOFDayNav Float        
Declare @LongMarketValue Float        
Declare @ShortMarketValue Float        
Declare @GrossMarketValue Float        
Declare @Exposure Float        
Declare @NetExposurePerOfGMV Float        
Declare @NetLeverage Float       
Declare @CashMKTValue Float      
Declare @AccrualsMKTValue Float      
Declare @CountLongValue INT       
Declare @CountShortValue INT 

-------Count long Positions--------
   
Declare  @TempLongCount    Table  
(      
Symbol Varchar(200) 
) 
insert into @TempLongCount Select Symbol as Symbol from #TempMarketValue  where Side='long' group by Fund,Symbol
select @CountLongValue=Count(*) from @TempLongCount

-------Count Short Positions--------
Declare  @TempShortCount   Table   
(      
Symbol Varchar(200) 
) 
insert into @TempShortCount Select Symbol as Symbol from #TempMarketValue  where Side='Short' group by Fund,Symbol
select @CountShortValue=Count(*) from @TempShortCount
---------------------------------------------------------

-----Calculate CashMKTValue,AccrualsMKTValue-------------
Set @CashMKTValue = (Select  IsNull(Sum(IsNull(EndingMarketValueBase,0)),0) from #TempPNL Where Open_CloseTag = 'O' And Asset = 'Cash')       
Set @AccrualsMKTValue = (Select  IsNull(Sum(IsNull(EndingMarketValueBase,0)),0) from #TempPNL Where Open_CloseTag = 'Accruals')         
---------------------------------------------------------

-----Calculate LongMarketValue,ShortMarketValue-------------
set @LongMarketValue =(Select Sum(Isnull(MarketValue,0)) From #TempMarketValue Where Side = 'Long')        
Set @ShortMarketValue =(Select Sum(Isnull(MarketValue,0)) From #TempMarketValue Where Side = 'Short')  
---------------------------------------------------------   
    
----Calculate End of the day NAV,Exposure,GrossMarketValue,NetExposurePerOfGMV,NetLeverage-------------------
Set @EndOFDayNav = (ISNULL(@LongMarketValue,0) + ISNULL(@ShortMarketValue,0) + ISNULL(@CashMKTValue,0) + ISNULL(@AccrualsMKTValue,0))      
Set @Exposure=(@LongMarketValue - Abs(IsNull(@ShortMarketValue,0)))    
Set @GrossMarketValue=(@LongMarketValue+ ABS(IsNull(@ShortMarketValue,0)))        
Set @NetExposurePerOfGMV=IsNull((@Exposure/NullIf(@GrossMarketValue,0)),0)        
Set @NetLeverage=IsNull((@Exposure/NullIf(@EndOFDayNav,0)),0) 
------------------------------------------------------------------------------------------------------------       
       
----Select All Market Values  ---------------------
Select       
IsNull(@EndOFDayNav,0) As EndOFDayNav,        
IsNull(@LongMarketValue,0) As LMV,        
IsNull(@ShortMarketValue,0) As SMV,        
IsNull(@GrossMarketValue,0) As GMV,        
IsNull(@Exposure,0) As Exposure,        
IsNull(@NetExposurePerOfGMV,0) As NetExposurePerOfGMV,        
IsNull(@NetLeverage,0) As NetLeverage,  
IsNull(@CountLongValue,0) AS CountLongValue,  
IsNull(@CountShortValue,0) As CountShortValue    
----------------------------------------------------

---------------------Drop All temp tables---------------------------------      
Drop Table #ParameterPreferences,#TempPNL,#FundIds,#TempMarketValue,#Funds
--------------------------------------------------------------------------