body
{
        margin: 10px 15px 15px 15px;
        background-color: #FFF;
        font-size: 11px;
        line-height: 15px;
        font-family: verdana, arial, helvetica, sans-serif;
        background-image: url(camsyslogo.jpg);
        background-repeat: no-repeat;
        background-position: 97% 0px;
}

img { border: 0; }

a:link {color: blue;}
a:visited {color: blue;}

h1
{
        color: #676055;
        font-size: 15px;
        margin: 0 0 25px 0;
        padding: 35px 0 10px 0;
        font-weight: bold;
        border-bottom: 2px solid #cd1d19;
        padding-bottom: 10px;
}

table
{
        margin: 5px 0px 10px 0px;
        border: 1px none #999;
}

th
{
        font-size: 11px;
        line-height: 15px;
        padding: 5px 10px 5px 10px;
        vertical-align: top;
        border: 1px solid #999;
        text-align: left;
        background-color: #EEE;
        color: #666;
}

td
{
        font-size: 0.9em;
        line-height: 15px;

        vertical-align: top;
        border: 1px none #999;
}

td.label
{
        font-size: 11px;
        font-weight: bold;
        line-height: 15px;
        padding: 5px 10px 5px 10px;
        vertical-align: top;
        border: 1px none #999;
        text-align: right;
}

fieldset
{
        padding: 10px;
        margin: 0 0 10px 0;
}

legend
{
        color: #676055;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
}

form { margin: 0; }

div.errorMessage
{
        color: red;
        font-size: 12px;
        font-weight: bold;
}

div.errorDump
{
        background-color: #EEE;
        border: 1px none #999;
}

/* NAVIGATION */
#navwrapper
{
        position: relative;
        top: 65px;
        float: right;
        background-color: transparent;
        z-index: 5;
        clear: both;
}

#nav
{
        font-size: 11px;
        line-height: 15px;
        font-family: verdana, arial, helvetica, sans-serif;
        color: #000;
}

#nav li
{
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0 5px 0 5px;
        border-width: 0 1px 0 0;
        border-style: none solid none none;
        border-color: #C30;
}

#nav li.lastli { border-style: none; }

#nav li a
{
        text-decoration: none;
        font-weight: normal;
        margin: 0;
}

#nav li a:hover { color: #726359; }

#nav li a.current
{
        font-weight: normal;
        color: #C30;
}

tr.new
{
    background-color: #ddeeff;
}

tr.done
{
    background-color: #ffffaa;
}

tr.filled
{
    background-color: #aaffaa;
}

tr.partfilled
{
    background-color: #aaaaff;
}

tr.rejected
{
    background-color: #ffaaff;
}

tr.cancelled
{
    background-color: #ffaaaa;
}

tr.replaced
{
    background-color: #aaffff;
}

tr.plain0
{
    background-color: #dddddd;
}

tr.plain1
{
    background-color: #eeeeee;
}

tr.pending
{
    background-color: #ffaaaa;
}
