body
{
//      font-family: verdana, arial, helvetica, sans-serif;
        background-image: url(camsyslogo.jpg);
        background-repeat: no-repeat;
        background-position: 97% 10px;
}

a:link {color: blue;}
a:visited {color: blue;}

h1#title
{
        font-family: verdana, arial, helvetica, sans-serif;
        color: #676055;
        font-size: 15px;
        margin: 0 0 25px 0;
        padding: 35px 0 10px 0;
        font-weight: bold;
        border-bottom: 2px solid #cd1d19;
        padding-bottom: 10px;
}

div#navwrapper
{
        position: relative;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 11px;
        text-align: right;
        top: -20px;
        width: 100%;
}

