                                    
CREATE PROCEDURE [dbo].[P_MW_GetFundNAVWPSAAndIndex]                                              
(                                              
 @EndDate datetime,                                              
 @FundID varchar(max),                                          
 @paramNAVbyMWorPM int,                                      
 @ITD dateTime,                                    
 @Indexes varchar(max),                  
 @ReportID Varchar(100),                  
 @IncludeAccured bit,                
 @IncludeNetGross bit,              
 @IncludeITD bit                                 
)                                              
As                                              
Begin         
--------------------------------------------------adjust end date           
        
declare @ITDFromDate Datetime         
declare @MTDFromdateNAV datetime,@DTDFromdateNAV datetime,@YTDFromdateNAV datetime        
declare @MTDFromdateWPSA datetime,@DTDFromdateWPSA datetime,@YTDFromdateWPSA datetime        
declare @MTDFromdateSP500 datetime,@DTDFromdateSP500 datetime,@YTDFromdateSP500 datetime        
        
                                      
Create Table #Temp                                      
(                                      
 ITDdateNAV DateTime,DTDdateNAV Datetime, MTDdateNAV datetime, YTDdateNAV DateTime,        
 ITDNav Float,                                      
 DTDNav Float,                                      
 MTDNav Float,                                      
 YTDNav Float,                                      
 ITDdateWPSA DateTime,DTDdateWPSA Datetime, MTDdateWPSA datetime, YTDdateWPSA DateTime,        
 ITDWPSA Float,                                      
 DTDWPSA Float,                                      
 MTDWPSA Float,                                      
 YTDWPSA Float,                                      
 ITDdateSP500 DateTime,DTDdateSP500 Datetime, MTDdateSP500 datetime, YTDdateSP500 DateTime,        
 ITDSP500 Float,                                      
 DTDSP500 Float,                                      
 MTDSP500 Float,                                      
 YTDSP500 Float,                                      
 Funds varchar(max),                                      
 ID int identity(1,1)                                         
)                                      
        
--------------------------------------------------all the funds added in the Temp output table                                        
        
insert into #Temp(Funds) values(@FundID)                                        
        
--------------------------------------------------get fund names in a local variable         
        
Select * Into #Funds                                                                                          
from dbo.Split(@FundID, ',')                                      
                                     
DECLARE @FNameList varchar(max)                                    
SELECT @FNameList= coalesce(@FNameList + ',', '') + FName.Fundname                                     
FROM (select Fundname FROM T_CompanyFunds inner join #Funds t on CompanyFundID=t.items) FName                       
        
--------------------------------------------------check if ITD is to be taken from DB or Report        
        
IF @IncludeITD = 1          ----Include ITD from DB              
begin               
 select @ITD = dbo.AdjustBusinessDays(min(CashMgmtStartDate),1,1) from dbo.T_CashPreferences where ID in (select items from #Funds)            
end              
        
---------------------------------------------------Insert ITDdateNAV, ITDdateWPSA and ITDdateSP500           
set @ITDFromdate= @ITD    
declare @ITDFromdateNAV DateTime  
set @ITDFromdateNAV = dbo.AdjustBusinessDays(@ITDFromdate,-1,1)  
 Update #Temp set         
 ITDdateNAV= @ITDFromdateNAV,        
 ITDdateWPSA= @ITDFromdate,        
 ITDdateSP500= @ITDFromdate        
                                     
---------------------------------------------------Insert DTDdateNAV, DTDdateWPSA and DTDdateSP500        
        
set @DTDFromdateNAV = dbo.AdjustBusinessDays(@EndDate,-1,11)        
set @DTDFromdateWPSA = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(@EndDate,-1,11),1,11)        
set @DTDFromdateSP500 = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(@EndDate,-1,11),1,11)        
        
                  
-- Select @DTDFromdate=  dbo.AdjustBusinessDays(@EndDate,-1,11)        
 update #Temp SET         
 DTDdateNAV= @DTDFromdateNAV,        
 DTDdateWPSA= @DTDFromdateWPSA,        
 DTDdateSP500= @DTDFromdateSP500        
            
---------------------------------------------------Insert MTDdateNAV, MTDdateWPSA and MTDdateSP500        
        
set @MTDFromdateNAV = dbo.AdjustBusinessDays(dbo.F_MW_GetWeekendAdjusted (@EndDate,1,3),-1,11)        
set @MTDFromdateWPSA = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(dbo.F_MW_GetWeekendAdjusted (@EndDate,1,3),-1,11),1,11)        
set @MTDFromdateSP500 = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(dbo.F_MW_GetWeekendAdjusted (@EndDate,1,3),-1,11),1,11)        
         
 update #Temp SET         
 MTDdateNAV= @MTDFromdateNAV,        
 MTDdateWPSA= @MTDFromdateWPSA,        
 MTDdateSP500= @MTDFromdateSP500        
            
---------------------------------------------------Insert YTDdateNAV, YTDdateWPSA and YTDdateSP500        
        
set @YTDFromdateNAV = dbo.F_MW_GetWeekendAdjusted (@EndDate,1,10)        
set @YTDFromdateWPSA = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(dbo.F_MW_GetWeekendAdjusted (@EndDate,1,7),-1,11),1,11)        
set @YTDFromdateSP500 = dbo.AdjustBusinessDays(dbo.AdjustBusinessDays(dbo.F_MW_GetWeekendAdjusted (@EndDate,1,7),-1,11),1,11)        
        
        
 update #Temp SET         
 YTDdateNAV= @YTDFromdateNAV,        
 YTDdateWPSA= @YTDFromdateWPSA,        
 YTDdateSP500= @YTDFromdateSP500        
                                  
----------------------------------------NAV---------------------------------------------------                                     
declare @IsITD bit                                    
set @IsITD=1                                    
Update #Temp                                     
set ITDNav=COALESCE(dbo.F_MW_GetNAV_WPS(@ITDFromdateNAV,@paramNAVbyMWorPM, @FNameList,@IsITD,@ReportID,@IncludeAccured),0)                                    
                                    
set @IsITD=0                                    
update #Temp                                     
set DTDNav=COALESCE(dbo.F_MW_GetNAV_WPS(@DTDFromdateNAV,@paramNAVbyMWorPM, @FNameList,@IsITD,@ReportID,@IncludeAccured),0)                                     
                                      
update #Temp                                     
set MTDNav=COALESCE(dbo.F_MW_GetNAV_WPS(@MTDFromdateNAV,@paramNAVbyMWorPM, @FNameList,@IsITD,@ReportID,@IncludeAccured),0)             
                                       
update #Temp                                     
set YTDNav=COALESCE(dbo.F_MW_GetNAV_WPS(@YTDFromdateNAV,@paramNAVbyMWorPM, @FNameList,@IsITD,@ReportID,@IncludeAccured),0)                                     
                                    
----------------------------------------------Index Calculation -------------------------------                                    
CREATE table #Index                               
(                                    
rSymbol varchar(200),                                  
Name varchar(200),                                  
toDatePrice float,                                  
toDateDate Datetime,                    
[day] float,                                  
dayPrice float,                                  
dayDate datetime,                                  
MTD float,                                  
MTDPrice float,                                  
MTDDate Datetime,                                  
ITD float,                                  
ITDPrice float,                                  
ITDDate datetime,                                  
YTD float,                                 
YTDPrice float,                                  
YTDDate Datetime                                    
)                                    
                                     
--Insert into #Index exec P_EODBenchmarkWPSPerformance @EndDate,@ITD,@Indexes                                     
Insert into #Index exec P_EODBenchmarkPerformanceWPS @EndDate,@ITDFromdate,@Indexes
                            
update #Temp SET ITDSP500 =COALESCE(#Index.ITD,0)*100,                                    
DTDSP500=COALESCE(#Index.[day],0)*100,                                    
MTDSP500=COALESCE(#Index.MTD,0)*100,                                    
YTDSP500=COALESCE(#Index.YTD,0)*100                                    
                                    
from #Index                                    
                                    
----------------------------------------------WPSA-----------------------------------------------------                                       
-------------------------------Update ITD WPSA---------------------------------------------------------                                    
                       
update #Temp set ITDWPSA=100* COALESCE                
   (                
   case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   else     
    dbo.F_MW_GetMDReturn(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                
                                    
-----------------------------------------------------------------------------------------------------                                      
                                      
-------------------------------Update Daily WPSA------------------------------------------                                      
        
        
update #Temp set DTDWPSA=100* COALESCE(                
   case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@DTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   else                
    dbo.F_MW_GetMDReturn(@DTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                                     
-------------------------------------------------------------------------------------------                                      
                                      
-----------------------------Update monthly WPSA-------------------------------------------                                      
update #Temp set MTDWPSA=                                        
CASE                                        
WHEN datediff(d,@MTDFromdateWPSA,@ITDFromdate)<0 Then                                        
100* COALESCE(                
   case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@MTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   else                
    dbo.F_MW_GetMDReturn(@MTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                                         
ELSE --Null                                        
100* COALESCE(                
   case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   else                
    dbo.F_MW_GetMDReturn(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                   
End                                           
--------------------------------------------------------------------------------                                      
                                      
-----------------------------Update Yearly WPSA--------------------------------        
        
update #Temp set YTDWPSA=                                      
CASE                                        
WHEN datediff(d,@YTDFromdateWPSA,@ITDFromdate)<0 Then                                        
100* COALESCE(                
   case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@YTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   else                
    dbo.F_MW_GetMDReturn(@YTDFromdateWPSA,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                                         
ELSE --Null                                        
100* COALESCE(     case when @IncludeNetGross = 1                
   then                
    dbo.F_MW_GetMDReturnNOF(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   else                
    dbo.F_MW_GetMDReturn(@ITDFromdate,@EndDate, 'Fund',@FNameList)                 
   end                
   ,0)                                       
End                                      
---------------------------------------------------------------------------------------------                                      
---------------------------------------------------------------------------------------------                                                 
                                    
select * from #Temp                                    
                      
Drop table #Temp                                        
Drop table #Funds                                      
Drop table #Index                 
                                                        
                                              
End 