<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name="PranaConnectionString" connectionString="Database=NirvanaClient;Server=192.168.1.19;Integrated Security=false;User ID=sa;Password=NIRvana2@@6;"
				 providerName="System.Data.SqlClient" />
			<remove name="SMConnectionString"/>      
    </connectionStrings>
	<appSettings>
		<add key="ServerIPAddress" value="192.168.1.245" />
		<add key="ServerPort" value="5000" />
		<add key="ExposurePNL_IPAddress" value="192.168.1.245" />
		<add key="ExposurePNL_Port" value="5001" />
		<add key="PricingServerIPAddress" value="192.168.1.245" />
		<add key="PricingServerPort" value="5002" />
		<add key="PranaIMServerIPAddress" value="192.168.1.12" />
		<add key="PranaIMServerPort" value="5222" />
		<add key="PranaIMWebService" value="http://192.168.1.12/NIM/NIM.asmx" />
		<add key="EnableRefreshConfigMenu" value="false"/>
		<add key="LiveFeedEngineAddress" value="192.168.1.245" />
		<add key="LiveFeedEnginePort" value="5003" />
		<add key="IsMarkPriceFetchedLocally" value ="false"/>
		<add key="ReportServerIP_Initial" value="http://nirvanadbserver/" />
		<add key="IsLiveFeedConnectedLocally" value="true"/>
    <add key="ApplicationVersion" value="1.6.5" />
    
    <add key="LoginFormBackGround" value="_2Splash" />
    <add key="AboutFormBackGround" value="_2About" />
    <add key="AppTitle" value="COMPASS - Powered by Nirvana" />
    <add key="AppIcon" value="AppIcon2ON" />
    <add key="Whitelable" value="COMPASS" />
    
  </appSettings>
</configuration>