<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="modulesToShow" value="Compliance,Allocation,ShortLocate,TT,PM,PTT,Rebalancer,MTT,Blotter,Closing,NavLock,GeneralLedger,RTPNL,QTT,Basket Compliance" />
    <add key="TestCaseIdToNotInclude" value="CleanUp,ConfigUpdator,ResetConfig,ResetPref" />
    <add key="RegressionTestCasesGId" value="1ngm1QyEkesi4S24lzOZ5Op7dwNbU65V4F2nM-OjbiDM" />
    <add key="RegressionTestCaseFileName" value="RegressionTestCases.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TestCaseFile" value="TestCasesIDV0.00.xlsx" />
    <add key="WeeklyDashboardGId" value="1UAK48sHeQai_DjJrA-6hukKb1u7649uGvueapDe6-Z4" />
    <add key="WeeklyDashboardFileName" value="WeeklyReportAnalysis.xlsx" />
    <add key="ExcludeCasesFile" value="\\192.168.2.108\DistributedAutomation_Master\ExcludeCasesFile.xlsx" />
    <add key="-DeleteBeforeCopy" value="true" />
    <add key="AllowMemberName" value="false" />
    <add key="MemberNameColumnValue" value="Type" />
    
  </appSettings>
</configuration>