/****** Object:  StoredProcedure [dbo].[P_W_PeriodDailySymbolValue]    Script Date: 03/20/2015 12:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
--Declare @Client varchar(Max),@ToDate datetime
--Select @Client = 'HellerHouse,Courant',@ToDate = '02/10/2015'
--Create Table #ToDate(ClientName varchar(Max),FundName varchar(Max),CompanyFundID int,TimeFrame varchar(Max),FromDate datetime,ToDate datetime)
--Insert Into #ToDate(ClientName,FundName,CompanyFundID,TimeFrame,FromDate,ToDate)
--Exec P_W_PeriodHistoricalDates @ToDate,@Client

--Declare @ReportID varchar(Max) 
--Select @ReportID = 'Touch'
--Declare @HistoricalDates xml
--Select @HistoricalDates  = (Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID From #ToDate For xml Path('HistoricalDates')) 
--Select @HistoricalDates 
-- =============================================
CREATE PROCEDURE [dbo].[P_W_PeriodDailySymbolValue] 
	-- Add the parameters for the stored procedure here
    @HistoricalDates xml,@ReportID varchar(100)='Touch'
As
Begin

-- Set NOCOUNT On added to prevent extra result sets From
-- interfering with Select statements.
Set NOCOUNT On;

-- Insert statements for procedure here
----------------------------Report Preferences---------------------------------------- 
Declare 
 @FutureMV_ZeroOrEndingMVOrUnrealized int  
,@FXMV_ZeroOrEndingMVOrUnrealized int  
,@SwapMV_ZeroOrEndingMVOrUnrealized int  
,@InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized int
Declare 
 @IncludeFXPNLInMTMPNL_Equity bit
,@IncludeFXPNLInMTMPNL_EquityOption bit
,@IncludeFXPNLInMTMPNL_FX bit
,@IncludeFXPNLInMTMPNL_Futures bit
,@IncludeFXPNLInMTMPNL_Swaps bit
,@IncludeFXPNLInMTMPNL_FutOptions bit
,@IncludeFXPNLInMTMPNL_Other bit
,@IncludeCommissionInMTMPNL_Equity bit
,@IncludeCommissionInMTMPNL_EquityOption bit
,@IncludeCommissionInMTMPNL_FX bit
,@IncludeCommissionInMTMPNL_Futures bit
,@IncludeCommissionInMTMPNL_Swaps bit
,@IncludeCommissionInMTMPNL_FutOptions bit
,@IncludeCommissionInMTMPNL_Other bit 
Declare 
 @IncludeFXPNLInCostBasisPNL_Equity bit
,@IncludeFXPNLInCostBasisPNL_EquityOption bit
,@IncludeFXPNLInCostBasisPNL_FX bit
,@IncludeFXPNLInCostBasisPNL_Futures bit
,@IncludeFXPNLInCostBasisPNL_Swaps bit
,@IncludeFXPNLInCostBasisPNL_FutOptions bit
,@IncludeFXPNLInCostBasisPNL_Other bit
,@IncludeCommissionInCostBasisPNL_Equity bit
,@IncludeCommissionInCostBasisPNL_EquityOption bit
,@IncludeCommissionInCostBasisPNL_FX bit
,@IncludeCommissionInCostBasisPNL_Futures bit
,@IncludeCommissionInCostBasisPNL_Swaps bit
,@IncludeCommissionInCostBasisPNL_FutOptions bit
,@IncludeCommissionInCostBasisPNL_Other bit 

Select 
 @FutureMV_ZeroOrEndingMVOrUnrealized = FutureMV_ZeroOrEndingMVOrUnrealized
,@FXMV_ZeroOrEndingMVOrUnrealized = FXMV_ZeroOrEndingMVOrUnrealized 
,@SwapMV_ZeroOrEndingMVOrUnrealized = SwapMV_ZeroOrEndingMVOrUnrealized 
,@InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized 
From T_W_BatchPreferences Where ReportID = @ReportID 

Select 
 @IncludeFXPNLInMTMPNL_Equity = IncludeFXPNLInMTMPNL_Equity
,@IncludeFXPNLInMTMPNL_EquityOption = IncludeFXPNLInMTMPNL_EquityOption
,@IncludeFXPNLInMTMPNL_FX = IncludeFXPNLInMTMPNL_FX
,@IncludeFXPNLInMTMPNL_Futures = IncludeFXPNLInMTMPNL_Futures
,@IncludeFXPNLInMTMPNL_Swaps = IncludeFXPNLInMTMPNL_Swaps 
,@IncludeFXPNLInMTMPNL_FutOptions = IncludeFXPNLInMTMPNL_FutOptions  
,@IncludeFXPNLInMTMPNL_Other = IncludeFXPNLInMTMPNL_Other
,@IncludeCommissionInMTMPNL_Equity = IncludeCommissionInMTMPNL_Equity
,@IncludeCommissionInMTMPNL_EquityOption = IncludeCommissionInMTMPNL_EquityOption
,@IncludeCommissionInMTMPNL_FX = IncludeCommissionInMTMPNL_FX
,@IncludeCommissionInMTMPNL_Futures = IncludeCommissionInMTMPNL_Futures
,@IncludeCommissionInMTMPNL_Swaps = IncludeCommissionInMTMPNL_Swaps 
,@IncludeCommissionInMTMPNL_FutOptions = IncludeCommissionInMTMPNL_FutOptions  
,@IncludeCommissionInMTMPNL_Other = IncludeCommissionInMTMPNL_Other
From T_W_BatchPreferences Where ReportID = @ReportID 

Select 
 @IncludeFXPNLInCostBasisPNL_Equity = IncludeFXPNLInCostBasisPNL_Equity
,@IncludeFXPNLInCostBasisPNL_EquityOption = IncludeFXPNLInCostBasisPNL_EquityOption
,@IncludeFXPNLInCostBasisPNL_FX = IncludeFXPNLInCostBasisPNL_FX
,@IncludeFXPNLInCostBasisPNL_Futures = IncludeFXPNLInCostBasisPNL_Futures
,@IncludeFXPNLInCostBasisPNL_Swaps = IncludeFXPNLInCostBasisPNL_Swaps 
,@IncludeFXPNLInCostBasisPNL_FutOptions = IncludeFXPNLInCostBasisPNL_FutOptions  
,@IncludeFXPNLInCostBasisPNL_Other = IncludeFXPNLInCostBasisPNL_Other
,@IncludeCommissionInCostBasisPNL_Equity = IncludeCommissionInCostBasisPNL_Equity
,@IncludeCommissionInCostBasisPNL_EquityOption = IncludeCommissionInCostBasisPNL_EquityOption
,@IncludeCommissionInCostBasisPNL_FX = IncludeCommissionInCostBasisPNL_FX
,@IncludeCommissionInCostBasisPNL_Futures = IncludeCommissionInCostBasisPNL_Futures
,@IncludeCommissionInCostBasisPNL_Swaps = IncludeCommissionInCostBasisPNL_Swaps 
,@IncludeCommissionInCostBasisPNL_FutOptions = IncludeCommissionInCostBasisPNL_FutOptions  
,@IncludeCommissionInCostBasisPNL_Other = IncludeCommissionInCostBasisPNL_Other
From T_W_BatchPreferences Where ReportID = @ReportID 

Declare @FutOption_DeltaAdjustedPositionWithoutMultiplier bit 
Select @FutOption_DeltaAdjustedPositionWithoutMultiplier = FutOption_DeltaAdjustedPositionWithoutMultiplier From T_W_BatchPreferences Where ReportID = @ReportID 
Declare @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted bit  
Select @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted From T_W_BatchPreferences Where ReportID = @ReportID
--------------------------------------------------------------------------------------------------------- 
Declare @DefaultAUECID int
Select @DefaultAUECID = DefaultAUECID From T_Company

Declare @BaseCurrencyID int
Select @BaseCurrencyID= BaseCurrencyID From T_Company

Declare @BaseCurrencyName varchar(5)
Select @BaseCurrencyName = CurrencySymbol From T_currency Where CurrencyID = @BaseCurrencyID
--------------------------------------------------------------------------------------------------------- 
Create Table #ClientFundDate(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,)
Insert Into #ClientFundDate(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID)
Select 
ref.value('ClientName[1]','varchar(Max)') As ClientName,
ref.value('FundName[1]','varchar(Max)') As FundName,
ref.value('TimeFrame[1]','varchar(Max)') As TimeFrame,
ref.value('FromDate[1]','datetime') As FromDate,
ref.value('ToDate[1]','datetime') As ToDate,
ref.value('CompanyFundID[1]','int') As CompanyFundID
From @HistoricalDates.nodes('/HistoricalDates') xmlData(ref)

Create Table #ClientFundDates(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime)
;With ClientFundDatesCte (ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date) As
(Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,FromDate From #ClientFundDate Union All
Select C.ClientName,C.FundName,C.TimeFrame,C.FromDate,C.ToDate,C.CompanyFundID,DateAdd(d,1,Date) From ClientFundDatesCte C 
Join #ClientFundDate T On C.ClientName = T.ClientName And C.CompanyFundID = T.CompanyFundID And C.TimeFrame = T.TimeFrame And C.Date < T.ToDate)
Insert Into #ClientFundDates (ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date From ClientFundDatesCte Option (MaxRecursion 730) 

Alter Table #ClientFundDates 
Add PreviousBusinessDate datetime,IsBusinessDate bit

Update #ClientFundDates Set PreviousBusinessDate = dbo.AdjustBusinessDays(Date,-1,@DefaultAUECID),IsBusinessDate = dbo.IsBusinessDay(Date,@DefaultAUECID) 

Drop Table #ClientFundDate

Create Table #SecMasterDataTempTable
(TickerSymbol varchar(100),SectorName varchar(100),SubSectorName varchar(100),CountryName varchar(100),UnderlyingSymbol varchar(100),AUECID int,AssetName varchar(100),Multiplier float,UnderlyingDelta float)

Insert Into #SecMasterDataTempTable(TickerSymbol,SectorName,SubSectorName,CountryName,UnderlyingSymbol,AUECID,AssetName,Multiplier,UnderlyingDelta)
Select TickerSymbol,SectorName,SubSectorName,CountryName,UnderlyingSymbol,AUECID,AssetName,Multiplier,UnderlyingDelta From V_SecMasterData

Create Table #Beginning_2(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
TradeDate datetime,
OpeningFXRate float,
EndingFXRate float,
TotalCost_Local float,
EndingMarketValueLocal float,
TotalCost_Base float,
EndingMarketValueBase float,
TotalOpenCommissionAndFees_Local float,
TotalOpenCommissionAndFees_Base float)
Insert Into #Beginning_2(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
Asset,IsSwapped,TradeCurrency,
TradeDate,
OpeningFXRate,
EndingFXRate,
TotalCost_Local,
EndingMarketValueLocal,
TotalCost_Base,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
IsNull(P.SideMultiplier,1) * IsNull(P.BeginningQuantity,0),
IsNull(P.SideMultiplier,1) * IsNull(P.BeginningQuantity,0) * IsNull(P.Delta,1) * (Case When Asset = 'FutureOption' And @FutOption_DeltaAdjustedPositionWithoutMultiplier = 1 Then 1 Else IsNull(P.Multiplier,1) End),
IsNull(P.SideMultiplier*P.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then P.Delta*P.UnderlyingSymbolPrice Else P.EndingPriceLocal End)*P.Multiplier*P.EndingFXRate,0),
IsNull(P.SideMultiplier*P.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then P.Delta*P.UnderlyingSymbolPrice Else P.EndingPriceLocal End)*P.Multiplier*P.EndingFXRate*P.Beta,0),
Asset,IsSwapped,TradeCurrency,
TradeDate,
OpeningFXRate,
EndingFXRate,
TotalCost_Local - TotalOpenCommissionAndFees_Local,
EndingMarketValueLocal,
(TotalCost_Local - TotalOpenCommissionAndFees_Local) * OpeningFXRate,
EndingMarketValueLocal * EndingFXRate,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Local * OpeningFXRate 
From #ClientFundDates H Join T_MW_GenericPNL P 
On (Open_CloseTag = 'O' And Asset<>'Cash') And (P.Fund = H.FundName) And (P.Rundate = H.PreviousBusinessDate)

Create Table #Beginning_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
EndingMarketValueBase float,
UnrealizedTotalGainOnCostD2_Base float)
Insert Into #Beginning_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
UnrealizedTotalGainOnCostD2_Base)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol, 
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local + TotalOpenCommissionAndFees_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInCostBasisPNL_Other =1 And @IncludeFXPNLInCostBasisPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base + TotalOpenCommissionAndFees_Base,0)
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=1 And @IncludeCommissionInCostBasisPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base,0) 
End 
From #Beginning_2 

Drop Table #Beginning_2

Create Table #Beginning_1_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
EndingMarketValueBase float,
UnrealizedTotalGainOnCostD2_Base float)
Insert Into #Beginning_1_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
UnrealizedTotalGainOnCostD2_Base)
Select 
ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase * (Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then Sign(SM.UnderlyingDelta) Else 1 End),
DeltaExposureBase * (Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then Sign(SM.UnderlyingDelta) Else 1 End),
Asset,IsSwapped,TradeCurrency,
Case
-- When Market Value Is Equal to Unrealize P&L
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized = 2) Or
((Asset = 'FX' or Asset = 'FXForward') And @FXMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2)
)
Then
UnrealizedTotalGainOnCostD2_Base
-- When Market Value Is Equal to 0
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
((Asset = 'FX' or Asset = 'FXForward') And @FXMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized Not In (1,2))
)
Then 0
Else EndingMarketValueBase End,
UnrealizedTotalGainOnCostD2_Base 
From #Beginning_1 D Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = D.Symbol 

Drop Table #Beginning_1

Create Table #Beginning(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Asset varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
EndingMarketValueBase float)
Insert Into #Beginning 
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
EndingMarketValueBase)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Sum(Position),
Sum(DeltaAdjPosition),
Sum(DeltaExposureBase),
Sum(BetaExposureBase),
Sum(EndingMarketValueBase) 
From #Beginning_1_1
Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset 

Drop Table #Beginning_1_1

Create Table #Ending_2(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
AveDaystoLiquidate float,
DaysToLiquidate float,
AveNDaysTradingVolume float,
AveNDaysTradingValue float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
TradeDate datetime,
OpeningFXRate float,
EndingFXRate float,
TotalCost_Local float,
EndingMarketValueLocal float,
TotalCost_Base float,
EndingMarketValueBase float,
TotalOpenCommissionAndFees_Local float,
TotalOpenCommissionAndFees_Base float)
Insert Into #Ending_2(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
AveDaystoLiquidate,
DaysToLiquidate,
AveNDaysTradingVolume,
AveNDaysTradingValue,
Asset,IsSwapped,TradeCurrency,
TradeDate,
OpeningFXRate,
EndingFXRate,
TotalCost_Local,
EndingMarketValueLocal,
TotalCost_Base,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
IsNull(P.SideMultiplier,1) * IsNull(P.BeginningQuantity,0),
IsNull(P.SideMultiplier,1) * IsNull(P.BeginningQuantity,0) * IsNull(P.Delta,1) * (Case When Asset = 'FutureOption' And @FutOption_DeltaAdjustedPositionWithoutMultiplier = 1 Then 1 Else IsNull(P.Multiplier,1) End),
IsNull(P.SideMultiplier*P.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then P.Delta*P.UnderlyingSymbolPrice Else P.EndingPriceLocal End)*P.Multiplier*P.EndingFXRate,0),
IsNull(P.SideMultiplier*P.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then P.Delta*P.UnderlyingSymbolPrice Else P.EndingPriceLocal End)*P.Multiplier*P.EndingFXRate*P.Beta,0),
Abs(IsNull(AverageLiquidation,0)),
3*Abs(IsNull(AverageLiquidation,0)),
IsNull(AverageVolume,0),
IsNull(AverageVolume,0)*IsNull(EndingPriceBase * (Case When Asset = 'FixedIncome' Then 1.0 Else 1.0 End),0)*IsNull(Multiplier,1),
Asset,IsSwapped,TradeCurrency,
TradeDate,
OpeningFXRate,
EndingFXRate,
TotalCost_Local - TotalOpenCommissionAndFees_Local,
EndingMarketValueLocal,
(TotalCost_Local - TotalOpenCommissionAndFees_Local) * OpeningFXRate,
EndingMarketValueLocal * EndingFXRate,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Local * OpeningFXRate 
From #ClientFundDates H Join T_MW_GenericPNL P On (Open_CloseTag = 'O' And Asset<>'Cash') And (P.Fund = H.FundName) And (P.Rundate = (Case H.IsBusinessDate When 1 Then H.Date Else H.PreviousBusinessDate End)) 

Create Table #Ending_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
AveDaystoLiquidate float,
DaysToLiquidate float,
AveNDaysTradingVolume float,
AveNDaysTradingValue float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
EndingMarketValueBase float,
UnrealizedTotalGainOnCostD2_Base float)
Insert Into #Ending_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
AveDaystoLiquidate,
DaysToLiquidate,
AveNDaysTradingVolume,
AveNDaysTradingValue,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
UnrealizedTotalGainOnCostD2_Base)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol, 
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
AveDaystoLiquidate,
DaysToLiquidate,
AveNDaysTradingVolume,
AveNDaysTradingValue,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local + TotalOpenCommissionAndFees_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInCostBasisPNL_Other =1 And @IncludeFXPNLInCostBasisPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base + TotalOpenCommissionAndFees_Base,0)
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
((Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=1 And @IncludeCommissionInCostBasisPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base,0) 
End 
From #Ending_2 

Drop Table #Ending_2

Create Table #Ending_1_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
AveDaystoLiquidate float,
DaysToLiquidate float,
AveNDaysTradingVolume float,
AveNDaysTradingValue float,
Asset varchar(Max),IsSwapped bit,TradeCurrency varchar(Max),
EndingMarketValueBase float,
UnrealizedTotalGainOnCostD2_Base float)
Insert Into #Ending_1_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
AveDaystoLiquidate,
DaysToLiquidate,
AveNDaysTradingVolume,
AveNDaysTradingValue,
Asset,IsSwapped,TradeCurrency,
EndingMarketValueBase,
UnrealizedTotalGainOnCostD2_Base) 
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Position,
DeltaAdjPosition,
DeltaExposureBase * (Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then Sign(SM.UnderlyingDelta) Else 1 End),
DeltaExposureBase * (Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then Sign(SM.UnderlyingDelta) Else 1 End),
AveDaystoLiquidate,
DaysToLiquidate,
AveNDaysTradingVolume,
AveNDaysTradingValue,
Asset,IsSwapped,TradeCurrency,
Case
-- When Market Value Is Equal to Unrealize P&L
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized = 2) Or
((Asset = 'FX' or Asset = 'FXForward') And @FXMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2)
)
Then
UnrealizedTotalGainOnCostD2_Base
-- When Market Value Is Equal to 0
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
((Asset = 'FX' or Asset = 'FXForward') And @FXMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized Not In (1,2))
)
Then 0
Else EndingMarketValueBase End,
UnrealizedTotalGainOnCostD2_Base 
From #Ending_1 D Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = D.Symbol 

Drop Table #Ending_1

Create Table #Ending(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Asset varchar(Max),
Position float,
DeltaAdjPosition float,
DeltaExposureBase float,
BetaExposureBase float,
EndingMarketValueBase float,
AveDaystoLiquidate float,DaysToLiquidate bigint,AveNDaysTradingVolume float,AveNDaysTradingValue float)
Insert Into #Ending 
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Position,
DeltaAdjPosition,
DeltaExposureBase,
BetaExposureBase,
EndingMarketValueBase,
AveDaystoLiquidate,DaysToLiquidate,AveNDaysTradingVolume,AveNDaysTradingValue)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Sum(Position),
Sum(DeltaAdjPosition),
Sum(DeltaExposureBase),
Sum(BetaExposureBase),
Sum(EndingMarketValueBase),
Sum(AveDaystoLiquidate),Ceiling(Sum(DaysToLiquidate)),Avg(AveNDaysTradingVolume),Avg(AveNDaysTradingValue)
From #Ending_1_1
Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset 

Drop Table #Ending_1_1

Create Table #During_2(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Asset varchar(Max),
IsSwapped bit,
Side varchar(Max),
Open_CloseTag varchar(Max),
TradeDate datetime,
Dividend float,
OpeningFXRate float,
BeginningFXRate float,
EndingFXRate float,
TotalCost_Local float,
BeginningMarketValueLocal float,
EndingMarketValueLocal float,
TotalCost_Base float,
BeginningMarketValueBase float,
EndingMarketValueBase float,
TotalOpenCommissionAndFees_Local float,
TotalOpenCommissionAndFees_Base float,
TotalClosedCommissionAndFees_Local float,
TotalClosedCommissionAndFees_Base float)
Insert Into #During_2 
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
IsSwapped,
Side,
Open_CloseTag,
TradeDate,
Dividend,
OpeningFXRate,
BeginningFXRate,
EndingFXRate,
TotalCost_Local,
BeginningMarketValueLocal,
EndingMarketValueLocal,
TotalCost_Base,
BeginningMarketValueBase,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base,
TotalClosedCommissionAndFees_Local,
TotalClosedCommissionAndFees_Base)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
IsSwapped,
Side,
Open_CloseTag,
TradeDate,
Dividend,
OpeningFXRate,
BeginningFXRate,
EndingFXRate,
Case  
When Open_CloseTag = 'O' Then TotalCost_Local - TotalOpenCommissionAndFees_Local 
When Open_CloseTag = 'C' Then TotalCost_Local - TotalOpenCommissionAndFees_Local 
Else 0 End,
Case  
When Open_CloseTag = 'O' Then BeginningMarketValueLocal 
When Open_CloseTag = 'C' Then BeginningMarketValueLocal 
Else 0 End,
Case  
When Open_CloseTag = 'O' Then EndingMarketValueLocal 
When Open_CloseTag = 'C' Then ClosingPriceLocal * EndingQuantity * Multiplier * SideMultiplier 
Else 0 End,
Case  
When Open_CloseTag = 'O' Then (TotalCost_Local - TotalOpenCommissionAndFees_Local) * OpeningFXRate 
When Open_CloseTag = 'C' Then (TotalCost_Local - TotalOpenCommissionAndFees_Local) * OpeningFXRate
Else 0 End,
Case  
When Open_CloseTag = 'O' Then BeginningMarketValueLocal * BeginningFXRate
When Open_CloseTag = 'C' Then BeginningMarketValueLocal * BeginningFXRate
Else 0 End,
Case  
When Open_CloseTag = 'O' Then EndingMarketValueLocal * EndingFXRate 
When Open_CloseTag = 'C' Then (ClosingPriceLocal * EndingQuantity * Multiplier * SideMultiplier) * EndingFXRate 
Else 0 End,
Case  
When Open_CloseTag = 'O' Then TotalOpenCommissionAndFees_Local  
When Open_CloseTag = 'C' Then TotalOpenCommissionAndFees_Local
Else 0 End,
Case  
When Open_CloseTag = 'O' Then TotalOpenCommissionAndFees_Local * OpeningFXRate 
When Open_CloseTag = 'C' Then TotalOpenCommissionAndFees_Local * OpeningFXRate 
Else 0 End,
Case When Open_CloseTag = 'C' Then TotalClosedCommissionAndFees_Local 
Else 0 End,
Case When Open_CloseTag = 'C' Then TotalClosedCommissionAndFees_Local * EndingFXRate
Else 0 End 
From #ClientFundDates H Join T_MW_GenericPNL P On (Asset<>'Cash') And (P.Fund = H.FundName) And (P.Rundate = H.Date) 

Create Table #During_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Asset varchar(Max),
Side varchar(Max),
Dividend float,
TotalUnrealizedPNLMTM float,
TotalRealizedPNLMTM float)
Insert Into #During_1 
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Side,
Dividend,
TotalUnrealizedPNLMTM,
TotalRealizedPNLMTM)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Side,
Dividend,
TotalUnrealizedPNLMTM =
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueLocal Else TotalCost_Local + TotalOpenCommissionAndFees_Local End,0)) * EndingFXRate
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueLocal Else TotalCost_Local End,0)) * EndingFXRate
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInMTMPNL_Other =1 And @IncludeFXPNLInMTMPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueBase Else TotalCost_Base + TotalOpenCommissionAndFees_Base End,0)
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=1 And @IncludeCommissionInMTMPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueBase Else TotalCost_Base End,0)
Else 0 End,
TotalRealizedPNLMTM =
Case
--Realized PnL of closed Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueLocal Else TotalCost_Local + TotalOpenCommissionAndFees_Local End,0) - IsNull(TotalClosedCommissionAndFees_Local,0)) * EndingFXRate 
--Realized PnL of closed Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueLocal Else TotalCost_Local End,0)) * EndingFXRate
--Realized PnL of closed Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInMTMPNL_Other =1 And @IncludeFXPNLInMTMPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueBase Else TotalCost_Base + TotalOpenCommissionAndFees_Base End,0) - IsNull(TotalClosedCommissionAndFees_Base,0)
--Realized PnL of closed Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=1 And @IncludeCommissionInMTMPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,Date) > 0 Then BeginningMarketValueBase Else TotalCost_Base End,0)
Else 0 End 
From #During_2 

Drop Table #During_2

Create Table #During(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),
Asset varchar(Max),
LongPNL float,
ShortPNL float)
Insert Into #During(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
LongPNL,
ShortPNL)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,
Asset,
Sum(Case P.Side When 'Long' Then (IsNull(P.TotalUnrealizedPNLMTM,0) + IsNull(P.TotalRealizedPNLMTM,0) + IsNull(P.Dividend,0)) Else 0 End),Sum(Case P.Side When 'Short' Then (IsNull(P.TotalUnrealizedPNLMTM,0) + IsNull(P.TotalRealizedPNLMTM,0) + IsNull(P.Dividend,0)) Else 0 End)
From #During_1 P
Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset 

Drop Table #During_1 

Create Table #MergedTemp(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),Asset varchar(Max),InBeginning int,BeginningPosition float,BeginningDeltaAdjPosition float,BeginningDeltaExposure float,BeginningBetaExposure float,BeginningMarketValue float,InEnding int,EndingPosition float,EndingDeltaAdjPosition float,EndingDeltaExposure float,EndingBetaExposure float,EndingMarketValue float,AveDaystoLiquidate float,DaysToLiquidate bigint,AveNDaysTradingVolume float,AveNDaysTradingValue float,InDuring int,LongPNL float,ShortPNL float)

Insert Into #MergedTemp(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,InBeginning,BeginningPosition,BeginningDeltaAdjPosition,BeginningDeltaExposure,BeginningBetaExposure,BeginningMarketValue)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,1 As InBeginning,Position,DeltaAdjPosition,DeltaExposureBase,BetaExposureBase,EndingMarketValueBase From #Beginning 

Drop Table #Beginning

Insert Into #MergedTemp(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,InEnding,EndingPosition,EndingDeltaAdjPosition,EndingDeltaExposure,EndingBetaExposure,EndingMarketValue,AveDaystoLiquidate,DaysToLiquidate,AveNDaysTradingVolume,AveNDaysTradingValue)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,1 As InEnding,Position,DeltaAdjPosition,DeltaExposureBase,BetaExposureBase,EndingMarketValueBase,AveDaystoLiquidate,DaysToLiquidate,AveNDaysTradingVolume,AveNDaysTradingValue From #Ending 

Drop Table #Ending

Insert Into #MergedTemp(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,InDuring,LongPNL,ShortPNL)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,1 As InDuring,LongPNL,ShortPNL From #During 

Drop Table #During 

Create Table #Merged(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Date datetime,PreviousBusinessDate datetime,IsBusinessDate bit,Symbol varchar(Max),Asset varchar(Max),InBeginning int,BeginningPosition float,BeginningDeltaAdjPosition float,BeginningDeltaExposure float,BeginningBetaExposure float,BeginningMarketValue float,InEnding int,EndingPosition float,EndingDeltaAdjPosition float,EndingDeltaExposure float,EndingBetaExposure float,EndingMarketValue float,AveDaystoLiquidate float,DaysToLiquidate bigint,AveNDaysTradingVolume float,AveNDaysTradingValue float,InDuring int,LongPNL float,ShortPNL float)

Insert Into #Merged(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,InBeginning,BeginningPosition,BeginningDeltaAdjPosition,BeginningDeltaExposure,BeginningBetaExposure,BeginningMarketValue,InEnding,EndingPosition,EndingDeltaAdjPosition,EndingDeltaExposure,EndingBetaExposure,EndingMarketValue,AveDaystoLiquidate,DaysToLiquidate,AveNDaysTradingVolume,AveNDaysTradingValue,InDuring,LongPNL,ShortPNL)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset,Sum(IsNull(InBeginning,0)),Sum(IsNull(BeginningPosition,0)),Sum(IsNull(BeginningDeltaAdjPosition,0)),Sum(IsNull(BeginningDeltaExposure,0)),Sum(IsNull(BeginningBetaExposure,0)),Sum(IsNull(BeginningMarketValue,0)),Sum(IsNull(InEnding,0)),Sum(IsNull(EndingPosition,0)),Sum(IsNull(EndingDeltaAdjPosition,0)),Sum(IsNull(EndingDeltaExposure,0)),Sum(IsNull(EndingBetaExposure,0)),Sum(IsNull(EndingMarketValue,0)),Sum(IsNull(AveDaystoLiquidate,0)),Sum(IsNull(DaysToLiquidate,0)),Sum(IsNull(AveNDaysTradingVolume,0)),Sum(IsNull(AveNDaysTradingValue,0)),Sum(IsNull(InDuring,0)),Sum(IsNull(LongPNL,0)),Sum(IsNull(ShortPNL,0)) 
From #MergedTemp Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Date,PreviousBusinessDate,IsBusinessDate,Symbol,Asset 

Drop Table #MergedTemp

Alter Table #Merged 
Add UdaSector varchar(Max),UdaSubSector varchar(Max),UdaCountry varchar(Max),UnderlyingSymbol varchar(Max)

Update M Set M.UdaSector = IsNull(SM.SectorName,'Undefined'),M.UdaSubSector = IsNull(SM.SubSectorName,'Undefined'),M.UdaCountry = IsNull(SM.CountryName,'Undefined'),M.UnderlyingSymbol = IsNull(SM.UnderlyingSymbol,M.Symbol) 
From #Merged M Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = M.Symbol 

Drop Table #SecMasterDataTempTable

Select C.ClientName,C.FundName,C.TimeFrame,C.FromDate,C.ToDate,C.CompanyFundID,C.Date,C.PreviousBusinessDate,C.IsBusinessDate,Symbol,UnderlyingSymbol,Asset,UdaSector,UdaSubSector,UdaCountry,Case When InBeginning > 0 Then 'True' Else 'False' End As InBeginning,BeginningPosition,BeginningDeltaAdjPosition,BeginningDeltaExposure,BeginningBetaExposure,BeginningMarketValue,Case When InEnding > 0 Then 'True' Else 'False' End As InEnding,EndingPosition,EndingDeltaAdjPosition,EndingDeltaExposure,EndingBetaExposure,EndingMarketValue,AveDaystoLiquidate,DaysToLiquidate,AveNDaysTradingVolume,AveNDaysTradingValue,Case When InDuring > 0 Then 'True' Else 'False' End As InDuring,LongPNL,ShortPNL 
From #ClientFundDates C Left Outer Join #Merged M On C.ClientName = M.ClientName And C.FundName = M.FundName And C.TimeFrame = M.TimeFrame And C.FromDate = M.FromDate And C.ToDate = M.ToDate And C.CompanyFundID = M.CompanyFundID And C.Date = M.Date Order By C.ClientName,C.FundName,C.TimeFrame,C.FromDate,C.ToDate,C.CompanyFundID,C.Date,Symbol

Drop Table #ClientFundDates,#Merged

End
