/****** Object:  StoredProcedure [dbo].[P_W_PeriodSymbolValue]    Script Date: 03/20/2015 12:33:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
--Declare @Client varchar(Max),@ToDate datetime
--Select @Client = 'HellerHouse,Courant',@ToDate = '02/10/2015'
--Create Table #ToDate(ClientName varchar(Max),FundName varchar(Max),CompanyFundID int,TimeFrame varchar(Max),FromDate datetime,ToDate datetime)
--Insert Into #ToDate(ClientName,FundName,CompanyFundID,TimeFrame,FromDate,ToDate)
--Exec P_W_PeriodHistoricalDates @ToDate,@Client

--Declare @ReportID varchar(Max) 
--Select @ReportID = 'Touch'
--Declare @HistoricalDates xml
--Select @HistoricalDates  = (Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID From #ToDate For xml Path('HistoricalDates')) 
--Select @HistoricalDates 
-- =============================================
CREATE PROCEDURE [dbo].[P_W_PeriodSymbolValue] 
	-- Add the parameters for the stored procedure here
	@HistoricalDates xml,@ReportID varchar(100)='Touch'
As
Begin

-- Set NOCOUNT On added to prevent extra result sets From
-- interfering With Select statements.
Set NOCOUNT On;

-- Insert statements for procedure here
----------------------------Report Preferences---------------------------------------- 
Declare 
 @FutureMV_ZeroOrEndingMVOrUnrealized int  
,@FXMV_ZeroOrEndingMVOrUnrealized int  
,@SwapMV_ZeroOrEndingMVOrUnrealized int  
,@InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized int
Declare 
 @IncludeFXPNLInMTMPNL_Equity bit
,@IncludeFXPNLInMTMPNL_EquityOption bit
,@IncludeFXPNLInMTMPNL_FX bit
,@IncludeFXPNLInMTMPNL_Futures bit
,@IncludeFXPNLInMTMPNL_Swaps bit
,@IncludeFXPNLInMTMPNL_FutOptions bit
,@IncludeFXPNLInMTMPNL_Other bit
,@IncludeCommissionInMTMPNL_Equity bit
,@IncludeCommissionInMTMPNL_EquityOption bit
,@IncludeCommissionInMTMPNL_FX bit
,@IncludeCommissionInMTMPNL_Futures bit
,@IncludeCommissionInMTMPNL_Swaps bit
,@IncludeCommissionInMTMPNL_FutOptions bit
,@IncludeCommissionInMTMPNL_Other bit 
,@IncludeCashInPNL bit  
Declare 
 @IncludeFXPNLInCostBasisPNL_Equity bit
,@IncludeFXPNLInCostBasisPNL_EquityOption bit
,@IncludeFXPNLInCostBasisPNL_FX bit
,@IncludeFXPNLInCostBasisPNL_Futures bit
,@IncludeFXPNLInCostBasisPNL_Swaps bit
,@IncludeFXPNLInCostBasisPNL_FutOptions bit
,@IncludeFXPNLInCostBasisPNL_Other bit
,@IncludeCommissionInCostBasisPNL_Equity bit
,@IncludeCommissionInCostBasisPNL_EquityOption bit
,@IncludeCommissionInCostBasisPNL_FX bit
,@IncludeCommissionInCostBasisPNL_Futures bit
,@IncludeCommissionInCostBasisPNL_Swaps bit
,@IncludeCommissionInCostBasisPNL_FutOptions bit
,@IncludeCommissionInCostBasisPNL_Other bit 

Select 
 @FutureMV_ZeroOrEndingMVOrUnrealized = FutureMV_ZeroOrEndingMVOrUnrealized
,@FXMV_ZeroOrEndingMVOrUnrealized = FXMV_ZeroOrEndingMVOrUnrealized 
,@SwapMV_ZeroOrEndingMVOrUnrealized = SwapMV_ZeroOrEndingMVOrUnrealized 
,@InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized 
From T_W_BatchPreferences Where ReportID = @ReportID 

Select 
 @IncludeFXPNLInMTMPNL_Equity = IncludeFXPNLInMTMPNL_Equity
,@IncludeFXPNLInMTMPNL_EquityOption = IncludeFXPNLInMTMPNL_EquityOption
,@IncludeFXPNLInMTMPNL_FX = IncludeFXPNLInMTMPNL_FX
,@IncludeFXPNLInMTMPNL_Futures = IncludeFXPNLInMTMPNL_Futures
,@IncludeFXPNLInMTMPNL_Swaps = IncludeFXPNLInMTMPNL_Swaps 
,@IncludeFXPNLInMTMPNL_FutOptions = IncludeFXPNLInMTMPNL_FutOptions  
,@IncludeFXPNLInMTMPNL_Other = IncludeFXPNLInMTMPNL_Other
,@IncludeCommissionInMTMPNL_Equity = IncludeCommissionInMTMPNL_Equity
,@IncludeCommissionInMTMPNL_EquityOption = IncludeCommissionInMTMPNL_EquityOption
,@IncludeCommissionInMTMPNL_FX = IncludeCommissionInMTMPNL_FX
,@IncludeCommissionInMTMPNL_Futures = IncludeCommissionInMTMPNL_Futures
,@IncludeCommissionInMTMPNL_Swaps = IncludeCommissionInMTMPNL_Swaps 
,@IncludeCommissionInMTMPNL_FutOptions = IncludeCommissionInMTMPNL_FutOptions  
,@IncludeCommissionInMTMPNL_Other = IncludeCommissionInMTMPNL_Other
,@IncludeCashInPNL =  IncludeCashInPNL
From T_W_BatchPreferences Where ReportID = @ReportID 

Select 
 @IncludeFXPNLInCostBasisPNL_Equity = IncludeFXPNLInCostBasisPNL_Equity
,@IncludeFXPNLInCostBasisPNL_EquityOption = IncludeFXPNLInCostBasisPNL_EquityOption
,@IncludeFXPNLInCostBasisPNL_FX = IncludeFXPNLInCostBasisPNL_FX
,@IncludeFXPNLInCostBasisPNL_Futures = IncludeFXPNLInCostBasisPNL_Futures
,@IncludeFXPNLInCostBasisPNL_Swaps = IncludeFXPNLInCostBasisPNL_Swaps 
,@IncludeFXPNLInCostBasisPNL_FutOptions = IncludeFXPNLInCostBasisPNL_FutOptions  
,@IncludeFXPNLInCostBasisPNL_Other = IncludeFXPNLInCostBasisPNL_Other
,@IncludeCommissionInCostBasisPNL_Equity = IncludeCommissionInCostBasisPNL_Equity
,@IncludeCommissionInCostBasisPNL_EquityOption = IncludeCommissionInCostBasisPNL_EquityOption
,@IncludeCommissionInCostBasisPNL_FX = IncludeCommissionInCostBasisPNL_FX
,@IncludeCommissionInCostBasisPNL_Futures = IncludeCommissionInCostBasisPNL_Futures
,@IncludeCommissionInCostBasisPNL_Swaps = IncludeCommissionInCostBasisPNL_Swaps 
,@IncludeCommissionInCostBasisPNL_FutOptions = IncludeCommissionInCostBasisPNL_FutOptions  
,@IncludeCommissionInCostBasisPNL_Other = IncludeCommissionInCostBasisPNL_Other
From T_W_BatchPreferences Where ReportID = @ReportID 

Declare @FutOption_DeltaAdjustedPositionWithoutMultiplier bit 
Select @FutOption_DeltaAdjustedPositionWithoutMultiplier = FutOption_DeltaAdjustedPositionWithoutMultiplier From T_W_BatchPreferences Where ReportID = @ReportID
 
Declare @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted bit  
Select @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted From T_W_BatchPreferences Where ReportID = @ReportID
--------------------------------------------------------------------------------------------------------- 
Create Table #ClientFundDate(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,MinTradeDate datetime)
Insert Into #ClientFundDate(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID)
Select 
ref.value('ClientName[1]','varchar(Max)') As ClientName,
ref.value('FundName[1]','varchar(Max)') As FundName,
ref.value('TimeFrame[1]','varchar(Max)') As TimeFrame,
ref.value('FromDate[1]','datetime') As FromDate,
ref.value('ToDate[1]','datetime') As ToDate,
ref.value('CompanyFundID[1]','int') As CompanyFundID
From @HistoricalDates.nodes('/HistoricalDates') xmlData(ref)
------------------------------------------------------------------------------------------------------------------------
Declare @DefaultAUECID int
Select @DefaultAUECID = DefaultAUECID From T_Company

Declare @BaseCurrencyID int
Select @BaseCurrencyID = BaseCurrencyID From T_Company

Declare @BaseCurrencyName varchar(5)
Select @BaseCurrencyName = CurrencySymbol From T_currency Where CurrencyID = @BaseCurrencyID
------------------------------------------------------------------------------------------------------------------------
Create Table #D0Taxlots(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,[TaxLot_PK] bigint,TaxLotOpenQty float,TaxlotID varchar(Max))
Insert Into #D0Taxlots(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID 
From PM_Taxlots IPT Join #ClientFundDate T On IPT.FundID = T.CompanyFundID And DateDiff(d,IPT.AUECModifiedDate,T.FromDate) >= 0 And IPT.FundID = T.CompanyFundID 

Create Table #D0OpenTaxlots
(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,[TaxLot_PK] bigint,AUECModifiedDate datetime,GroupID varchar(Max),GAUECLocalDate datetime)
;With D0PKs (ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID,RowNum) As
(Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID,Row_Number() Over(Partition By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLotID] Order By [TaxLot_PK] Desc) From #D0Taxlots)
Insert Into #D0OpenTaxlots(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK]) 
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK] From D0PKs Where RowNum = 1 And TaxLotOpenQty <> 0 

Drop Table #D0Taxlots

Update D Set 
AUECModifiedDate = S.AUECModifiedDate, 
GroupID = S.GroupID
From #D0OpenTaxlots D Join PM_Taxlots S On D.[TaxLot_PK] = S.[TaxLot_PK]

Update D Set GAUECLocalDate = S.AUECLocalDate From #D0OpenTaxlots D Join T_Group S On D.GroupID = S.GroupID 

Update D Set MinTradeDate = (Select Min(S.GAUECLocalDate) From #D0OpenTaxlots S Where S.ClientName = D.ClientName And S.FundName = D.FundName And S.TimeFrame = D.TimeFrame And S.FromDate = D.FromDate And S.ToDate = D.ToDate And S.CompanyFundID = D.CompanyFundID) From #ClientFundDate D
Update #ClientFundDate Set MinTradeDate = FromDate Where MinTradeDate Is Null
Update #ClientFundDate Set MinTradeDate = dbo.AdjustBusinessDays(MinTradeDate,-1,@DefaultAUECID) 

Drop Table #D0OpenTaxlots
----------------------------------------------------------------------------------------------
Declare @HoldingStartDate datetime,@HoldingEndDate datetime,@TradingStartDate datetime
Select @HoldingStartDate = Min(FromDate),@HoldingEndDate = Max(ToDate),@TradingStartDate = Min(MinTradeDate) From #ClientFundDate 

-- Get Security Master Data In a Temp Table
Create Table #SecMasterDataTempTable
(TickerSymbol varchar(100),SectorName varchar(100),SubSectorName varchar(100),CountryName varchar(100),UnderlyingSymbol varchar(100),AUECID int,AssetName varchar(100),Multiplier float,PutOrCall varchar(Max),StrikePrice float,ExpirationDate datetime,UnderlyingDelta float)

Insert Into #SecMasterDataTempTable
(TickerSymbol,SectorName,SubSectorName,CountryName,UnderlyingSymbol,AUECID,AssetName,Multiplier,PutOrCall,StrikePrice,ExpirationDate,UnderlyingDelta)
Select TickerSymbol,SectorName,SubSectorName,CountryName,UnderlyingSymbol,AUECID,AssetName,Multiplier,PutOrCall,StrikePrice,ExpirationDate,UnderlyingDelta
From V_SecMasterData

-- Get Corporate Action Split
Create Table #T_CorpActionData
(Symbol varchar(100),SplitFactor float,EffectiveDate datetime,CorpActionID varchar(100),IsApplied bit)

Insert Into #T_CorpActionData
(Symbol,SplitFactor,EffectiveDate,CorpActionID,IsApplied)
Select Symbol,SplitFactor,EffectiveDate,CorpActionID,IsApplied 
From V_CorpActionData 
Where IsApplied = 1 And CorpActionTypeID=6 
And DateDiff(d,@HoldingStartDate,Effectivedate) >= 0 
And DateDiff(d,Effectivedate,@HoldingEndDate) >= 0

-- Get forex rates for the date range
Create Table #FXConversionRates
(FromCurrencyID int,ToCurrencyID int,RateValue float,ConversionMethod int,Date datetime,eSignalSymbol varchar(Max))

Insert Into #FXConversionRates
(FromCurrencyID,ToCurrencyID,RateValue,ConversionMethod,Date,eSignalSymbol)
Select CurrencyStandardPairs.FromCurrencyID,CurrencyStandardPairs.ToCurrencyID,
IsNull(CurrencyConversionRate.ConversionRate,1),0 As ConversionMethod,CurrencyConversionRate.Date,CurrencyStandardPairs.eSignalSymbol 
From T_CurrencyConversionRate CurrencyConversionRate Join T_CurrencyStandardPairs CurrencyStandardPairs 
On CurrencyStandardPairs.CurrencyPairId = CurrencyConversionRate.CurrencyPairID_FK 
Where DateDiff(d,@TradingStartDate,CurrencyConversionRate.Date) >=0 
And DateDiff(d,CurrencyConversionRate.Date,@HoldingEndDate) >=0
Union
Select CurrencyStandardPairs.ToCurrencyID,CurrencyStandardPairs.FromCurrencyID,
IsNull(CurrencyConversionRate.ConversionRate,1),1 As ConversionMethod,CurrencyConversionRate.Date,CurrencyStandardPairs.eSignalSymbol 
From T_CurrencyConversionRate CurrencyConversionRate Join T_CurrencyStandardPairs CurrencyStandardPairs 
On CurrencyStandardPairs.CurrencyPairId = CurrencyConversionRate.CurrencyPairID_FK 
Where DateDiff(d,@TradingStartDate,CurrencyConversionRate.Date) >=0 
And DateDiff(d,CurrencyConversionRate.Date,@HoldingEndDate) >=0

Update #FXConversionRates Set RateValue = 1.0/RateValue 
Where RateValue <> 0 And ConversionMethod = 1

-- Get yesterday business day AUEC wise for Start Date And End Date
Create Table #SymbolAUEC
(AUECID int,Symbol varchar(100))
Insert Into #SymbolAUEC
(AUECID,Symbol)
Select AUECID,Symbol 
From V_SymbolAUEC

Create Table #AUEC
(AUECID int)
Insert Into #AUEC
(AUECID)
Select Distinct AUECID 
From #SymbolAUEC

Create Table #AUECBusinessDatesForStartDate
(ClientName varchar(Max),FundID int,TimeFrame varchar(Max),AUECID int,YesterdayBizDate datetime)
Create Table #AUECBusinessDatesForEndDate
(ClientName varchar(Max),FundID int,TimeFrame varchar(Max),AUECID int,YesterdayBizDate datetime)

Insert Into #AUECBusinessDatesForStartDate
(ClientName,FundID,TimeFrame,AUECID,YesterdayBizDate)
Select ClientName,CompanyFundID,TimeFrame,AUECID,dbo.AdjustBusinessDays(FromDate,-1,AUECID)
From #AUEC,#ClientFundDate

Insert Into #AUECBusinessDatesForEndDate
(ClientName,FundID,TimeFrame,AUECID,YesterdayBizDate)
Select ClientName,CompanyFundID,TimeFrame,AUECID,dbo.AdjustBusinessDays(DateAdd(d,1,ToDate),-1,AUECID)
From #AUEC,#ClientFundDate
----------------------------------------------------------------------------------------------
--Temporary Table to hold open taxlots which will be used for optimization 
Create Table #D2Taxlots(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,[TaxLot_PK] bigint,TaxLotOpenQty float,TaxlotID varchar(Max))
Insert Into #D2Taxlots(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID)
Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID 
From PM_Taxlots IPT Join #ClientFundDate T On IPT.FundID = T.CompanyFundID And DateDiff(d,IPT.AUECModifiedDate,T.ToDate) >= 0 And IPT.FundID = T.CompanyFundID 

Create Table #D2OpenTaxlots_1
(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,[TaxLot_PK] bigint,TaxLotOpenQty float,[TaxLotID] varchar(Max),
Symbol varchar(Max),
AvgPrice float,
FXRate float,
FXConversionMethodOperator varchar(Max),
AUECModifiedDate datetime,
OpenTotalCommissionAndFees float,
SideMultiplier int,
GroupID varchar(Max),
GCurrencyID int,
GFXRate float, 
GFXConversionMethodOperator varchar(Max),
GAssetID int,
GAUECID int,
GAUECLocalDate datetime,
GIsSwapped bit)
;With D2PKs (ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID,RowNum) As
(Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,TaxlotID,Row_Number() Over(Partition By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLotID] Order By [TaxLot_PK] Desc) From #D2Taxlots)
Insert Into #D2OpenTaxlots_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,[TaxLotID],
Symbol,AvgPrice,FxRate,FXConversionMethodOperator,AUECModifiedDate,OpenTotalCommissionAndFees,SideMultiplier,GroupID,
GCurrencyID,GFXRate,GFXConversionMethodOperator,GAssetID,GAUECID,GAUECLocalDate,GIsSwapped) 
Select D.ClientName,D.FundName,D.TimeFrame,D.FromDate,D.ToDate,D.CompanyFundID,D.[TaxLot_PK],D.TaxLotOpenQty,D.[TaxLotID],
S.Symbol,S.AvgPrice,S.FXRate,S.FXConversionMethodOperator,S.AUECModifiedDate, S.OpenTotalCommissionAndFees,dbo.GetSideMultiplier(S.OrderSideTagValue),S.GroupID,
S1.CurrencyID,S1.FXRate,S1.FXConversionMethodOperator,S1.AssetID,S1.AUECID,S1.AUECLocalDate,S1.IsSwapped From D2PKs D Join PM_Taxlots S On D.[TaxLot_PK] = S.[TaxLot_PK] Join T_Group S1 On S.GroupID = S1.GroupID Where D.RowNum = 1 And D.TaxLotOpenQty <> 0 

Drop Table #D2Taxlots

Create Table #D2OpenTaxlots
(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,[TaxLot_PK] bigint,TaxLotOpenQty float,[TaxLotID] varchar(Max),
Symbol varchar(Max),
AvgPrice float,
FXRate float,
FXConversionMethodOperator varchar(Max),
AUECModifiedDate datetime,
OpenTotalCommissionAndFees float,
SideMultiplier int,
GroupID varchar(Max),
GCurrencyID int,
GFXRate float, 
GFXConversionMethodOperator varchar(Max),
GAssetID int,
GAUECID int,
GAUECLocalDate datetime,
GIsSwapped bit,
OpeningFXRate float,
BeginningFXRate float,
EndingFXRate float,
YesterdayBizDate_D0 datetime,YesterdayBizDate_D2 datetime)
Insert Into #D2OpenTaxlots(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,[TaxLotID],
Symbol,AvgPrice,FxRate,FXConversionMethodOperator,AUECModifiedDate,OpenTotalCommissionAndFees,SideMultiplier,GroupID,
GCurrencyID,GFXRate,GFXConversionMethodOperator,GAssetID,GAUECID,GAUECLocalDate,GIsSwapped,OpeningFXRate,BeginningFXRate,EndingFXRate,YesterdayBizDate_D0,YesterdayBizDate_D2) 
Select 
D.ClientName,FundName,D.TimeFrame,FromDate,ToDate,CompanyFundID,[TaxLot_PK],TaxLotOpenQty,[TaxLotID],
Symbol,AvgPrice,FxRate,FXConversionMethodOperator,AUECModifiedDate,OpenTotalCommissionAndFees,SideMultiplier,GroupID,
GCurrencyID,GFXRate,GFXConversionMethodOperator,GAssetID,GAUECID,GAUECLocalDate,GIsSwapped,
Case
When GCurrencyID <> @BaseCurrencyID
Then
Case
When IsNull(FXRate,GFXRate) > 0
Then
Case IsNull(FXConversionMethodOperator,IsNull(GFXConversionMethodOperator,'M'))
When 'M'
Then IsNull(FXRate,GFXRate)
When 'D'
Then 1/IsNull(FXRate,GFXRate)
End
Else IsNull(FXDayRatesForTradeDate.RateValue,1)
End
Else 1
End,
Case
When GCurrencyID <> @BaseCurrencyID
Then IsNull(FXDayRatesForStartDate.RateValue,1)
Else 1
End,
Case
When GCurrencyID <> @BaseCurrencyID
Then IsNull(FXDayRatesForEndDate.RateValue,1)
Else 1
End, 
AUECYesterDates.YesterdayBizDate,
AUECBusinessDatesForEndDate.YesterdayBizDate 
From #D2OpenTaxlots_1 D
Left Outer Join #AUECBusinessDatesForStartDate AUECYesterDates On AUECYesterDates.AUECID = GAUECID And AUECYesterDates.ClientName = D.ClientName And AUECYesterDates.FundID = D.CompanyFundID And AUECYesterDates.TimeFrame = D.TimeFrame 
Left Outer Join #AUECBusinessDatesForEndDate AUECBusinessDatesForEndDate On AUECBusinessDatesForEndDate.AUECID = GAUECID And AUECBusinessDatesForEndDate.ClientName = D.ClientName And AUECBusinessDatesForEndDate.FundID = D.CompanyFundID And AUECBusinessDatesForEndDate.TimeFrame = D.TimeFrame 
Left Outer Join #FXConversionRates FXDayRatesForTradeDate
On (FXDayRatesForTradeDate.FromCurrencyID = GCurrencyID
And FXDayRatesForTradeDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,GAUECLocalDate,FXDayRatesForTradeDate.Date)=0) 
Left Outer Join #FXConversionRates FXDayRatesForStartDate
On (FXDayRatesForStartDate.FromCurrencyID = GCurrencyID
And FXDayRatesForStartDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,AUECYesterDates.YesterdayBizDate,FXDayRatesForStartDate.Date)=0)
Left Outer Join #FXConversionRates FXDayRatesForEndDate
On (FXDayRatesForEndDate.FromCurrencyID = GCurrencyID
And FXDayRatesForEndDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,AUECBusinessDatesForEndDate.YesterdayBizDate,FXDayRatesForEndDate.Date)=0)  

Drop Table #D2OpenTaxlots_1
------------------------
Select D.ClientName,D.FundName,D.TimeFrame,D.FromDate,D.ToDate,D.CompanyFundID,D.TaxlotID,D.Symbol,S.SplitFactor,S.EffectiveDate Into #TempSplitFactorForOpen_2
From #D2OpenTaxlots D Join #T_CorpActionData S On D.Symbol = S.Symbol And DateDiff(d,FromDate,EffectiveDate)>=0 And DateDiff(d,EffectiveDate,ToDate)>=0

Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,Max(SplitFactor) As SplitFactor,EffectiveDate 
Into #TempSplitFactorForOpen_1 From #TempSplitFactorForOpen_2 Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,EffectiveDate 

Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,IsNull(Exp(Sum(Log(SplitFactor))),1) As SplitFactor,EffectiveDate 
Into #TempSplitFactorForOpen From #TempSplitFactorForOpen_1 Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,EffectiveDate 

Drop Table #TempSplitFactorForOpen_2,#TempSplitFactorForOpen_1
----------------------------------------------------------------------------------------------
--Temporary Table to hold closed taxlots which will be used for optimization
Create Table #D0D2ClosedTaxlots_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,
PTSymbol varchar(100),
PTTaxLotOpenQty float,
PTAvgPrice float,
PTAUECModifiedDate datetime,
PTOpenTotalCommissionAndFees float,
PTClosedTotalCommissionAndFees float,
PTSideMultiplier int,
PTFXRate float,
PTFXConversionMethodOperator varchar(Max),

PTCTaxLotClosingID uniqueidentifier,
PTCPositionalTaxlotId varchar(Max),
PTCClosingTaxlotId varchar(Max),
PTCClosedQty float,
PTCClosingMode int,
PTCAUECLocalDate datetime,

GGroupID varchar(Max),
GCurrencyID int,
GAssetID int,
GIsSwapped bit,
GAUECID int,
GAUECLocalDate datetime,
GProcessDate datetime,
GFXRate float,
GFXConversionMethodOperator varchar(Max),
GOrderSideTagValue varchar(Max),

PT1AvgPrice float,
PT1ClosedTotalCommissionAndFees float,
PT1FXRate float,
PT1FXConversionMethodOperator varchar(Max),
PT1GroupID varchar(Max),

G1ProcessDate datetime,
G1FXRate float,
G1FXConversionMethodOperator varchar(Max),

SideMultiplierForClosing int) 


Insert Into #D0D2ClosedTaxlots_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
PTSymbol,
PTTaxLotOpenQty,
PTAvgPrice,
PTAUECModifiedDate,
PTOpenTotalCommissionAndFees,
PTClosedTotalCommissionAndFees,
PTSideMultiplier,
PTFXRate,
PTFXConversionMethodOperator,

PTCTaxLotClosingID,
PTCPositionalTaxlotId,
PTCClosingTaxlotId,
PTCClosedQty,
PTCClosingMode,
PTCAUECLocalDate,

GGroupID,
GCurrencyID,
GAssetID,
GIsSwapped,
GAUECID,
GAUECLocalDate,
GProcessDate,
GFXRate,
GFXConversionMethodOperator,
GOrderSideTagValue) 
Select T.ClientName,T.FundName,T.TimeFrame,T.FromDate,T.ToDate,T.CompanyFundID,
PT.Symbol,
PT.TaxLotOpenQty,
PT.AvgPrice,
PT.AUECModifiedDate,
PT.OpenTotalCommissionAndFees,
PT.ClosedTotalCommissionAndFees,
dbo.GetSideMultiplier(PT.OrderSideTagValue),
PT.FXRate,
PT.FXConversionMethodOperator,

PTC.TaxLotClosingID,
PTC.PositionalTaxlotId,
PTC.ClosingTaxlotId,
PTC.ClosedQty,
PTC.ClosingMode,
PTC.AUECLocalDate,

G.GroupID,
G.CurrencyID,
G.AssetID,
G.IsSwapped,
G.AUECID,
G.AUECLocalDate,
G.ProcessDate,
G.FXRate,
G.FXConversionMethodOperator,
G.OrderSideTagValue

From PM_TaxlotClosing PTC 
Join #ClientFundDate T On DateDiff(d,T.FromDate,PTC.AUECLocalDate) >= 0 And DateDiff(d,PTC.AUECLocalDate,T.ToDate) >= 0 
Join PM_Taxlots PT On (PTC.PositionalTaxlotID = PT.TaxlotID And PTC.TaxLotClosingId = PT.TaxLotClosingId_Fk And T.CompanyFundID = PT.FundID) 
Join T_Group G On PT.GroupID = G.GroupID 

Update PTC Set 
PT1AvgPrice = PT1.AvgPrice,
PT1ClosedTotalCommissionAndFees = PT1.ClosedTotalCommissionAndFees,
PT1FXRate = PT1.FXRate,
PT1FXConversionMethodOperator = PT1.FXConversionMethodOperator,
PT1GroupID = PT1.GroupID
From #D0D2ClosedTaxlots_1 PTC
Join PM_Taxlots PT1 On (PTCClosingTaxlotID = PT1.TaxlotID And PTCTaxLotClosingId = PT1.TaxLotClosingId_Fk And PTC.CompanyFundID = PT1.FundID) 

Update PTC Set 
G1ProcessDate = G1.ProcessDate,
G1FXRate = G1.FXRate,
G1FXConversionMethodOperator = G1.FXConversionMethodOperator,
SideMultiplierForClosing = dbo.GetSideMultiplierForClosing(GOrderSideTagValue,G1.OrderSideTagValue) 
From #D0D2ClosedTaxlots_1 PTC 
Join T_Group G1 On PTC.PT1GroupID = G1.GroupID 

Create Table #D0D2ClosedTaxlots(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,
PTSymbol varchar(100),
PTTaxLotOpenQty float,
PTAvgPrice float,
PTAUECModifiedDate datetime,
PTOpenTotalCommissionAndFees float,
PTClosedTotalCommissionAndFees float,
PTSideMultiplier int,
PTFXRate float,
PTFXConversionMethodOperator varchar(Max),

PTCTaxLotClosingID uniqueidentifier,
PTCPositionalTaxlotId varchar(Max),
PTCClosingTaxlotId varchar(Max),
PTCClosedQty float,
PTCClosingMode int,
PTCAUECLocalDate datetime,

GGroupID varchar(Max),
GCurrencyID int,
GAssetID int,
GIsSwapped bit,
GAUECID int,
GAUECLocalDate datetime,
GProcessDate datetime,
GFXRate float,
GFXConversionMethodOperator varchar(Max),
GOrderSideTagValue varchar(Max),

PT1AvgPrice float,
PT1ClosedTotalCommissionAndFees float,
PT1FXRate float,
PT1FXConversionMethodOperator varchar(Max),
PT1GroupID varchar(Max),

G1ProcessDate datetime,
G1FXRate float,
G1FXConversionMethodOperator varchar(Max),

SideMultiplierForClosing int,

OpeningFXRate float,ClosingFXRate float,BeginningFXRate float,EndingFXRate float,
YesterdayBizDate_D0 datetime,YesterdayBizDate_D2 datetime) 
Insert Into #D0D2ClosedTaxlots
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
PTSymbol,
PTTaxLotOpenQty,
PTAvgPrice,
PTAUECModifiedDate,
PTOpenTotalCommissionAndFees,
PTClosedTotalCommissionAndFees,
PTSideMultiplier,
PTFXRate,
PTFXConversionMethodOperator,

PTCTaxLotClosingID,
PTCPositionalTaxlotId,
PTCClosingTaxlotId,
PTCClosedQty,
PTCClosingMode,
PTCAUECLocalDate,

GGroupID,
GCurrencyID,
GAssetID,
GIsSwapped,
GAUECID,
GAUECLocalDate,
GProcessDate,
GFXRate,
GFXConversionMethodOperator,
GOrderSideTagValue,

PT1AvgPrice,
PT1ClosedTotalCommissionAndFees,
PT1FXRate,
PT1FXConversionMethodOperator,
PT1GroupID,

G1ProcessDate,
G1FXRate,
G1FXConversionMethodOperator,

SideMultiplierForClosing,

OpeningFXRate,
ClosingFXRate,
BeginningFXRate,
EndingFXRate,
YesterdayBizDate_D0,
YesterdayBizDate_D2)

Select 
D.ClientName,FundName,D.TimeFrame,FromDate,ToDate,CompanyFundID,
PTSymbol,
PTTaxLotOpenQty,
PTAvgPrice,
PTAUECModifiedDate,
PTOpenTotalCommissionAndFees,
PTClosedTotalCommissionAndFees,
PTSideMultiplier,
PTFXRate,
PTFXConversionMethodOperator,

PTCTaxLotClosingID,
PTCPositionalTaxlotId,
PTCClosingTaxlotId,
PTCClosedQty,
PTCClosingMode,
PTCAUECLocalDate,

GGroupID,
GCurrencyID,
GAssetID,
GIsSwapped,
GAUECID,
GAUECLocalDate,
GProcessDate,
GFXRate,
GFXConversionMethodOperator,
GOrderSideTagValue,

PT1AvgPrice,
PT1ClosedTotalCommissionAndFees,
PT1FXRate,
PT1FXConversionMethodOperator,
PT1GroupID,

G1ProcessDate,
G1FXRate,
G1FXConversionMethodOperator,

SideMultiplierForClosing,


Case
When GCurrencyID <> @BaseCurrencyID
Then
Case
When IsNull(PTFXRate,GFXRate) > 0
Then
Case IsNull(PTFXConversionMethodOperator,IsNull(GFXConversionMethodOperator,'M'))
When 'M'
Then IsNull(PTFXRate,GFXRate)
When 'D'
Then 1/IsNull(PTFXRate,GFXRate)
End
Else IsNull(FXDayRatesForTradeDate.RateValue,1)
End
Else 1
End,
Case
When GCurrencyID <> @BaseCurrencyID
Then
Case
When IsNull(PT1FXRate,G1FXRate) > 0
Then
Case IsNull(PT1FXConversionMethodOperator,IsNull(G1FXConversionMethodOperator,'M'))
When 'M'
Then IsNull(PT1FXRate,G1FXRate)
When 'D'
Then 1/IsNull(PT1FXRate,G1FXRate)
End
Else IsNull(FXDayRatesForClosingDate.RateValue,1)
End
Else 1
End,
Case
When GCurrencyID <> @BaseCurrencyID
Then IsNull(FXDayRatesForStartDate.RateValue,1) 
Else 1
End,
Case
When GCurrencyID <> @BaseCurrencyID
Then IsNull(FXDayRatesForClosingDate.RateValue,1) 
Else 1
End,
AUECYesterDates.YesterdayBizDate,
AUECBusinessDatesForEndDate.YesterdayBizDate 
From #D0D2ClosedTaxlots_1 D 
Left Outer Join #AUECBusinessDatesForStartDate AUECYesterDates On AUECYesterDates.AUECID = GAUECID And AUECYesterDates.ClientName = D.ClientName And AUECYesterDates.FundID = D.CompanyFundID And AUECYesterDates.TimeFrame = D.TimeFrame 
Left Outer Join #AUECBusinessDatesForEndDate AUECBusinessDatesForEndDate On AUECBusinessDatesForEndDate.AUECID = GAUECID And AUECBusinessDatesForEndDate.ClientName = D.ClientName And AUECBusinessDatesForEndDate.FundID = D.CompanyFundID And AUECBusinessDatesForEndDate.TimeFrame = D.TimeFrame  
Left Outer Join #FXConversionRates FXDayRatesForTradeDate
On (FXDayRatesForTradeDate.FromCurrencyID = GCurrencyID
And FXDayRatesForTradeDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,GProcessDate,FXDayRatesForTradeDate.Date)=0)
Left Outer Join #FXConversionRates FXDayRatesForStartDate
On (FXDayRatesForStartDate.FromCurrencyID = GCurrencyID
And FXDayRatesForStartDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,AUECYesterDates.YesterdayBizDate,FXDayRatesForStartDate.Date)=0)
Left Outer Join #FXConversionRates FXDayRatesForClosingDate
On (FXDayRatesForClosingDate.FromCurrencyID = GCurrencyID
And FXDayRatesForClosingDate.ToCurrencyID = @BaseCurrencyID
And DateDiff(d,G1ProcessDate,FXDayRatesForClosingDate.Date)=0) 

Drop Table #D0D2ClosedTaxlots_1
------------------------
Select D.ClientName,D.FundName,D.TimeFrame,D.FromDate,D.ToDate,D.CompanyFundID,D.PTCPositionalTaxlotID As TaxlotID,D.PTSymbol As Symbol,S.SplitFactor,S.EffectiveDate 
Into #TempSplitFactorForClosed_2 From #D0D2ClosedTaxlots D Join #T_CorpActionData S On D.PTCClosingMode <> 7 And D.PTSymbol = S.Symbol And DateDiff(d,FromDate,EffectiveDate)>=0 And DateDiff(d,EffectiveDate,ToDate)>=0

Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,Max(SplitFactor) As SplitFactor,EffectiveDate 
Into #TempSplitFactorForClosed_1 From #TempSplitFactorForClosed_2 Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,EffectiveDate

Select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol,IsNull(Exp(Sum(Log(SplitFactor))),1) As SplitFactor,Max(EffectiveDate) As EffectiveDate 
Into #TempSplitFactorForClosed From #TempSplitFactorForClosed_1 Group By ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,TaxlotID,Symbol

Drop Table #TempSplitFactorForClosed_2,#TempSplitFactorForClosed_1
----------------------------------------------------------------------------------------------
--Temporary Table to hold dividends which will be used for optimization
Create Table #D0D2CashDividends_1(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Symbol varchar(Max),ExDate datetime,CurrencyID int,Dividend float)
Insert Into #D0D2CashDividends_1(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,ExDate,CurrencyID,Dividend)
Select T.ClientName,T.FundName,T.TimeFrame,T.FromDate,T.ToDate,T.CompanyFundID,CashDiv.Symbol,CashDiv.ExDate,CashDiv.CurrencyID,Sum(CashDiv.Amount) As Dividend From T_CashTransactions CashDiv Join #ClientFundDate T On CashDiv.FundID = T.CompanyFundID
Where DateDiff(d,T.FromDate,CashDiv.ExDate) >=0
And DateDiff(d,CashDiv.ExDate,T.ToDate)>=0 
And CashDiv.ActivityTypeId In (Select ActivityTypeId From T_ActivityType Where ActivitySource = 2) 
Group By T.ClientName,T.FundName,T.TimeFrame,T.FromDate,T.ToDate,T.CompanyFundID,CashDiv.Symbol,CashDiv.ExDate,CashDiv.CurrencyID 

Create Table #D0D2CashDividends(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Symbol varchar(Max),ExDate datetime,CurrencyID int,Dividend float,
Side varchar(Max),OpeningFXRate float)
Insert Into #D0D2CashDividends(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,ExDate,CurrencyID,Dividend,Side,OpeningFXRate)
Select 
ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,ExDate,CurrencyID,Dividend,
Case 
When Dividend >= 0 
Then 'Long'  
Else 'Short' 
End,
Case
When CurrencyID <> @BaseCurrencyID
Then IsNull(FXDayRatesForDiviDate.RateValue,1) 
Else 1
End 
From #D0D2CashDividends_1 D 
Left Outer Join #FXConversionRates FXDayRatesForDiviDate
On (FXDayRatesForDiviDate.FromCurrencyID = D.CurrencyID)
And (FXDayRatesForDiviDate.ToCurrencyID = @BaseCurrencyID)
And DateDiff(d,D.ExDate,FXDayRatesForDiviDate.Date)=0 
Drop Table #D0D2CashDividends_1
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------
Create Table #PNLTable
(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,
Symbol varchar(100),
Asset varchar(100),
TradeCurrency varchar(10),
Side varchar(10),
UnitCostLocal float,
OpeningFXRate float,
UnitCostBase float,
ClosingPriceLocal float,
ClosingPriceBase float,
BeginningFXRate float,
EndingFXRate float,
BeginningPriceLocal float,
EndingPriceLocal float,
BeginningPriceBase float,
EndingPriceBase float,
BeginningQuantity float,
EndingQuantity float,
Multiplier float,
SideMultiplier varchar(5),
DividendLocal float,
DividendBase float,
TradeDate datetime,
ClosingDate datetime,
Open_CloseTag varchar(Max),
IsSwapped bit,
/* -- basic fields On which every derived calculation will take place...*/
TotalCost_Local float,
TotalCost_Base float,
TotalCost_BaseD0FX float,
TotalCost_BaseD2FX float,
BeginningMarketValueLocal float,
BeginningMarketValueBase float,
BeginningMarketValue_BaseD2FX float,
EndingMarketValueLocal float,
EndingMarketValueBase float,
TotalOpenCommissionAndFees_Local float,
TotalOpenCommissionAndFees_Base float,
TotalClosedCommissionAndFees_Local float,
TotalClosedCommissionAndFees_Base float,
/* -- derived fields which are calculated using basic fields...*/
UnrealizedTotalGainOnCostD0_Base float,
UnrealizedTotalGainOnCostD2_Base float,
TotalRealizedPNLOnCost float,
TotalUnrealizedPNLMTM float,
TotalRealizedPNLMTM float,
TaxlotID varchar(Max),
TaxlotClosingID UniqueIdentifier,
UdaSector varchar(Max),UdaSubSector varchar(Max),UdaCountry varchar(Max),UnderlyingSymbol varchar(Max),UnderlyingDelta float,
UnderlyingSymbolPrice float,
Beta float,
Delta float
)

/* ------------------------------- Open Positions i.e.Unrealized P&L ------------------------------------- */
Insert Into #PNLTable
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
Symbol,
Asset,
TradeCurrency,
Side,
UnitCostLocal,
OpeningFXRate,
UnitCostBase,
ClosingPriceLocal,
ClosingPriceBase,
BeginningFXRate,
EndingFXRate,
BeginningPriceLocal,
EndingPriceLocal,
BeginningPriceBase,
EndingPriceBase,
BeginningQuantity,
EndingQuantity,
Multiplier,
SideMultiplier,
DividendLocal,
DividendBase,
TradeDate,
ClosingDate,
Open_CloseTag,
IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
TotalCost_Local,
TotalCost_Base,
TotalCost_BaseD0FX,
TotalCost_BaseD2FX,
BeginningMarketValueLocal,
BeginningMarketValueBase,
BeginningMarketValue_BaseD2FX,
EndingMarketValueLocal,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base,
TotalClosedCommissionAndFees_Local,
TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
UnrealizedTotalGainOnCostD0_Base,
UnrealizedTotalGainOnCostD2_Base,
TotalRealizedPNLOnCost,
TotalUnrealizedPNLMTM,
TotalRealizedPNLMTM,
TaxlotID,
TaxlotClosingID,
UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol,UnderlyingDelta)
Select 
PT.ClientName,PT.FundName,PT.TimeFrame,PT.FromDate,PT.ToDate,PT.CompanyFundID,
PT.Symbol As Symbol,
T_Asset.AssetName As Asset,
TradedCurrency.CurrencySymbol As TradeCurrency,
Case PT.SideMultiplier When 1 Then 'Long' Else 'Short' End As Side,
PT.AvgPrice As UnitCostLocal,
PT.OpeningFXRate,
PT.AvgPrice * PT.OpeningFXRate As UnitCostBase,
0 As ClosingPriceLocal,
0 As ClosingPriceBase,
PT.BeginningFXRate,
PT.EndingFXRate,
IsNull(MPS.FinalMarkPrice,0) As BeginningPriceLocal,
IsNull(MPE.FinalMarkPrice,0) As EndingPriceLocal,
IsNull(MPS.FinalMarkPrice,0) * PT.BeginningFXRate As BeginningPriceBase,
IsNull(MPE.FinalMarkPrice,0) * PT.EndingFXRate As EndingPriceBase,
PT.TaxLotOpenQty As BeginningQuantity,
0 As EndingQuantity,
SM.Multiplier As Multiplier,
PT.SideMultiplier As SideMultiplier,
0 As DividendLocal,
0 As DividendBase,
PT.GAUECLocalDate As TradeDate,
Null As ClosingDate,
'O' As Open_CloseTag,
PT.GIsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
IsNull(PT.AvgPrice * PT.TaxlotOpenQty * IsNull(SM.Multiplier,1) * PT.SideMultiplier,0) As TotalCost_Local,
0 As TotalCost_Base,
0 As TotalCost_BaseD0FX,
0 As TotalCost_BaseD2FX,
Case When DateDiff(d,PT.FromDate,PT.GAUECLocalDate) < 0
Then IsNull((IsNull(MPS.FinalMarkPrice,0) / IsNull(SplitTab.SplitFactor,1)) * PT.TaxlotOpenQty * IsNull(SM.Multiplier,1) * PT.SideMultiplier,0)
Else 0 End As BeginningMarketValueLocal,
0 As BeginningMarketValueBase,
0 As BeginningMarketValue_BaseD2FX,
IsNull(IsNull(MPE.Finalmarkprice,0) * PT.TaxlotOpenQty * IsNull(SM.Multiplier,1) * PT.SideMultiplier,0)
As EndingMarketValueLocal,
0 As EndingMarketValueBase,
IsNull(PT.OpenTotalCommissionAndFees,0) As TotalOpenCommissionAndFees_Local,
IsNull(PT.OpenTotalCommissionAndFees,0) * PT.OpeningFXRate As TotalOpenCommissionAndFees_Base,
0 As TotalClosedCommissionAndFees_Local,
0 As TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
0 As UnrealizedTotalGainOnCostD0_Base,
0 As UnrealizedTotalGainOnCostD2_Base,
0 As TotalRealizedPNLOnCost,
0 As TotalUnrealizedPNLMTM,
0 As TotalRealizedPNLMTM,
PT.TaxlotID As TaxlotID,
Null As TaxlotClosingID,
IsNull(SM.SectorName,'Undefined') As UdaSector,
IsNull(SM.SubSectorName,'Undefined') As UdaSubSector,
IsNull(SM.CountryName,'Undefined') As UdaCountry,
IsNull(SM.UnderlyingSymbol,PT.Symbol) As UnderlyingSymbol,
SM.UnderlyingDelta As UnderlyingDelta 
From #D2OpenTaxlots PT
Left Outer Join T_Currency TradedCurrency On TradedCurrency.CurrencyID = PT.GCurrencyID
Left Outer Join T_Asset On T_Asset.AssetID = PT.GAssetID
Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = PT.Symbol
Left Outer Join PM_DayMarkPrice MPS On DateDiff(d,MPS.Date,PT.YesterdayBizDate_D0) = 0 And MPS.Symbol = PT.Symbol 
Left Outer Join PM_DayMarkPrice MPE On DateDiff(d,MPE.Date,PT.YesterdayBizDate_D2) = 0 And MPE.Symbol = PT.Symbol
Left Outer Join #TempSplitFactorForOpen SplitTab On PT.ClientName = SplitTab.ClientName And PT.FundName = SplitTab.FundName And PT.TimeFrame = SplitTab.TimeFrame And PT.TaxlotID = SplitTab.TaxlotID

Drop Table #D2OpenTaxlots

/* ------------------------------------------------------------------------------------------------ */

/* ----------------------------Closed Positions i.e.Realized P&L--------------------------------- */
Insert Into #PNLTable
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
Symbol,
Asset,
TradeCurrency,
Side,
UnitCostLocal,
OpeningFXRate,
UnitCostBase,
ClosingPriceLocal,
ClosingPriceBase,
BeginningFXRate,
EndingFXRate,
BeginningPriceLocal,
EndingPriceLocal,
BeginningPriceBase,
EndingPriceBase,
BeginningQuantity,
EndingQuantity,
Multiplier,
SideMultiplier,
DividendLocal,
DividendBase,
TradeDate,
ClosingDate,
Open_CloseTag,
IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
TotalCost_Local,
TotalCost_Base,
TotalCost_BaseD0FX,
TotalCost_BaseD2FX,
BeginningMarketValueLocal,
BeginningMarketValueBase,
BeginningMarketValue_BaseD2FX,
EndingMarketValueLocal,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base,
TotalClosedCommissionAndFees_Local,
TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
UnrealizedTotalGainOnCostD0_Base,
UnrealizedTotalGainOnCostD2_Base,
TotalRealizedPNLOnCost,
TotalUnrealizedPNLMTM,
TotalRealizedPNLMTM,
TaxlotID,
TaxlotClosingID,
UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol,UnderlyingDelta)
Select 
PTC.ClientName,PTC.FundName,PTC.TimeFrame,PTC.FromDate,PTC.ToDate,PTC.CompanyFundID,
PTC.PTSymbol As Symbol,
T_Asset.AssetName As Asset,
TradedCurrency.CurrencySymbol As TradeCurrency,
Case PTC.SideMultiplierForClosing When 1 Then 'Long' When -1 Then 'Short' Else '' End As Side,
PTC.PTAvgPrice As UnitCostLocal,
PTC.OpeningFXRate,
PTC.PTAvgPrice*PTC.OpeningFXRate As UnitCostBase,
PTC.PT1AvgPrice As ClosingPriceLocal,
PTC.PT1AvgPrice*PTC.ClosingFXRate As ClosingPriceBase,
PTC.BeginningFXRate,
PTC.ClosingFXRate As EndingFXRate,
IsNull(MPS.FinalMarkPrice,0) As BeginningPriceLocal,
IsNull(MPE.FinalMarkPrice,0) As EndingPriceLocal,
IsNull(MPS.FinalMarkPrice,0)*PTC.BeginningFXRate As BeginningPriceBase,
IsNull(MPE.Finalmarkprice,0)*PTC.EndingFXRate As EndPriceBase,
PTC.PTTaxLotOpenQty As BeginningQuantity,
PTC.PTCClosedQty As EndingQuantity,
SM.Multiplier As Multiplier,
PTC.SideMultiplierForClosing As SideMultiplier,
0 As DividendLocal,
0 As DividendBase,
PTC.GAUECLocalDate As TradeDate,
PTC.PTCAUECLocalDate As ClosingDate,
'C' As Open_CloseTag,
PTC.GIsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
IsNull((PTC.PTAvgPrice) * PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * PTC.PTSideMultiplier,0) As TotalCost_Local,
0 As TotalCost_Base,
0 As TotalCost_BaseD0FX,
0 As TotalCost_BaseD2FX,
Case When DateDiff(d,PTC.GAUECLocalDate,PTC.FromDate) > 0
Then (IsNull(MPS.FinalMarkPrice,0) / IsNull(SplitTab.SplitFactor,1)) * PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * PTC.PTSideMultiplier
Else 0 End As BeginningMarketValueLocal,
0 As BeginningMarketValueBase,
0 As BeginningMarketValue_BaseD2FX,
IsNull(PTC.PT1AvgPrice,0)* PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * IsNull(PTC.SideMultiplierForClosing,1) As EndingMarketValueLocal,
0 As EndingMarketValueBase,
IsNull(PTC.PTClosedTotalCommissionAndFees,0) As TotalOpenCommissionAndFees_Local,
IsNull(PTC.PTClosedTotalCommissionAndFees,0) * IsNull(PTC.OpeningFXRate,1) As TotalOpenCommissionAndFees_Base,
IsNull(PTC.PT1ClosedTotalCommissionAndFees,0) As TotalClosedCommissionAndFees_Local,
IsNull(PTC.PT1ClosedTotalCommissionAndFees,0) * IsNull(PTC.EndingFXRate,1) As TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
0 As UnrealizedTotalGainOnCostD0_Base,
0 As UnrealizedTotalGainOnCostD2_Base,
0 As TotalRealizedPNLOnCost,
0 As TotalUnrealizedPNLMTM,
0 As TotalRealizedPNLMTM,
PTC.PTCPositionalTaxlotID As TaxlotID,
PTC.PTCTaxlotClosingID,
IsNull(SM.SectorName,'Undefined') As UdaSector,
IsNull(SM.SubSectorName,'Undefined') As UdaSubSector,
IsNull(SM.CountryName,'Undefined') As UdaCountry,
IsNull(SM.UnderlyingSymbol,PTC.PTSymbol) As UnderlyingSymbol,
Null As UnderlyingDelta   
From #D0D2ClosedTaxlots PTC
Left Outer Join T_Currency TradedCurrency On TradedCurrency.CurrencyID = PTC.GCurrencyID
Left Outer Join T_Asset On T_Asset.AssetID = PTC.GAssetID
Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = PTC.PTSymbol
Left Outer Join PM_DayMarkPrice MPS On DateDiff(d,MPS.Date,PTC.YesterdayBizDate_D0) = 0 And MPS.Symbol = PTC.PTSymbol 
Left Outer Join PM_DayMarkPrice MPE On DateDiff(d,MPE.Date,PTC.YesterdayBizDate_D2) = 0 And MPE.Symbol = PTC.PTSymbol 
Left Outer Join #TempSplitFactorForClosed SplitTab On PTC.ClientName = SplitTab.ClientName And PTC.FundName = SplitTab.FundName And PTC.TimeFrame = SplitTab.TimeFrame And PTC.PTCPositionalTaxlotID = SplitTab.TaxlotID And DateDiff(d,SplitTab.Effectivedate,PTC.PTAUECModifiedDate) >= 0 
Where PTC.PTCClosingMode<>7 --7 means CoperateAction!

--------------------------------------------------------------------------------------------------------
--------------------------------- Name Change Corporate Action -----------------------------------------
Insert Into #PNLTable
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
Symbol,
Asset,
TradeCurrency,
Side,
UnitCostLocal,
OpeningFXRate,
UnitCostBase,
ClosingPriceLocal,
ClosingPriceBase,
BeginningFXRate,
EndingFXRate,
BeginningPriceLocal,
EndingPriceLocal,
BeginningPriceBase,
EndingPriceBase,
BeginningQuantity,
EndingQuantity,
Multiplier,
SideMultiplier,
DividendLocal,
DividendBase,
TradeDate,
ClosingDate,
Open_CloseTag,
IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
TotalCost_Local,
TotalCost_Base,
TotalCost_BaseD0FX,
TotalCost_BaseD2FX,
BeginningMarketValueLocal,
BeginningMarketValueBase,
BeginningMarketValue_BaseD2FX,
EndingMarketValueLocal,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base,
TotalClosedCommissionAndFees_Local,
TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
UnrealizedTotalGainOnCostD0_Base,
UnrealizedTotalGainOnCostD2_Base,
TotalRealizedPNLOnCost,
TotalUnrealizedPNLMTM,
TotalRealizedPNLMTM,
TaxlotID,
TaxlotClosingID,
UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol,UnderlyingDelta)
Select 
PTC.ClientName,PTC.FundName,PTC.TimeFrame,PTC.FromDate,PTC.ToDate,PTC.CompanyFundID,
PTC.PTSymbol As Symbol,
T_Asset.AssetName As Asset,
TradedCurrency.CurrencySymbol As TradeCurrency,
Case PTC.SideMultiplierForClosing When 1 Then 'Long' When -1 Then 'Short' Else '' End As Side,
PTC.PTAvgPrice As UnitCostLocal,
PTC.OpeningFXRate,
PTC.PTAvgPrice*PTC.OpeningFXRate As UnitCostBase,
PTC.PT1AvgPrice As ClosingPriceLocal,
PTC.PT1AvgPrice*PTC.ClosingFXRate As ClosingPriceBase,
PTC.BeginningFXRate,
PTC.EndingFXRate,
IsNull(MPS.FinalMarkPrice,0) As BeginningPriceLocal,
IsNull(MPE.FinalMarkPrice,0) As EndingPriceLocal,
IsNull(MPS.FinalMarkPrice,0)*PTC.BeginningFXRate As BeginningPriceBase,
IsNull(MPE.Finalmarkprice,0)*PTC.EndingFXRate As EndPriceBase,
PTC.PTTaxLotOpenQty As BeginningQuantity,
PTC.PTCClosedQty As EndingQuantity,
SM.Multiplier As Multiplier,
PTC.SideMultiplierForClosing As SideMultiplier,
0 As DividendLocal,
0 As DividendBase,
PTC.GAUECLocalDate As TradeDate,
PTC.PTCAUECLocalDate As ClosingDate,
'O' As Open_CloseTag,
0 As IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
IsNull(IsNull(PTC.PTAvgPrice,0) * PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * PTC.PTSideMultiplier,0) As TotalCost_Local,
0 As TotalCost_Base,
0 As TotalCost_BaseD0FX,
0 As TotalCost_BaseD2FX,
Case When DateDiff(d,PTC.GAUECLocalDate,PTC.FromDate) > 0
Then IsNull(MPS.FinalMarkPrice,0) * PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * PTC.PTSideMultiplier
Else 0 End As BeginningMarketValueLocal,
0 As BeginningMarketValueBase,
0 As BeginningMarketValue_BaseD2FX,
IsNull(PTC.PT1AvgPrice,0)* PTC.PTCClosedQty * IsNull(SM.Multiplier,1) * IsNull(PTC.SideMultiplierForClosing,1) As EndingMarketValueLocal,
0 As EndingMarketValueBase,
IsNull(PTC.PTOpenTotalCommissionAndFees,0) As TotalOpenCommissionAndFees_Local,
IsNull(PTC.PTOpenTotalCommissionAndFees,0) * IsNull(PTC.OpeningFXRate,1) As TotalOpenCommissionAndFees_Base,
0 As TotalClosedCommissionAndFees_Local,
0 As TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
0 As UnrealizedTotalGainOnCostD0_Base,
0 As UnrealizedTotalGainOnCostD2_Base,
0 As TotalRealizedPNLOnCost,
0 As TotalUnrealizedPNLMTM,
0 As TotalRealizedPNLMTM,
PTCPositionalTaxlotID As TaxlotID,
PTCTaxlotClosingID,
IsNull(SM.SectorName,'Undefined') As UdaSector,
IsNull(SM.SubSectorName,'Undefined') As UdaSubSector,
IsNull(SM.CountryName,'Undefined') As UdaCountry,
IsNull(SM.UnderlyingSymbol,PTC.PTSymbol) As UnderlyingSymbol,
SM.UnderlyingDelta As UnderlyingDelta 
From #D0D2ClosedTaxlots PTC
Left Outer Join T_Currency TradedCurrency On TradedCurrency.CurrencyID = PTC.GCurrencyID
Left Outer Join T_Asset On T_Asset.AssetID = PTC.GAssetID
Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = PTC.PTSymbol
Left Outer Join PM_DayMarkPrice MPS On DateDiff(d,MPS.Date,PTC.YesterdayBizDate_D0) = 0 And MPS.Symbol = PTC.PTSymbol 
Left Outer Join PM_DayMarkPrice MPE On DateDiff(d,MPE.Date,PTC.YesterdayBizDate_D2) = 0 And MPE.Symbol = PTC.PTSymbol 
Where PTC.PTCClosingMode = 7 --7 means Name Change Coperate Action 

Drop Table #D0D2ClosedTaxlots

------------------------------------------------------------------------------------------------------
--------------------------------------Dividend--------------------------------------------------------
Insert Into #PNLTable
(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,
Symbol,
Asset,
TradeCurrency,
Side,
UnitCostLocal,
OpeningFXRate,
UnitCostBase,
ClosingPriceLocal,
ClosingPriceBase,
BeginningFXRate,
EndingFXRate,
BeginningPriceLocal,
EndingPriceLocal,
BeginningPriceBase,
EndingPriceBase,
BeginningQuantity,
EndingQuantity,
Multiplier,
SideMultiplier,
DividendLocal,
DividendBase,
TradeDate,
ClosingDate,
Open_CloseTag,
IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
TotalCost_Local,
TotalCost_Base,
TotalCost_BaseD0FX,
TotalCost_BaseD2FX,
BeginningMarketValueLocal,
BeginningMarketValueBase,
BeginningMarketValue_BaseD2FX,
EndingMarketValueLocal,
EndingMarketValueBase,
TotalOpenCommissionAndFees_Local,
TotalOpenCommissionAndFees_Base,
TotalClosedCommissionAndFees_Local,
TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
UnrealizedTotalGainOnCostD0_Base,
UnrealizedTotalGainOnCostD2_Base,
TotalRealizedPNLOnCost,
TotalUnrealizedPNLMTM,
TotalRealizedPNLMTM,
TaxlotID,
TaxlotClosingID,
UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol,UnderlyingDelta)
Select 
CashDiv.ClientName,CashDiv.FundName,CashDiv.TimeFrame,CashDiv.FromDate,CashDiv.ToDate,CashDiv.CompanyFundID,
CashDiv.Symbol As Symbol,
IsNull(T_Asset.AssetName,'Undefined') As Asset,
TradedCurrency.CurrencySymbol As TradeCurrency,
CashDiv.Side As Side,
0 As UnitCostLocal,
OpeningFXRate As OpeningFXRate,
0 As UnitCostBase,
0 As ClosingPriceLocal,
0 As ClosingPriceBase,
0 As BeginningFXRate,
0 As EndingFXRate,
0 As BeginningPriceLocal,
0 As EndingPriceLocal,
0 As BeginningPriceBase,
0 As EndPriceBase,
0 As BeginningQuantity,
0 As EndingQuantity,
0 As Multiplier,
0 As SideMultiplier,
CashDiv.Dividend As DividendLocal,
CashDiv.Dividend*OpeningFXRate As DividendBase,
CashDiv.ExDate As TradeDate,
Null As ClosingDate,
'D' As Open_CloseTag,
0 As IsSwapped,
/* -- basic fields On which every derived calculation will take place...*/
0 As TotalCost_Local,
0 As TotalCost_Base,
0 As TotalCost_BaseD0FX,
0 As TotalCost_BaseD2FX,
0 As BeginningMarketValueLocal,
0 As BeginningMarketValueBase,
0 As BeginningMarketValue_BaseD2FX,
0 As EndingMarketValueLocal,
0 As EndingMarketValueBase,
0 As TotalOpenCommissionAndFees_Local,
0 As TotalOpenCommissionAndFees_Base,
0 As TotalClosedCommissionAndFees_Local,
0 As TotalClosedCommissionAndFees_Base,
/* -- derived fields which are calculated using basic fields...*/
0 As UnrealizedTotalGainOnCostD0_Base,
0 As UnrealizedTotalGainOnCostD2_Base,
0 As TotalRealizedPNLOnCost,
0 As TotalUnrealizedPNLMTM,
0 As TotalRealizedPNLMTM,
'' As TaxlotID,
Null As TaxlotClosingID,
IsNull(SM.SectorName,'Undefined') As UdaSector,
IsNull(SM.SubSectorName,'Undefined') As UdaSubSector,
IsNull(SM.CountryName,'Undefined') As UdaCountry,
IsNull(SM.UnderlyingSymbol,CashDiv.Symbol) As UnderlyingSymbol,
Null As UnderlyingDelta 
From #D0D2CashDividends CashDiv
Left Outer Join T_Currency TradedCurrency On TradedCurrency.CurrencyID = CashDiv.CurrencyID
Left Outer Join #SecMasterDataTempTable SM On SM.TickerSymbol = CashDiv.Symbol
Left Outer Join T_AUEC AUEC On AUEC.AUECID = SM.AUECID
Left Outer Join T_Asset On T_Asset.AssetID = AUEC.AssetID

-----------------------------------------End Section: Dividend -----------------------------------------
--Update #PNLTable Set 
--TotalCost_Local = TotalCost_Local /100,
--BeginningMarketValueLocal= BeginningMarketValueLocal /100,
--EndingMarketValueLocal = EndingMarketValueLocal/100
--Where Asset = 'FixedIncome'

Update #PNLTable Set 
TotalCost_Base = OpeningFXRate * TotalCost_Local,
TotalCost_BaseD0FX = Case When DateDiff(d,TradeDate,FromDate) >0 Then BeginningFXRate * TotalCost_Local Else 0 End,
TotalCost_BaseD2FX = EndingFXRate * TotalCost_Local,
BeginningMarketValueBase = BeginningFXRate * BeginningMarketValueLocal,
BeginningMarketValue_BaseD2FX = EndingFXRate * BeginningMarketValueLocal,
EndingMarketValueBase = EndingFXRate * EndingMarketValueLocal

--------------------------------------------------------------------------------------------------------
Update #PNLTable Set
UnrealizedTotalGainOnCostD0_Base =
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =1)
)
Then 
Case When DateDiff(d,TradeDate,FromDate) > 0 Then (IsNull(BeginningMarketValueLocal,0) - IsNull(TotalCost_Local + TotalOpenCommissionAndFees_Local,0)) * BeginningFXRate Else 0 End
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =0)
)
Then 
Case When DateDiff(d,TradeDate,FromDate) > 0 Then (IsNull(BeginningMarketValueLocal,0) - IsNull(TotalCost_Local,0)) * BeginningFXRate Else 0 End 
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 and @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInCostBasisPNL_Other =1 And @IncludeFXPNLInCostBasisPNL_Other=1 )
)
Then 
Case When DateDiff(d,TradeDate,FromDate) > 0 Then IsNull(BeginningMarketValueBase,0) - IsNull(TotalCost_Base + TotalOpenCommissionAndFees_Base,0) Else 0 End
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And  IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=1 And @IncludeCommissionInCostBasisPNL_Other =0 )
)
Then 
Case When DateDiff(d,TradeDate,FromDate) > 0 Then IsNull(BeginningMarketValueBase,0) - IsNull(TotalCost_Base,0) Else 0 End 
Else 0 End,
UnrealizedTotalGainOnCostD2_Base =
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local + TotalOpenCommissionAndFees_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local,0)) * EndingFXRate
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInCostBasisPNL_Other =1 And @IncludeFXPNLInCostBasisPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base + TotalOpenCommissionAndFees_Base,0)
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=1 And @IncludeCommissionInCostBasisPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base,0)
Else 0 End,
TotalRealizedPNLOnCost = 
Case
--Realized PnL of closed Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local + TotalOpenCommissionAndFees_Local,0) - IsNull(TotalClosedCommissionAndFees_Local,0)) * EndingFXRate 
--Realized PnL of closed Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 0 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 0 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 0 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 0 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 0 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 0 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=0 And @IncludeCommissionInCostBasisPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(TotalCost_Local,0)) * EndingFXRate
--Realized PnL of closed Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInCostBasisPNL_Other =1 And @IncludeFXPNLInCostBasisPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base + TotalOpenCommissionAndFees_Base,0) - IsNull(TotalClosedCommissionAndFees_Base,0)
--Realized PnL of closed Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInCostBasisPNL_Futures = 1 And @IncludeCommissionInCostBasisPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInCostBasisPNL_FutOptions = 1 And @IncludeCommissionInCostBasisPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInCostBasisPNL_FX = 1 And @IncludeCommissionInCostBasisPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInCostBasisPNL_Swaps = 1 And @IncludeCommissionInCostBasisPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInCostBasisPNL_Equity = 1 And @IncludeCommissionInCostBasisPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInCostBasisPNL_EquityOption = 1 And @IncludeCommissionInCostBasisPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInCostBasisPNL_Other=1 And @IncludeCommissionInCostBasisPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(TotalCost_Base,0)
Else 0 End,
TotalUnrealizedPNLMTM =
Case
--Unrealized PnL of Open Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueLocal Else TotalCost_Local + TotalOpenCommissionAndFees_Local End,0)) * EndingFXRate
--Unrealized PnL of Open Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueLocal Else TotalCost_Local End,0)) * EndingFXRate
--Unrealized PnL of Open Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInMTMPNL_Other =1 And @IncludeFXPNLInMTMPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueBase Else TotalCost_Base + TotalOpenCommissionAndFees_Base End,0)
--Unrealized PnL of Open Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'O' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'O' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'O' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'O' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'O' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'O' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=1 And @IncludeCommissionInMTMPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueBase Else TotalCost_Base End,0)
Else 0 End,
TotalRealizedPNLMTM =
Case
--Realized PnL of closed Trade with Ending FX rate And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =1)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueLocal Else TotalCost_Local + TotalOpenCommissionAndFees_Local End,0) - IsNull(TotalClosedCommissionAndFees_Local,0)) * EndingFXRate 
--Realized PnL of closed Trade with Ending FX rate And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 0 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 0 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 0 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 0 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 0 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 0 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','Equity','FXForward','EquityOption') And @IncludeFXPNLInMTMPNL_Other=0 And @IncludeCommissionInMTMPNL_Other =0)
)
Then (IsNull(EndingMarketValueLocal,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueLocal Else TotalCost_Local End,0)) * EndingFXRate
--Realized PnL of closed Trade with both FX rates And Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =1) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =1) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =1) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =1) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =1) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeCommissionInMTMPNL_Other =1 And @IncludeFXPNLInMTMPNL_Other=1 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueBase Else TotalCost_Base + TotalOpenCommissionAndFees_Base End,0) - IsNull(TotalClosedCommissionAndFees_Base,0)
--Realized PnL of closed Trade with both FX rates And no Commission
When
(
(Open_CloseTag = 'C' And Asset = 'Future' And @IncludeFXPNLInMTMPNL_Futures = 1 And @IncludeCommissionInMTMPNL_Futures =0) Or
(Open_CloseTag = 'C' And Asset = 'FutureOption' And @IncludeFXPNLInMTMPNL_FutOptions = 1 And @IncludeCommissionInMTMPNL_FutOptions =0) Or
(Open_CloseTag = 'C' And (Asset = 'FX' or Asset = 'FXForward') And @IncludeFXPNLInMTMPNL_FX = 1 And @IncludeCommissionInMTMPNL_FX =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =1 And @IncludeFXPNLInMTMPNL_Swaps = 1 And @IncludeCommissionInMTMPNL_Swaps =0) Or
(Open_CloseTag = 'C' And Asset = 'Equity' And IsSwapped =0 And @IncludeFXPNLInMTMPNL_Equity = 1 And @IncludeCommissionInMTMPNL_Equity =0) Or
(Open_CloseTag = 'C' And Asset = 'EquityOption' And @IncludeFXPNLInMTMPNL_EquityOption = 1 And @IncludeCommissionInMTMPNL_EquityOption =0) Or
(Open_CloseTag = 'C' And Asset Not In ('Future','FutureOption','FX','FXForward','Equity','EquityOption') And @IncludeFXPNLInMTMPNL_Other=1 And @IncludeCommissionInMTMPNL_Other =0 )
)
Then IsNull(EndingMarketValueBase,0) - IsNull(Case When DateDiff(d,TradeDate,FromDate) > 0 Then BeginningMarketValueBase Else TotalCost_Base End,0)
Else 0 End

---------------------------------------------------------------------------------------------------------------
------------------ Handling FX Spot & Forward And Equity Swap && futures 
Update #PNLTable Set
EndingMarketValueBase = Case When Open_CloseTag = 'C' Then 0 Else
(Case
-- When Market Value Is Equal to Unrealize P&L
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'FX' And @FXMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized = 2) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized = 2)
)
Then
UnrealizedTotalGainOnCostD2_Base
-- When Market Value Is Equal to 0
When
(
(Asset = 'Future' And @FutureMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'FX' And @FXMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'Equity' And IsSwapped = 1 And @SwapMV_ZeroOrEndingMVOrUnrealized Not In (1,2)) Or
(Asset = 'FutureOption' And (@BaseCurrencyName <> TradeCurrency) And @InternationalFutOptionsMV_ZeroOrEndingMVOrUnrealized Not In (1,2))
)
Then 0
Else EndingMarketValueBase End) End
From #PNLTable P

-----------------------------------------------------------------------------------------------------------------------
-- Getting Only These Values From MW Tables
Update D Set 
UnderlyingSymbolPrice = S.UnderlyingSymbolPrice,
Beta = S.Beta,
Delta = S.Delta 
From #PNLTable D Left Outer Join T_MW_GenericPNL S On D.ToDate = S.Rundate And D.TaxlotID = S.TaxlotID 
Where (D.Open_CloseTag = 'O') And (S.Open_CloseTag = 'O' And S.Asset <> 'Cash')

----------------------------------------------------------------------------------
Create Table #T
(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime,CompanyFundID int,Symbol varchar(Max),PeriodUnrealizedPNL float,PeriodRealizedPNL float,DivInt float,PeriodLongPNL float,PeriodShortPNL float,PeriodTotalPNL float,CostBasisPNL float,Position float,DeltaAdjPosition float,BeginningQuantity float,CostBasis float,ClosingMark float,UnderlyingClosingMark float,MarketValue float,DeltaExposure float,Beta float,BetaExposure float,Asset varchar(Max),UdaSector varchar(Max),UdaSubSector varchar(Max),UdaCountry varchar(Max),UnderlyingSymbol varchar(Max))

Insert Into #T(ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,Asset,UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol) 
Select Distinct ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,Asset,UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol From #PNLTable

Create Table #Temp
(ClientName varchar(Max),FundID int,TimeFrame varchar(Max),Symbol varchar(Max),PeriodUnrealizedPNL float,PeriodRealizedPNL float,DivInt float,PeriodLongPNL float,PeriodShortPNL float,PeriodTotalPNL float,CostBasisPNL float,Position float,DeltaAdjPosition float,BeginningQuantity float,CostBasis float,ClosingMark float,UnderlyingClosingMark float,MarketValue float,DeltaExposure float,Beta float,BetaExposure float)

-- Ending
Delete From #Temp
Insert Into #Temp 
Select 
	#T.ClientName,
	#T.CompanyFundID,
	#T.TimeFrame,
	#T.Symbol,
	0 As PeriodUnrealizedPNL,
	0 As PeriodRealizedPNL,
	0 As DivInt,
	0 As PeriodLongPNL,
	0 As PeriodShortPNL,
	0 As PeriodTotalPNL,
	0 As CostBasisPNL,
	Sum(#PNLTable.SideMultiplier*#PNLTable.BeginningQuantity) As Position,
	Sum(#PNLTable.SideMultiplier*#PNLTable.BeginningQuantity*#PNLTable.Delta*(Case When #PNLTable.Asset = 'FutureOption' And @FutOption_DeltaAdjustedPositionWithoutMultiplier = 1 Then 1 Else IsNull(#PNLTable.Multiplier,1) End)) As DeltaAdjPosition,
	0 As BeginningQuantity,
	0 As CostBasis,
	Avg(#PNLTable.EndingPriceBase) As ClosingMark,
	Avg(#PNLTable.UnderlyingSymbolPrice*#PNLTable.EndingFXRate) As UnderlyingClosingMark,
	Sum(#PNLTable.EndingMarketValueBase) As MarketValue,
	Sum(#PNLTable.SideMultiplier*#PNLTable.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then #PNLTable.Delta*#PNLTable.UnderlyingSymbolPrice*Sign(#PNLTable.UnderlyingDelta) Else EndingPriceLocal End)*#PNLTable.Multiplier*#PNLTable.EndingFXRate) As DeltaExposure,
	Avg(#PNLTable.Beta) As Beta,
	Sum(#PNLTable.SideMultiplier*#PNLTable.BeginningQuantity*(Case When @AnalyticsExposure_NotDeltaAdjustedOrDeltaAdjusted = 1 Then #PNLTable.Delta*#PNLTable.UnderlyingSymbolPrice*Sign(#PNLTable.UnderlyingDelta) Else EndingPriceLocal End)*#PNLTable.Multiplier*#PNLTable.EndingFXRate*#PNLTable.Beta) As BetaExposure
From #PNLTable,#T 
Where 
	(#PNLTable.ClientName = #T.ClientName) And 
	(#PNLTable.CompanyFundID = #T.CompanyFundID) And 
	(#PNLTable.TimeFrame = #T.TimeFrame) And
	(#PNLTable.Symbol = #T.Symbol) And 
	(#PNLTable.Open_CloseTag = 'O')  
Group By 
	#T.ClientName,
	#T.CompanyFundID,
	#T.TimeFrame,
	#T.Symbol

Update #T
Set Position = #Temp.Position,
	DeltaAdjPosition = #Temp.DeltaAdjPosition,
	ClosingMark = #Temp.ClosingMark,
	UnderlyingClosingMark = #Temp.UnderlyingClosingMark,
	MarketValue = #Temp.MarketValue,
	DeltaExposure = #Temp.DeltaExposure,
	Beta = #Temp.Beta,
	BetaExposure = #Temp.BetaExposure
From #Temp
Where 
	(#T.ClientName = #Temp.ClientName) And 
	(#T.CompanyFundID = #Temp.FundID) And 
	(#T.TimeFrame = #Temp.TimeFrame) And
	(#T.Symbol = #Temp.Symbol)  

--Beginning And Duration
Delete From #Temp
Insert Into #Temp 
Select 
	#T.ClientName,
	#T.CompanyFundID,
	#T.TimeFrame,
	#T.Symbol,
	Sum(#PNLTable.TotalUnrealizedPNLMTM) As PeriodUnrealizedPNL,
	Sum(#PNLTable.TotalRealizedPNLMTM) As PeriodRealizedPNL,
	Sum(#PNLTable.DividendBase) As DivInt,
	Sum(Case #PNLTable.Side When 'Long' Then IsNull(#PNLTable.DividendBase,0) + IsNull(#PNLTable.TotalUnrealizedPNLMTM,0) + IsNull(#PNLTable.TotalRealizedPNLMTM,0) Else 0 End) As PeriodLongPNL,
	Sum(Case #PNLTable.Side When 'Short' Then IsNull(#PNLTable.DividendBase,0) + IsNull(#PNLTable.TotalUnrealizedPNLMTM,0) + IsNull(#PNLTable.TotalRealizedPNLMTM,0) Else 0 End) As PeriodShortPNL,
	Sum(IsNull(#PNLTable.DividendBase,0) + IsNull(#PNLTable.TotalUnrealizedPNLMTM,0) + IsNull(#PNLTable.TotalRealizedPNLMTM,0)) As PeriodTotalPNL,
    Sum(Case #PNLTable.Open_CloseTag When 'O' Then #PNLTable.UnrealizedTotalGainOnCostD2_Base When 'C' Then #PNLTable.TotalRealizedPNLOnCost End) As CostBasisPNL,
	0 As Position,
	0 As DeltaAdjPosition,
	Sum(Case #PNLTable.Open_CloseTag When 'O' Then #PNLTable.BeginningQuantity When 'C' Then #PNLTable.EndingQuantity End) As BeginningQuantity,
	Sum(Case #PNLTable.Open_CloseTag When 'O' Then #PNLTable.UnitCostBase*#PNLTable.BeginningQuantity When 'C' Then #PNLTable.UnitCostBase*#PNLTable.EndingQuantity End)/NullIf(Sum(Case #PNLTable.Open_CloseTag When 'O' Then #PNLTable.BeginningQuantity When 'C' Then #PNLTable.EndingQuantity End),0) As CostBasis,
	0 As ClosingMark,
	0 As UnderlyingClosingMark,
	0 As MarketValue,
	0 As DeltaExposure,
	0 As Beta,
	0 As BetaExposure
From #PNLTable,#T 
Where 
	(#PNLTable.ClientName = #T.ClientName) And 
	(#PNLTable.CompanyFundID = #T.CompanyFundID) And 
	(#PNLTable.TimeFrame = #T.TimeFrame) And
	(#PNLTable.Symbol = #T.Symbol) 
Group By 
	#T.ClientName,
	#T.CompanyFundID,
	#T.TimeFrame,
	#T.Symbol

Update #T
Set DivInt = #Temp.DivInt,
	PeriodUnrealizedPNL = #Temp.PeriodUnrealizedPNL,
	PeriodRealizedPNL = #Temp.PeriodRealizedPNL,
	PeriodLongPNL = #Temp.PeriodLongPNL,
	PeriodShortPNL = #Temp.PeriodShortPNL,
	PeriodTotalPNL = #Temp.PeriodTotalPNL,
	CostBasisPNL = #Temp.CostBasisPNL,
	BeginningQuantity = #Temp.BeginningQuantity,
	CostBasis = #Temp.CostBasis 
From #Temp
Where 
	(#T.ClientName = #Temp.ClientName) And 
	(#T.CompanyFundID = #Temp.FundID) And 
	(#T.TimeFrame = #Temp.TimeFrame) And
	(#T.Symbol = #Temp.Symbol)  

Update #T Set Position = IsNull(Position,0)
Update #T Set DeltaAdjPosition = IsNull(DeltaAdjPosition,0)
--Update #T Set PeriodUnrealizedPNL = 0 Where Position= 0
--Update #T Set PeriodTotalPNL = IsNull(DivInt,0) + IsNull(PeriodUnrealizedPNL,0) + IsNull(PeriodRealizedPNL,0)
-----------------------------------------------------------------------------------------------------------------------
Select C.ClientName,C.FundName,C.TimeFrame,C.FromDate,C.ToDate,C.CompanyFundID,Symbol,PeriodUnrealizedPNL,PeriodRealizedPNL,DivInt,PeriodLongPNL,PeriodShortPNL,PeriodTotalPNL,CostBasisPNL,Position,DeltaAdjPosition,BeginningQuantity,CostBasis,ClosingMark,UnderlyingClosingMark,MarketValue,DeltaExposure,Beta,BetaExposure,Asset,UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol
into #finalData
From #ClientFundDate C Left Outer Join #T T On C.ClientName = T.ClientName And C.FundName = T.FundName And C.TimeFrame = T.TimeFrame And C.FromDate = T.FromDate And C.ToDate = T.ToDate And C.CompanyFundID = T.CompanyFundID Order By C.ClientName,C.FundName,C.TimeFrame,C.FromDate,C.ToDate,C.CompanyFundID,Symbol


-----------------------------------------Cash Handeling -----------------------------------------
if @IncludeCashInPNL=1
begin
declare @EndDate  DateTime
select top 1 @EndDate = ToDate from  #ClientFundDate
Declare @RecentDateForNonZeroCash DateTime            
Set  @RecentDateForNonZeroCash = (Select dbo.[GetRecentDateForNonZeroCash](@EndDate))
  
insert into #finalData                           
Select  
T.ClientName,T.FundName,T.TimeFrame,T.FromDate,T.ToDate,T.CompanyFundID,                                     
CLocal.CurrencySymbol AS Symbol,                                        
/* -- derived fields which are calculated using basic fields...*/
Case When DailyCash.LocalCurrencyID <> @BaseCurrencyID                                                  
 Then (IsNull(FXDayRatesForEndDate.RateValue,0) - IsNull(FXDayRatesForStartDate.RateValue,0))* DailyCash.CashValueLocal                                                  
 Else 0 end  As PeriodUnrealizedPNL,
0 As PeriodRealizedPNL,
0 As DivInt,
0 As PeriodLongPNL,
0 As PeriodShortPNL,
0 As PeriodTotalPNL,
0 As CostBasisPNL,
0 As Position,
0 As DeltaAdjPosition,
0 As BeginningQuantity,
0 As CostBasis,
0 As ClosingMark,
0 As UnderlyingClosingMark,
0 As MarketValue,
0 As DeltaExposure,
0 As Beta,
0 As BetaExposure,
'Cash' As Asset,
'Undefined' as UdaSector,
'Undefined' as UdaSubSector,
'Undefined' as UdaCountry,
'Undefined' as UnderlyingSymbol                                                                                                         
        
 From PM_companyFundCashCurrencyValue DailyCash 
 INNER JOIN #ClientFundDate T on DailyCash.FundID = T.CompanyFundID        
 
  INNER JOIN T_Currency CLocal ON DailyCash.LocalCurrencyID = CLocal.CurrencyID       
  INNER JOIN T_Currency CBase ON BaseCurrencyID = CBase.CurrencyID 
 -- Forex Price for Start Date                                                              
 Left outer join #FXConversionRates FXDayRatesForStartDate                                                                                                                              
 on (FXDayRatesForStartDate.FromCurrencyID = DailyCash.LocalCurrencyID                                                                                                                                               
 And FXDayRatesForStartDate.ToCurrencyID = @BaseCurrencyID                                                                                                                                               
 And DateDiff(d,dbo.AdjustBusinessDays(T.FromDate,-1,@DefaultAUECID),FXDayRatesForStartDate.Date)=0)                                                                             
                                                                                           
 -- Forex Price for End Date                                                                                                                                                     
  Left outer join #FXConversionRates FXDayRatesForEndDate                                                                                                                                              
 on (FXDayRatesForEndDate.FromCurrencyID = DailyCash.LocalCurrencyID                                                                               
 And FXDayRatesForEndDate.ToCurrencyID = @BaseCurrencyID                                                                                                    
 And DateDiff(d,dbo.AdjustBusinessDays(DateAdd(d,1,T.ToDate),-1,@DefaultAUECID),FXDayRatesForEndDate.Date)=0)                                                      
   WHERE DateDiff(Day,DailyCash.Date,@RecentDateForNonZeroCash)=0                                 
   --GROUP BY T.ClientName,T.FundName,T.TimeFrame,T.FromDate,T.ToDate,T.CompanyFundID               
   
END
-----------------------------------------end : Cash Handeling -----------------------------------------

--selecting final Data
select ClientName,FundName,TimeFrame,FromDate,ToDate,CompanyFundID,Symbol,PeriodUnrealizedPNL,PeriodRealizedPNL,DivInt,PeriodLongPNL,PeriodShortPNL,PeriodTotalPNL,CostBasisPNL,Position,DeltaAdjPosition,BeginningQuantity,CostBasis,ClosingMark,UnderlyingClosingMark,MarketValue,DeltaExposure,Beta,BetaExposure,Asset,UdaSector,UdaSubSector,UdaCountry,UnderlyingSymbol from #finalData


Drop Table #T,#Temp,#finalData

Drop Table #ClientFundDate
Drop Table #FXConversionRates
Drop Table #SecMasterDataTempTable
Drop Table #SymbolAUEC,#AUEC,#AUECBusinessDatesForStartDate,#AUECBusinessDatesForEndDate

Drop Table #D0D2CashDividends
Drop Table #T_CorpActionData,#TempSplitFactorForOpen,#TempSplitFactorForClosed

Drop Table #PNLTable
-----------------------------------------------------------------------------------------------------------------------

End
