/****** Object:  StoredProcedure [dbo].[P_W_PeriodHistoricalDates]    Script Date: 02/20/2015 23:33:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Exec P_W_PeriodHistoricalDates '02/19/2015','MapleRock'
-- =============================================
CREATE Procedure [dbo].[P_W_PeriodHistoricalDates] 
	-- Add the parameters for the stored Procedure here
	@ToDate datetime,
	@Client varchar(Max)
As
Begin

-- Added to prevent extra result set from interfering with select statements.
Set NOCOUNT On;

-- Insert statements for Procedure here
Declare @DefaultAUECID int
Select @DefaultAUECID = DefaultAUECID From T_Company

Create Table #Clients
(ClientID int,ClientName varchar(Max))
Insert Into #Clients
(ClientID,ClientName)
Select ClientID,ClientName From T_W_Clients 
Where ClientName In (Select Items From dbo.Split(@Client,','))

Create Table #ClientFundsTemp
(ClientName varchar(Max),TouchFundID int)
Insert Into #ClientFundsTemp
(ClientName,TouchFundID)
Select C.ClientName,M.TouchFundID From #Clients C 
Join T_W_ClientFundMapping M On C.ClientID = M.ClientID

Create Table #ClientFunds
(ClientName varchar(Max),FundName varchar(Max),StartDate datetime,CalendarStartMonth int)
Insert Into #ClientFunds
(ClientName,FundName,StartDate,CalendarStartMonth)
Select T.ClientName,CF.FundName,F.StartDate,F.CalendarStartMonth From #ClientFundsTemp T 
Join T_W_Funds F On T.TouchFundID = F.TouchFundID 
Join T_CompanyFunds CF On F.PranaFundID = CF.CompanyFundID 

Create Table #HistoricalDatesTemp
(ClientName varchar(Max),FundName varchar(Max),StartDate datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #HistoricalDatesTemp
(ClientName,FundName,StartDate,WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,FundName,StartDate,
DateAdd(d,1-DatePart(dw,@ToDate),@ToDate),
DateAdd(d,1-DatePart(d,@ToDate),@ToDate),
DateAdd(qq,DateDiff(qq,0,@ToDate),0),
Case Len(Cast(CalendarStartMonth As varchar(2))) 
When 1 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + '0' + Cast(CalendarStartMonth As varchar(1)) + '-01' 
When 2 Then Cast((Case When Month(@ToDate)>=CalendarStartMonth Then Year(@ToDate) Else Year(@ToDate)-1 End) As varchar(4)) + '-' + Cast(CalendarStartMonth As varchar(2)) + '-01' 
Else DateAdd(yy,DateDiff(yy,0,@ToDate),0) End 
From #ClientFunds
--Update #HistoricalDatesTemp Set StartDate = @ToDate 
--Where StartDate Is Null Or DateDiff(d,StartDate,@ToDate) < 0

Create Table #HistoricalDates
(ClientName varchar(Max),FundName varchar(Max),ToDate datetime,[Day] datetime,WTDFromDate datetime,MTDFromDate datetime,QTDFromDate datetime,YTDFromDate datetime)
Insert Into #HistoricalDates
(ClientName,FundName,ToDate,[Day],WTDFromDate,MTDFromDate,QTDFromDate,YTDFromDate)
Select ClientName,FundName,@ToDate,
Case When DateDiff(d,StartDate,@ToDate) < 0 Or DateDiff(d,StartDate,@ToDate) Is Null Then StartDate Else @ToDate End,
Case When DateDiff(d,StartDate,WTDFromDate) < 0 Or DateDiff(d,StartDate,WTDFromDate) Is Null Then StartDate Else WTDFromDate End,
Case When DateDiff(d,StartDate,MTDFromDate) < 0 Or DateDiff(d,StartDate,MTDFromDate) Is Null Then StartDate Else MTDFromDate End,
Case When DateDiff(d,StartDate,QTDFromDate) < 0 Or DateDiff(d,StartDate,QTDFromDate) Is Null Then StartDate Else QTDFromDate End,
Case When DateDiff(d,StartDate,YTDFromDate) < 0 Or DateDiff(d,StartDate,YTDFromDate) Is Null Then StartDate Else YTDFromDate End 
From #HistoricalDatesTemp

Create Table #ToDate(ClientName varchar(Max),FundName varchar(Max),TimeFrame varchar(Max),FromDate datetime,ToDate datetime)
Insert Into #ToDate(ClientName,FundName,TimeFrame,FromDate,ToDate)
Select ClientName,FundName,TimeFrame,Case When FromDate = '' Then Null Else FromDate End,ToDate From 
(Select ClientName,FundName,ToDate,IsNull([Day],'') As [Day],IsNull(WTDFromDate,'') As [WeekToDate],IsNull(MTDFromDate,'') As [MonthToDate],IsNull(QTDFromDate,'') As [QuarterToDate],IsNull(YTDFromDate,'') As [YearToDate] From #HistoricalDates) P
UnPivot (FromDate For TimeFrame In ([Day],[WeekToDate],[MonthToDate],[QuarterToDate],[YearToDate])) U

Select D.ClientName,D.FundName,S.CompanyFundID,D.TimeFrame,D.FromDate,D.ToDate 
From #ToDate D Join T_CompanyFunds S On D.FundName = S.FundName

Drop Table #Clients,#ClientFundsTemp,#ClientFunds,#HistoricalDatesTemp,#HistoricalDates,#ToDate

End