/****** Object:  StoredProcedure [dbo].[P_W_CurrentEntities]    Script Date: 03/21/2014 23:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[P_W_CurrentEntities] 
@RegistrationName varchar(Max) 
As
Begin

Set NOCOUNT On;

Select RegistrationID,ClientID 
Into #Registration 
From T_W_Registration Where RegistrationName = @RegistrationName

Select C.ClientID,C.ClientName,C.ClientAlias Into #RegistrationLevel
From #Registration R 
Join T_W_Clients C On R.ClientID = C.ClientID 

Select C.ClientID,C.ClientName,C.ClientAlias Into #ClientLevel
From #Registration R 
Join T_W_RegistrationClientMapping S On R.RegistrationID = S.RegistrationID 
Join T_W_Clients C On S.ClientID = C.ClientID 

Create Table #RegistrationLevelClientFunds 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max)) 
Insert Into #RegistrationLevelClientFunds 
(ClientName,ClientAlias,FundName) 
Select C.ClientName,C.ClientAlias,CF.FundName 
From #RegistrationLevel C 
Join T_W_ClientFundMapping CFM On C.ClientID = CFM.ClientID 
Join T_W_Funds F On CFM.TouchFundID = F.TouchFundID 
Join T_CompanyFunds CF On F.PranaFundID = CF.CompanyFundID 

Create Table #ClientLevelClientFunds 
(ClientName varchar(Max),ClientAlias varchar(Max),FundName varchar(Max)) 
Insert Into #ClientLevelClientFunds 
(ClientName,ClientAlias,FundName) 
Select C.ClientName,C.ClientAlias,CF.FundName 
From #ClientLevel C 
Join T_W_ClientFundMapping CFM On C.ClientID = CFM.ClientID 
Join T_W_Funds F On CFM.TouchFundID = F.TouchFundID 
Join T_CompanyFunds CF On F.PranaFundID = CF.CompanyFundID 

Create Table #Entities_1 
(GroupBy varchar(Max),Client varchar(Max),Entity varchar(Max),HierarchySpace int,EntityAlias varchar(Max)) 
Insert Into #Entities_1 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias) 
Select 'Aggregate',ClientName,ClientName,4,ClientAlias  
From #ClientLevelClientFunds Group By ClientName,ClientAlias  
Insert Into #Entities_1 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias) 
Select 'Fund',ClientName,FundName,8,FundName 
From #ClientLevelClientFunds 

Create Table #Entities 
(GroupBy varchar(Max),Client varchar(Max),Entity varchar(Max),HierarchySpace int,EntityAlias varchar(Max),Idx int,Visible bit Default(('True')))  
Insert Into #Entities 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,Idx) 
Select 'Aggregate',ClientName,ClientName,0,ClientAlias,0 
From #RegistrationLevelClientFunds Group By ClientName,ClientAlias 
Insert Into #Entities 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,Idx,Visible) 
Select 'Fund',ClientName,FundName,8,FundName,0,'False' 
From #RegistrationLevelClientFunds  
Insert Into #Entities 
(GroupBy,Client,Entity,HierarchySpace,EntityAlias,Idx) 
Select GroupBy,Client,Entity,HierarchySpace,EntityAlias,Rank() Over (Order By Client,HierarchySpace,Entity) From #Entities_1

Select GroupBy,Client,Entity,HierarchySpace,EntityAlias,Idx,Visible From #Entities Order By Idx

Drop Table #Registration,#RegistrationLevel,#ClientLevel
Drop Table #RegistrationLevelClientFunds,#ClientLevelClientFunds 
Drop Table #Entities_1,#Entities

End