--Created by: Sagar Tagra
--Jira: https://jira.nirvanasolutions.com:8443/browse/ONB-306
                        
                        
--exec P_FFGetThirdPartyFundsDetails_ExecBrokers '2018-03-06'                        
                              
Create PROCEDURE [dbo].[P_FFGetThirdPartyFundsDetails_ExecBrokers_Cowen_Avg]                                                                                                       
(                                                                                                                      
 @inputDate datetime                                                                                                                  
)                                                                                                                         
AS                                                       
Select                                 
                                                                                                               
  Max(TempTable.TaxlotID) as TradeRefID, -- TaxlotID, changed by alan                                                                                                                      
  Max(ISNULL(TempTable.FundID, 0)) AS FundID, --Sandeep Singh                                  
    TempTable.AccountName as  AccountName, --changed by alan                                
  T_Side.Side as Side,                                                                                                                 
  TempTable.Symbol,                                                                                                                       
  Max(TempTable.CounterPartyID),                               
  T_CounterParty.ShortName as CounterParty ,  --Sandeep Singh           
  --CONVERT(Decimal(38,9),Sum(TempTable.TaxLotQty)) as OrderQty, --AllocatedQty                                                                                                            
  Round(convert(decimal(18,8), Avg(TempTable.AvgPrice)),6) as AveragePrice, --added as AveragePrice,added convert to money by alan                                
  CONVERT(Decimal(38,9),SUM(TempTable.CumQty)) as CumQty,                  
  CONVERT(Decimal(38,9), SUM(TempTable.Quantity)) as Quantity, --TotalQty                                                                                                                       
  Max(TempTable.AssetID),           
  MAX(T_Asset.AssetName) as Asset,                                                                                                                
  Max(TempTable.UnderlyingID),                               
  Max(T_Underlying.UnderlyingName), --Sandeep Singh                                                                                                               
  Max(TempTable.ExchangeID),                              
  Max(T_Exchange.DisplayName) as Exchange,                                                                                                                   
  Max(Currency.CurrencyID),                                         
  Max(Currency.CurrencyName),                              
  Max(Currency.CurrencySymbol) as CurrencySymbol ,              
   CONVERT(Decimal(38,9),Sum(TempTable.TaxLotQty)) as AllocatedQty,           
  Max(SM.PutOrCall) as PutOrCall,                                 
  convert(money, Sum(SM.StrikePrice)) as StrikePrice,                                                                   
  Max(convert(char(10), SM.ExpirationDate, 101)) as ExpirationDate, -- added convert date, alan                                                                                              
  Max(convert(char(10), TempTable.SettlementDate, 101)) as SettlementDate,  ---- added convert date, alan                                                                                   
  convert(money, Sum(TempTable.Commission)) as CommissionCharged, --added as CommissionCharged, added convert to money by alan             
  convert(money, Sum(TempTable.OtherBrokerFees)) as OtherBrokerFees, --added as OtherBrokerFees, added convert to money by alan                     
  Sum(ISNULL(TempTable.SecFee, 0)) as SecFee ,                                                                                                                                        
 convert(money, Sum(ISNULL(TempTable.StampDuty,0))) as StampDuty,             --added convert to money                                                                       
 convert(money, Sum(ISNULL(TempTable.TransactionLevy,0))) as TransactionLevy,    --added convert to money                                                                                
 convert(money, Sum(ISNULL(ClearingFee,0))) as ClearingFee,             --added convert to money                                                                       
 convert(money, Sum(ISNULL(TaxOnCommissions,0))) as TaxOnCommissions,  --added convert to money                                                                                  
 convert(money, Sum(ISNULL(MiscFees,0))) as MiscFees ,                  --added convert to money                                                              
 Max(convert(char(10),TempTable.AUECLocalDate, 101)) as TradeDate, -- added as TradeDate, added convert, changed by alan                                                                       
  Max(SM.ISINSymbol)as ISINSymbol,                                                          
 Max(SM.CUSIPSymbol) as CUSIPSymbol,                                                          
 Max(SM.SEDOLSymbol) as SEDOLSymbol,                                                          
 Max(SM.ReutersSymbol) as ReutersSymbol,                                                          
 Max(SM.BloombergSymbol) as BloombergSymbol,                                                          
 Max(SM.CompanyName) as CompanyName,                                                          
 Max(SM.UnderlyingSymbol) as UnderlyingSymbol,               
 Max(SM.LeadCurrencyID) as LeadCurrencyID,                                              
 Max(SM.LeadCurrency) as LeadCurrency,                                               
 Max(SM.VsCurrencyID) as VsCurrencyID,             
 Max(SM.VsCurrency) as VsCurrency,                              
 Max(SM.OSISymbol) as OSISymbol,                              
 Max(SM.OpraSymbol) as OpraSymbol,                              
 Max(SM.IDCOSymbol) as IDCOSymbol                                                        
                                         
from                                     
 (Select *,      
case         
      
when T_CompanyFunds.FundName = 'CLVD - MS - PB'         
then 'Morgan Stanley'         
when T_CompanyFunds.FundName = 'CLVD - MS - FX'         
then 'Morgan Stanley'         
when T_CompanyFunds.FundName = 'CLVD - MS - SWAP'         
then 'Morgan Stanley'         
when T_CompanyFunds.FundName = 'VABI - MS - PB'         
then 'Morgan Stanley'         
when T_CompanyFunds.FundName = 'VABI - MS - FX'         
then 'Morgan Stanley'         
when T_CompanyFunds.FundName = 'VABI - MS - SWAP'         
then 'Morgan Stanley'        
when T_CompanyFunds.FundName = 'CLVD - GS - PB'         
then 'Goldman'        
when T_CompanyFunds.FundName = 'VABI - GS - PB'         
then 'Goldman'        
else T_CompanyFunds.FundName end as AccountName      
      
 from V_Taxlots VT      
      
Left Outer Join T_CompanyFunds on T_CompanyFunds.CompanyFundID=VT.FundID    )    as TempTable                       
                               
--inner join T_CompanyThirdPartyMappingDetails as CTPM on  CTPM.InternalFundNameID_FK = TempTable.FundID                                  
left join T_Currency as Currency on Currency.CurrencyID = TempTable.CurrencyID                                            
left join  T_Side ON dbo.T_Side.SideTagValue = TempTable.OrderSideTagValue        
left JOIN dbo.T_OrderType ON TempTable.OrderTypeTagValue = dbo.T_OrderType.OrderTypeTagValue                                                      
LEFT JOIN T_CounterPartyVenue ON T_CounterPartyVenue.CounterPartyID = TempTable.CounterPartyID And T_CounterPartyVenue.VenueID=TempTable.VenueID                                                                                                              
   
   
Left Outer Join V_SecMasterData as SM On SM.TickerSymbol=TempTable.Symbol                                
Left Outer Join T_CounterParty on T_CounterParty.CounterPartyID=TempTable.CounterPartyID                               
Left Outer Join T_Asset on T_Asset.AssetID=TempTable.AssetID                                 
Left Outer Join T_Underlying on T_Underlying.UnderlyingID=TempTable.UnderlyingID                               
--Left Outer Join T_CompanyFunds on T_CompanyFunds.CompanyFundID=TempTable.FundID                               
Left Outer Join T_Exchange on T_Exchange.ExchangeID=TempTable.ExchangeID                                
                                    
Where DateDiff(d,TempTable.AUECLocalDate,@inputDate) = 0 and TempTable.TransactionType <> 'Assignment' and TempTable.TransactionType <> 'Exercise' and TempTable.TransactionType <> 'Expire'  --And T_CompanyFunds.FundName like ('Maerisland%')             
   
                            
Group by                                                                             
                                                                                  
 T_Side.Side,                                                                                      
 TempTable.Symbol,                                                                                                                                                                                                           
      TempTable.AccountName,           
T_CounterParty.ShortName,  
               TempTable.AvgPrice               
                             
                              
FOR XML Path('ThirdPartyFlatFileDetail'), root('ThirdPartyFlatFileDetailCollection')                              
      --FOR XML EXPLICIT 