--EXEC P_AddSymbolLevelAccrualsData null,'8/01/2019',17,1,0

CREATE PROCEDURE [dbo].[P_AddSymbolLevelAccrualsData] (
	@StartDate DATETIME,
    @EndDate DATETIME,
	@userID VARCHAR(max),
	@fundIDs VARCHAR(max),
	@IsManualRevaluation BIT )
AS
CREATE TABLE #Funds (FundID INT)  
  
INSERT INTO #Funds
SELECT Items AS FundID
FROM dbo.Split(@FundIDs, ',')

SET NOCOUNT ON

CREATE TABLE #Transactions (TransactionID VARCHAR (50))

CREATE TABLE #SymbolWiseAccrualStartDate (FundID INT,SymbolWiseDate DateTime)
INSERT INTO #SymbolWiseAccrualStartDate
SELECT F.FundID,
CASE 
WHEN CP.SymbolWiseRevaluationDate>=@StartDate AND CP.SymbolWiseRevaluationDate<=@EndDate THEN DateAdd (d,1,CP.SymbolWiseRevaluationDate)
ELSE @StartDate 
END
FROM #Funds F 
INNER JOIN T_CashPreferences CP ON CP.FundID=F.FundID

IF (@IsManualRevaluation = 0)
BEGIN

CREATE Table #ALLChangedData 
(
		CurrencyID int,
		Fundid Varchar(Max),
		FromDate datetime,
		ToDate datetime
)
Insert into #ALLChangedData
Exec P_GetCurrencyWiseChangedDataForSymbolWiseRevaluation @EndDate,@FundIDs
------------------------delete data from the T_SymbolLevelAccrualsJournal only for the changed currency wise data---------

SELECT distinct TransactionID 
into #tempTransactionIdsToDelete
 from T_SymbolLevelAccrualsJournal SLAJ 
INNER JOIN #ALLChangedData ACD on SLAJ.FundId=ACD.FundID and SLAJ.currencyID=ACD.currencyID 
INNER JOIN T_SubAccounts SubAccounts ON SubAccounts.SubAccountID = SLAJ.SubAccountID
INNER JOIN T_TransactionType TransType ON SubAccounts.TransactionTypeId = TransType.TransactionTypeId
WHERE TransType.TransactionType = 'Accrued Balance'  and 
DATEDIFF(D, ACD.FromDate, SLAJ.TransactionDate) >= 0 AND DATEDIFF(D, ACD.ToDate, SLAJ.TransactionDate) <= 0


delete from T_SymbolLevelAccrualsJournal where transactionid in (select TransactionID from  #tempTransactionIdsToDelete)
--------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------

-----------------------Insert Trasnaction from the t_journal for the changed data------------------------------------------
INSERT INTO #Transactions  
SELECT distinct TransactionID
FROM T_Journal J
INNER JOIN T_SubAccounts SubAccounts ON SubAccounts.SubAccountID = J.SubAccountID
INNER JOIN T_TransactionType TransType ON SubAccounts.TransactionTypeId = TransType.TransactionTypeId
INNER JOIN #ALLChangedData ACD on J.FundId=ACD.FundID and J.currencyID=ACD.currencyID 
where TransType.TransactionType = 'Accrued Balance' 
AND DATEDIFF(D, ACD.FromDate, J.TransactionDate) >= 0 AND DATEDIFF(D, ACD.ToDate, J.TransactionDate) <= 0 
AND J.TransactionSource <> 9

 Drop table #ALLChangedData,#tempTransactionIdsToDelete
----------------------------------------------------------------------------------------------------------------------------
END
ELSE
BEGIN


-------------Delete all the data from the T_SymbolLevelAccrualsJournal of that fund for the dates manual reval run-----------
Delete from T_SymbolLevelAccrualsJournal 
WHERE FundID IN (
			SELECT F.FundID
			FROM #Funds F
			)
	----AND TransactionDate BETWEEN @StartDate and @EndDate
	And DateDiff(DAY,@StartDate,TransactionDate) >=0 And DateDiff(DAY,TransactionDate,@EndDate)>=0 
-----------------------------------------------------------------------------------------------------------------------------
-------------------------Transactions related to the Accrued Balance------------------------------------
INSERT INTO #Transactions  
SELECT TransactionID
FROM T_Journal J
INNER JOIN T_SubAccounts SubAccounts ON SubAccounts.SubAccountID = J.SubAccountID
INNER JOIN T_TransactionType TransType ON SubAccounts.TransactionTypeId = TransType.TransactionTypeId
INNER JOIN #SymbolWiseAccrualStartDate SWASD ON SWASD.FundID=J.FundID
where TransType.TransactionType = 'Accrued Balance' 
	----AND J.TransactionDate BETWEEN SWASD.SymbolWiseDate and @EndDate
	And DateDiff(d,SWASD.SymbolWiseDate,J.TransactionDate) >=0 And DateDiff(d,J.TransactionDate,@EndDate)>=0 

AND J.TransactionSource <> 9

END
------------------------------------------------------------------------------special accrual handling equity swap-------
INSERT INTO #Transactions  
SELECT distinct TransactionID
FROM T_Journal J
INNER JOIN T_SubAccounts SubAccounts ON SubAccounts.SubAccountID = J.SubAccountID
INNER JOIN T_TransactionType TransType ON SubAccounts.TransactionTypeId = TransType.TransactionTypeId
INNER JOIN #SymbolWiseAccrualStartDate SWASD ON SWASD.FundID=J.FundID
where TransType.TransactionType = 'Accrued Balance' 
	----AND J.TransactionDate BETWEEN SWASD.SymbolWiseDate and @EndDate
	And DateDiff(d,SWASD.SymbolWiseDate,J.TransactionDate) >=0 And DateDiff(d,J.TransactionDate,@EndDate)>=0 
AND J.TransactionSource = 9 and J.PBDesc='Realized PNL Entry'
------------------------------------------------------------------------------------------------------------------------
IF (EXISTS(select TransactionID from #Transactions))
BEGIN
INSERT INTO T_SymbolLevelAccrualsJournal
( [TaxLotID]
      ,[FundID]
      ,[SubAccountID]
      ,[CurrencyID]
      ,[Symbol]
      ,[PBDesc]
      ,[TransactionDate]
      ,[TransactionID]
      ,[DR]
      ,[CR]
      ,[TransactionSource]
      ,[TransactionEntryID]
      ,[TransactionNumber]
      ,[AccountSide]
      ,[ActivityId_FK]
      ,[ActivitySource]
      ,[FxRate]
      ,[FXConversionMethodOperator]
      ,[ModifyDate]
      ,[EntryDate]
      ,[UserId]
      
	  )
SELECT [TaxLotID]
      ,[FundID]
      ,[SubAccountID]
      ,[CurrencyID]
      ,[Symbol]
      ,[PBDesc]
      ,[TransactionDate]
      ,[TransactionID]
      ,[DR]
      ,[CR]
      ,[TransactionSource]
      ,[TransactionEntryID]
      ,[TransactionNumber]
      ,[AccountSide]
      ,[ActivityId_FK]
      ,[ActivitySource]
      ,[FxRate]
      ,[FXConversionMethodOperator]
      ,[ModifyDate]
      ,[EntryDate]
      ,[UserId]
   FROM T_Journal where TransactionID in (select T.TransactionID from #Transactions T) 
END

--select * from T_SymbolLevelAccrualsJournal
------------------------Transactions related to the Accrued Balance------------------------------------
DROP TABLE #Funds  
          ,#Transactions
		  ,#SymbolWiseAccrualStartDate