
-- exec P_GetCounterPartyAUECMapping 7
Create PROCEDURE [dbo].[P_GetCounterPartyAUECMapping]
(
	@companyID int

)
AS
select distinct 
T_CounterPartyVenue.CounterPartyVenueID,
T_AUEC.AUECID

from T_CompanyCounterParties
inner join T_CounterPartyVenue on T_CounterPartyVenue.CounterPartyID=T_CompanyCounterParties.CounterPartyID
inner join T_CounterParty on T_CounterParty.CounterPartyID=T_CompanyCounterParties.CounterPartyID
inner join T_CVAUEC 		on T_CounterPartyVenue.CounterPartyVenueID=T_CVAUEC.CounterPartyVenueID
inner join T_AUEC 			on T_AUEC.AUECID=T_CVAUEC.AUECID


where CompanyID= @companyID






