

CREATE Procedure [dbo].[P_GetOrderDetailInAudit]
(    
@ParentOrderID varchar(100),    
@ClOrderId varchar(100)   
--@AuditID int    
)    
as    
begin    
set @ClOrderId=NULLIF(@ClOrderId,'')    

	Select * into #V_LatestFillByOrderSeqNumber
from V_LatestFillByOrderSeqNumber

Select * into #V_OrderAUECDetails
from V_OrderAUECDetails

SELECT  
sub.ClOrderID  
,sub.ParentClOrderID  
,dbo.T_Order.Symbol
,sub.Price  
,fill.OrderID  
,sub.OrderTypeTagValue AS OrderType  
,ISNULL(fill.CounterPartyID, sub.CounterPartyID) AS CounterPartyID
,sub.VenueID  
,sub.StopPrice  
,sub.TargetCompID  
,sub.TargetSubID  
,sub.StagedOrderID  
,sub.NirvanaMsgType  
,sub.SecurityType  

,CASE sub.MsgType

   WHEN 'G'    

    THEN ISNULL(fill.Quantity, sub.Quantity)

   ELSE sub.Quantity    

   END AS Quantity     
,sub.OrigClOrderID  
,ISNULL(fill.LastPx, 0) AS Lastpx  
,ISNULL(fill.AveragePrice, 0) AS AveragePrice  
,ISNULL(fill.LeavesQty, 0) AS LeavesQty  
,ISNULL(fill.CumQty, 0) AS CumQty  
,ISNULL(fill.OrderStatus, CASE sub.MsgType  
WHEN 'F'  
THEN '6'  
WHEN 'G'  
THEN 'E' ELSE 'A'  
END) AS OrderStatus  

 ,ISNULL(fill.LastShares, 0) AS LastShares  
 ,dbo.T_Order.AUECID  
,dbo.T_CompanyAUEC.CompanyAUECID  
,sub.UserID AS CompanyUserID  
 ,dbo.T_Order.TradingAccountID  
,sub.InsertionTime  
,#V_OrderAUECDetails.CurrencyID  
,#V_OrderAUECDetails.ExchangeID  
,#V_OrderAUECDetails.AssetID  
,#V_OrderAUECDetails.UnderLyingID  
,ISNULL(fill.MsgType, sub.MsgType) AS FillMsgType  
,dbo.T_Order.OrderSidetagValue AS Side  
,sub.FundID  
,sub.StrategyID  
,sub.MsgType  

,sub.UnderlyingSymbol  
,sub.AUECLocalDate  
,sub.SettlementDate  
,sub.ProcessDate  
,dbo.T_Order.CalcBasis  
,dbo.T_Order.CommissionRate  
,fill.CommissionAmt  
,dbo.T_Order.SoftCommissionCalcBasis  
,dbo.T_Order.SoftCommissionRate  
,fill.SoftCommissionAmt  
,G.TradeAttribute6  
,sub.TradeAttribute5  
,sub.TradeAttribute4  
,sub.TradeAttribute3  
,sub.TradeAttribute2  
,sub.TradeAttribute1  
,sub.InternalComments  
,sub.SettlCurrency  
,sub.FxRate  
,G.IsSwapped    
 
,G.ChangeType  
,TradedOrders.Text  
,TradedOrders.TransactionSource
,G.StateID
,SUBSTRING((SELECT ',' + CAST(FA.FundID AS VARCHAR)

     FROM T_FundAllocation FA  

     WHERE FA.GroupID = TradedOrders.GroupID  

     FOR XML PATH('')),2,200000) AS AccountIds

,SUBSTRING((SELECT ',' + CAST(L2A.Level2ID AS VARCHAR)    

     FROM T_Level2Allocation L2A      

     WHERE L2A.GroupID = TradedOrders.GroupID      

     FOR XML PATH('')),2,200000) AS StrategyIds
,Swap.NotionalValue  
,Swap.BenchMarkRate  
,Swap.[Differential]  
,Swap.OrigCostBasis  
,Swap.DayCount
,Swap.SwapDescription  
,Swap.FirstResetDate  
,Swap.OrigTransDate  
,Swap.ResetFrequency  
,Swap.ClosingPrice  
,Swap.ClosingDate  
,Swap.TransDate  
,Swap.ShouldOverrideNotional  
,Swap.ShouldOverrideCostBasis
,sub.AdditionalTradeAttributes

FROM #V_LatestFillByOrderSeqNumber  

INNER JOIN dbo.T_Fills AS fill ON #V_LatestFillByOrderSeqNumber.OrderSeqNumber = fill.NirvanaSeqNumber  

RIGHT OUTER JOIN #V_OrderAUECDetails  

INNER JOIN dbo.T_Order  

INNER JOIN dbo.T_Sub AS sub   

 ON dbo.T_Order.ParentClOrderID = sub.ParentClOrderID   

 ON #V_OrderAUECDetails.ClOrderID = dbo.T_Order.ParentClOrderID   

INNER JOIN dbo.T_CompanyUserAUEC  

INNER JOIN dbo.T_CompanyAUEC   

 ON dbo.T_CompanyUserAUEC.CompanyAUECID = dbo.T_CompanyAUEC.CompanyAUECID   

 ON dbo.T_Order.AUECID = dbo.T_CompanyAUEC.AUECID  

 AND sub.UserID = dbo.T_CompanyUserAUEC.CompanyUserID   

LEFT OUTER JOIN dbo.T_CountryFlag   

 ON #V_OrderAUECDetails.CountryFlagID = dbo.T_CountryFlag.CountryFlagID   

 ON fill.ClOrderID = sub.ClOrderID   

LEFT OUTER JOIN dbo.T_ImportFileLog ON dbo.T_Order.ImportFileID = dbo.T_ImportFileLog.ImportFileID   

LEFT OUTER JOIN dbo.T_TradedOrders AS TradedOrders WITH (READPAST) ON dbo.T_Order.ParentClOrderID = TradedOrders.ParentClOrderID 

LEFT OUTER JOIN dbo.T_Group AS G WITH (READPAST) ON G.GroupID = TradedOrders.GroupID

LEFT OUTER JOIN dbo.T_SwapParameters AS Swap WITH (READPAST) ON Swap.GroupID = G.GroupID

--INNER JOIN @AUECDatesTable AS AUECTable ON AUECTable.AUECID = T_Order.AUECID

LEFT JOIN [T_CompanyAUECClearanceTimeBlotter] AS clearance WITH (NOLOCK) ON T_CompanyAUEC.CompanyAUECID = clearance.[CompanyAUECID]

where sub.ParentClOrderID =@ParentOrderID or sub.ClOrderID = @ClOrderId


end