CREATE Procedure [dbo].[P_GetAuditEntriesForGroupIds](
@GroupIds varchar(1000),
@ignoredUsers varchar(1000),
@fundIds varchar(1000)
)
as
begin
set @fundIds=NULLIF(@fundIds,'')
set @ignoredUsers=NULLIF(@ignoredUsers,'')

create table #GroupIds(GroupId varchar(50))
insert into #GroupIds SELECT Items as GroupId from dbo.split(@GroupIds,',')

Select 
ActionDate
,GroupId 
,TaxlotId
,ParentOrderId 
,OrderId
,TaxlotClosingId
,Action
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,Source as SourceID from T_TradeAudit where (GroupId in (SELECT * from #GroupIds)) and 
(@ignoredUsers IS NULL OR CompanyUserId not in (SELECT items from dbo.Split(@ignoredUsers,','))) and
(@fundIds is NULL OR T_TradeAudit.FundID is NULL OR T_TradeAudit.FundID in (select items from dbo.Split(@fundIds,',')))
--and (action <= 48 or (action IN (90,91)))
drop table #GroupIds
return;
end