
/*********************************************

P_GetAuditEditedByDate '2021-01-12', '2021-01-12'
********************************************/
CREATE procedure [dbo].[P_GetAuditEditedByDate]
(
	@startDate dateTime,
	@endDate dateTime,
	@symbol varchar(1000)=NULL,
	@fundID varchar(1000)=NULL,
	@orderSideTagValue varchar(1000)=NULL,
	@ignoredUsers varchar(200)=NULL,
	@Sources varchar(200)=NULL
)
as

begin
set @symbol=NULLIF(@symbol,'')
set @orderSideTagValue=NULLIF(@orderSideTagValue,'')
set @fundID=NULLIF(@fundID,'')
set @ignoredUsers=NULLIF(@ignoredUsers,'')
set @Sources=NULLIF(@Sources,'')


create table #TradeAudit
(ActionDate dateTime   
,OriginalDate dateTime
,GroupId varchar(200)
,TaxlotId varchar(200)
,ParentOrderId varchar(200)
,OrderId varchar(200)
,TaxlotClosingId varchar(200)
,[Action] varchar(200)
,OriginalValue varchar(200)
,NewValue varchar(200)
,Comment varchar(max)
,CompanyUserId varchar(200)
,Symbol varchar(200)
,FundID varchar(200)
,OrderSideTagValue varchar(200)
,SourceID varchar(200)
)


insert into 
#TradeAudit
(ActionDate
,OriginalDate
,GroupId
,TaxlotId
,ParentOrderId
,OrderId
,TaxlotClosingId
,[Action]
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,SourceID)
SELECT ActionDate,
T_TradeAudit.OriginalDate,
T_TradeAudit.GroupId,
T_TradeAudit.TaxlotId,
T_TradeAudit.ParentOrderId,
T_TradeAudit.OrderId,
TaxlotClosingId,
Action,
OriginalValue,
NewValue,
Comment,
CompanyUserId,
Symbol,
FundID,
OrderSideTagValue,
Source  as SourceID
--into #TradeAudit
from T_TradeAudit 
where (DATEDIFF(d,@startDate,ActionDate) >=0) and 
(datediff(d,ActionDate,@endDate)>=0) and (@symbol is NULL OR T_TradeAudit.Symbol in (select items from dbo.Split(@symbol,','))) and
(@fundID is NULL OR T_TradeAudit.FundID in (select items from dbo.Split(@fundID,','))) and
(@orderSideTagValue is NULL OR T_TradeAudit.OrderSideTagValue in (select items from dbo.Split(@orderSideTagValue,','))) and
(@ignoredUsers IS NULL OR CompanyUserId not in (SELECT items from dbo.Split(@ignoredUsers,','))) and
(@Sources IS NULL OR Source in (SELECT items from dbo.Split(@Sources,',')))

if(@symbol is NULL AND @fundID is null AND  @orderSideTagValue is NULL AND (@Sources IS NULL or  exists(SELECT items from dbo.Split(@Sources,',') where Items in (10))))
BEGIN
insert into 
#TradeAudit
(ActionDate
--,OriginalDate
,GroupId
,TaxlotId
,ParentOrderId
,OrderId
,TaxlotClosingId
,[Action]
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,SourceID)

SELECT 
ValidationTime as ActionDate
--,NULL  as OriginalDate
,'' as GroupId
,'' as TaxlotId
,'' as ParentOrderId
,OrderId as OrderId
,NULL  as TaxlotClosingId
,127 as Action
,'' as OriginalValue
,'' as NewValue
,'RuleType: '+ RuleType + ', Compression Level: ' +compressionlevel+ ', Status: '+ Status+ ', Summary: '+ Summary+ ', Description: '+ Description + ', Parameters: '+ [Parameters] as  Comment
,UserId as CompanyUserId
,'' as Symbol
,0 as FundID
,0 OrderSideTagValue
,10  as SourceID

from T_CA_AlertHistory 
where (DATEDIFF(d,@startDate,ValidationTime) >=0) and 
(datediff(d,ValidationTime,@endDate)>=0) 
--and (@symbol is NULL OR T_TradeAudit.Symbol in (select items from dbo.Split(@symbol,','))) and
--(@fundID is NULL OR T_TradeAudit.FundID in (select items from dbo.Split(@fundID,','))) and
--(@orderSideTagValue is NULL OR T_TradeAudit.OrderSideTagValue in (select items from dbo.Split(@orderSideTagValue,','))) 
and (@ignoredUsers IS NULL OR UserId not in (SELECT items from dbo.Split(@ignoredUsers,','))) 

END
else if(@symbol is not NULL AND  @orderSideTagValue is NULL AND (@Sources IS NULL or  exists(SELECT items from dbo.Split(@Sources,',') where Items in (10))))
Begin
insert into 
#TradeAudit
(ActionDate
--,OriginalDate
,GroupId
,TaxlotId
,ParentOrderId
,OrderId
,TaxlotClosingId
,[Action]
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,SourceID)

SELECT 
ValidationTime as ActionDate
--,NULL  as OriginalDate
,'' as GroupId
,'' as TaxlotId
,'' as ParentOrderId
,OrderId as OrderId
,NULL  as TaxlotClosingId
,127 as Action
,'' as OriginalValue
,'' as NewValue
,'RuleType: '+ RuleType + ', Compression Level: ' +compressionlevel+ ', Status: '+ Status+ ', Summary: '+ Summary+ ', Description: '+ Description + ', Parameters: '+ [Parameters] as  Comment
,UserId as CompanyUserId
,'' as Symbol
,0 as FundID
,0 OrderSideTagValue
,10  as SourceID

from T_CA_AlertHistory 
where (DATEDIFF(d,@startDate,ValidationTime) >=0) and 
(datediff(d,ValidationTime,@endDate)>=0) 
--and (@symbol is NULL OR T_TradeAudit.Symbol in (select items from dbo.Split(@symbol,','))) and
--(@fundID is NULL OR T_TradeAudit.FundID in (select items from dbo.Split(@fundID,','))) and
--(@orderSideTagValue is NULL OR T_TradeAudit.OrderSideTagValue in (select items from dbo.Split(@orderSideTagValue,','))) 
and (@ignoredUsers IS NULL OR UserId not in (SELECT items from dbo.Split(@ignoredUsers,','))) 
and [Parameters] like '%'+@symbol+'%' 
eND


Select  
T_Order.ParentClOrderID,   
sub2.ClOrderID,    
T_Order.Symbol ,     
sub2.OrigClOrderID ,    
sub2.Quantity,    
sub2.Price,    
T_Order.OrderSideTagValue,    
sub2.Text,  
sub2.AUECLocalDate,   
sub2.InsertionTime  as ActionDate,    
sub2.OrderTypeTagValue,    
sub2.UserID,    
T_Order.AUECID,
sub2.NirvanaMsgType,
sub2.FundID,
sub2.StagedOrderID
 into #Orders
From dbo.T_Sub as sub2    
inner join T_Order on sub2.ParentClOrderID = T_Order.ParentClOrderID 
where DATEDIFF(d,CONVERT(datetime, 
SWITCHOFFSET(CONVERT(datetimeoffset, 
sub2.InsertionTime), 
DATENAME(TzOffset, SYSDATETIMEOFFSET()))),@startDate)<=0 

and DATEDIFF(d,CONVERT(datetime, 
SWITCHOFFSET(CONVERT(datetimeoffset, 
sub2.InsertionTime), 
DATENAME(TzOffset, SYSDATETIMEOFFSET()))),@endDate)>=0
 and (@symbol is NULL OR T_Order.Symbol in (select items from dbo.Split(@symbol,','))) and
(@fundID is NULL OR sub2.FundID in (select items from dbo.Split(@fundID,','))) and
(@orderSideTagValue is NULL OR T_Order.OrderSideTagValue in (select items from dbo.Split(@orderSideTagValue,','))) and
(@ignoredUsers IS NULL OR sub2.UserID not in (SELECT items from dbo.Split(@ignoredUsers,',')))

order by T_order.InsertionTime asc

--select * from #Orders

Select  LastShares 
, Text
,LastPx
,TransactTime
,fills.ClOrderID
,ExecTransType
,OrderStatus
,CumQty
,AveragePrice
into #FillsStatus
From dbo.T_Fills as fills     
where ClOrderID in (select ClOrderID from #orders)
and OrderStatus<>'5'
and ClOrderID not in (select ClOrderID from T_Fills where OrderStatus='4' and Text='Pending Compliance Approval' and (OrigClOrderID<>'' or OrigClOrderID IS NOT NULL))
--group by fills.ClOrderID--, fills.OrderStatus  
order by fills.InsertionTime 

--select * from #FillsStatus 

--Select  max(fills.LastShares) as LastShares 
--,max(fills.Text) as  Text
--,max(fills.LastPx)  as LastPx
--,max(fills.TransactTime) as TransactTime
--,fills.ClOrderID
--,max(fills.ExecTransType) as ExecTransType
--,max(fills.OrderStatus) as OrderStatus
--,max(fills.CumQty) as CumQty
--,max(fills.AveragePrice) as AveragePrice
--into #FillsStatus
--From dbo.T_Fills as fills     
--where ClOrderID in (select ClOrderID from #orders)
--group by fills.ClOrderID--, fills.OrderStatus  
--order by max(fills.NirvanaSeqNumber) 

insert into 
#TradeAudit
(ActionDate
,OriginalDate
,GroupId
,TaxlotId
,ParentOrderId
,OrderId
,TaxlotClosingId
,[Action]
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,SourceID)
select 
CONVERT(datetime, 
SWITCHOFFSET(CONVERT(datetimeoffset, 
#Orders.ActionDate), 
DATENAME(TzOffset, SYSDATETIMEOFFSET()))) as ActionDate,
#Orders.AUECLocalDate,
NULL as GroupId,
NULL as TaxlotId,
#Orders.ParentClOrderID as ParentOrderId,
#Orders.ClOrderID as OrderId,
NULL as TaxlotClosingId,
Case 
WHEN #FillsStatus.OrderStatus='0' Then 122  --ORDSTATUS_New
WHEN #FillsStatus.OrderStatus='1' Then 115  --ORDSTATUS_PartiallyFilled
WHEN #FillsStatus.OrderStatus='2' Then 118  --ORDSTATUS_Filled
WHEN #FillsStatus.OrderStatus='4' and StagedOrderID<>'' Then 106  --ORDSTATUS_Cancelled
WHEN #FillsStatus.OrderStatus='4' and StagedOrderID='' Then 116  --ORDSTATUS_Cancelled
WHEN #FillsStatus.OrderStatus= '5' and StagedOrderID<>'' Then 126 --ORDSTATUS_Replaced
WHEN #FillsStatus.OrderStatus= '5' and StagedOrderID=''Then 101 --ORDSTATUS_Replaced
WHEN #FillsStatus.OrderStatus ='6' Then 119 --ORDSTATUS_PendingCancel
--WHEN #FillsStatus.OrderStatus= '7' Then 99 --ORDSTATUS_Stopped
WHEN #FillsStatus.OrderStatus= '8' Then 102 --ORDSTATUS_Rejected
WHEN #FillsStatus.OrderStatus= '9' Then 120 --ORDSTATUS_Suspended
WHEN #FillsStatus.OrderStatus ='P' Then 121 --ORDSTATUS_PendingRollOver
WHEN #FillsStatus.OrderStatus= 'A' Then 99 --ORDSTATUS_PendingNew
WHEN #FillsStatus.OrderStatus= 'E' Then 123 --ORDSTATUS_PendingReplace
WHEN #FillsStatus.OrderStatus= 'R' Then 103--ORDSTATUS_RollOver
END as  [Action],
'' as OriginalValue,
'' as NewValue,
Case 
WHEN #FillsStatus.OrderStatus='0' Then  'Order New with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
WHEN #FillsStatus.OrderStatus='1' Then   'New fill added shares '+CONVERT(VARCHAR(50), #FillsStatus.LastShares)+', Order Status- "Partially Filled" with quantity '+ CONVERT(VARCHAR(50), #FillsStatus.CumQty)
WHEN #FillsStatus.OrderStatus='2' Then   'New fill added shares '+CONVERT(VARCHAR(50), #FillsStatus.LastShares)+', Order Status -"Filled" with quantity '+ CONVERT(VARCHAR(50), #FillsStatus.CumQty)
WHEN #FillsStatus.OrderStatus='4' and StagedOrderID<>'' Then   'Sub-Order Cancelled'
WHEN #FillsStatus.OrderStatus='4' and StagedOrderID='' Then   'Order Cancelled'
WHEN #FillsStatus.OrderStatus= '5' and StagedOrderID<>'' Then   'Sub-Order Replaced with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
WHEN #FillsStatus.OrderStatus= '5' and StagedOrderID='' Then   'Order Replaced with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
WHEN #FillsStatus.OrderStatus ='6' Then   'Order Status Pending Cancel'
--WHEN #FillsStatus.OrderStatus= '7' Then   'ORDSTATUS_Stopped'
WHEN #FillsStatus.OrderStatus= '8' Then   'Order Rejected with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
WHEN #FillsStatus.OrderStatus= '9' Then   'Order Suspended with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
WHEN #FillsStatus.OrderStatus ='P' Then   'Sub-Order Status Pending RollOver'
WHEN #FillsStatus.OrderStatus= 'A' Then   'Order Status Pending New'
WHEN #FillsStatus.OrderStatus= 'E' Then   'Order Status Pending Replace'
WHEN #FillsStatus.OrderStatus= 'R' Then  'Sub-Order RollOver with quantity '+ CONVERT(VARCHAR(50), #Orders.Quantity)
END as  Comment,
#Orders.UserID as CompanyUserId,
#Orders.Symbol as Symbol,
#Orders.FundID as FundID ,
#Orders.OrderSidetagValue as OrderSideTagValue,
2 as SourceID 
from 
#Orders
inner join #FillsStatus 
on #FillsStatus.ClOrderID =#Orders.ClOrderID

select ActionDate
,OriginalDate
,GroupId
,TaxlotId
,ParentOrderId
,OrderId
,TaxlotClosingId
,[Action]
,OriginalValue
,NewValue
,Comment
,CompanyUserId
,Symbol
,FundID
,OrderSideTagValue
,SourceID from #TradeAudit
where (@Sources IS NULL OR SourceID in (SELECT items from dbo.Split(@Sources,',')))
order by ActionDate

drop table #Orders,#FillsStatus,#TradeAudit

end