
CREATE Procedure [dbo].[P_OTC_GetTradeData] 
( 
@GroupIDs varchar(max)
)        
AS

CREATE TABLE #GroupIDs (GroupID varchar(50))        
INSERT INTO #GroupIDs        
SELECT Items AS GroupID        
FROM dbo.Split(@GroupIDs, ',')  

     	SELECT 
		 1 as InstrumentType
		,[ID]
		,OTC.[GroupId]
		,[TradeDate]
		,[DaysToSettle]
		,[EffectiveDate]
		,[ISDA_CounterParty] 
		,[EquityLeg_Frequency]
		,[EquityLeg_BulletSwap]
		,[EquityLeg_ImpliedCommission]
		,[EquityLeg_FirstPaymentDate]
		,[EquityLeg_ExpirationDate]
		,[Commission_Basis]
		,[Commission_HardCommissionRate]
		,[Commission_SoftCommissionRate]
		,[FinanceLeg_InterestRate]
		,[FinanceLeg_SpreadBasisPoint]
		,[FinanceLeg_DayCount]
		,[FinanceLeg_Frequency]
		,[FinanceLeg_FixedRate]
		,[FinanceLeg_FirstResetDate]
		,[FinanceLeg_FirstPaymentDate]
		,[CustomFields]
		,[UniqueIdentifier]
        ,[EquityLeg_ExcludeDividends]
		 FROM T_OTC_EquitySwapTradeData AS OTC
		 inner join #GroupIDs  G on G.GroupID = OTC.GroupId

		 
		 SELECT 
		 2 as InstrumentType
		,[ID]
		  ,OTC.[GroupId]
		  ,[TradeDate]
		  ,[DaysToSettle]
		  ,[EffectiveDate]
		  ,[ISDA_CounterParty]
		  ,[Collateral_Margin]
		  ,[Collateral_Rate]
		  ,[Collateral_DayCount]
		  ,[Commission_Basis]
		  ,[Commission_HardCommissionRate]
		  ,[Commission_SoftCommissionRate]
		  ,[FinanceLeg_InterestRate]
		  ,[FinanceLeg_SpreadBasisPoint]
		  ,[FinanceLeg_DayCount]
		  ,[FinanceLeg_FixedRate]
		  ,[FinanceLeg_ScriptLendingFee]
		  ,[CustomFields]
		  ,[UniqueIdentifier]
		 FROM T_OTC_CFDTradeData AS OTC
		 inner join #GroupIDs  G on G.GroupID = OTC.GroupId



		 SELECT 
		 3 as InstrumentType
		 ,[ID]
      ,OTC.[GroupId]
      ,[TradeDate]
      ,[DaysToSettle]
      ,[EffectiveDate]
      ,[ISDA_CounterParty]
      ,[CustomFields]
      ,[UniqueIdentifier]
      ,[EquityLeg_ConversionRatio]
      ,[EquityLeg_ConversionPrice]
      ,[EquityLeg_ConversionDate]
      ,[FinanceLeg_ZeroCoupon]
      ,[FinanceLeg_IRBenchMark]
      ,[FinanceLeg_FXRate]
      ,[FinanceLeg_SBPoint]
      ,[FinanceLeg_DayCount]
      ,[FinanceLeg_CouponFreq]
      ,[Commission_Basis]
      ,[Commission_HardCommissionRate]
      ,[Commission_SoftCommissionRate]
      ,[FinanceLeg_FirstResetDate]
      ,[FinanceLeg_FirstPaymentDate]
      ,[Sedol]
      ,[ISIN]
      ,[Cusip]
      ,[Currency]
      ,[FinanceLeg_ParValue]
  FROM [dbo].[T_OTC_ConvertibleBondTradeData] AS OTC
		 inner join #GroupIDs  G on G.GroupID = OTC.GroupId