CREATE PROCEDURE [dbo].[P_ReAllocateGroup_XML] (
	@xml NTEXT
	,@ErrorMessage VARCHAR(500) OUTPUT
	,@ErrorNumber INT OUTPUT
	)
AS
DECLARE @countSwaps INT

SET @ErrorNumber = 0
SET @ErrorMessage = 'Success'

--BEGIN TRAN TRAN1                                                                                
BEGIN TRY
	DECLARE @handle INT

	EXEC sp_xml_preparedocument @handle OUTPUT
		,@xml

	CREATE TABLE #Temp_Orders (
		GroupID VARCHAR(50)
		,ClOrderID VARCHAR(20)
		,ParentClOrderID VARCHAR(50)
		,AccountID INT
		)

	CREATE TABLE #Temp_Group (
		GroupID VARCHAR(50)
		,IsProrataActive VARCHAR(5)
		,ListID VARCHAR(50)
		,OrderSideTagValue CHAR(1)
		,OrderTypeTagValue CHAR(1)
		,Quantity FLOAT
		,StateID INT
		,Symbol VARCHAR(100)
		,TradingAccountID INT
		,VenueID INT
		,AllocatedQty FLOAT
		,AUECID INT
		,CounterPartyID INT
		,CumQty FLOAT
		,AvgPrice FLOAT
		,IsPreAllocated BIT
		,CompanyUserID INT
		,ISBasketGroup BIT
		,BasketGroupID VARCHAR(50)
		,AllocationDate VARCHAR(50)
		,SettlementDate VARCHAR(50)
		,AutoGrouped BIT
		,AssetID INT
		,UnderlyingID INT
		,ExchangeID INT
		,CurrencyID INT
		,Description VARCHAR(100)
		,IsManualGroup BIT
		,AUECLocalDate DATETIME
		,IsSwapped BIT
		,FXRate FLOAT
		,FXConversionMethodOperator CHAR(1)
		,TaxLotClosingId VARCHAR(50)
		,CorpActionID VARCHAR(50)
		,Commission FLOAT
		,OtherBrokerFees FLOAT
		,StampDuty FLOAT
		,TransactionLevy FLOAT
		,ClearingFee FLOAT
		,TaxOnCommissions FLOAT
		,MiscFees FLOAT
		,AccruedInterest FLOAT
		,ProcessDate DATETIME
		,OriginalPurchaseDate DATETIME
		,IsModified BIT
		,OrderCount INT
		,AllocationSchemeID INT
		,CommissionSource INT
		,
		--TaxLotIdsWithAttributes field contains taxlotids with attributes(LotId and ExternalTransId etc.)                                            
		TaxLotIdsWithAttributes NVARCHAR(1000)
		,TradeAttribute1 VARCHAR(200)
		,TradeAttribute2 VARCHAR(200)
		,TradeAttribute3 VARCHAR(200)
		,TradeAttribute4 VARCHAR(200)
		,TradeAttribute5 VARCHAR(200)
		,TradeAttribute6 VARCHAR(200)
		,TransactionType VARCHAR(200)
		,SecFee FLOAT
		,OccFee FLOAT
		,OrfFee FLOAT
		,ClearingBrokerFee FLOAT
		,SoftCommission FLOAT
		,NotionalChange FLOAT
		,NirvanaProcessDate DATETIME
		,TransactionSourceTag INT
		,InternalComments VARCHAR(500)
		,SettlementCurrencyID INT
		,OptionPremiumAdjustment FLOAT
		,ChangeType INT
		,IsCommissionChanged BIT
		,IsSoftCommissionChanged BIT
		,[OriginalAllocationPreferenceID] int
		,[ClosingStatus] varchar(50)
		,BorrowerBroker varchar(30)
		,ModifiedUserId int
		,AdditionalTradeAttributes varchar(max)
		)

	INSERT INTO #Temp_Group
	SELECT GroupID
		,IsProrataActive
		,ListID
		,OrderSideTagValue
		,OrderTypeTagValue
		,Quantity
		,StateID
		,Symbol
		,TradingAccountID
		,VenueID
		,AllocatedQty
		,AUECID
		,CounterPartyID
		,CumQty
		,AvgPrice
		,IsPreAllocated
		,CompanyUserID
		,ISBasketGroup
		,BasketGroupID
		,AllocationDate
		,SettlementDate
		,AutoGrouped
		,AssetID
		,UnderlyingID
		,ExchangeID
		,CurrencyID
		,Description
		,IsManualGroup
		,AUECLocalDate
		,IsSwapped
		,FXRate
		,FXConversionMethodOperator
		,CASE TaxLotClosingId
			WHEN ''
				THEN NULL
			ELSE TaxLotClosingId
			END
		,CorpActionID
		,Commission
		,OtherBrokerFees
		,StampDuty
		,TransactionLevy
		,ClearingFee
		,TaxOnCommissions
		,MiscFees
		,AccruedInterest
		,ProcessDate
		,OriginalPurchaseDate
		,IsModified
		,OrderCount
		,AllocationSchemeID
		,CommissionSource
		,TaxLotIdsWithAttributes
		,TradeAttribute1
		,TradeAttribute2
		,TradeAttribute3
		,TradeAttribute4
		,TradeAttribute5
		,TradeAttribute6
		,TransactionType
		,SecFee
		,OccFee
		,OrfFee
		,ClearingBrokerFee
		,SoftCommission
		,NotionalChange
		,CASE 
			WHEN DATEDIFF(d, NirvanaProcessDate, '1/1/1800') = 0
				OR NirvanaProcessDate IS NULL
				THEN ProcessDate
			ELSE AUECLocalDate
			END AS NirvanaProcessDate
		,TransactionSourceTag
		,InternalComments
		,SettlementCurrencyID
		,OptionPremiumAdjustment
		,ChangeType
		,IsCommissionChanged
		,IsSoftCommissionChanged
		,NULLIF([OriginalAllocationPreferenceID],0)
		,[ClosingStatus]
		,BorrowerBroker
		,ModifiedUserId
		,AdditionalTradeAttributes
	FROM OPENXML(@handle, '/Groups/AllocationGroup', 2) WITH (
			GroupID VARCHAR(50)
			,IsProrataActive VARCHAR(5)
			,ListID VARCHAR(50)
			,OrderSideTagValue CHAR(1)
			,OrderTypeTagValue CHAR(1)
			,Quantity FLOAT
			,StateID INT
			,Symbol VARCHAR(100)
			,TradingAccountID INT
			,VenueID INT
			,AllocatedQty FLOAT
			,AUECID INT
			,CounterPartyID INT
			,CumQty FLOAT
			,AvgPrice FLOAT
			,IsPreAllocated BIT
			,CompanyUserID INT
			,ISBasketGroup BIT
			,BasketGroupID VARCHAR(50)
			,AllocationDate VARCHAR(50)
			,SettlementDate VARCHAR(50)
			,AutoGrouped BIT
			,AssetID INT
			,UnderlyingID INT
			,ExchangeID INT
			,CurrencyID INT
			,Description VARCHAR(100)
			,IsManualGroup BIT
			,AUECLocalDate DATETIME
			,IsSwapped BIT
			,FXRate FLOAT
			,FXConversionMethodOperator CHAR(1)
			,TaxLotClosingId VARCHAR(50)
			,CorpActionID VARCHAR(50)
			,Commission FLOAT
			,OtherBrokerFees FLOAT
			,StampDuty FLOAT
			,TransactionLevy FLOAT
			,ClearingFee FLOAT
			,TaxOnCommissions FLOAT
			,MiscFees FLOAT
			,AccruedInterest FLOAT
			,ProcessDate DATETIME
			,OriginalPurchaseDate DATETIME
			,IsModified BIT
			,OrderCount INT
			,AllocationSchemeID INT
			,CommissionSource INT
			,TaxLotIdsWithAttributes NVARCHAR(1000)
			,TradeAttribute1 VARCHAR(200)
			,TradeAttribute2 VARCHAR(200)
			,TradeAttribute3 VARCHAR(200)
			,TradeAttribute4 VARCHAR(200)
			,TradeAttribute5 VARCHAR(200)
			,TradeAttribute6 VARCHAR(200)
			,TransactionType VARCHAR(200)
			,SecFee FLOAT
			,OccFee FLOAT
			,OrfFee FLOAT
			,ClearingBrokerFee FLOAT
			,SoftCommission FLOAT
			,NotionalChange FLOAT
			,NirvanaProcessDate DATETIME
			,TransactionSourceTag INT
			,InternalComments VARCHAR(500)
			,SettlementCurrencyID INT
			,OptionPremiumAdjustment FLOAT
			,ChangeType INT
			,IsCommissionChanged BIT
			,IsSoftCommissionChanged BIT
			,[OriginalAllocationPreferenceID] int
			,[ClosingStatus] varchar(50)
			,BorrowerBroker varchar(30)
			,ModifiedUserId int
			,AdditionalTradeAttributes varchar(max)
			)
	
	--DELETE FROM #Temp_Group WHERE AUECLocalDate < (SELECT AUECLocalDate  FROM T_Group WHERE GroupID = #Temp_Group.GroupID) OR CumQty <  (SELECT CumQty  FROM T_Group WHERE GroupID = #Temp_Group.GroupID)

	IF NOT EXISTS (
			SELECT 1
			FROM #Temp_Group
			WHERE GroupID NOT IN (
					SELECT GroupID
					FROM T_Group
					)
			)
	BEGIN
		CREATE TABLE #Temp_Taxlots (
			GroupID VARCHAR(50)
			,TaxLotID VARCHAR(50)
			,Level1ID INT
			,Level1AllocationID VARCHAR(50)
			,Symbol VARCHAR(100) NOT NULL
			,TaxLotQty FLOAT NULL
			,Commission FLOAT NULL
			,OtherBrokerFees FLOAT NULL
			,StampDuty FLOAT NULL
			,TransactionLevy FLOAT NULL
			,ClearingFee FLOAT NULL
			,TaxOnCommissions FLOAT NULL
			,MiscFees FLOAT NULL
			,
			--TaxLotState int NULL,                        
			AvgPrice FLOAT NOT NULL
			,Level2ID INT NULL
			,Level2Percentage FLOAT
			,OrderSideTagValue NCHAR(10) NULL
			,AUECID INT
			,AssetID INT
			,UnderlyingID INT
			,ExchangeID INT
			,FXRate FLOAT NULL
			,FXConversionMethodOperator VARCHAR(3) NULL
			,PositionTag INT NULL
			,ParentRow_Pk BIGINT NULL
			,AUECLocalDate VARCHAR(50) NULL
			,AllocationDate VARCHAR(50) NULL
			,CorpActionID VARCHAR(50) NULL
			,CounterPartyID INT
			,VenueID INT
			,SettlementDate DATETIME
			,CumQty FLOAT
			,Quantity FLOAT
			,OrderTypeTagValue VARCHAR(5)
			,CurrencyID INT
			,AccruedInterest FLOAT
			,ProcessDate VARCHAR(50) NULL
			,OriginalPurchaseDate VARCHAR(50) NULL
			,ExternalTransId VARCHAR(100) NULL
			,LotId VARCHAR(200) NULL
			,TradeAttribute1 VARCHAR(200)
			,TradeAttribute2 VARCHAR(200)
			,TradeAttribute3 VARCHAR(200)
			,TradeAttribute4 VARCHAR(200)
			,TradeAttribute5 VARCHAR(200)
			,TradeAttribute6 VARCHAR(200)
			,SecFee FLOAT NULL
			,OccFee FLOAT NULL
			,OrfFee FLOAT NULL
			,ClearingBrokerFee FLOAT NULL
			,SoftCommission FLOAT NULL
			,NotionalChange FLOAT
			,NirvanaProcessDate DATETIME
			,SettlementCurrencyID INT
			,OptionPremiumAdjustment FLOAT
			,AdditionalTradeAttributes varchar(max)
			)

		INSERT INTO #Temp_Taxlots (
			GroupID
			,TaxLotID
			,Level1ID
			,Level1AllocationID
			,Symbol
			,TaxLotQty
			,Commission
			,OtherBrokerFees
			,StampDuty
			,TransactionLevy
			,ClearingFee
			,TaxOnCommissions
			,MiscFees
			,
			--TaxLotState ,               
			AvgPrice
			,Level2ID
			,Level2Percentage
			,OrderSideTagValue
			,AUECID
			,AssetID
			,UnderlyingID
			,ExchangeID
			,FXRate
			,FXConversionMethodOperator
			,PositionTag
			,ParentRow_Pk
			,AUECLocalDate
			,AllocationDate
			,CorpActionID
			,CounterPartyID
			,VenueID
			,SettlementDate
			,CumQty
			,Quantity
			,OrderTypeTagValue
			,CurrencyID
			,AccruedInterest
			,ProcessDate
			,OriginalPurchaseDate
			,ExternalTransId
			,LotID
			,TradeAttribute1
			,TradeAttribute2
			,TradeAttribute3
			,TradeAttribute4
			,TradeAttribute5
			,TradeAttribute6
			,SecFee
			,OccFee
			,OrfFee
			,ClearingBrokerFee
			,SoftCommission
			,NotionalChange
			,NirvanaProcessDate
			,SettlementCurrencyID
			,OptionPremiumAdjustment
			,AdditionalTradeAttributes
			)
		SELECT GroupID
			,TaxLotID
			,Level1ID
			,Level1AllocationID
			,Symbol
			,TaxLotQty
			,Commission
			,OtherBrokerFees
			,StampDuty
			,TransactionLevy
			,ClearingFee
			,TaxOnCommissions
			,MiscFees
			,
			--TaxLotState ,                                                             
			AvgPrice
			,Level2ID
			,Level2Percentage
			,OrderSideTagValue
			,AUECID
			,AssetID
			,UnderlyingID
			,ExchangeID
			,FXRate
			,FXConversionMethodOperator
			,PositionTag
			,ParentRow_Pk
			,AUECLocalDate
			,AllocationDate
			,CorpActionID
			,CounterPartyID
			,VenueID
			,SettlementDate
			,CumQty
			,Quantity
			,OrderTypeTagValue
			,CurrencyID
			,AccruedInterest
			,ProcessDate
			,OriginalPurchaseDate
			,ExternalTransId
			,LotID
			,TradeAttribute1
			,TradeAttribute2
			,TradeAttribute3
			,TradeAttribute4
			,TradeAttribute5
			,TradeAttribute6
			,SecFee
			,OccFee
			,OrfFee
			,ClearingBrokerFee
			,SoftCommission
			,NotionalChange
			,CASE 
				WHEN DATEDIFF(d, NirvanaProcessDate, '1/1/1800') = 0 OR NirvanaProcessDate IS NULL
					THEN AUECLocalDate
				ELSE NirvanaProcessDate
				END AS NirvanaProcessDate
			,SettlementCurrencyID
			,OptionPremiumAdjustment
			,AdditionalTradeAttributes
		FROM OPENXML(@handle, '/Groups/AllocationGroup/TaxLots/TaxLot', 2) WITH (
				GroupID VARCHAR(50) '../../GroupID'
				,TaxLotID VARCHAR(50)
				,Level1ID INT
				,Level1AllocationID VARCHAR(50)
				,Symbol VARCHAR(100)
				,TaxLotQty FLOAT
				,Commission FLOAT
				,OtherBrokerFees FLOAT
				,StampDuty FLOAT
				,TransactionLevy FLOAT
				,ClearingFee FLOAT
				,TaxOnCommissions FLOAT
				,MiscFees FLOAT
				,
				--TaxLotState int,                                                                        
				AvgPrice FLOAT
				,Level2ID INT
				,Level2Percentage FLOAT
				,OrderSideTagValue NCHAR(10)
				,TaxLotClosingId_Fk UNIQUEIDENTIFIER
				,AUECID INT
				,AssetID INT
				,UnderlyingID INT
				,ExchangeID INT
    ,FXRate FLOAT
    ,FXConversionMethodOperator VARCHAR(3)  
				,PositionTag INT '../../PositionTagValue'
				,ParentRow_Pk BIGINT '../../ParentTaxlot_PK'
				,AUECLocalDate VARCHAR(50)
				,AllocationDate VARCHAR(50) '../../AllocationDate'
				,CorpActionID VARCHAR(50) '../../CorpActionID'
				,CounterPartyID INT
				,VenueID INT
				,SettlementDate DATETIME
				,CumQty FLOAT
				,Quantity FLOAT
				,OrderTypeTagValue VARCHAR(5)
				,CurrencyID INT
				,AccruedInterest FLOAT
				,ProcessDate VARCHAR(50)
				,OriginalPurchaseDate VARCHAR(50)
				,ExternalTransId VARCHAR(100)
				,LotId VARCHAR(200)
				,TradeAttribute1 VARCHAR(200)
				,TradeAttribute2 VARCHAR(200)
				,TradeAttribute3 VARCHAR(200)
				,TradeAttribute4 VARCHAR(200)
				,TradeAttribute5 VARCHAR(200)
				,TradeAttribute6 VARCHAR(200)
				,SecFee FLOAT
				,OccFee FLOAT
				,OrfFee FLOAT
				,ClearingBrokerFee FLOAT
				,SoftCommission FLOAT
				,NotionalChange FLOAT
				,NirvanaProcessDate DATETIME
				,SettlementCurrencyID INT
				,OptionPremiumAdjustment FLOAT
				,AdditionalTradeAttributes varchar(max)
				)

		INSERT INTO #Temp_Orders (
			GroupID
			,ClOrderID
			,ParentClOrderID
			,AccountID
			)
		SELECT GroupID
			,ClOrderID
			,ParentClOrderID
			,AccountID
		FROM OPENXML(@handle, '/Groups/AllocationGroup/Orders/AllocationOrder', 2) WITH (
				GroupID VARCHAR(50) '../../GroupID'
				,ClOrderID VARCHAR(50)
				,ParentClOrderID VARCHAR(50)
				,AccountID INT
				)

		declare @rowscount int
		select @rowscount=count(*) from #Temp_Orders

		if @rowscount!=2
		Begin
		UPDATE T_Sub
		SET TradeAttribute1 = #Temp_Group.TradeAttribute1
			,TradeAttribute2 = #Temp_Group.TradeAttribute2
			,TradeAttribute3 = #Temp_Group.TradeAttribute3
			,TradeAttribute4 = #Temp_Group.TradeAttribute4
			,TradeAttribute5 = #Temp_Group.TradeAttribute5
			,TradeAttribute6 = #Temp_Group.TradeAttribute6
			,AdditionalTradeAttributes = #Temp_Group.AdditionalTradeAttributes
		FROM #Temp_Group INNER JOIN #Temp_Orders on #Temp_Group.GroupID=#Temp_Orders.GroupID
		where T_Sub.ClOrderID = #Temp_Orders.ClOrderID
	    END

		else
		Begin 
		declare @stageorderid varchar(30)
		select @stageorderid=StagedOrderID from T_Sub where ClOrderID=(select max(#Temp_Orders.ClOrderID) from #Temp_Orders)
		if not exists(
		select * from #Temp_Orders
		where ClOrderID=@stageorderid
		)
		Begin
		UPDATE T_Sub
		SET TradeAttribute1 = #Temp_Group.TradeAttribute1
			,TradeAttribute2 = #Temp_Group.TradeAttribute2
			,TradeAttribute3 = #Temp_Group.TradeAttribute3
			,TradeAttribute4 = #Temp_Group.TradeAttribute4
			,TradeAttribute5 = #Temp_Group.TradeAttribute5
			,TradeAttribute6 = #Temp_Group.TradeAttribute6
			,AdditionalTradeAttributes = #Temp_Group.AdditionalTradeAttributes
		FROM #Temp_Group INNER JOIN #Temp_Orders on #Temp_Group.GroupID=#Temp_Orders.GroupID
		where T_Sub.ClOrderID = #Temp_Orders.ClOrderID
		END
		END

		UPDATE T_Sub
		SET FundID = #Temp_Orders.AccountID
		FROM #Temp_Orders
		WHERE #Temp_Orders.ParentClOrderID = T_Sub.ClOrderID
		AND #Temp_Orders.AccountID != 0
		AND #Temp_Orders.GroupID NOT IN (SELECT GroupID FROM #Temp_Taxlots)

		UPDATE T_Group
		SET AllocatedQty = #Temp_Group.AllocatedQty
			,CumQty = #Temp_Group.CumQty
			,AvgPrice = #Temp_Group.AvgPrice
			,Quantity = #Temp_Group.Quantity
			,StateID = #Temp_Group.StateID
			,AllocationDate = #Temp_Group.AllocationDate
			,AUECLocalDate = #Temp_Group.AUECLocalDate
			,IsSwapped = #Temp_Group.IsSwapped
			,FXRate = #Temp_Group.FXRate
			,OrderSideTagValue = #Temp_Group.OrderSideTagValue
			,CounterPartyID = #Temp_Group.CounterPartyID
			,VenueID = #Temp_Group.VenueID
			,SettlementDate = #Temp_Group.SettlementDate
			,FXConversionMethodOperator = #Temp_Group.FXConversionMethodOperator
			,Commission = #Temp_Group.Commission
			,OtherBrokerFees = #Temp_Group.OtherBrokerFees
			,StampDuty = #Temp_Group.StampDuty
			,TransactionLevy = #Temp_Group.TransactionLevy
			,ClearingFee = #Temp_Group.ClearingFee
			,TaxOnCommissions = #Temp_Group.TaxOnCommissions
			,MiscFees = #Temp_Group.MiscFees
			,AccruedInterest = #Temp_Group.AccruedInterest
			,ProcessDate = #Temp_Group.ProcessDate
			,OriginalPurchaseDate = #Temp_Group.OriginalPurchaseDate
			,ModifiedUserID = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN #Temp_Group.ModifiedUserId
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_Group.ModifiedUserID
				END
			,ModifiedDate = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN GetDate()
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_Group.ModifiedDate
				END
			,IsModified = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN 1
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_Group.IsModified
				END
			,Description = #Temp_Group.Description
			,AllocationSchemeID = #Temp_Group.AllocationSchemeID
			,CommissionSource = #Temp_Group.CommissionSource
			,TaxLotIdsWithAttributes = #Temp_Group.TaxLotIdsWithAttributes
			,TradeAttribute1 = #Temp_Group.TradeAttribute1
			,TradeAttribute2 = #Temp_Group.TradeAttribute2
			,TradeAttribute3 = #Temp_Group.TradeAttribute3
			,TradeAttribute4 = #Temp_Group.TradeAttribute4
			,TradeAttribute5 = #Temp_Group.TradeAttribute5
			,TradeAttribute6 = #Temp_Group.TradeAttribute6
			,TransactionType = #Temp_Group.TransactionType
			,SecFee = #Temp_Group.SecFee
			,OccFee = #Temp_Group.OccFee
			,OrfFee = #Temp_Group.OrfFee
			,ClearingBrokerFee = #Temp_Group.ClearingBrokerFee
			,SoftCommission = #Temp_Group.SoftCommission
			,NotionalChange = #Temp_Group.NotionalChange
			,NirvanaProcessDate = #Temp_Group.NirvanaProcessDate
			,TransactionSource = #Temp_Group.TransactionSourceTag
			,InternalComments = #Temp_Group.InternalComments
			,SettlCurrency = #Temp_Group.SettlementCurrencyID
			,OptionPremiumAdjustment = #Temp_Group.OptionPremiumAdjustment
			,ChangeType = #Temp_Group.ChangeType
			,IsCommissionChanged = #Temp_Group.IsCommissionChanged
			,IsSoftCommissionChanged = #Temp_Group.IsSoftCommissionChanged
			,UserID= #Temp_Group.CompanyUserID
			,BorrowBroker=#Temp_Group.BorrowerBroker
			,AdditionalTradeAttributes = #Temp_Group.AdditionalTradeAttributes
		FROM T_Group
		INNER JOIN #Temp_Group
			ON T_Group.GroupID = #Temp_Group.GroupID

		DELETE
		FROM PM_Taxlots
		WHERE GroupID IN (
				SELECT GroupID
				FROM #Temp_Group where ClosingStatus='Open'
				) 
		DELETE TLA
		FROM T_Level2Allocation TLA
		INNER JOIN  T_FundAllocation TFA
			ON TFA.AllocationID = TLA.Level1AllocationID 
		INNER JOIN #Temp_Group TG
			ON TG.GroupID = TFA.GroupID

		DELETE TFA
		FROM T_FundAllocation TFA
		INNER JOIN #Temp_Group TG
			ON TFA.GroupID = TG.GroupID

		INSERT INTO T_FundAllocation (
			AllocationID
			,GroupID
			,FundID
			,AllocatedQty
			,Percentage
			)
		SELECT LevelnAllocationID
			,GroupID
			,LevelnID
			,AllocatedQty
			,Percentage
		FROM OPENXML(@handle, '/Groups/AllocationGroup/Allocations/Collection/AllocationLevelClass', 2) WITH (
				LevelnAllocationID VARCHAR(50)
				,GroupID VARCHAR(50) '../../../GroupID'
				,LevelnID INT
				,AllocatedQty FLOAT
				,Percentage FLOAT
				)

		UPDATE T_TradedOrders
		SET CumQty = #Temp_Group.CumQty
			,AvgPrice = #Temp_Group.AvgPrice
			,AUECLocalDate = #Temp_Group.AUECLocalDate
			,FXRate = #Temp_Group.FXRate
			,FXConversionMethodOperator = #Temp_Group.FXConversionMethodOperator
			,OrderSideTagValue = #Temp_Group.OrderSideTagValue
			,CounterPartyID = #Temp_Group.CounterPartyID
			,VenueID = #Temp_Group.VenueID
			,SettlementDate = #Temp_Group.SettlementDate
			,ProcessDate = #Temp_Group.ProcessDate
			,OriginalPurchaseDate = #Temp_Group.OriginalPurchaseDate
			,ModifiedUserID = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN #Temp_Group.ModifiedUserId
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_TradedOrders.ModifiedUserID
				END
			,ModifiedDate = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN GetDate()
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_TradedOrders.ModifiedDate
				END
			,IsModified = CASE 
				WHEN #Temp_Group.ModifiedUserId!=-2147483648
					THEN 1
				WHEN #Temp_Group.ModifiedUserId=-2147483648
					THEN T_TradedOrders.IsModified
				END
			,TradeAttribute1 = #Temp_Group.TradeAttribute1
			,TradeAttribute2 = #Temp_Group.TradeAttribute2
			,TradeAttribute3 = #Temp_Group.TradeAttribute3
			,TradeAttribute4 = #Temp_Group.TradeAttribute4
			,TradeAttribute5 = #Temp_Group.TradeAttribute5
			,TradeAttribute6 = #Temp_Group.TradeAttribute6
			,SettlCurrency = #Temp_Group.SettlementCurrencyID
			,ChangeType = #Temp_Group.ChangeType
			,[OriginalAllocationPreferenceID] = #Temp_Group.[OriginalAllocationPreferenceID]
			,AdditionalTradeAttributes = #Temp_Group.AdditionalTradeAttributes
			
		FROM #Temp_Group
		INNER JOIN T_TradedOrders
			ON T_TradedOrders.GroupID = #Temp_Group.GroupID
		WHERE #Temp_Group.OrderCount = 1

		INSERT INTO T_Level2Allocation (
			TaxLotID
			,GroupID
			,Level1AllocationID
			,Level2ID
			,Level2Percentage
			,TaxLotQty
			,Commission
			,OtherBrokerFees
			,StampDuty
			,TransactionLevy
			,ClearingFee
			,TaxOnCommissions
			,MiscFees
			,AccruedInterest
			,FXRate
			,FXConversionMethodOperator
			,ExternalTransId
			,LotID
			,TradeAttribute1
			,TradeAttribute2
			,TradeAttribute3
			,TradeAttribute4
			,TradeAttribute5
			,TradeAttribute6
			,SecFee
			,OccFee
			,OrfFee
			,ClearingBrokerFee
			,SoftCommission
			,NotionalChange
			,SettlCurrency
			,OptionPremiumAdjustment
			,AdditionalTradeAttributes
			)
		SELECT TaxLotID
			,GroupID
			,Level1AllocationID
			,Level2ID
			,Level2Percentage
			,TaxLotQty
			,Commission
			,OtherBrokerFees
			,StampDuty
			,TransactionLevy
			,ClearingFee
			,TaxOnCommissions
			,MiscFees
			,AccruedInterest
			,FXRate
			,FXConversionMethodOperator
			,ExternalTransId
			,LotID
			,TradeAttribute1
			,TradeAttribute2
			,TradeAttribute3
			,TradeAttribute4
			,TradeAttribute5
			,TradeAttribute6
			,SecFee
			,OccFee
			,OrfFee
			,ClearingBrokerFee
			,SoftCommission
			,NotionalChange
			,SettlementCurrencyID AS SettlCurrency
			,OptionPremiumAdjustment
			,AdditionalTradeAttributes
		FROM #Temp_Taxlots

		-- PreAllocation Check ends here                                                                                  
		--swap parameters                                                                                                                                                                    
		CREATE TABLE #T_SwapParameters (
			NotionalValue FLOAT
			,DayCount INT
			,BenchMarkRate FLOAT
			,Differential FLOAT
			,FirstResetDate DATETIME
			,ResetFrequency VARCHAR(20)
			,OrigTransDate DATETIME
			,OrigCostBasis FLOAT
			,SwapDescription VARCHAR(20)
			,ClosingPrice FLOAT
			,ClosingDate DATETIME
			,TransDate DATETIME
			,GroupID VARCHAR(50)
			)

		INSERT INTO #T_SwapParameters (
			NotionalValue
			,DayCount
			,BenchMarkRate
			,Differential
			,FirstResetDate
			,ResetFrequency
			,OrigTransDate
			,OrigCostBasis
			,SwapDescription
			,ClosingPrice
			,ClosingDate
			,TransDate
			,GroupID
			)
		SELECT NotionalValue
			,DayCount
			,BenchMarkRate
			,Differential
			,FirstResetDate
			,ResetFrequency
			,OrigTransDate
			,OrigCostBasis
			,SwapDescription
			,ClosingPrice
			,ClosingDate
			,TransDate
			,GroupID
		FROM OPENXML(@handle, '/Groups/AllocationGroup/SwapParameters', 2) WITH (
				NotionalValue FLOAT
				,DayCount INT
				,BenchMarkRate FLOAT
				,Differential FLOAT
				,FirstResetDate DATETIME
				,ResetFrequency VARCHAR(20)
				,OrigTransDate DATETIME
				,OrigCostBasis FLOAT
				,SwapDescription VARCHAR(500)
				,ClosingPrice FLOAT
				,ClosingDate DATETIME
				,TransDate DATETIME
				,GroupID VARCHAR(50) '../GroupID'
				)

		INSERT INTO T_SwapParameters (
			NotionalValue
			,DayCount
			,BenchMarkRate
			,Differential
			,FirstResetDate
			,ResetFrequency
			,OrigTransDate
			,OrigCostBasis
			,SwapDescription
			,ClosingPrice
			,ClosingDate
			,TransDate
			,GroupID
			)
		SELECT NotionalValue
			,DayCount
			,BenchMarkRate
			,Differential
			,FirstResetDate
			,ResetFrequency
			,OrigTransDate
			,OrigCostBasis
			,SwapDescription
			,ClosingPrice
			,ClosingDate
			,TransDate
			,GroupID
		FROM #T_SwapParameters
		WHERE GroupID NOT IN (
				SELECT GroupID
				FROM T_SwapParameters
				)

		UPDATE SP
		SET  SP.DayCount = TSP.DayCount
			,SP.BenchMarkRate = TSP.BenchMarkRate
			,SP.Differential = TSP.Differential
			,SP.FirstResetDate = TSP.FirstResetDate
			,SP.ResetFrequency = TSP.ResetFrequency
			,SP.OrigTransDate = TSP.OrigTransDate
			,SP.SwapDescription = TSP.SwapDescription
			,SP.ClosingPrice = TSP.ClosingPrice
			,SP.ClosingDate = TSP.ClosingDate
			,SP.TransDate = TSP.TransDate
			,SP.OrigCostBasis = CASE WHEN TSP.OrigCostBasis != 0 THEN TSP.OrigCostBasis ELSE SP.OrigCostBasis END
			,SP.NotionalValue = CASE WHEN TSP.NotionalValue != 0 THEN TSP.NotionalValue ELSE SP.NotionalValue END
		FROM T_SwapParameters SP 
		INNER JOIN #T_SwapParameters TSP
			ON SP.GroupID = TSP.GroupID

---OTC workflow


   Create Table #T_OTC_TradeData (  
    [GroupId] [varchar](50),
	[TradeDate] [datetime],
	[DaysToSettle] [int],
	[EffectiveDate] [datetime] ,
	[ISDACounterParty] [int],
	[EquityLeg_Frequency] [varchar](50),
	[EquityLeg_BulletSwap] [bit],
	[EquityLeg_ImpliedCommission] [bit],
	[EquityLeg_FirstPaymentDate] [datetime],
	[EquityLeg_ExpirationDate] [datetime],
	[CommissionBasis] [varchar](50),
	[HardCommissionRate] [float],
	[SoftCommissionRate] [float] ,
	[FinanceLeg_InterestRate] [float] ,
	[FinanceLeg_SpreadBasisPoint] [float],
	[FinanceLeg_DayCount] [int] ,
	[FinanceLeg_Frequency] [varchar](50),
	[FinanceLeg_FixedRate] [float],
	[FinanceLeg_FirstResetDate] [datetime],
	[FinanceLeg_FirstPaymentDate] [datetime],
	[CustomFields] [ntext],
	[Collateral_Margin] [float],
	[Collateral_Rate] [float],
	[Collateral_DayCount] [int],
	[FinanceLeg_ScriptLendingFee] [float],
	[InstrumentType] [int],
	[UniqueIdentifier] [varchar](200),
	[EquityLeg_ExcludeDividends] [bit],
	[EquityLeg_ConversionRatio] [float],
	[EquityLeg_ConversionPrice] [float],
	[EquityLeg_ConversionDate] [datetime],
	[FinanceLeg_ZeroCoupon] [bit],
	[FinanceLeg_IRBenchMark]   [int] ,
	[FinanceLeg_FXRate] [float],
	[FinanceLeg_SBPoint] [float],
	[FinanceLeg_CouponFreq]  [int] ,
	[FinanceLeg_ParValue] [varchar](200),
	[Commission_Basis][int] ,
	[Commission_HardCommRate] [float],
	[Commission_SoftCommRate] [float],
	[Sedol] [varchar](200),
	[ISIN] [varchar](200),
	[Cusip] [varchar](200),
	[Currency][varchar](200)
  )  


  INSERT INTO #T_OTC_TradeData (  
    [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[FinanceLeg_ScriptLendingFee],
	[InstrumentType],
	[UniqueIdentifier],
	[EquityLeg_ExcludeDividends],
	[EquityLeg_ConversionRatio] ,
	[EquityLeg_ConversionPrice] ,
	[EquityLeg_ConversionDate] ,
	[FinanceLeg_ZeroCoupon] ,
	[FinanceLeg_IRBenchMark]   ,
	[FinanceLeg_FXRate] ,
	[FinanceLeg_SBPoint] ,
	[FinanceLeg_CouponFreq]  ,
	[FinanceLeg_ParValue] ,
	[Commission_Basis],
	[Commission_HardCommRate] ,
	[Commission_SoftCommRate] ,
	[Sedol] ,
	[ISIN] ,
	[Cusip] ,
	[Currency]  )  
 SELECT [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFieldJsonString],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[FinanceLeg_ScriptlendingFee],
	[InstrumentType],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends],
	[EquityLeg_ConversionRatio] ,
	[EquityLeg_ConversionPrice] ,
	[EquityLeg_ConversionDate] ,
	[FinanceLeg_ZeroCoupon] ,
	[FinanceLeg_IRBenchMark]   ,
	[FinanceLeg_FXRate] ,
	[FinanceLeg_SBPoint] ,
	[FinanceLeg_CouponFreq]  ,
	[FinanceLeg_ParValue] ,
	[Commission_Basis],
	[Commission_HardCommRate] ,
	[Commission_SoftCommRate] ,
	[Sedol] ,
	[Isin] ,
	[Cusip] ,
	[Currency]
 FROM OPENXML(@handle, '/Groups/AllocationGroup/OTCParameters', 2) WITH (  
 
	[GroupId] [varchar](50) '../GroupID',
	[TradeDate] [datetime],
	[DaysToSettle] [int],
	[EffectiveDate] [datetime] ,
	[ISDACounterParty] [int],
	[EquityLeg_Frequency] [varchar](50),
	[EquityLeg_BulletSwap] [bit],
	[EquityLeg_ImpliedCommission] [bit],
	[EquityLeg_FirstPaymentDate] [datetime],
	[EquityLeg_ExpirationDate] [datetime],
	[CommissionBasis] [varchar](50),
	[HardCommissionRate] [float],
	[SoftCommissionRate] [float] ,
	[FinanceLeg_InterestRate] [float] ,
	[FinanceLeg_SpreadBasisPoint] [float],
	[FinanceLeg_DayCount] [int] ,
	[FinanceLeg_Frequency] [varchar](50),
	[FinanceLeg_FixedRate] [float],
	[FinanceLeg_FirstResetDate] [datetime],
	[FinanceLeg_FirstPaymentDate] [datetime],
	[CustomFieldJsonString] [ntext],
	[Collateral_Margin] [float],
	[Collateral_Rate] [float],
	[Collateral_DayCount] [int],
	[FinanceLeg_ScriptlendingFee] [float],
	[InstrumentType] [int],
	[UniqueIdentifier] [varchar](200),
    [EquityLeg_ExcludeDividends] [bit],
	[EquityLeg_ConversionRatio] [float],
	[EquityLeg_ConversionPrice] [float],
	[EquityLeg_ConversionDate] [datetime],
	[FinanceLeg_ZeroCoupon] [bit],
	[FinanceLeg_IRBenchMark]   [int] ,
	[FinanceLeg_FXRate] [float],
	[FinanceLeg_SBPoint] [float],
	[FinanceLeg_CouponFreq]  [int] ,
	[FinanceLeg_ParValue] [varchar](200),
	[Commission_Basis] [int] ,
	[Commission_HardCommRate] [float],
	[Commission_SoftCommRate] [float],
	[Sedol] [varchar](200),
	[Isin] [varchar](200),
	[Cusip] [varchar](200),
	[Currency][varchar](200)
   )
   
    INSERT INTO T_OTC_EquitySwapTradeData (  
    [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDA_CounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[Commission_Basis],
	[Commission_HardCommissionRate],
	[Commission_SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends] 
  )  
  SELECT [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends]
	from  #T_OTC_TradeData
 WHERE GroupID NOT IN (
				SELECT GroupID
				FROM T_OTC_EquitySwapTradeData
				)   and  InstrumentType = 1


	 
INSERT INTO [dbo].[T_OTC_CFDTradeData]
           ([GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDA_CounterParty]
           ,[Collateral_Margin]
           ,[Collateral_Rate]
           ,[Collateral_DayCount]
           ,[Commission_Basis]
           ,[Commission_HardCommissionRate]
           ,[Commission_SoftCommissionRate]
           ,[FinanceLeg_InterestRate]
           ,[FinanceLeg_SpreadBasisPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_FixedRate]
           ,[FinanceLeg_ScriptLendingFee]
           ,[CustomFields]
		   ,[UniqueIdentifier])

         SELECT [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDACounterParty]
           ,[Collateral_Margin]
           ,[Collateral_Rate]
           ,[Collateral_DayCount]
           ,[CommissionBasis]
           ,[HardCommissionRate]
           ,[SoftCommissionRate]
           ,[FinanceLeg_InterestRate]
           ,[FinanceLeg_SpreadBasisPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_FixedRate]
           ,[FinanceLeg_ScriptLendingFee]
           ,[CustomFields]
		   ,[UniqueIdentifier]
	from  #T_OTC_TradeData
     WHERE GroupID NOT IN (
				SELECT GroupID
				FROM T_OTC_CFDTradeData
				) and InstrumentType = 2
  
  INSERT INTO [T_OTC_ConvertibleBondTradeData]       (
		   [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDA_CounterParty]
           ,[CustomFields]
           ,[UniqueIdentifier]
           ,[EquityLeg_ConversionRatio]
           ,[EquityLeg_ConversionPrice]
           ,[EquityLeg_ConversionDate]
           ,[FinanceLeg_ZeroCoupon]
           ,[FinanceLeg_IRBenchMark]
           ,[FinanceLeg_FXRate]
           ,[FinanceLeg_SBPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_CouponFreq]
           ,[Commission_Basis]
           ,[Commission_HardCommissionRate]
           ,[Commission_SoftCommissionRate]
           ,[FinanceLeg_FirstResetDate]
           ,[FinanceLeg_FirstPaymentDate]
           ,[Sedol]
           ,[ISIN]
           ,[Cusip]
           ,[Currency]
           ,[FinanceLeg_ParValue])
		   select
		  [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDACounterParty]
           ,[CustomFields]
           ,[UniqueIdentifier]
           ,[EquityLeg_ConversionRatio]
           ,[EquityLeg_ConversionPrice]
           ,[EquityLeg_ConversionDate]
           ,[FinanceLeg_ZeroCoupon]
           ,[FinanceLeg_IRBenchMark]
           ,[FinanceLeg_FXRate]
           ,[FinanceLeg_SBPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_CouponFreq]
           ,[Commission_Basis]
           ,[Commission_HardCommRate]
           ,[Commission_SoftCommRate]
           ,[FinanceLeg_FirstResetDate]
           ,[FinanceLeg_FirstPaymentDate]
           ,[Sedol]
           ,[ISIN]
           ,[Cusip]
           ,[Currency]
           ,[FinanceLeg_ParValue]
		   from  #T_OTC_TradeData
     WHERE GroupID NOT IN (
				SELECT GroupID
				FROM T_OTC_ConvertibleBondTradeData
				)   and  InstrumentType = 3

UPDATE SD
SET  
SD.TradeDate=TSD.TradeDate,
SD.DaysToSettle=TSD.DaysToSettle,
SD.EffectiveDate=TSD.EffectiveDate,
SD.ISDA_CounterParty=TSD.ISDACounterParty,
SD.EquityLeg_Frequency=TSD.EquityLeg_Frequency,
SD.EquityLeg_BulletSwap=TSD.EquityLeg_BulletSwap,
SD.EquityLeg_ImpliedCommission=TSD.EquityLeg_ImpliedCommission,
SD.EquityLeg_FirstPaymentDate=TSD.EquityLeg_FirstPaymentDate,
SD.EquityLeg_ExpirationDate=TSD.EquityLeg_ExpirationDate,
SD.Commission_Basis =TSD.CommissionBasis,
SD.Commission_HardCommissionRate=TSD.HardCommissionRate,
SD.Commission_SoftCommissionRate=TSD.SoftCommissionRate,
SD.FinanceLeg_InterestRate=TSD.FinanceLeg_InterestRate,
SD.FinanceLeg_SpreadBasisPoint=TSD.FinanceLeg_SpreadBasisPoint,
SD.FinanceLeg_DayCount=TSD.FinanceLeg_DayCount,
SD.FinanceLeg_Frequency=TSD.FinanceLeg_Frequency,
SD.FinanceLeg_FixedRate=TSD.FinanceLeg_FixedRate,
SD.FinanceLeg_FirstResetDate=TSD.FinanceLeg_FirstResetDate,
SD.FinanceLeg_FirstPaymentDate=TSD.FinanceLeg_FirstPaymentDate,
SD.CustomFields=TSD.CustomFields,
SD.UniqueIdentifier=TSD.UniqueIdentifier,
SD.EquityLeg_ExcludeDividends=TSD.EquityLeg_ExcludeDividends
FROM  T_OTC_EquitySwapTradeData SD
INNER JOIN #T_OTC_TradeData TSD
ON SD.GroupID = TSD.GroupID

UPDATE CFD
SET  
CFD.TradeDate =TCFD.TradeDate,
CFD.DaysToSettle =TCFD.DaysToSettle,
CFD.EffectiveDate =TCFD.EffectiveDate,
CFD.ISDA_CounterParty =TCFD.ISDACounterParty,
CFD.Collateral_Margin =TCFD.Collateral_Margin,
CFD.Collateral_Rate =TCFD.Collateral_Rate,
CFD.Collateral_DayCount =TCFD.Collateral_DayCount,
CFD.Commission_Basis =TCFD.CommissionBasis,
CFD.Commission_HardCommissionRate =TCFD.HardCommissionRate,
CFD.Commission_SoftCommissionRate =TCFD.SoftCommissionRate,
CFD.FinanceLeg_InterestRate =TCFD.FinanceLeg_InterestRate,
CFD.FinanceLeg_SpreadBasisPoint =TCFD.FinanceLeg_SpreadBasisPoint,
CFD.FinanceLeg_DayCount =TCFD.FinanceLeg_DayCount,
CFD.FinanceLeg_FixedRate =TCFD.FinanceLeg_FixedRate,
CFD.FinanceLeg_ScriptLendingFee =TCFD.FinanceLeg_ScriptLendingFee,
CFD.CustomFields =TCFD.CustomFields,
CFD.UniqueIdentifier =TCFD.UniqueIdentifier
FROM  T_OTC_CFDTradeData CFD
INNER JOIN #T_OTC_TradeData TCFD
ON CFD.GroupID = TCFD.GroupID


UPDATE TCBond
SET  
TCBond.TradeDate=TCFD.TradeDate,
TCBond.DaysToSettle=TCFD.DaysToSettle,
TCBond.EffectiveDate=TCFD.EffectiveDate,
TCBond.ISDA_CounterParty=TCFD.ISDACounterParty,
TCBond.CustomFields=TCFD.CustomFields,
TCBond.UniqueIdentifier=TCFD.UniqueIdentifier,
TCBond.EquityLeg_ConversionRatio=TCFD.EquityLeg_ConversionRatio,
TCBond.EquityLeg_ConversionPrice=TCFD.EquityLeg_ConversionPrice,
TCBond.EquityLeg_ConversionDate=TCFD.EquityLeg_ConversionDate,
TCBond.FinanceLeg_ZeroCoupon=TCFD.FinanceLeg_ZeroCoupon,
TCBond.FinanceLeg_IRBenchMark=TCFD.FinanceLeg_IRBenchMark,
TCBond.FinanceLeg_FXRate=TCFD.FinanceLeg_FXRate,
TCBond.FinanceLeg_SBPoint=TCFD.FinanceLeg_SBPoint,
TCBond.FinanceLeg_DayCount=TCFD.FinanceLeg_DayCount,
TCBond.FinanceLeg_CouponFreq=TCFD.FinanceLeg_CouponFreq,
TCBond.Commission_Basis=TCFD.Commission_Basis,
TCBond.Commission_HardCommissionRate=TCFD.Commission_HardCommRate,
TCBond.Commission_SoftCommissionRate=TCFD.Commission_SoftCommRate,
TCBond.FinanceLeg_FirstResetDate=TCFD.FinanceLeg_FirstResetDate,
TCBond.FinanceLeg_FirstPaymentDate=TCFD.FinanceLeg_FirstPaymentDate,
TCBond.Sedol=TCFD.Sedol,
TCBond.ISIN=TCFD.ISIN,
TCBond.Cusip=TCFD.Cusip,
TCBond.Currency=TCFD.Currency,
TCBond.FinanceLeg_ParValue=TCFD.FinanceLeg_ParValue
 FROM  T_OTC_ConvertibleBondTradeData TCBond
INNER JOIN #T_OTC_TradeData TCFD
ON TCBond.GroupID = TCFD.GroupID

		INSERT INTO PM_Taxlots (
			TaxLotID
			,Symbol
			,TaxLotOpenQty
			,AvgPrice
			,TimeOfSaveUTC
			,GroupID
			,AUECModifiedDate
			,FundID
			,Level2ID
			,OpenTotalCommissionandFees
			,ClosedTotalCommissionandFees
			,PositionTag
			,OrderSideTagValue
			,AccruedInterest
			,FXRate
			,FXConversionMethodOperator
			,ExternalTransId
			,LotID
			,TradeAttribute1
			,TradeAttribute2
			,TradeAttribute3
			,TradeAttribute4
			,TradeAttribute5
			,TradeAttribute6
			,NotionalChange
			,NirvanaProcessDate
			,SettlCurrency
			,AdditionalTradeAttributes
			)
		SELECT TT.TaxLotID
			,TT.Symbol
			,TT.TaxLotQty
			,TT.AvgPrice
			,TT.AUECLocalDate
			,TT.GroupID
			,TT.ProcessDate
			,TT.Level1ID
			,TT.Level2ID
			,(TT.Commission + TT.SoftCommission + TT.OtherBrokerFees + TT.StampDuty + TT.TransactionLevy + TT.ClearingFee + TT.TaxOnCommissions + TT.MiscFees + TT.SecFee + TT.OccFee + TT.OrfFee + TT.ClearingBrokerFee + TT.OptionPremiumAdjustment) AS OpenTotalCommissionandFees
			,0 AS ClosedTotalCommissionandFees
			,CASE TT.OrderSideTagValue
				WHEN '1'
					THEN 0
				WHEN 'A'
					THEN 0
				WHEN 'B'
					THEN 0
				ELSE 1
				END
			,TT.OrderSideTagValue
			,TT.AccruedInterest
			,TT.FXRate
			,TT.FXConversionMethodOperator
			,TT.ExternalTransId
			,TT.LotID
			,TT.TradeAttribute1
			,TT.TradeAttribute2
			,TT.TradeAttribute3
			,TT.TradeAttribute4
			,TT.TradeAttribute5
			,TT.TradeAttribute6
			,TT.NotionalChange
			,TT.NirvanaProcessDate
			,TT.SettlementCurrencyID AS SettlCurrency
			,TT.AdditionalTradeAttributes
		FROM #Temp_Taxlots TT
		INNER JOIN #Temp_Group TG 
			ON TT.GroupID = TG.GroupID
			AND TG.ClosingStatus='Open'

		UPDATE PM_Taxlots
		SET
		OpenTotalCommissionandFees = (L2.Commission + L2.SoftCommission + L2.OtherBrokerFees + L2.StampDuty + L2.TransactionLevy + L2.ClearingFee + L2.TaxOnCommissions + L2.MiscFees + L2.SecFee + L2.OccFee + L2.OrfFee + L2.ClearingBrokerFee + L2.OptionPremiumAdjustment) * PM_Taxlots.TaxlotOpenQty / L2.taxlotQty    
  		,ClosedTotalCommissionandFees = (L2.Commission + L2.SoftCommission + L2.OtherBrokerFees + L2.StampDuty + L2.TransactionLevy + L2.ClearingFee + L2.TaxOnCommissions + L2.MiscFees + L2.SecFee + L2.OccFee + L2.OrfFee + L2.ClearingBrokerFee + L2.OptionPremiumAdjustment) * isnull(PM_TaxlotClosing.ClosedQty, 0) / L2.taxlotQty    
		FROM PM_Taxlots
		INNER JOIN T_Level2Allocation L2
			ON L2.TaxlotID = PM_Taxlots.taxlotID
		LEFT OUTER JOIN PM_TaxlotClosing
			ON PM_TaxlotClosing.TaxlotClosingID = PM_Taxlots.TaxlotClosingID_FK
		WHERE L2.TaxLotQty!=0

		 UPDATE PM_Taxlots    
		 SET AvgPrice = #Temp_Group.AvgPrice    
		 FROM #Temp_Group    
		 WHERE #Temp_Group.GroupID = PM_Taxlots.GroupID 
			AND #Temp_Group.ClosingStatus!='Open'
    
		 UPDATE PM_Taxlots    
		 SET AccruedInterest = T.AccruedInterest    
		  ,FXRate = T.FXRate    
		  ,FXConversionMethodOperator = T.FXConversionMethodOperator    
		  ,ExternalTransId = T.ExternalTransId    
		  ,LotID = T.LotID    
		  ,TradeAttribute1 = T.TradeAttribute1    
		  ,TradeAttribute2 = T.TradeAttribute2    
		  ,TradeAttribute3 = T.TradeAttribute3    
		  ,TradeAttribute4 = T.TradeAttribute4    
		  ,TradeAttribute5 = T.TradeAttribute5    
		  ,TradeAttribute6 = T.TradeAttribute6    
		  ,SettlCurrency = T.SettlementCurrencyID  
		  ,AdditionalTradeAttributes = T.AdditionalTradeAttributes
		 FROM #Temp_Taxlots T
		 INNER JOIN #Temp_Group G 
			ON G.GroupID=T.GroupID
		 WHERE PM_Taxlots.taxlotID = T.TaxLotID 
			AND G.ClosingStatus!='Open'
              
		 UPDATE PM_Taxlots    
		 SET OpenTotalCommissionandFees = (L2.Commission + L2.SoftCommission + L2.OtherBrokerFees + L2.StampDuty + L2.TransactionLevy + L2.ClearingFee + L2.TaxOnCommissions + L2.MiscFees + L2.SecFee + L2.OccFee + L2.OrfFee + L2.ClearingBrokerFee + L2.OptionPremiumAdjustment) * PM_Taxlots.TaxlotOpenQty / L2.taxlotQty    
		  ,ClosedTotalCommissionandFees = (L2.Commission + L2.SoftCommission + L2.OtherBrokerFees + L2.StampDuty + L2.TransactionLevy + L2.ClearingFee + L2.TaxOnCommissions + L2.MiscFees + L2.SecFee + L2.OccFee + L2.OrfFee + L2.ClearingBrokerFee + L2.OptionPremiumAdjustment) * isnull(PM_TaxlotClosing.ClosedQty, 0) / L2.taxlotQty    
		 FROM PM_Taxlots    
		 INNER JOIN #Temp_Taxlots L2    
		  ON L2.TaxlotID = PM_Taxlots.taxlotID    
		 LEFT OUTER JOIN PM_TaxlotClosing    
		  ON PM_TaxlotClosing.TaxlotClosingID = PM_Taxlots.TaxlotClosingID_FK
		 INNER JOIN #Temp_Group G 
			ON G.GroupID=L2.GroupID 
		 WHERE G.ClosingStatus!='Open'
    
		 UPDATE PM_Taxlots    
		 SET OpenTotalCommissionandFees = PT1.OpenTotalCommissionandFees * PM_taxlots.taxlotOpenQty / #Temp_Taxlots.TaxlotQty    
		 FROM PM_taxlots    
		 INNER JOIN PM_taxlots AS PT1    
		  ON PT1.Taxlot_pk = PM_taxlots.ParentRow_PK    
		 INNER JOIN #Temp_Taxlots    
		  ON PT1.TaxlotID = #Temp_Taxlots.taxlotID 
		 INNER JOIN #Temp_Group G on G.GroupID=#Temp_Taxlots.GroupID where G.ClosingStatus!='Open'

		SELECT DISTINCT PT.TaxlotID,PT.AvgPrice    
		INTO #temp_AvgPrice    
		FROM PM_Taxlots PT    
		INNER JOIN #Temp_Group    
		ON PT.GroupID = #Temp_Group.GroupID    
		WHERE PT.TaxlotClosingID_fk IS NOT NULL   

		UPDATE PM_TaxlotClosing    
		SET OpenPrice = ISNULL(PT1.AvgPrice, OpenPrice)    
		 ,ClosePrice = ISNULL(PT2.AvgPrice, ClosePrice)    
		FROM PM_TaxlotClosing PTC    
		LEFT JOIN #temp_AvgPrice PT1    
		 ON PTC.PositionalTaxlotId = PT1.TaxlotID    
		LEFT JOIN #temp_AvgPrice PT2    
		 ON PTC.ClosingTaxlotId = PT2.TaxlotID    
		WHERE PTC.ClosingAlgo != 8   
                                                                                            
		DROP TABLE #Temp_Taxlots

		DROP TABLE #Temp_Orders

		DROP TABLE #Temp_Group

		DROP TABLE #T_SwapParameters
	END

	--COMMIT TRANSACTION TRAN1                                                                                         
	EXEC sp_xml_removedocument @handle
END TRY

BEGIN CATCH
	SET @ErrorMessage = ERROR_MESSAGE();
	SET @ErrorNumber = Error_number();
		-- ROLLBACK TRANSACTION TRAN1                                                                                                                                                                                             
END CATCH;

