

Create PROCEDURE [dbo].[P_SaveCounterPartyAUECMapping] (
	 @XMLDoc NTEXT
	,@ErrorMessage VARCHAR(500) OUTPUT
	,@ErrorNumber INT OUTPUT
	,@companyID INT
	)
AS

SET @ErrorMessage = 'Success'
SET @ErrorNumber = 0

DECLARE @handle INT

EXEC sp_xml_preparedocument @handle OUTPUT
	,@XMLDoc
	
CREATE TABLE #TempTableNames (
	CounterPartyVenueId INT
	,AUECID INT
	)
	
	BEGIN TRY
		BEGIN TRAN TRAN1    
		     
		INSERT INTO #TempTableNames (
			CounterPartyVenueId
			,AUECID
			)
		SELECT CounterPartyVenueID
			,AUECID
		FROM OPENXML(@handle, '/DSCounterpartyAUECMapping/TABCounterpartyAUECMapping', 2) WITH (
				CounterPartyVenueID INT
				,AUECID INT
				)

IF EXISTS (SELECT 1 FROM #TempTableNames)
   begin
   
		DELETE TCAUEC
		FROM T_CVAUEC TCAUEC 
		LEFT JOIN T_CompanyCounterPartyVenues  ON T_CompanyCounterPartyVenues.CounterPartyVenueID = TCAUEC.CounterPartyVenueID
		WHERE T_CompanyCounterPartyVenues.CompanyID = @companyID


		INSERT INTO T_CVAUEC(
			CounterPartyVenueID
			,AUECID
			)
		SELECT CounterPartyVenueID
			,AUECID
		FROM #TempTableNames

   end
ELSE
Begin
  
   DELETE TCAUEC
		FROM T_CVAUEC TCAUEC 
		LEFT JOIN T_CompanyCounterPartyVenues  ON T_CompanyCounterPartyVenues.CounterPartyVenueID = TCAUEC.CounterPartyVenueID
		WHERE T_CompanyCounterPartyVenues.CompanyID = @companyID

End

		SELECT @ErrorNumber

			EXEC sp_xml_removedocument @handle

		
			COMMIT TRANSACTION TRAN1                        
	END TRY

	
	BEGIN CATCH
		SET @ErrorMessage = ERROR_MESSAGE();

		PRINT @errormessage

		SET @ErrorNumber = Error_number();
			ROLLBACK TRANSACTION TRAN1                         
	END CATCH;
	