CREATE PROCEDURE [dbo].[P_SaveOrderRequest] (
	@ClOrdID VARCHAR(50)
	,@TransactionTime VARCHAR(50)
	,@DiscretionOffset FLOAT
	,@ExecInst VARCHAR(50)
	,@HandlingInst CHAR
	,@MsgType VARCHAR(50)
	,@OrderID VARCHAR(500)
	,@Side CHAR
	,@OrderStatus CHAR
	,@OrderType CHAR
	,@OrigClOrderID VARCHAR(50)
	,@PegDiff FLOAT
	,@PNP INT
	,@Price FLOAT
	,@Quantity FLOAT
	,@StopPrice FLOAT
	,@Symbol VARCHAR(100)
	,@TargetCompID VARCHAR(50)
	,@TargetSubID VARCHAR(50)
	,@TimeInForce CHAR
	,@Venue INT
	,@ParentClOrderID VARCHAR(50)
	,@LocateReqd BIT
	,@BorrowerID VARCHAR(50)
	,@ShortRebate FLOAT
	,@TradingAccountID INT
	,@CompanyUserID INT
	,@CounterPartyID INT
	,@AuecID INT
	,@StagedID VARCHAR(50)
	,@NirvanaMsgType INT
	,@Text VARCHAR(200)
	,@StrategyID INT
	,@FundID INT
	,@listID VARCHAR(20)
	,@waveID VARCHAR(20)
	,@SecurityType VARCHAR(20)
	,@OpenClose CHAR
	,@parentClientOrderID VARCHAR(50)
	,@clientOrderID VARCHAR(50)
	,@cmta VARCHAR(20)
	,@GiveUp VARCHAR(20)
	,@UnderlyingSymbol VARCHAR(100)
	,@settlementDate DATETIME
	,@algoStrategyID VARCHAR(10)
	,@algoStrategyParameters VARCHAR(500)
	,@originatorTypeID INT
	,@AuecLocalDate DATETIME
	,@CurrencyID INT
	,@processDate DATETIME
	,@NirvanaSeqNumber INT
	,@CalcBasis VARCHAR(50)
	,@CommissionRate FLOAT
	,@ImportFileID INT
	,@MultiTradeName NVARCHAR(500)
	,@SoftCommissionCalcBasis VARCHAR(50)
	,@SoftCommissionRate FLOAT
	,@tradeAttribute1 VARCHAR(50)
	,@tradeAttribute2 VARCHAR(50)
	,@tradeAttribute3 VARCHAR(50)
	,@tradeAttribute4 VARCHAR(50)
	,@tradeAttribute5 VARCHAR(50)
	,@tradeAttribute6 VARCHAR(50)
	,@internalComments VARCHAR(200)
	,@SettlCurrency INT
	,@FxRate FLOAT
	,@FxRateCalc VARCHAR(1)
	,@ChangeType INT
	,@OriginalAllocationPreferenceID INT
	,@ActualCompanyUserID INT
	,@BorrowBroker VARCHAR(50)
	,@NirvanaLocateID INT
	,@IsManualOrder BIT
	,@ExpireTime VARCHAR(50)
	,@IsUseCustodianBroker BIT
	,@AdditionalTradeAttributes VARCHAR(MAX)
	,@TradeApplicationSource INT
	)
AS
DECLARE @result INT

--Insert
IF (@ParentClOrderID = @ClOrdID)
BEGIN
	INSERT INTO T_Order (
		ParentClOrderID
		,Symbol
		,OrderSideTagValue
		,ServerTime
		,TradingAccountID
		,AUECID
		,InsertionTime
		,ListID
		,WaveID
		,OriginatorTypeID
		,CurrencyID
		,CalcBasis
		,CommissionRate
		,ImportFileID
		,SoftCommissionCalcBasis
		,SoftCommissionRate
		,IsUseCustodianBroker
		)
	VALUES (
		@ClOrdID
		,@Symbol
		,@Side
		,@TransactionTime
		,@TradingAccountID
		,@AuecID
		,GetUTCDate()
		,@listID
		,@waveID
		,@originatorTypeID
		,@CurrencyID
		,@CalcBasis
		,@CommissionRate
		,NULLIF(@ImportFileID, 0)
		,@SoftCommissionCalcBasis
		,@SoftCommissionRate
		,@IsUseCustodianBroker
		)
END

INSERT INTO T_Sub (
	ParentClOrderID
	,ClOrderID
	,DiscrOffset
	,ExecutionInst
	,HandlingInst
	,MsgType
	,OrderID
	,OrderTypeTagValue
	,OrigClOrderID
	,PegDiff
	,PNP
	,Price
	,Quantity
	,StopPrice
	,TargetCompID
	,TargetSubID
	,TimeInForce
	,VenueID
	,CounterPartyID
	,ServerTime
	,StagedOrderID
	,InsertionTime
	,NirvanaMsgType
	,TEXT
	,LocateReqd
	,BorrowerID
	,ShortRebate
	,StrategyID
	,FundID
	,SecurityType
	,OpenClose
	,ClientOrderID
	,ParentClientOrderID
	,UserID
	,OriginalUserID
	,CMTA
	,GiveUpID
	,UnderlyingSymbol
	,AlgoStrategyID
	,AlgoParameters
	,AUECLocalDate
	,SettlementDate
	,ProcessDate
	,NirvanaSeqNumber
	,ImportFileID
	,MultiTradeName
	,TradeAttribute1
	,TradeAttribute2
	,TradeAttribute3
	,TradeAttribute4
	,TradeAttribute5
	,TradeAttribute6
	,InternalComments
	,SettlCurrency
	,FxRate
	,FxRateCalc
	,ChangeType
	,OriginalAllocationPreferenceID
	,BorrowBroker
	,NirvanaLocateID
	,IsManualOrder
	,[ExpireTime]
	,IsUseCustodianBroker
	,AdditionalTradeAttributes
	,TradeApplicationSource
	)
VALUES (
	@ParentClOrderID
	,@ClOrdID
	,@DiscretionOffset
	,@ExecInst
	,@HandlingInst
	,@MsgType
	,@OrderID
	,@OrderType
	,@OrigClOrderID
	,@PegDiff
	,@PNP
	,@Price
	,@Quantity
	,@StopPrice
	,@TargetCompID
	,@TargetSubID
	,@TimeInForce
	,@Venue
	,@CounterPartyID
	,@TransactionTime
	,@StagedID
	,GetUTCDate()
	,@NirvanaMsgType
	,@Text
	,@LocateReqd
	,@BorrowerID
	,@ShortRebate
	,@StrategyID
	,@FundID
	,@SecurityType
	,@OpenClose
	,@clientOrderID
	,@parentClientOrderID
	,@CompanyUserID
	,@ActualCompanyUserID
	,@cmta
	,@GiveUp
	,@UnderlyingSymbol
	,@algoStrategyID
	,@algoStrategyParameters
	,@AuecLocalDate
	,@settlementDate
	,@processDate
	,@NirvanaSeqNumber
	,NULLIF(@ImportFileID, 0)
	,@MultiTradeName
	,@TradeAttribute1
	,@TradeAttribute2
	,@TradeAttribute3
	,@TradeAttribute4
	,@TradeAttribute5
	,@TradeAttribute6
	,@InternalComments
	,@SettlCurrency
	,@FxRate
	,@FxRateCalc
	,@ChangeType
	,NULLIF(@OriginalAllocationPreferenceID,0)
	,@BorrowBroker 
	,@NirvanaLocateID
	,@IsManualOrder
	,@ExpireTime
	,@IsUseCustodianBroker
	,@AdditionalTradeAttributes
	,@TradeApplicationSource
	)

IF (@MsgType = 'G')
BEGIN
	UPDATE T_Order
	SET CalcBasis = @CalcBasis
		,CommissionRate = @CommissionRate
		,SoftCommissionCalcBasis = @SoftCommissionCalcBasis
		,SoftCommissionRate = @SoftCommissionRate
		,TradingAccountID = @TradingAccountID
		,OrderSideTagValue = @Side
		,IsUseCustodianBroker = @IsUseCustodianBroker
	WHERE ParentClOrderID = @ParentClOrderID
END