
Create PROCEDURE [dbo].[P_SaveCounterPartyAccountMapping] (
     @XMLDoc xml
	,@ErrorMessage VARCHAR(500) 
	,@ErrorNumber INT 
	,@companyID INT
	)
AS

--set @companyID=7
--set @XMLDoc='<DSCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>1</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>3</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>6</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>7</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>9</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>10</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>11</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>17</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>33</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>35</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>36</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>38</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>42</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>43</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>44</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>45</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>46</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>47</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>48</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>49</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>50</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>51</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>52</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>53</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>54</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>3</CounterPartyVenueID>\r\n    <AccountID>55</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n  <TABCounterpartyAccountMapping>\r\n    <CounterPartyVenueID>4</CounterPartyVenueID>\r\n    <AccountID>47</AccountID>\r\n  </TABCounterpartyAccountMapping>\r\n</DSCounterpartyAccountMapping>'
--SET @ErrorMessage = 'Success'
--SET @ErrorNumber = 0

DECLARE @handle INT

EXEC sp_xml_preparedocument @handle OUTPUT
	,@XMLDoc
	
CREATE TABLE #TempTableNames (
	CounterPartyVenueId INT
	,AccountID INT
	)
	
	BEGIN TRY
	BEGIN TRAN TRAN1         
		INSERT INTO #TempTableNames (
			CounterPartyVenueId
			,AccountID
			)
		SELECT CounterPartyVenueID
			,AccountID
		FROM OPENXML(@handle, '/DSCounterpartyAccountMapping/TABCounterpartyAccountMapping', 2) WITH (
				CounterPartyVenueID INT
				,AccountID INT
				)


IF EXISTS (SELECT 1 FROM #TempTableNames)
   begin

   DELETE TCAccount
		FROM T_CVACCOUNT TCAccount 
		LEFT JOIN T_CompanyCounterPartyVenues  ON T_CompanyCounterPartyVenues.CounterPartyVenueID = TCAccount.CounterPartyVenueID
			WHERE T_CompanyCounterPartyVenues.CompanyID = @companyID

		INSERT INTO T_CVACCOUNT (
			CounterPartyVenueID
			,AccountID
			)
		SELECT CounterPartyVenueID
			,AccountID
		FROM #TempTableNames

		
	end
ELSE
Begin

		
  		DELETE TCAccount
		FROM T_CVACCOUNT TCAccount 
		LEFT JOIN T_CompanyCounterPartyVenues  ON T_CompanyCounterPartyVenues.CounterPartyVenueID = TCAccount.CounterPartyVenueID
		WHERE T_CompanyCounterPartyVenues.CompanyID = @companyID
		

End	

	        SELECT @ErrorNumber
			EXEC sp_xml_removedocument @handle
			COMMIT TRANSACTION TRAN1                        
	END TRY

	
	BEGIN CATCH
		SET @ErrorMessage = ERROR_MESSAGE();

		PRINT @errormessage

		SET @ErrorNumber = Error_number();
			ROLLBACK TRANSACTION TRAN1                         
	END CATCH;
	