
CREATE PROCEDURE [dbo].[P_SaveGroup_XML] (  
 @xml NTEXT  
	,@ErrorMessage VARCHAR(500) OUTPUT
	,@ErrorNumber INT OUTPUT
 )  
AS  
DECLARE @optionSymbol VARCHAR(200)  
DECLARE @assetID INT  
  
SET @ErrorNumber = 0  
SET @ErrorMessage = 'Success'  
  
--BEGIN TRAN TRAN1                                                                                                                                                                                                                                    
BEGIN TRY  
 DECLARE @handle INT  
  
 EXEC sp_xml_preparedocument @handle OUTPUT  
  ,@xml  
  
 CREATE TABLE #Temp_Orders (  
  GroupID VARCHAR(50)  
  ,ClOrderID VARCHAR(20)  
  ,TransactionSource INT    
  )  
  
 INSERT INTO #Temp_Orders (  
  GroupID  
  ,ClOrderID  
  ,TransactionSource    
  )  
 SELECT GroupID  
  ,ClOrderID  
,TransactionSourceTag   
 FROM OPENXML(@handle, '/Groups/AllocationGroup/Orders/AllocationOrder', 2) WITH (  
   GroupID VARCHAR(50) '../../GroupID'  
   ,ClOrderID VARCHAR(50)  
   ,TransactionSourceTag INT '../../TransactionSourceTag'  
   )  
  
 ----------------------           ReplaceD            ------------------------                                                                                                                
 CREATE TABLE #Temp_Taxlots (  
  GroupID VARCHAR(50)  
  ,TaxLotID VARCHAR(50)  
  ,Level1ID INT  
  ,Level1AllocationID VARCHAR(50)  
  ,Symbol VARCHAR(100) NOT NULL  
  ,TaxLotQty FLOAT NULL  
  ,Commission FLOAT NULL  
  ,OtherBrokerFees FLOAT NULL  
  ,StampDuty FLOAT NULL  
  ,TransactionLevy FLOAT NULL  
  ,ClearingFee FLOAT NULL  
  ,TaxOnCommissions FLOAT NULL  
  ,MiscFees FLOAT NULL  
  ,  
  -- TaxLotState int NULL,                                 
  AvgPrice FLOAT NOT NULL  
  ,Level2ID INT NULL  
  ,Level2Percentage FLOAT  
  ,OrderSideTagValue NCHAR(10) NULL  
  ,AUECID INT  
  ,AssetID INT  
  ,UnderlyingID INT  
  ,ExchangeID INT  
  ,FXRate FLOAT NULL  
  ,FXConversionMethodOperator VARCHAR(3) NULL  
  ,PositionTag INT NULL  
  ,ParentRow_Pk BIGINT NULL  
  ,AUECLocalDate VARCHAR(50) NULL  
  ,AllocationDate VARCHAR(50) NULL  
  ,CorpActionID VARCHAR(50) NULL  
  ,AccruedInterest FLOAT NULL  
  ,ProcessDate VARCHAR(50) NULL  
  ,OriginalPurchaseDate VARCHAR(50) NULL  
  ,ExternalTransId VARCHAR(100) NULL  
  ,LotId VARCHAR(200) NULL  
  ,TradeAttribute1 VARCHAR(200) NULL  
  ,TradeAttribute2 VARCHAR(200) NULL  
  ,TradeAttribute3 VARCHAR(200) NULL  
  ,TradeAttribute4 VARCHAR(200) NULL  
  ,TradeAttribute5 VARCHAR(200) NULL  
  ,TradeAttribute6 VARCHAR(200) NULL  
  ,SecFee FLOAT NULL  
  ,OccFee FLOAT NULL  
  ,OrfFee FLOAT NULL  
  ,ClearingBrokerFee FLOAT NULL  
  ,SoftCommission FLOAT NULL  
  ,NotionalChange FLOAT NULL  
  ,NirvanaProcessDate DATETIME NULL  
  ,SettlementCurrencyID INT NULL  
  ,OptionPremiumAdjustment FLOAT NULL  
  ,OriginalAllocationPreferenceID  int
  ,AdditionalTradeAttributes VARCHAR(MAX)
  )  
  
 INSERT INTO #Temp_Taxlots (  
  GroupID  
  ,TaxLotID  
  ,Level1ID  
  ,Level1AllocationID  
  ,Symbol  
  ,TaxLotQty  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  --,TaxLotState                                                 
  ,AvgPrice  
  ,Level2ID  
  ,Level2Percentage  
  ,OrderSideTagValue  
  ,AUECID  
  ,AssetID  
  ,UnderlyingID  
  ,ExchangeID  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,PositionTag  
  ,ParentRow_Pk  
  ,AUECLocalDate  
  ,AllocationDate  
  ,CorpActionID  
  ,AccruedInterest  
  ,ProcessDate  
  ,OriginalPurchaseDate  
  ,ExternalTransId  
  ,LotId  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,NirvanaProcessDate  
  ,SettlementCurrencyID  
  ,OptionPremiumAdjustment  
  ,OriginalAllocationPreferenceID    
  ,AdditionalTradeAttributes
  )  
 SELECT GroupID  
  ,TaxLotID  
  ,Level1ID  
  ,Level1AllocationID  
  ,Symbol  
  ,TaxLotQty  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  ,AvgPrice  
  ,Level2ID  
  ,Level2Percentage  
  ,OrderSideTagValue  
  ,AUECID  
  ,AssetID  
  ,UnderlyingID  
  ,ExchangeID  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,PositionTag  
  ,ParentRow_Pk  
  ,AUECLocalDate  
  ,AllocationDate  
  ,CorpActionID  
  ,AccruedInterest  
  ,ProcessDate  
  ,OriginalPurchaseDate  
  ,ExternalTransId  
  ,LotId  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,CASE   
   WHEN DATEDIFF(d, NirvanaProcessDate, '1/1/1800') = 0  
    OR NirvanaProcessDate IS NULL  
    THEN AUECLocalDate  
   ELSE NirvanaProcessDate  
   END AS NirvanaProcessDate  
  ,SettlementCurrencyID  
  ,OptionPremiumAdjustment  
  ,NULLIF(OriginalAllocationPreferenceID,0)
  ,AdditionalTradeAttributes 
 FROM OPENXML(@handle, '/Groups/AllocationGroup/TaxLots/TaxLot', 2) WITH (  
   GroupID VARCHAR(50) '../../GroupID'  
   ,TaxLotID VARCHAR(50)  
   ,Level1ID INT  
   ,Level1AllocationID VARCHAR(50)  
   ,Symbol VARCHAR(100)  
   ,TaxLotQty FLOAT  
   ,Commission FLOAT  
   ,OtherBrokerFees FLOAT  
   ,StampDuty FLOAT  
   ,TransactionLevy FLOAT  
   ,ClearingFee FLOAT  
   ,TaxOnCommissions FLOAT  
   ,MiscFees FLOAT  
   ,  
   -- TaxLotState int,                                                                                                                  
   AvgPrice FLOAT  
   ,Level2ID INT  
   ,Level2Percentage FLOAT  
   ,OrderSideTagValue NCHAR(10)  
   ,TaxLotClosingId_Fk UNIQUEIDENTIFIER  
   ,AUECID INT  
   ,AssetID INT  
   ,UnderlyingID INT  
   ,ExchangeID INT  
   ,FXRate FLOAT '../../FXRate'  
   ,FXConversionMethodOperator VARCHAR(3) '../../FXConversionMethodOperator'  
   ,PositionTag INT '../../PositionTagValue'  
   ,ParentRow_Pk BIGINT '../../ParentTaxlot_PK'  
   ,AUECLocalDate VARCHAR(50)  
   ,AllocationDate VARCHAR(50) '../../AllocationDate'  
   ,CorpActionID VARCHAR(50) '../../CorpActionID'  
   ,AccruedInterest FLOAT  
   ,ProcessDate VARCHAR(50)  
   ,OriginalPurchaseDate VARCHAR(50)  
   ,ExternalTransId VARCHAR(100)  
   ,LotId VARCHAR(200)  
   ,TradeAttribute1 VARCHAR(200)  
   ,TradeAttribute2 VARCHAR(200)  
   ,TradeAttribute3 VARCHAR(200)  
   ,TradeAttribute4 VARCHAR(200)  
   ,TradeAttribute5 VARCHAR(200)  
   ,TradeAttribute6 VARCHAR(200)  
   ,SecFee FLOAT  
   ,OccFee FLOAT  
   ,OrfFee FLOAT  
   ,ClearingBrokerFee FLOAT  
   ,SoftCommission FLOAT  
   ,NotionalChange FLOAT  
   ,NirvanaProcessDate DATETIME  
   ,SettlementCurrencyID INT  
   ,OptionPremiumAdjustment FLOAT  
   ,OriginalAllocationPreferenceID int 
   ,AdditionalTradeAttributes VARCHAR(MAX)
   )  
  
 --Select * from    #Temp_Taxlots                                                                                                       
 ----------------------         End Of ReplaceD            ------------------------                                                                                               
 INSERT INTO T_Group (  
  GroupID  
  ,IsProrataActive  
  ,ListID  
  ,OrderSideTagValue  
  ,OrderTypeTagValue  
  ,Quantity  
  ,StateID  
  ,Symbol  
  ,TradingAccountID  
  ,VenueID  
  ,AllocatedQty  
  ,AUECID  
  ,CounterPartyID  
  ,CumQty  
  ,AvgPrice  
  ,IsPreAllocated  
  ,UserID  
  ,ISBasketGroup  
  ,BasketGroupID  
  ,AllocationDate  
  ,SettlementDate  
  ,AutoGrouped  
  ,AssetID  
  ,UnderLyingID  
  ,ExchangeID  
  ,CurrencyID  
  ,Description  
  ,IsManualGroup  
  ,AUECLocalDate  
  ,IsSwapped  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,TaxlotClosingID_FK  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  ,AccruedInterest  
  ,ProcessDate  
  ,OriginalPurchaseDate  
  ,AllocationSchemeID  
  ,CommissionSource  
  ,  
  --TaxLotIdsWithAttributes field contains taxlotids with attributes(LotId and ExternalTransId etc.)                                                          
  TaxlotIdsWithAttributes  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,TransactionType  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,NirvanaProcessDate  
  ,TransactionSource  
  ,InternalComments  
  ,SettlCurrency  
  ,OptionPremiumAdjustment
  ,ChangeType
  ,IsCommissionChanged
  ,IsSoftCommissionChanged
  ,OriginalAllocationPreferenceID
  ,BorrowerID
  ,BorrowBroker
  ,ShortRebate
  )  
 SELECT GroupID  
  ,IsProrataActive  
  ,ListID  
  ,OrderSideTagValue  
  ,OrderTypeTagValue  
  ,Quantity  
  ,StateID  
  ,Symbol  
  ,TradingAccountID  
  ,VenueID  
  ,AllocatedQty  
  ,AUECID  
  ,CounterPartyID  
  ,CumQty  
  ,AvgPrice  
  ,IsPreAllocated  
  ,CompanyUserID  
  ,ISBasketGroup  
  ,BasketGroupID  
  ,AllocationDate  
  ,SettlementDate  
  ,AutoGrouped  
  ,AssetID  
  ,UnderlyingID  
  ,ExchangeID  
  ,CurrencyID  
  ,Description  
  ,IsManualGroup  
  ,AUECLocalDate  
  ,IsSwapped  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,CASE TaxLotClosingId  
   WHEN ''  
    THEN NULL  
   ELSE TaxLotClosingId  
   END  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  ,AccruedInterest  
  ,ProcessDate  
  ,OriginalPurchaseDate  
  ,AllocationSchemeID  
  ,CommissionSource  
  ,TaxlotIdsWithAttributes  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,TransactionType  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,CASE   
   WHEN DATEDIFF(d, NirvanaProcessDate, '1/1/1800') = 0  
    OR NirvanaProcessDate IS NULL  
    THEN AUECLocalDate  
   ELSE NirvanaProcessDate  
   END AS NirvanaProcessDate  
  ,TransactionSourceTag  
  ,InternalComments  
  ,SettlementCurrencyID as  SettlementCurrency
  ,OptionPremiumAdjustment
  ,ChangeType  
  ,IsCommissionChanged
  ,IsSoftCommissionChanged
  ,NULLIF(OriginalAllocationPreferenceID,0)
  ,BorrowerID 
  ,BorrowerBroker
  ,ShortRebate
 FROM OPENXML(@handle, '/Groups/AllocationGroup', 2) WITH (  
   GroupID VARCHAR(50)  
   ,ISProrataActive VARCHAR(5)  
   ,ListID VARCHAR(50)  
   ,OrderSideTagValue CHAR(1)  
   ,OrderTypeTagValue CHAR(1)  
   ,Quantity FLOAT  
   ,StateID INT  
   ,Symbol VARCHAR(100)  
   ,TradingAccountID INT  
   ,VenueID INT  
   ,AllocatedQty FLOAT  
   ,AUECID INT  
   ,CounterPartyID INT  
   ,CumQty FLOAT  
   ,AvgPrice FLOAT  
   ,IsPreAllocated BIT  
   ,CompanyUserID INT  
   ,ISBasketGroup BIT  
   ,BasketGroupID VARCHAR(50)  
   ,AllocationDate DATETIME  
   ,SettlementDate DATETIME  
   ,AutoGrouped BIT  
   ,AssetID INT  
   ,UnderlyingID INT  
   ,ExchangeID INT  
   ,CurrencyID INT  
   ,Description VARCHAR(100)  
   ,IsManualGroup BIT  
   ,AUECLocalDate DATETIME  
   ,IsSwapped BIT  
   ,FXRate FLOAT  
   ,FXConversionMethodOperator CHAR(1)  
   ,TaxLotClosingId VARCHAR(50)  
   ,Commission FLOAT  
   ,OtherBrokerFees FLOAT  
   ,StampDuty FLOAT  
   ,TransactionLevy FLOAT  
   ,ClearingFee FLOAT  
   ,TaxOnCommissions FLOAT  
   ,MiscFees FLOAT  
   ,AccruedInterest FLOAT  
   ,ProcessDate DATETIME  
   ,OriginalPurchaseDate DATETIME  
   ,AllocationSchemeID INT  
   ,CommissionSource INT  
   ,TaxLotIdsWithAttributes NVARCHAR(1000)  
   ,TradeAttribute1 VARCHAR(200)  
   ,TradeAttribute2 VARCHAR(200)  
   ,TradeAttribute3 VARCHAR(200)  
   ,TradeAttribute4 VARCHAR(200)  
   ,TradeAttribute5 VARCHAR(200)  
   ,TradeAttribute6 VARCHAR(200)  
   ,TransactionType VARCHAR(50)  
   ,SecFee FLOAT  
   ,OccFee FLOAT  
   ,OrfFee FLOAT  
   ,ClearingBrokerFee FLOAT  
   ,SoftCommission FLOAT  
   ,NotionalChange FLOAT  
   ,NirvanaProcessDate DATETIME  
   ,TransactionSourceTag INT  
   ,InternalComments VARCHAR(500)  
   ,SettlementCurrencyID INT  
   ,OptionPremiumAdjustment FLOAT
   ,ChangeType INT 
   ,IsCommissionChanged BIT
   ,IsSoftCommissionChanged BIT 
   ,OriginalAllocationPreferenceID int
   ,BorrowerID VARCHAR(50) 
   ,BorrowerBroker VARCHAR(50) 
   ,ShortRebate FLOAT
   )  
  
 INSERT INTO T_SwapParameters (  
  NotionalValue  
  ,DayCount  
  ,BenchMarkRate  
  ,Differential  
  ,FirstResetDate  
  ,ResetFrequency  
  ,OrigTransDate  
  ,OrigCostBasis  
  ,SwapDescription  
  ,ClosingPrice  
  ,ClosingDate  
  ,TransDate  
  ,GroupID  
  )  
 SELECT NotionalValue  
  ,DayCount  
  ,BenchMarkRate  
  ,Differential  
  ,FirstResetDate  
  ,ResetFrequency  
  ,OrigTransDate  
  ,OrigCostBasis  
  ,SwapDescription  
  ,ClosingPrice  
  ,ClosingDate  
  ,TransDate  
  ,GroupID  
 FROM OPENXML(@handle, '/Groups/AllocationGroup/SwapParameters', 2) WITH (  
   NotionalValue FLOAT  
   ,DayCount INT  
   ,BenchMarkRate FLOAT  
   ,Differential FLOAT  
   ,FirstResetDate DATETIME  
   ,ResetFrequency VARCHAR(20)  
   ,OrigTransDate DATETIME  
   ,OrigCostBasis FLOAT  
   ,SwapDescription VARCHAR(500)  
   ,ClosingPrice FLOAT  
   ,ClosingDate DATETIME  
   ,TransDate DATETIME  
   ,GroupID VARCHAR(50) '../GroupID'  
   )  


 

   Create Table #T_OTC_TradeData (  
    [GroupId] [varchar](50),
	[TradeDate] [datetime],
	[DaysToSettle] [int],
	[EffectiveDate] [datetime] ,
	[ISDACounterParty] [int],
	[EquityLeg_Frequency] [varchar](50),
	[EquityLeg_BulletSwap] [bit],
	[EquityLeg_ImpliedCommission] [bit],
	[EquityLeg_FirstPaymentDate] [datetime],
	[EquityLeg_ExpirationDate] [datetime],
	[CommissionBasis] [varchar](50),
	[HardCommissionRate] [float],
	[SoftCommissionRate] [float] ,
	[FinanceLeg_InterestRate] [float] ,
	[FinanceLeg_SpreadBasisPoint] [float],
	[FinanceLeg_DayCount] [int] ,
	[FinanceLeg_Frequency] [varchar](50),
	[FinanceLeg_FixedRate] [float],
	[FinanceLeg_FirstResetDate] [datetime],
	[FinanceLeg_FirstPaymentDate] [datetime],
	[CustomFields] [ntext],
	[Collateral_Margin] [float],
	[Collateral_Rate] [float],
	[Collateral_DayCount] [int],
	[FinanceLeg_ScriptLendingFee] [float],
	[InstrumentType] [int],
	[UniqueIdentifier] [varchar](200),
	[EquityLeg_ExcludeDividends] [bit],
	[EquityLeg_ConversionRatio] [float],
	[EquityLeg_ConversionPrice] [float],
	[EquityLeg_ConversionDate] [datetime],
	[FinanceLeg_ZeroCoupon] [bit],
	[FinanceLeg_IRBenchMark]   [int] ,
	[FinanceLeg_FXRate] [float],
	[FinanceLeg_SBPoint] [float],
	[FinanceLeg_CouponFreq]  [int] ,
	[FinanceLeg_ParValue] [varchar](200),
	[Commission_Basis][int] ,
	[Commission_HardCommRate] [float],
	[Commission_SoftCommRate] [float],
	[Sedol] [varchar](200),
	[Isin] [varchar](200),
	[Cusip] [varchar](200),
	[Currency][varchar](200)
  )  


  INSERT INTO #T_OTC_TradeData (  
    [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[FinanceLeg_ScriptLendingFee],
	[InstrumentType],
	[UniqueIdentifier],
	[EquityLeg_ExcludeDividends],
	[EquityLeg_ConversionRatio] ,
	[EquityLeg_ConversionPrice] ,
	[EquityLeg_ConversionDate] ,
	[FinanceLeg_ZeroCoupon] ,
	[FinanceLeg_IRBenchMark]   ,
	[FinanceLeg_FXRate] ,
	[FinanceLeg_SBPoint] ,
	[FinanceLeg_CouponFreq]  ,
	[FinanceLeg_ParValue] ,
	[Commission_Basis],
	[Commission_HardCommRate] ,
	[Commission_SoftCommRate] ,
	[Sedol] ,
	[Isin] ,
	[Cusip] ,
	[Currency]  )  
 SELECT [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFieldJsonString],
	[Collateral_Margin],
	[Collateral_Rate],
	[Collateral_DayCount],
	[FinanceLeg_ScriptlendingFee],
	[InstrumentType],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends],
	[EquityLeg_ConversionRatio] ,
	[EquityLeg_ConversionPrice] ,
	[EquityLeg_ConversionDate] ,
	[FinanceLeg_ZeroCoupon] ,
	[FinanceLeg_IRBenchMark]   ,
	[FinanceLeg_FXRate] ,
	[FinanceLeg_SBPoint] ,
	[FinanceLeg_CouponFreq]  ,
	[FinanceLeg_ParValue] ,
	[Commission_Basis],
	[Commission_HardCommRate] ,
	[Commission_SoftCommRate] ,
	[Sedol] ,
	[Isin] ,
	[Cusip] ,
	[Currency]
 FROM OPENXML(@handle, '/Groups/AllocationGroup/OTCParameters', 2) WITH (  
 
	[GroupId] [varchar](50) '../GroupID',
	[TradeDate] [datetime],
	[DaysToSettle] [int],
	[EffectiveDate] [datetime] ,
	[ISDACounterParty] [int],
	[EquityLeg_Frequency] [varchar](50),
	[EquityLeg_BulletSwap] [bit],
	[EquityLeg_ImpliedCommission] [bit],
	[EquityLeg_FirstPaymentDate] [datetime],
	[EquityLeg_ExpirationDate] [datetime],
	[CommissionBasis] [varchar](50),
	[HardCommissionRate] [float],
	[SoftCommissionRate] [float] ,
	[FinanceLeg_InterestRate] [float] ,
	[FinanceLeg_SpreadBasisPoint] [float],
	[FinanceLeg_DayCount] [int] ,
	[FinanceLeg_Frequency] [varchar](50),
	[FinanceLeg_FixedRate] [float],
	[FinanceLeg_FirstResetDate] [datetime],
	[FinanceLeg_FirstPaymentDate] [datetime],
	[CustomFieldJsonString] [ntext],
	[Collateral_Margin] [float],
	[Collateral_Rate] [float],
	[Collateral_DayCount] [int],
	[FinanceLeg_ScriptlendingFee] [float],
	[InstrumentType] [int],
	[UniqueIdentifier] [varchar](200),
    [EquityLeg_ExcludeDividends] [bit],
	[EquityLeg_ConversionRatio] [float],
	[EquityLeg_ConversionPrice] [float],
	[EquityLeg_ConversionDate] [datetime],
	[FinanceLeg_ZeroCoupon] [bit],
	[FinanceLeg_IRBenchMark]   [int] ,
	[FinanceLeg_FXRate] [float],
	[FinanceLeg_SBPoint] [float],
	[FinanceLeg_CouponFreq]  [int] ,
	[FinanceLeg_ParValue] [varchar](200),
	[Commission_Basis] [int] ,
	[Commission_HardCommRate] [float],
	[Commission_SoftCommRate] [float],
	[Sedol] [varchar](200),
	[Isin] [varchar](200),
	[Cusip] [varchar](200),
	[Currency][varchar](200)
   )
   
    INSERT INTO T_OTC_EquitySwapTradeData (  
    [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDA_CounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[Commission_Basis],
	[Commission_HardCommissionRate],
	[Commission_SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends] 
  )  
  SELECT [GroupId],
	[TradeDate],
	[DaysToSettle],
	[EffectiveDate] ,
	[ISDACounterParty],
	[EquityLeg_Frequency],
	[EquityLeg_BulletSwap],
	[EquityLeg_ImpliedCommission],
	[EquityLeg_FirstPaymentDate],
	[EquityLeg_ExpirationDate] ,
	[CommissionBasis],
	[HardCommissionRate],
	[SoftCommissionRate],
	[FinanceLeg_InterestRate],
	[FinanceLeg_SpreadBasisPoint],
	[FinanceLeg_DayCount],
	[FinanceLeg_Frequency],
	[FinanceLeg_FixedRate],
	[FinanceLeg_FirstResetDate],
	[FinanceLeg_FirstPaymentDate],
	[CustomFields],
	[UniqueIdentifier],
    [EquityLeg_ExcludeDividends]
	from  #T_OTC_TradeData
     where InstrumentType = 1


	 
INSERT INTO [T_OTC_CFDTradeData]
           ([GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDA_CounterParty]
           ,[Collateral_Margin]
           ,[Collateral_Rate]
           ,[Collateral_DayCount]
           ,[Commission_Basis]
           ,[Commission_HardCommissionRate]
           ,[Commission_SoftCommissionRate]
           ,[FinanceLeg_InterestRate]
           ,[FinanceLeg_SpreadBasisPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_FixedRate]
           ,[FinanceLeg_ScriptLendingFee]
           ,[CustomFields]
		   ,[UniqueIdentifier])

         SELECT [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDACounterParty]
           ,[Collateral_Margin]
           ,[Collateral_Rate]
           ,[Collateral_DayCount]
           ,[CommissionBasis]
           ,[HardCommissionRate]
           ,[SoftCommissionRate]
           ,[FinanceLeg_InterestRate]
           ,[FinanceLeg_SpreadBasisPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_FixedRate]
           ,[FinanceLeg_ScriptLendingFee]
           ,[CustomFields]
		   ,[UniqueIdentifier]
	from  #T_OTC_TradeData
     where InstrumentType = 2
  
  INSERT INTO [T_OTC_ConvertibleBondTradeData]       (
		   [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDA_CounterParty]
           ,[CustomFields]
           ,[UniqueIdentifier]
           ,[EquityLeg_ConversionRatio]
           ,[EquityLeg_ConversionPrice]
           ,[EquityLeg_ConversionDate]
           ,[FinanceLeg_ZeroCoupon]
           ,[FinanceLeg_IRBenchMark]
           ,[FinanceLeg_FXRate]
           ,[FinanceLeg_SBPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_CouponFreq]
           ,[Commission_Basis]
           ,[Commission_HardCommissionRate]
           ,[Commission_SoftCommissionRate]
           ,[FinanceLeg_FirstResetDate]
           ,[FinanceLeg_FirstPaymentDate]
           ,[Sedol]
           ,[ISIN]
           ,[Cusip]
           ,[Currency]
           ,[FinanceLeg_ParValue])
		   select
		  [GroupId]
           ,[TradeDate]
           ,[DaysToSettle]
           ,[EffectiveDate]
           ,[ISDACounterParty]
           ,[CustomFields]
           ,[UniqueIdentifier]
           ,[EquityLeg_ConversionRatio]
           ,[EquityLeg_ConversionPrice]
           ,[EquityLeg_ConversionDate]
           ,[FinanceLeg_ZeroCoupon]
           ,[FinanceLeg_IRBenchMark]
           ,[FinanceLeg_FXRate]
           ,[FinanceLeg_SBPoint]
           ,[FinanceLeg_DayCount]
           ,[FinanceLeg_CouponFreq]
           ,[Commission_Basis]
           ,[Commission_HardCommRate]
           ,[Commission_SoftCommRate]
           ,[FinanceLeg_FirstResetDate]
           ,[FinanceLeg_FirstPaymentDate]
           ,[Sedol]
           ,[ISIN]
           ,[Cusip]
           ,[Currency]
           ,[FinanceLeg_ParValue]
		   from  #T_OTC_TradeData
     where InstrumentType = 3







  INSERT INTO T_UngroupedAllocationGroups (
    GroupID ,
    EntryDate ,
    UserID 
)
 SELECT   
   GroupID  
  ,GETDATE()  
  ,CompanyUserID 
 FROM OPENXML(@handle, '/Groups/AllocationGroup', 2) WITH (  
    GroupID VARCHAR(50)
   ,CompanyUserID INT  
   ,IsManuallyModified BIT
   )  where IsManuallyModified = 1
 
 INSERT INTO T_FundAllocation (  
  AllocationID  
  ,GroupID  
  ,FundID  
  ,AllocatedQty  
  ,Percentage  
  )  
 SELECT LevelnAllocationID  
  ,GroupID  
  ,LevelnID  
  ,AllocatedQty  
  ,Percentage  
 FROM OPENXML(@handle, '/Groups/AllocationGroup/Allocations/Collection/AllocationLevelClass', 2) WITH (  
   LevelnAllocationID VARCHAR(50)  
   ,GroupID VARCHAR(50) '../../../GroupID'  
   ,LevelnID INT  
   ,AllocatedQty FLOAT  
   ,Percentage FLOAT  
   )  
  
 -- order group table Insertion                                                                                                     
 --insert into T_GroupOrder                                                                             
 --(                                                                                                                                                 
 -- GroupID,                  
 -- ClOrderID                                                                                                        
 --)                                                                                                                                     
 --select                                                                                                                            
 -- GroupID,                                                 
 -- ClOrderID                                                                                                                               
 --                                                                                                              
 --FROM  #Temp_Orders where #Temp_Orders.ClOrderID is not null    
 select ClOrderID,max(cast(groupid as numeric))as Groupid into #MaxGroupIds from #Temp_Orders    group by ClOrderID
 UPDATE T_TradedOrders  
 SET T_TradedOrders.GroupID = #MaxGroupIds.GroupID  
 FROM #MaxGroupIds  
 WHERE T_TradedOrders.CLOrderID = #MaxGroupIds.ClOrderID
 
 UPDATE T_TradedOrders  
 SET T_TradedOrders.GroupID = #MaxGroupIds.GroupID  
 FROM #MaxGroupIds  
 WHERE T_TradedOrders.ParentClOrderID = #MaxGroupIds.ClOrderID
  
 UPDATE T_TradedOrders    
set T_TradedOrders.TransactionSource = #Temp_Orders.TransactionSource
 FROM #Temp_Orders    
 WHERE T_TradedOrders.CLOrderID = #Temp_Orders.ClOrderID    and T_TradedOrders.TransactionSource = 0

 -- Level2 Insertion                                                                                                                                                                   
 INSERT INTO T_Level2Allocation (  
  TaxLotID  
  ,GroupID  
  ,Level1AllocationID  
  ,Level2ID  
  ,Level2Percentage  
  ,TaxLotQty  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  ,AccruedInterest  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,ExternalTransId  
  ,LotId  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,SettlCurrency  
  ,OptionPremiumAdjustment  
  )  
 SELECT TaxLotID  
  ,GroupID  
  ,Level1AllocationID  
  ,Level2ID  
  ,Level2Percentage  
  ,TaxLotQty  
  ,Commission  
  ,OtherBrokerFees  
  ,StampDuty  
  ,TransactionLevy  
  ,ClearingFee  
  ,TaxOnCommissions  
  ,MiscFees  
  ,AccruedInterest  
  ,FXRate  
  ,FXConversionMethodOperator  
  ,ExternalTransId  
  ,LotId  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,SecFee  
  ,OccFee  
  ,OrfFee  
  ,ClearingBrokerFee  
  ,SoftCommission  
  ,NotionalChange  
  ,SettlementCurrencyID as SettlCurrency  
  ,OptionPremiumAdjustment  
 ------------------------          ReplaceD             ----------------                       
 FROM #Temp_Taxlots  
  
 ------------------------        End Of ReplaceD             ----------------                                                                                                                     
 --Insert into PM_Taxlots                                                                     
 --(TaxLotID, Symbol, TaxLotOpenQty, AvgPrice, TimeOfSaveUTC, GroupID, AUECModifiedDate, FundID, Level2ID, OpenTotalCommissionandFees,                                                                                                                        


 --ClosedTotalCommissionandFees,PositionTag,OrderSideTagValue,ParentRow_Pk)                                       
 SELECT TaxLotID  
  ,Symbol  
  ,TaxLotQty  
  ,AvgPrice  
  ,AUECLocalDate  
  ,AllocGroup.CorpActionID  
  ,#Temp_Taxlots.GroupID  
  ,AllocationDate  
  ,Level1ID  
  ,Level2ID  
  ,(Commission + SoftCommission + OtherBrokerFees + StampDuty + TransactionLevy + ClearingFee + TaxOnCommissions + MiscFees + SecFee + OccFee + OrfFee + ClearingBrokerFee + OptionPremiumAdjustment) AS OpenTotalCommissionandFees  
  ,0 AS ClosedTotalCommissionandFees  
  ,AllocGroup.PositionTagValue  
  ,OrderSideTagValue  
  ,AllocGroup.ParentTaxlot_PK  
  ,#Temp_Taxlots.AccruedInterest  
  ,ProcessDate  
  ,OriginalPurchaseDate  
  ,#Temp_Taxlots.FXRate  
  ,#Temp_Taxlots.FXConversionMethodOperator  
  ,ExternalTransId  
  ,LotId  
  ,TradeAttribute1  
  ,TradeAttribute2  
  ,TradeAttribute3  
  ,TradeAttribute4  
  ,TradeAttribute5  
  ,TradeAttribute6  
  ,NotionalChange  
  ,NirvanaProcessDate  
  ,SettlementCurrencyID as SettlCurrency  
 INTO #TempCATaxlots  
 FROM #Temp_Taxlots  
 INNER JOIN OPENXML(@handle, '/Groups/AllocationGroup', 2) WITH (  
   GroupID VARCHAR(50)  
   ,CorpActionID VARCHAR(50)  
   ,PositionTagValue VARCHAR(50)  
   ,ParentTaxlot_PK BIGINT  
   ) AS AllocGroup ON #Temp_Taxlots.GroupID = AllocGroup.GroupID  
  
 IF OBJECT_ID('tempdb..#TempCATaxlots') IS NOT NULL  
 BEGIN  
  IF EXISTS (  
    SELECT *  
    FROM #TempCATaxlots  
    )  
  BEGIN  
   INSERT INTO PM_Taxlots (  
    TaxLotID  
    ,Symbol  
    ,TaxLotOpenQty  
    ,AvgPrice  
    ,TimeOfSaveUTC  
    ,GroupID  
    ,AUECModifiedDate  
    ,FundID  
    ,Level2ID  
    ,OpenTotalCommissionandFees  
    ,ClosedTotalCommissionandFees  
    ,PositionTag  
    ,OrderSideTagValue  
    ,ParentRow_Pk  
    ,AccruedInterest  
    ,FXRate  
    ,FXConversionMethodOperator  
    ,ExternalTransId  
    ,LotId  
    ,TradeAttribute1  
    ,TradeAttribute2  
    ,TradeAttribute3  
    ,TradeAttribute4  
    ,TradeAttribute5  
    ,TradeAttribute6  
    ,NotionalChange  
    ,NirvanaProcessDate  
    ,SettlCurrency  
    )  
   SELECT TaxLotID  
    ,Symbol  
    ,TaxLotQty  
    ,AvgPrice  
    ,AUECLocalDate  
    ,GroupID  
    ,ProcessDate  
    ,Level1ID  
    ,Level2ID  
    ,OpenTotalCommissionandFees  
    ,ClosedTotalCommissionandFees  
    ,PositionTagValue  
    ,OrderSideTagValue  
    ,ParentTaxlot_PK  
    ,AccruedInterest  
    ,FXRate  
    ,FXConversionMethodOperator  
    ,ExternalTransId  
    ,LotId  
    ,TradeAttribute1  
    ,TradeAttribute2  
    ,TradeAttribute3  
    ,TradeAttribute4  
    ,TradeAttribute5  
    ,TradeAttribute6  
    ,NotionalChange  
    ,CASE   
     WHEN DATEDIFF(d, NirvanaProcessDate, '1/1/1800') = 0  
      OR NirvanaProcessDate IS NULL  
      THEN AUECLocalDate  
     ELSE NirvanaProcessDate  
     END AS NirvanaProcessDate  
    ,SettlCurrency  
   FROM #TempCATaxlots  
  
   INSERT INTO PM_CorpActionTaxlots (  
    CorpActionId  
    ,FKId  
    ,ParentRow_Pk  
    ,TaxlotId  
    ,L1AllocationID  
    ,GroupId  
    )  
   SELECT TEMP.CorpActionId  
    ,A.FK  
    ,A.ParentPk  
    ,TEMP.TaxlotId  
    ,L2.Level1AllocationID  
    ,TEMP.GroupId  
   FROM #TempCATaxlots TEMP  
   INNER JOIN (  
    SELECT max(Taxlot_PK) AS FK  
     ,TaxlotId  
     ,min(ParentRow_Pk) AS ParentPk  
    FROM PM_taxlots  
    GROUP BY TaxlotId  
    ) A ON A.TaxlotId = TEMP.TaxlotId  
   INNER JOIN T_Level2Allocation L2 ON A.TaxlotId = L2.TaxLotID  
   WHERE TEMP.CorpActionID IS NOT NULL  
    AND TEMP.CorpActionID <> '00000000-0000-0000-0000-000000000000'  
  END  
 END  
  
 UPDATE T_SwapParameters  
 SET ShouldOverrideNotional = 1  
 WHERE NotionalValue = 0  
  
 UPDATE T_SwapParameters  
 SET ShouldOverrideCostBasis = 1  
 WHERE OrigCostBasis = 0  
    
 --COMMIT TRANSACTION TRAN1                                                                                                                                        
 EXEC sp_xml_removedocument @handle  
END TRY  
  
BEGIN CATCH  
 SET @ErrorMessage = ERROR_MESSAGE();  
 SET @ErrorNumber = Error_number();  
  --ROLLBACK TRANSACTION TRAN1                                                                                                                                                                                                                                


END CATCH;  
  
DROP TABLE #Temp_Taxlots  
 ,#Temp_Orders,#MaxGroupIds