/***********************************************  
Created by: Manvendra Prajapati  
Script Date: 04-June-2019  
Desc: For storing data of generated trades based on fileformatID and thirdPartyID on file generation  
*************************************************/  
CREATE PROCEDURE [dbo].[P_SavePBWiseTaxlotState]   
 (  
 @thirdPartyID INT  
 ,@fileFormatID INT  
 ,@taxlotxml NVARCHAR(max)  
 )  
AS  
--Declare @thirdPartyID INT  
-- ,@fileFormatID INT  
-- ,@taxlotxml NVARCHAR(max)  
--SET @fileFormatID = 118  
--SET @thirdPartyID = 69  
--SET @taxlotxml = '<TaxLots IsL1Data="False"><TaxLot TaxLotID ="21050406185701" TaxlotState ="1"/><TaxLot TaxLotID ="21050406185702" TaxlotState ="1"/></TaxLots>'  
  
DECLARE @handle INT  
  
EXEC sp_xml_preparedocument @handle OUTPUT  
 ,@taxlotxml  
  
CREATE TABLE #Temp_Taxlots (  
 TaxLotID VARCHAR(50)  
 ,TaxlotState INT  
 )  
  
INSERT INTO #Temp_Taxlots  
SELECT TaxLotID  
 ,TaxlotState  
FROM openxml(@handle, '/TaxLots/TaxLot', 1) WITH (  
  TaxLotID VARCHAR(50) '@TaxLotID'  
  ,TaxlotState VARCHAR(50) '@TaxlotState'  
  )  
  
  --Select * from #Temp_Taxlots  
  
DECLARE @IsL1Data VARCHAR(10)  
SELECT @IsL1Data = IsL1Data  
FROM openxml(@handle, '/TaxLots', 2) WITH (IsL1Data VARCHAR(50) '@IsL1Data')  
  
EXEC sp_xml_preparedocument @handle OUTPUT  
  
---- Remove duplicate TaxlotID  
;WITH TaxlotCTE(TaxLotID,Ranking)            
AS            
(            
 SELECT            
 TaxLotID,            
 Ranking = DENSE_RANK() OVER(PARTITION BY TaxLotID ORDER BY NEWID() ASC)            
 FROM #Temp_Taxlots Where #Temp_Taxlots.TaxlotState = 0          
)            
Delete FROM TaxlotCTE            
WHERE Ranking > 1    
  
/*  
 @IsL1Data = 'False' means from UI "Level2 Data" check box is not selected  
 Level 1 level information will be available i.e. LevelAllocationID  
 @IsL1Data = 'True' means from UI "Level2 Data" check box is selected  
 Taxlot level information will be available i.e. TaxlotID  
*/  
  
IF (@IsL1Data = 'False')  
Begin  
  
 Update T  
 Set T.TaxLotID = L2.TaxLotID  
 From #Temp_Taxlots T  
 Inner Join T_Level2Allocation L2 On L2.Level1AllocationID = T.TaxLotID   
End  

----insert for main Fund                              
INSERT INTO T_PBwiseTaxlotState (  
 PBID  
 ,TaxlotID  
 ,TaxlotState  
 ,PBTaxlotID  
 ,FileFormatID  
 )  
SELECT @thirdPartyID  
 ,TaxLotID  
 ,1  
 ,ISNULL((Cast(@thirdPartyID AS VARCHAR(50)) + TaxLotID + Cast(@fileFormatID AS VARCHAR(50))), 0)  
 ,TPF.FileFormatID
FROM #Temp_Taxlots
INNER JOIN T_ThirdPartyFileFormat TPF ON TPF.FileFormatId = @fileFormatID  
	AND #Temp_Taxlots.TaxlotState In (0,2)  
Where TaxLotID Not In ( Select TaxlotID From T_PBWiseTaxlotState Where FileFormatID = @fileFormatID)
  
UPDATE T1  
SET T1.TaxlotState = 1  
FROM T_PBWiseTaxlotState T1  
INNER JOIN #Temp_Taxlots TEMP ON TEMP.TaxLotID = T1.TaxlotID  
WHERE PBID = @thirdPartyID  
 AND (FileFormatID = @fileFormatID AND T1.TaxLotState<>1)  
  
UPDATE T2  
SET T2.TaxlotState = 1  
FROM T_DeletedTaxlots T2  
INNER JOIN #Temp_Taxlots TEMP ON TEMP.TaxLotID = T2.TaxlotID  
WHERE PBID = @thirdPartyID  
 AND (FileFormatID = @fileFormatID AND T2.TaxLotState=3)  
  
Declare @IsFIXEnabled Bit

Set @IsFIXEnabled = (Select FIXEnabled From T_ThirdPartyFileFormat Where FileFormatId = @FileFormatID)

--Set @IsFIXEnabled = 1

If (@IsFIXEnabled = 1)
Begin

	Select Distinct GroupId 
	InTo #Temp_GroupId
	From V_Taxlots VT With (NoLock)
	Where VT.TaxlotId In
	(
		Select TaxLotID from #Temp_Taxlots
	)

	UPDATE T2
	SET T2.TaxlotState = 1
	FROM T_DeletedTaxlots T2
	INNER JOIN #Temp_GroupId TEMP ON TEMP.GroupID = T2.GroupID
	WHERE PBID = @thirdPartyID AND (FileFormatID = @fileFormatID AND T2.TaxLotState=3)

	Drop Table #Temp_GroupId
End

EXEC sp_xml_removedocument @handle  
  
DROP TABLE #Temp_Taxlots