
/*********************************************************
Author: Sachin Mishra
Creation Date: 16 July 2014
Purpose: http://jira.nirvanasolutions.com:8080/browse/CHMW-2703

**********************************************************/ 
 
CREATE PROCEDURE [dbo].[P_SaveFundSetup]
(
@xmlFund nText,
@xmlFeeder nText,
@xmlAmount nText,
@companyID int
,@deleteForceFully INT
)

as

declare @handle1 int
declare @handle2 int
declare @handle3 int
declare @savecount int
declare @companyFunfID int
declare @companyyID int
declare @mergeValue varchar(100)
declare @fundaName varchar(100)
declare @shortName varchar(100)
declare @companyName varchar(50)
set @mergeValue = 'NotFound'

exec sp_xml_preparedocument @handle1 output, @xmlFund
exec sp_xml_preparedocument @handle2 output, @xmlFeeder
exec sp_xml_preparedocument @handle3 output, @xmlAmount

begin transaction; 
begin try
--delete FROM T_CompanyFunds where CompanyID=@companyID

-------------------------------------------------------------------------------
CREATE TABLE #TempFunds                                                                               
(                                                                               
CompanyFundID int,FundID int, FundName VARCHAR(100),FundShortName VARCHAR(100),
CompanyID INT, LocalCurrency int, FundInceptionDate DATETIME, 
FundOnBoardDate DATETIME, ClosingMethodology INT, 
LockDate Datetime, CompanyThirdPartyID INT, 
SecSortCriteriaID INT, PostingLockScheduleID INT, ModifiedType INT,
IsSwapAccount	BIT,
IsActive BIT
)  
      
insert INTO #TempFunds                                                                               
(FundID, FundName,FundShortName, CompanyID, LocalCurrency, FundInceptionDate, FundOnBoardDate,
ClosingMethodology, LockDate, CompanyThirdPartyID, SecSortCriteriaID, PostingLockScheduleID,ModifiedType, IsSwapAccount, IsActive)

SELECT 
FundID, FundName,FundShortName,CompanyID,LocalCurrency, FundInceptionDate, FundOnBoardDate,
ClosingMethodology, LockDate, CompanyThirdPartyID, SecSortCriteriaID, PostingLockScheduleID, ModifiedType, IsSwapAccount, IsActive
from openXML(@handle1,'dsFund/dtFund',2)
with
(
FundID INT, FundName VARCHAR(100),
FundShortName VARCHAR(100), CompanyID INT,
LocalCurrency int,  FundInceptionDate DATETIME, 
FundOnBoardDate DATETIME, ClosingMethodology INT, 
LockDate DATETIME, CompanyThirdPartyID INT, 
SecSortCriteriaID INT, PostingLockScheduleID INT,
ModifiedType INT,
IsSwapAccount	BIT,
IsActive BIT
)

IF (@deleteForceFully = 1)
BEGIN

			Delete T_AutoGroupingFunds
			Where FundID in(SELECT FundID from #TempFunds where ModifiedType=2)

			Delete T_CompanyThirdPartyCVCommissionRules
			Where CompanyFundID in(SELECT FundID from #TempFunds where ModifiedType=2)
			
--			Delete T_CompanyThirdPartyMappingDetails
--			Where SubAccountofID_FK = @companyFundID
			   
		    Delete T_PTTAccountPercentagePreference
		    Where AccountId in (SELECT FundID from #TempFunds where ModifiedType=2)

			Delete T_CompanyThirdPartyMappingDetails
			Where InternalFundNameID_FK in(SELECT FundID from #TempFunds where ModifiedType=2)
			
			Delete T_CompanyThirdPartyFileFormats
			Where CompanyFundID_FK in(SELECT FundID from #TempFunds where ModifiedType=2)
			
			Delete T_CompanyUserFunds
			Where CompanyFundID in(SELECT FundID from #TempFunds where ModifiedType=2)
			
			Delete T_CompanyCounterPartyVenueDetails
			Where CompanyFundID in(SELECT FundID from #TempFunds where ModifiedType=2)
			
			Delete T_CompanyFunds
			Where CompanyFundID in(SELECT FundID from #TempFunds where ModifiedType=2)

END
ELSE
BEGIN
  Update T_CompanyFunds SET IsActive=0
			Where CompanyFundID in(SELECT FundID from #TempFunds where ModifiedType=2)
END

IF (Select COUNT(*) from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds where ModifiedType =1)) > 0
BEGIN

IF((Select count(*) from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds WHERE ModifiedType=1)AND IsActive=1) > 0 )
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds WHERE ModifiedType=1)AND IsActive=1)
set @fundaName = (SELECT FundName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@fundaName AS varchar(20)),'a') +'" Fund name already exist for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+'"'
end
else if((Select COUNT(*) from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds WHERE ModifiedType=1)AND IsActive=0) > 0)
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds WHERE ModifiedType=1)AND IsActive=0)
set @fundaName = (SELECT FundName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@fundaName AS varchar(20)),'a') +'" Fund name already exist for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+  CHAR(13) + '"Please check in inactive items. '
end

EnD
else IF (Select COUNT(*) from T_CompanyFunds WHERE FundShortName in (Select #TempFunds.FundShortName from #TempFunds where ModifiedType =1)) > 0
BEGIN
IF (Select COUNT(*) from T_CompanyFunds WHERE FundShortName in (Select #TempFunds.FundShortName from #TempFunds where ModifiedType =1)AND IsActive=1) > 0
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundShortName in (Select #TempFunds.FundShortName from #TempFunds WHERE ModifiedType=1))
set @shortName = (SELECT FundShortName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@shortName AS varchar(20)),'a') +'" short name already exists for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+'"'
end
else IF (Select COUNT(*) from T_CompanyFunds WHERE FundShortName in (Select #TempFunds.FundShortName from #TempFunds where ModifiedType =1)AND IsActive=0) > 0
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundShortName in (Select #TempFunds.FundShortName from #TempFunds WHERE ModifiedType=1))
set @shortName = (SELECT FundShortName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@shortName AS varchar(20)),'a') +'" short name already exists for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+ CHAR(13) + '"Please check in inactive items. '
end
EnD
else

begin
set IDENTITY_INSERT T_CompanyFunds ON

insert INTO T_CompanyFunds
(CompanyFundID, FundName,FundShortName, CompanyID, LocalCurrency, FundInceptionDate, FundOnBoardDate,
ClosingMethodology, LockDate, CompanyThirdPartyID, SecSortCriteriaID, PostingLockScheduleID, IsSwapAccount, IsActive)
SELECT 
FundID, FundName,FundShortName, CompanyID, LocalCurrency, FundInceptionDate, FundOnBoardDate,
ClosingMethodology, LockDate, CompanyThirdPartyID, SecSortCriteriaID, PostingLockScheduleID, IsSwapAccount, IsActive
from #TempFunds
where ModifiedType=1

set IDENTITY_INSERT T_CompanyFunds OFF

ENd

IF (Select COUNT(*) from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds where ModifiedType =3 AND T_CompanyFunds.CompanyFundID <> #TempFunds.FundID) ) > 0
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundName IN (Select #TempFunds.FundName from #TempFunds WHERE ModifiedType=3)AND IsActive=1)
set @fundaName = (SELECT FundName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@fundaName AS varchar(20)),'a') +'" Fund name already exist for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+'"'
EnD
else IF (Select COUNT(*) from T_CompanyFunds WHERE FundShortName in (Select #TempFunds.FundShortName from #TempFunds where ModifiedType =3 AND T_CompanyFunds.CompanyFundID <> #TempFunds.FundID)) > 0
BEGIN
set @companyFunfID=(Select TOP 1 CompanyFundID from T_CompanyFunds where FundShortName in (Select #TempFunds.FundShortName from #TempFunds WHERE ModifiedType=3 AND T_CompanyFunds.CompanyFundID <> #TempFunds.FundID))
set @shortName = (SELECT FundShortName from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyyID =(SELECT companyId from T_companyfunds  where CompanyfundId = @companyFunfID)
set @companyName=(SELECT Name from T_Company  where CompanyID = @companyyID)
set @mergeValue='"' + isnull(CAST(@shortName AS varchar(20)),'a') +'" short name already exists for company "' ++ isnull(CASt(@companyName AS varchar(20)),'b')+'"'
EnD
else
begin
---------------------------------------------------------------------------------------------------
update T_CompanyFunds
set 
FundName=#TempFunds.FundName,
FundShortName=#TempFunds.FundShortName, 
CompanyID=#TempFunds.CompanyID, 
LocalCurrency=#TempFunds.LocalCurrency, 
FundInceptionDate=#TempFunds.FundInceptionDate, 
FundOnBoardDate=#TempFunds.FundOnBoardDate,
ClosingMethodology=#TempFunds.ClosingMethodology, 
LockDate=#TempFunds.LockDate, 
CompanyThirdPartyID=#TempFunds.CompanyThirdPartyID, 
SecSortCriteriaID=#TempFunds.SecSortCriteriaID, 
PostingLockScheduleID=#TempFunds.PostingLockScheduleID,
IsSwapAccount=#TempFunds.IsSwapAccount,
IsActive = #TempFunds.IsActive
from #TempFunds
where T_CompanyFunds.CompanyFundID=#TempFunds.FundID and #TempFunds.ModifiedType=3
end
------------------------------------------------------------------------------------
CREATE TABLE #TempMapping                                                                               
(                                                                               
    FundId int,      
	CompanyFeederFundId int,
    AllocatedAmount decimal(10,2),
    CurrencyID int                    
)  
      
insert INTO #TempMapping                                                                               
(FundId , CompanyFeederFundId , AllocatedAmount, CurrencyID)
SELECT                                                                               
FundID, 
CompanyFeederFundID,
AllocatedAmount,
CurrencyID                                      
FROM OPENXML(@handle2, '/dsMapping/dtMapping', 2)                                                                                 
WITH                                                                               
(                                                         
   FundID INT,                       
   CompanyFeederFundID INT,
   AllocatedAmount decimal(10,2),
   CurrencyID int              
)                          

DELETE FROM T_CompanyFundFeederFundAssociation 
WHERE CompanyFeederFundID IN 
(SELECT feederfundid from T_CompanyFeederFunds where CompanyID=@companyID)

Insert into T_CompanyFundFeederFundAssociation 
( 
CompanyFundID,
CompanyFeederFundID,
AllocatedAmount,
CurrencyID
) 
select FundId,CompanyFeederFundId,AllocatedAmount,CurrencyID from #TempMapping

CREATE TABLE #TempAmount                                                                               
(                                                                               
    FeederFundId int,
    Amount decimal(10,2),
    CurrencyID int
)        
insert INTO #TempAmount                                                                               
(FeederFundId ,Amount, CurrencyID)
SELECT                                                                               
FeederFundId, 
Amount,
CurrencyID
FROM OPENXML(@handle3, '/dsAmount/dtAmount', 2)                                                                                 
WITH                                                                               
(                                                         
   FeederFundID INT,                       
   Amount decimal(10,2),
   CurrencyID int
)

update T_CompanyFeederFunds SET Amount=#TempAmount.Amount, Currency=#TempAmount.CurrencyID
from #TempAmount
where T_CompanyFeederFunds.FeederFundID=#TempAmount.FeederFundId

CREATE TABLE #Temp
(
PreferenceType int
)

INSERT INTO #Temp (PreferenceType) 
select 0
UNION ALL
select 1
UNION ALL
select 2

INSERT INTO T_PTTAccountPercentagePreference (AccountId,PreferenceType)
SELECT  acc.CompanyFundID ,Tmp.PreferenceType FROM T_CompanyFunds 
acc LEFT JOIN T_PTTAccountPercentagePreference pref on 
acc.CompanyFundID=pref.AccountId
Cross join #Temp tmp
WHERE pref.AccountId IS NULL
drop TABLE #Temp

INSERT INTO T_AutoGroupingFunds (FundID)
SELECT acc.CompanyFundID  FROM T_CompanyFunds 
acc LEFT JOIN T_AutoGroupingFunds AGP on 
acc.CompanyFundID=AGP.FundID
WHERE AGP.FundID IS NULL

select CounterPartyVenueID
into #T_CounterPartyVenue
from T_CounterPartyVenue
inner join T_CompanyCounterParties on  T_CounterPartyVenue.CounterPartyID =T_CompanyCounterParties.CounterPartyID
 where CompanyID =@companyID

INSERT INTO T_CVACCOUNT(
		CounterPartyVenueID
		,AccountID
		)
SELECT 
CounterPartyVenueID,FundID
from #TempFunds,#T_CounterPartyVenue
where #TempFunds.ModifiedType=1


drop TABLE #TempFunds,#T_CounterPartyVenue
drop TABLE #TempMapping
drop TABLE #TempAmount
exec sp_xml_removedocument @handle1
exec sp_xml_removedocument @handle2
exec sp_xml_removedocument @handle3
commit transaction;
end try
begin catch
rollback transaction;
set @mergeValue = 'Failure'
end catch
SELECT @mergeValue