CREATE PROCEDURE [dbo].[P_SaveOrderResponse] (
	@AvgPrice FLOAT
	,@ClOrdID VARCHAR(50)
	,@CumQty FLOAT
	,@ExecID VARCHAR(50)
	,@ExecTransType CHAR
	,@ExecType CHAR
	,@LastMarket VARCHAR(50)
	,@LastPrice FLOAT
	,@LastShares FLOAT
	,@LeavesQty FLOAT
	,@MsgSeqNum VARCHAR(50)
	,@MsgType VARCHAR(50)
	,@OrderID VARCHAR(500)
	,@OrderStatus CHAR
	,@OrderType CHAR
	,@OrigClOrderID VARCHAR(50)
	,@Price FLOAT
	,@Quantity FLOAT
	,@SenderCompID VARCHAR(50)
	,@SendingTime VARCHAR(50)
	,@Side CHAR
	,@Symbol VARCHAR(100)
	,@TargetCompID VARCHAR(50)
	,@Text VARCHAR(200)
	,@TimeInForce CHAR
	,@TransactionTime VARCHAR(50)
	,@ServerRecieveTime VARCHAR(50)
	,@fillSeqNumber BIGINT
	,@senderSubID VARCHAR(50)
	,@avgFXRateForOrder FLOAT
	,@CommissionAmt FLOAT
	,@SoftCommissionAmt FLOAT
	,@TradeAttribute1 VARCHAR(200)
	,@TradeAttribute2 VARCHAR(200)
	,@TradeAttribute3 VARCHAR(200)
	,@TradeAttribute4 VARCHAR(200)
	,@TradeAttribute5 VARCHAR(200)
	,@TradeAttribute6 VARCHAR(200)
	,@SettlCurrency INT
	,@FxRate FLOAT
	,@FxRateCalc VARCHAR(1)
	,@ChangeType INT
	,@NotionalValue FLOAT
	,@NotionalValueBase FLOAT
	,@CounterPartyID INT
	,@ExchangeID INT
	,@DayCumQty float
	,@DayAvgPx float
	,@AdditionalTradeAttributes VARCHAR(MAX)
	)
AS
DECLARE @groupOrderCount INT
DECLARE @groupID VARCHAR(50)
DECLARE @groupcumQty FLOAT
DECLARE @avgPriceGrp FLOAT
DECLARE @groupTotalQty FLOAT
DECLARE @groupTotalWeightedFX FLOAT

BEGIN TRAN TRAN1

BEGIN TRY
	SET @avgPriceGrp = 0

	INSERT INTO T_Fills (
		AveragePrice
		,ClOrderID
		,CumQty
		,ExecutionID
		,ExecTransType
		,ExecType
		,LastMkt
		,LastPx
		,LastShares
		,LeavesQty
		,MsgSeqNumber
		,MsgType
		,OrderID
		,OrderStatus
		,OrderTypeID
		,OrigClOrderID
		,Price
		,Quantity
		,SenderCompID
		,SendingTime
		,SideID
		,Symbol
		,TargetCompID
		,TEXT
		,TimeInForceID
		,TransactTime
		,InsertionTime
		,FillRecieveServerTime
		,NirvanaSeqNumber
		,SenderSubID
		,AvgFxRateForTrade
		,CommissionAmt
		,SoftCommissionAmt
		,TradeAttribute1
		,TradeAttribute2
		,TradeAttribute3
		,TradeAttribute4
		,TradeAttribute5
		,TradeAttribute6
		,SettlCurrency
		,FxRate
		,FxRateCalc
		,ChangeType
		,NotionalValue
		,NotionalValueBase
		,CounterPartyID
		,ExchangeID
		,DayCumQty 
	    ,DayAvgPx 
		,AdditionalTradeAttributes
		)
	VALUES (
		@AvgPrice
		,@ClOrdID
		,@CumQty
		,@ExecID
		,@ExecTransType
		,@ExecType
		,@LastMarket
		,@LastPrice
		,@LastShares
		--Kuldeep A.:- This is done considering only Day orders.
		--If anytime in future, we need to handle Multiday orders then this handling should also be changed as in that case LeavesWty might change.
		,CASE @OrderStatus
			WHEN '3'
				THEN '0'
			ELSE @LeavesQty
			END
		,@MsgSeqNum
		,@MsgType
		,@OrderID
		,@OrderStatus
		,@OrderType
		,@OrigClOrderID
		,@Price
		,@Quantity
		,@SenderCompID
		,@SendingTime
		,@Side
		,@Symbol
		,@TargetCompID
		,@Text
		,@TimeInForce
		,@TransactionTime
		,GetUTCDate()
		,@ServerRecieveTime
		,@fillSeqNumber
		,@senderSubID
		,@avgFXRateForOrder
		,@CommissionAmt
		,@SoftCommissionAmt
		,@TradeAttribute1
		,@TradeAttribute2
		,@TradeAttribute3
		,@TradeAttribute4
		,@TradeAttribute5
		,@TradeAttribute6
		,@SettlCurrency
		,@FxRate
		,@FxRateCalc
		,@ChangeType
		,@NotionalValue
		,@NotionalValueBase
		,@CounterPartyID
		,@ExchangeID
		,@DayCumQty 
	   ,@DayAvgPx 
	   ,@AdditionalTradeAttributes
		)
	COMMIT TRANSACTION TRAN1
END TRY

BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	SELECT @ErrorMessage = ERROR_MESSAGE()
		,@ErrorSeverity = ERROR_SEVERITY()
		,@ErrorState = ERROR_STATE();

	-- Use RAISERROR inside the CATCH block to return     
	-- error information about the original error that     
	-- caused execution to jump to the CATCH block.    
	RAISERROR (
			@ErrorMessage
			,-- Message text.    
			@ErrorSeverity
			,-- Severity.    
			@ErrorState -- State.    
			);

	ROLLBACK TRANSACTION TRAN1
END CATCH;