Create Procedure P_SetProcessedBitForRevaluedData
(
@Date datetime,
@FundIDs nvarchar(max)
)

AS

CREATE TABLE #Funds (FundID INT)
INSERT INTO #Funds
SELECT Items AS FundID
FROM dbo.Split(@FundIDs, ',')

Update T_TradeAudit 
SET IsProcessed = 1
Where (FundID IS NULL OR FundID='-2147483648' OR FundId=0)
And OriginalDate <= @Date

Update TA  
SET IsProcessed = 1
FROM T_TradeAudit TA INNER JOIN T_TempTradeAudit TempTA ON TA.AuditID = TempTA.AuditID
Where TA.FundID IN (SELECT FundID From #Funds) and TempTA.FundID IN (SELECT FundID From #Funds)
And TA.OriginalDate <= @Date

Update T_CashJournalAudit 
SET IsProcessed = 1
Where (AccountID is NULL OR AccountID IN (SELECT FundID From #Funds))
And TransactionDate <= @Date

Delete From T_TempTradeAudit 
Where FundID IN (SELECT FundID From #Funds)

Drop table #Funds