/*                          
Modified By : Ankit Gupta on 30 Oct, 2014                  
Description : Fetch allocated quantity per taxlot in P_GetPositions.                  
JIRA  : http://jira.nirvanasolutions.com:8080/browse/CHMW-1670                  
*/                     
CREATE PROCEDURE [dbo].[PMGetFundPositionsWithMarketValue_Swap_CL_HedgeS]                                                                                                  
(                                                                                                                                                                        
 @FromAllAUECDatesString VARCHAR(MAX),                                     
 @ToAllAUECDatesString VARCHAR(MAX),                                                    
 @AssetIds VARCHAR(MAX),                                                    
 @FundIds VARCHAR(MAX)                                                                                                  
 --@symbol varchar(50)                                                                                                                
)                                                                                                                                                                        
As                                                  
Begin                                                                                                                                                            
                                                                                                                                         
 Create Table #PositionTable                                                            
 (                                                                                                                                                                                        
 TaxLotID  varchar(50),                                                                                                                                                                                                                                        
  
    
      
        
 AUECLocalDate datetime,                                                      
 SideID char(1)  ,                                                                                                                                                 
 Symbol varchar(200),                                                                                                                                                                                                                            
 Quantity float,                                                                                                                                                                                                                             
 AvgPX float,                                                                                                                                                                                                                                                  
  
    
      
        
          
            
              
                
                  
 FundID int,                                                                                                                                                                          
 AssetID int,                                                                                                                                                           
 UnderLyingID int,                                                                                                                                                                        
 ExchangeID int,                                                                                                                                                                          
 CurrencyID int,                                         
 AUECID int,             
 TotalCommissionandFees float,                               
 Multiplier float,                            
 SettlementDate datetime,                                                                            
 LeadCurrencyID int,                                                      
 VsCurrencyID int,                                                                    
 ExpirationDate datetime,                                                                          
 Description varchar(max),                                                                                
 Level2ID int,                                                  
 NotionalValue float,                                                                       
 BenchMarkRate float,                                                               
 Differential float,                                                                                                                                     
 OrigCostBasis float,                                                                                                                                                                    
 DayCount int,                                                                                     
 SwapDescription varchar(max),                                                                                                                 
 FirstResetDate datetime,                                                                                                      
 OrigTransDate datetime,                                                                                                                                      
 IsSwapped bit,                                                                                                                                
 AllocationDate DateTime,                                                                                                                                        
 GroupID Varchar(50),                                                                                                                        
 PositionTag int,                                                                                                                 
 FXRate float,                                                                                              
 FXConversionMethodOperator varchar(5),                                                                                                                
 CompanyName varchar(500),                                                                                                                
 UnderlyingSymbol varchar(50),                                                                                              
 Delta float,                                                                                            
 PutOrCall Varchar(5),                                                                                          
 IsGrPreAllocated bit,                                                                                          
 GrCumQty float,                                                                                          
 GrAllocatedQty float,                                                                                          
 GrQuantity float ,                                                                                
 Taxlot_Pk  bigint,                                                                                         
 ParentRow_Pk  bigint ,                                                                  
 StrikePrice float,                                                                
 UserID int,                                                                
 CounterPartyID int,                                                            
 CorpActionID uniqueidentifier,         
 Coupon float,                                                        
 IssueDate datetime,                        
 MaturityDate datetime,                                                        
 FirstCouponDate datetime,                                                        
 CouponFrequencyID int,                                                        
 AccrualBasisID int,                                                 
 BondTypeID int,                                                        
IsZero bit,              
 ProcessDate datetime,                                                    
 OriginalPurchaseDate datetime,                                      
 IsNDF bit,                                                  
 FixingDate Datetime,                                                 
 IDCO varchar(50),                                   
 OSI varchar(50),                                                
 SEDOL varchar(50),                                                
 CUSIP varchar(50),                                                
 Bloomberg varchar(50) ,                               
 MasterFund varchar(50) ,                                
 UnderlyingDelta float,                            
 ISINSymbol varchar(50),                            
 LotId varchar(200),                            
 ExternalTransId varchar(100),                             
 TradeAttribute1  Varchar(200),                                
 TradeAttribute2  Varchar(200),                              
 TradeAttribute3  Varchar(200),                              
 TradeAttribute4  Varchar(200),                              
 TradeAttribute5  Varchar(200),                              
 TradeAttribute6  Varchar(200),                            
 ProxySymbol varchar(100) ,                          
                          
 --Added UDA columns ,by Omshiv, Nov, 2013                            
 AssetName Varchar(100),                                                                                                                                                                                                                                      
  
    
      
        
          
            
              
                        
 SecurityTypeName Varchar(200),                                                                                                
 SectorName Varchar(100),                                                                                                                                                                                                                                      
  
    
      
        
          
            
 SubSectorName Varchar(100),                                                                                                                                                                      
 CountryName  Varchar(100) ,                          
 BBGID varchar(20),                          
 TransactionType Varchar(200),                          
        ExecutedQty float,                          
        ClosingTaxlotId varchar(50),                          
        ReutersSymbol varchar(50),                  
  InternalComments varChar(500)         
  ,SettlCurrency VARCHAR(4)          
  ,SettlCurrFxRate FLOAT          
  ,SettlCurrAmt FLOAT          
  ,SettlCurrFxRateCalc VARCHAR(10)        
        
  ,IsCurrencyFuture int              
,Symbol_PK bigint 
  ,FactSetSymbol VARCHAR(100)
  ,ActivSymbol VARCHAR(100)     
 )                                                             
                                                                                                                                                    
Insert Into #PositionTable EXEC P_GetPositions @ToAllAUECDatesString,@AssetIds,@FundIds, NULL                                                  
                                              
                                              
--Declare @baseCurrencyID int                                                                   
--Set @baseCurrencyID= (Select BaseCurrencyID from T_Company)                                                   
                                   
                                             
Declare @AUECDatesTable Table                   
(                                                                            
 AUECID int,                                      
 CurrentAUECDate DateTime                                                                            
)                                                                                               
INSERT INTO @AUECDatesTable                                                     
SELECT * From dbo.GetAllAUECDatesFromString(@ToAllAUECDatesString)                                                                             
                                                            
                                                                            
-- variable to hold CURRENT DATE                                                                            
Declare @UTCDate datetime                                                                                                                
SELECT @UTCDate = CurrentAUECDate from @AUECDatesTable Where AUECID = 0                                                     
Create Table #FXConversionRatesDayMark                                 
(                                                                            
 FromCurrencyID int,                             
 ToCurrencyID int,                                                                                                                                                                                                                    
 RateValue float,                      
 ConversionMethod int,                                                                                          
 Date DateTime,                                                                                 
 eSignalSymbol varchar(max)                                                                           
)                                                     
Insert into #FXConversionRatesDayMark                                              
 Exec P_GetAllFXConversionRatesForGivenDateRange @UTCDate,@UTCDate                                              
                                              
 Update #FXConversionRatesDayMark                                                                                                                                                                    
 Set RateValue = 1.0/RateValue                                                                                       
 Where RateValue <> 0 and ConversionMethod = 1                                                                                                                              
                                                                                                                                                         
Update #FXConversionRatesDayMark                                                                                                                
 Set RateValue = 0                                                                                                      
 Where RateValue is Null                                               
                                              
update #PositionTable                            
set Multiplier=Multiplier/100                            
where AssetID=8                                        
                                              
SELECT                                                                         
#PositionTable.SideID,                                                                          
T_Side.Side,                                                                          
#PositionTable.Symbol,                                     
--TODO:                                            
--#PositionTable.OrigTransDate as TradeDate,                     
(#PositionTable.Quantity * dbo.GetSideMultiplier(#PositionTable.SideID)) as Quantity,                                                                          
IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0) as MarkPrice,                                                             
CASE                                                                             
   WHEN #PositionTable.CurrencyID=TC.LocalCurrency                        
     THEN IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0)                              
   ELSE IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0) *IsNull(FX.RateValue,0)                             
 END as MarkPriceBase ,                                                                      
TC.FundShortName as AccountName,     -- Changed By Nishant Jain [2015-02-20]                              
                                                                         
#PositionTable.CompanyName as CompanyName,                                                                          
CASE                                                                           
 WHEN ((#PositionTable.IsSwapped = 1) or (#PositionTable.AssetID in (3,5,11)))                            
  THEN IsNull((#PositionTable.Quantity * (IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0)-IsNull(#PositionTable.AvgPX,0)) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)                              
  --IsNull((#PositionTable.Quantity * IsNull(MP.FinalMarkPrice,0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0) as MarketValue,                            
 ELSE                            
  IsNull((#PositionTable.Quantity * IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)                              
END as MarketValue,                            
                            
CASE                            
 WHEN (#PositionTable.CurrencyID = TC.LocalCurrency)                            
  THEN                            
  CASE                            
  WHEN ((#PositionTable.IsSwapped = 1) or (#PositionTable.AssetID in (3,5,11)))                            
   THEN IsNull((#PositionTable.Quantity * (IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0)-IsNull(#PositionTable.AvgPX,0)) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)                              
     ELSE                            
   IsNull((#PositionTable.Quantity * IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)                              
  END                            
 ELSE                            
  CASE                             
  WHEN ((#PositionTable.IsSwapped = 1) or (#PositionTable.AssetID in (3,5,11)))                            
   THEN IsNull((#PositionTable.Quantity * (IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0)-IsNull(#PositionTable.AvgPX,0)) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)*IsNull(FX.RateValue,0)                   
  
    
      
        
           
 ELSE                                     
   IsNull((#PositionTable.Quantity * IsNull(coalesce(MP.FinalMarkPrice, MP1.FinalMarkPrice),0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) ),0)*IsNull(FX.RateValue,0)                               
  END                            
END as MarketValueBase,                              
                              
--  CASE                                                                           
--   WHEN FX.ConversionMethod = 0                                                          
--    THEN IsNull((#PositionTable.Quantity * IsNull(MP.FinalMarkPrice,0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID)),0)* IsNull(FX.RateValue,0)                                                                    
--   WHEN FX.ConversionMethod = 1 and FX.RateValue > 0                                                                          
   --IsNull((#PositionTable.Quantity * IsNull(MP.FinalMarkPrice,0) * #PositionTable.Multiplier *dbo.GetSideMultiplier(#PositionTable.SideID)),0)*IsNull(FX.RateValue,0)                                                                        
   --ELSE 0                                                                          
 -- END                                                                                 
                         
IsNull((#PositionTable.Quantity * IsNull(#PositionTable.AvgPx,0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID)+ #PositionTable.TotalCommissionandFees ),0) as NetNotionalValue,                                                  
   
    
      
        
          
           
              
                      
CASE                                                                           
 WHEN #PositionTable.CurrencyID = TC.LocalCurrency                                          
  THEN IsNull((#PositionTable.Quantity * IsNull(#PositionTable.AvgPx,0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID) + #PositionTable.TotalCommissionandFees ),0)                                                                
  
    
     
        
 ELSE                                                                          
--  CASE                                                                           
--   WHEN FX.ConversionMethod = 0             
--    THEN IsNull((#PositionTable.Quantity * IsNull(MP.FinalMarkPrice,0) * #PositionTable.Multiplier * dbo.GetSideMultiplier(#PositionTable.SideID)),0)* IsNull(FX.RateValue,0)                                                                          
--   WHEN FX.ConversionMethod = 1 and FX.RateValue > 0                                                                          
   IsNull((#PositionTable.Quantity * IsNull(#PositionTable.AvgPx,0) * #PositionTable.Multiplier *dbo.GetSideMultiplier(#PositionTable.SideID)+ #PositionTable.TotalCommissionandFees ),0)*IsNull(FX.RateValue,0)                                     
                
                  
   --ELSE 0                                                                          
 -- END                                                                          
END as NetNotionalValueBase,                                                      
CASE                                        
 WHEN #PositionTable.AssetID=8                            
 THEN #PositionTable.Multiplier*100                            
 ELSE                            
   #PositionTable.Multiplier                            
END,                                                    
#PositionTable.IDCO as IDCO,                                                      
#PositionTable.SEDOL as SEDOL,                                                      
#PositionTable.CUSIP as CUSIP,                                                      
#PositionTable.OSI as OSI,                                              
#PositionTable.Bloomberg as Bloomberg,                                             
#PositionTable.StrikePrice,                                                      
FX.RateValue as FXRate,                       
CONVERT(VARCHAR(10),#PositionTable.AUECLocalDate,101) AS TradeDate,                                          
--#PositionTable.AUECLocalDate as TradeDate,                                                                
#PositionTable.ExpirationDate,                                                      
#PositionTable.PutOrCall,                                                      
#PositionTable.AvgPx as AvgPX  ,                                            
#PositionTable.UnderlyingSymbol  ,                                          
#PositionTable.CounterPartyID,                                        
#PositionTable.AssetID,                               
case when T_Asset.AssetName='Equity' and isSwapped=1 then 'EquitySwap'                
                
else   T_Asset.AssetName  end as Asset,                                          
CP.ShortName as CounterParty,                                          
#PositionTable.AUECID  ,                                      
#PositionTable.LotID as LotID  ,                                                  
IsNull(MF.MasterFundName, TC.FundShortName) as MasterFund , -- Changed By Nishant Jain [2015-02-20]                                       
DS.ShortName as PrimeBroker,                                        
CUR.CurrencySymbol,                            
#PositionTable.ExternalTransId as ExternalTransId,                                                                      
CASE                          
WHEN (#PositionTable.Quantity=0 OR #PositionTable.Multiplier = 0) THEN 0                          
WHEN (#PositionTable.SideID = '1' OR #PositionTable.SideID = '3' OR #PositionTable.SideID = 'A' OR #PositionTable.SideID = 'B' OR #PositionTable.SideID = 'E')                          
THEN (IsNull((#PositionTable.Quantity * IsNull(#PositionTable.AvgPx,0) * #PositionTable.Multiplier + #PositionTable.TotalCommissionandFees ),0))/(#PositionTable.Quantity * #PositionTable.Multiplier)                          
ELSE (IsNull((#PositionTable.Quantity * IsNull(#PositionTable.AvgPx,0) * #PositionTable.Multiplier - #PositionTable.TotalCommissionandFees ),0))/(#PositionTable.Quantity * #PositionTable.Multiplier)                          
END AS UnitCost,                          
#PositionTable.ISINSymbol as ISINSymbol  ,                          
#PositionTable.BBGID as BBGID,                          
#PositionTable.ReutersSymbol as ReutersSymbol,                      
#PositionTable.IsSwapped     ,                    
#PositionTable.TaxLotID ,                  
dbo.GetSideMultiplier(#PositionTable.SideID) as SideMultiplier,                    
#PositionTable.Multiplier                   
                                        
                                                                  
                                                                          
FROM                                                                          
#PositionTable                                                                         
 INNER JOIN T_CompanyFunds as TC on TC.CompanyFundID = #PositionTable.FundID                                                                         
 LEFT OUTER JOIN PM_DayMarkPrice as MP on (MP.Symbol = #PositionTable.Symbol and  DateDiff(d,MP.Date ,@UTCDate)=0 AND MP.FundID = #PositionTable.FundID)                           
 LEFT OUTER JOIN PM_DayMarkPrice as MP1 on (MP1.Symbol = #PositionTable.Symbol and  DateDiff(d,MP1.Date ,@UTCDate)=0 AND MP1.FundID = 0)                            
 LEFT OUTER JOIN #FXConversionRatesDayMark as FX on (FX.FromCurrencyID = #PositionTable.CurrencyID And FX.ToCurrencyID = TC.LocalCurrency)                                                       
Left outer join T_CompanyMasterFundSubAccountAssociation CMF on CMF.CompanyFundID = #PositionTable.FundID                                       
 Left outer join T_companyMasterFunds MF on MF.CompanyMasterFundID = CMF.CompanyMasterFundID                                      
 Left outer join PM_DataSourceCompanyFund DSF on DSF.CompanyFundID = #PositionTable.FundID                                       
 Left outer join PM_DataSources DS on DS.DataSourceID = DSF.DataSourceID                                                    
 INNER JOIN T_Side on T_Side.SideTagValue=#PositionTable.SideID                                              
 left outer join T_CounterParty CP on CP.CounterPartyID = #PositionTable.CounterPartyID                                          
 Inner join T_Asset on T_Asset.AssetID  = #PositionTable.AssetID                                          
 inner join T_Currency CUR on CUR.CurrencyID=#PositionTable.CurrencyID                                
                                                   
                                              
drop table #PositionTable, #FXConversionRatesDayMark                                                                              
                                                           
--Select * from ##PositionTable                                                            
End 