<configuration>
  <configSections>
	  <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	  <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	  <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	  <section name="LiveFeed" type="System.Configuration.NameValueSectionHandler"/>
	  <section name="futuresMultipliers" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add source="Enterprise Library Logging" formatter="Default Formatter" log="" machineName="." listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Event Log Destination"/>
			<add fileName="PranaLog.log" header="-------------------------------------" footer="-----------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Flat File Destination"/>
			<add timestampFormat="yyyy-MM-dd HH-mm-ss" ageThreshold="1" ageUnit="Days" sizeThreshold="0" sizeUnit="None" maximumNumberOfLogs="0" fileName="Log\log.log" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-" formatter="Default Formatter" listenerDataType="LogicaCMG.EnterpriseLibraryExtensions.Logging.Configuration.RollingFileTraceListenerData, LogicaCMG.EnterpriseLibraryExtensions.Logging, Version=0.5.2.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="RollingFile ExceptionListener"/>
			<add timestampFormat="yyyy-MM-dd HH-mm-ss" ageThreshold="1" ageUnit="Days" sizeThreshold="2048" sizeUnit="Kilobytes" maximumNumberOfLogs="0" fileName="Log\trace.log" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-" formatter="Default Formatter" listenerDataType="LogicaCMG.EnterpriseLibraryExtensions.Logging.Configuration.RollingFileTraceListenerData, LogicaCMG.EnterpriseLibraryExtensions.Logging, Version=0.5.2.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="RollingFile TraceListener"/>
			<add timestampFormat="yyyy-MM-dd HH-mm-ss" ageThreshold="1" ageUnit="Days" sizeThreshold="2048" sizeUnit="Kilobytes" maximumNumberOfLogs="0" fileName="Log\PortfolioScienceRiskLog.log" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-" formatter="Risk Formatter" listenerDataType="LogicaCMG.EnterpriseLibraryExtensions.Logging.Configuration.RollingFileTraceListenerData, LogicaCMG.EnterpriseLibraryExtensions.Logging, Version=0.5.2.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="RollingFlatFileTraceListener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp(local)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Default Formatter"/>
			<add template="Timestamp: {timestamp(local)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
			<add template="{message}
		" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Risk Formatter"/>
		</formatters>
		<logFilters>
			<add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Category"/>
			<add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Priority"/>
		</logFilters>
		<categorySources>
			<add switchValue="All" name="Default Category">
				<listeners>
					<add name="RollingFile ExceptionListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Category_Tracing">
				<listeners>
					<add name="RollingFile TraceListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Risk_Logging">
				<listeners>
					<add name="RollingFlatFileTraceListener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="RollingFile ExceptionListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="LogAndShowPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add type="Prana.Global.ExceptionReportingHandler, Prana.Global, Version=1.0.3742.21629, Culture=neutral, PublicKeyToken=null" name="Custom Handler"/>
							<add logCategory="Default Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="LogAndThrowPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="Default Category" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="ShowOnlyPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="Tracing" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="LogOnlyPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add logCategory="ErrorLogging" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
  <dataConfiguration defaultDatabase="PranaConnectionString"/>
  <connectionStrings>
    <add name="PranaConnectionString" connectionString="Database=NirvanaClient;Server=(local);Integrated Security=false;User ID=sa;Password=NIRvana2@@6;" providerName="System.Data.SqlClient"/>
    <add name="SMConnectionString" connectionString="Database=SecurityMasterDB;Server=(local);Integrated Security=false;User ID=sa;Password=NIRvana2@@6;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <futuresMultipliers>
    <add key="ES" value="50"/>
    <add key="NQ" value="20"/>
    <add key="ER" value="100"/>
    <add key="RS" value="100"/>
  </futuresMultipliers>
  <appSettings>
	  <add key="PranaSymbology" value="0"/>
    <add key="OrderRequestPort" value="5000"/>
    <add key="ServerHeartBeat" value="60"/>
	  <add key="ClientHeartBeat" value="60"/>
	   <add key="ClientDisconnectInterval" value="180"/>
	  <add key="ServerDisconnectInterval" value="180"/>
	  <add key="AcknowledgeTime" value="0"/>
    <add key="Acknowledge" value="false"/>
    <add key="ServerBeatTolerance" value="3000"/>
	<add key="DBQUEUE_PATH" value=".\Private$\DbQueue"/>
	<add key="ERRORQUEUE_PATH" value=".\Private$\ErrorQueue"/>
	<add key="ConnectionUnAvailable_PATH" value=".\Private$\ConnectionNotAvailableQueue"/> 
	<add key="ExposurePNLServices" value="R"/>
	<add key="MoxyTradingAccount" value="1"/>
	<add key="LOGGINGENABLED" value="True"/>
	  <add key="CP_SENT_MSGS_PATH" value=".\Private$\CP_SENT_MSGS_PATH"/>
	  <add key="CP_RECEIVED_MSGS_PATH" value=".\Private$\CP_RECEIVED_MSGS_PATH"/>
	  <add key="UseJournalMSMQ" value="false"/>
  </appSettings>
	<LiveFeed>
		<add key="Level1TimerStartDueTime" value="1000"/>
		<add key="TimerInterval" value="100"/>
		<add key="Level1TimerIntervalMultiple" value="3"/>
		<add key="OptionChainDataInterval" value="300"/>

		<!--LEvel 1 will refresh after TimerInterval * Level1TimerIntervalMultiple-->

	</LiveFeed>
  <system.runtime.remoting>
    <application name="PranaServer">
      <service>
        <!-- <wellknown mode="Singleton" type="Prana.BLL.Blotter.BlotterManager, Prana.BLL" objectUri="BlotterService" /> -->
        <wellknown mode="Singleton" type="Prana.Server.Core.CoreCommunicationManager,Prana.Server.Core" objectUri="CoreService"/>
      </service>
      <channels>
        <channel ref="tcp" port="999">
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
            <!-- On the 1.1 runtime, add typeFilterLevel='Full' to the formatter element -->
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
