<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ColumnMapping" type="System.Configuration.AppSettingsSection" />
    <section name="SymbolMapping" type="System.Configuration.AppSettingsSection" />
    <section name="ExchangeMapping" type="System.Configuration.AppSettingsSection" />
    <section name="CurrenciesToUpdate" type="System.Configuration.AppSettingsSection" />
    <section name="APIKey" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <appSettings>
  </appSettings>

  <ColumnMapping>
    <add key="c" value="LASTPRICE" />
    <add key="h" value="HIGH" />
    <add key="l" value="LOW" />
    <add key="o" value="OPEN" />
    <add key="pc" value="PREVIOUS" />
  </ColumnMapping>

  <SymbolMapping>
    <add key="6502-TSE" value="6502.T" />
  </SymbolMapping>

  <ExchangeMapping>
    <add key="-LON" value=".L" />
    <add key=".EQ-NSE" value=".NS" />
    <add key="-TC" value=".TO" />
    <add key="-TSE" value=".T"/>
    <add key=" Curncy" value="=X" />
  </ExchangeMapping>

  <CurrenciesToUpdate>
    <add key="GBp" value="GBP,D,100" />
    <add key="ZAC" value="ZAR,D,100" />
  </CurrenciesToUpdate>

  <APIKey>
    <add key="FinnhubAPI" value="btm7din48v6uocf27u7g" />
  </APIKey>

</configuration>