body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #455560;
}

.tableText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}
a.headerLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #455560;
	font-size: 10px;
}

a.headerLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #CCCCCC;
}
a.bodyLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #455560;
}

a.bodyLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #999999;
}

a.boldLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.boldLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}
a.bioLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #455560;
}

a.bioLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #999999;
}

a.footerLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #646455;
}

a.footerLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #FFFFFF;
}

.staticSubMenu {
	padding-top: 0px;
	margin-top: 3px;
}
.jobTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	
}
a.headlineLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}
a.headlineLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: #801528;
}
a.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
}

a.navLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	color: #999999;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	
}	
.heading14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	
}
.tableHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #EFEFEF;
	background-color: #C41130;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.background_lite {
	background-color: #EEEEEE;
}

.background_dark {
	background-color: #E0E0E0;
}
.tableContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	
}	
.alert {
	font-size: 14px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;	
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.answer {
	position: relative;
	top: 250px;
}
.footerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #646455;
}
.pageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #1D1E1B;
}
.imgMargin {
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.authorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.picture {
	background-color: #F9F9F9;
	
	font: 11px/1.4em Arial, sans-serif;
	padding: 3px;
}
.picture img { 
	border: 1px solid #CCCCCC;
	vertical-align:middle; 
	margin-bottom: 3px; 
}
.right { 
	margin: 0.5em 0pt 0.5em 0.8em; 
	float:right; 
}
.left { 
	margin: 0em 0.8em 0.5em 0; 
	float:left; 
} 