<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PSVar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
	<section name="FutureExpirationMonthCodes" type="System.Configuration.NameValueSectionHandler"/>
	<section name="OptionCallPutMonthCodes" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="PSVar.Properties.Settings.PranaConnectionString" connectionString="Database=TriShieldV1.7.1;Server=dev.nirvanasolutions.com;Integrated Security=false;User ID=sa;Password=NIRvana2@@6;"
      providerName="System.Data.SqlClient" />
    <add name="PSVar.Properties.Settings.SMConnectionString" connectionString="Database=TriShieldSMV1.7.1;Server=dev.nirvanasolutions.com;Integrated Security=false;User ID=sa;Password=NIRvana2@@6;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <PSVar.Properties.Settings>
      <setting name="LookbackDays" serializeAs="String">
        <value>1095</value>
      </setting>
      <setting name="Decay" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.94</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MethodTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Volatility_Based</string>
            <string>Historical_Simulation</string>
            <string>Variance_Covariance</string>
            <string>Historical_Simulation_Percent_Returns</string>
            <string>Historical_Simulation_Lognormal_Returns</string>
            <string>Historical_Simulation_Losses_Included_as_negatives</string>
            <string>Historical_Simulation_Percent_Teturns_Losses_Included_As_Negatives</string>
            <string>Historical_Simulation_Lognormal_Returns_Losses_Included_As_Negatives</string>
            <string>Full_Historical_Simulation</string>
            <string>Full_Historical_Simulation_Percent_Returns</string>
            <string>Full_Historical_Simulation_Lognormal_Returns</string>
            <string>Decayed_Historical_Simulation</string>
            <string>Decayed_Historical_Simulation_Percent_Returns</string>
            <string>Decayed_Historical_Simulation_Lognormal_Returns</string>
            <string>Monte_Carlo</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Funds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>*</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ParallelProcess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>reports@nirvanasolutions.com</value>
      </setting>
      <setting name="MailSmtp" serializeAs="String">
        <value>mail.nirvanasolutions.com</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>nirvana123</value>
      </setting>
      <setting name="MailSubject" serializeAs="String">
        <value>Var Log - {0}</value>
      </setting>
      <setting name="MailUser" serializeAs="String">
        <value>reports@nirvanasolutions.com</value>
      </setting>
      <setting name="MailBody" serializeAs="String">
        <value>Daily Log file</value>
      </setting>
      <setting name="Confidence" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.95</string>
            <string>.99</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="NationalCurrencyIdsForPSSymbol" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Methods" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>13</string>
            <string>15</string>
            <string>3</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SqlConnectionTimeout" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="MailTo" serializeAs="String">
        <value>gennaro.liguori@nirvanasolutions.com;Support@nirvanasolutions.com;Lynn.lin@nirvanasolutions.com</value>
      </setting>
      <setting name="PSUser" serializeAs="String">
        <value>NirvanaDevUS_103</value>
      </setting>
      <setting name="PSPassword" serializeAs="String">
        <value>PSENT956502</value>
      </setting>
    </PSVar.Properties.Settings>
  </applicationSettings>
  <FutureExpirationMonthCodes>
		<add key="01" value="F"/>
		<add key="02" value="G"/>
		<add key="03" value="H"/>
		<add key="04" value="J"/>
		<add key="05" value="K"/>
		<add key="06" value="M"/>
		<add key="07" value="N"/>
		<add key="08" value="Q"/>
		<add key="09" value="U"/>
		<add key="10" value="V"/>
		<add key="11" value="X"/>
		<add key="12" value="Z"/>
	</FutureExpirationMonthCodes>
	<OptionCallPutMonthCodes>
		<!-- Put = 0,Call = 1 Based on fix tag 201 , Here First call/put code then 2 characters for month code -->
		<!-- Call month Codes e.g. 101 represents 1=Call, 01 = January-->
		<add key="101" value="A"/>
		<add key="102" value="B"/>
		<add key="103" value="C"/>
		<add key="104" value="D"/>
		<add key="105" value="E"/>
		<add key="106" value="F"/>
		<add key="107" value="G"/>
		<add key="108" value="H"/>
		<add key="109" value="I"/>
		<add key="110" value="J"/>
		<add key="111" value="K"/>
		<add key="112" value="L"/>
		<!-- Put month Codes e.g. 001 represents 0=Put, 01 = January-->
		<add key="001" value="M"/>
		<add key="002" value="N"/>
		<add key="003" value="O"/>
		<add key="004" value="P"/>
		<add key="005" value="Q"/>
		<add key="006" value="R"/>
		<add key="007" value="S"/>
		<add key="008" value="T"/>
		<add key="009" value="U"/>
		<add key="010" value="V"/>
		<add key="011" value="W"/>
		<add key="012" value="X"/>
	</OptionCallPutMonthCodes>
</configuration>
