<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="Iteration" value="800"/>
  <test thread-count="5" name="Test">

    <classes>
      <class name="com.nirvana.TestCases.ExecuteTestCase_1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
