<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ColumnMapping" type="System.Configuration.AppSettingsSection" />
    <section name="SymbolMapping" type="System.Configuration.AppSettingsSection" />
    <section name="ExchangeMapping" type="System.Configuration.AppSettingsSection" />
    <section name="CurrenciesToUpdate" type="System.Configuration.AppSettingsSection" />
    <section name="APIKey" type="System.Configuration.AppSettingsSection"/>
  </configSections>

  <appSettings>
  </appSettings>

  <ColumnMapping>
    <!-- symbol companyName primaryExchange calculationPrice open openTime openSource  close closeTime closeSource high highTime highSource  low lowTime lowSource latestPrice latestSource latestTime  latestUpdate latestVolume iexRealtimePrice iexRealtimeSize iexLastUpdated delayedPrice delayedPriceTime oddLotDelayedPrice oddLotDelayedPriceTime extendedPrice extendedChange extendedChangePercent extendedPriceTime previousClose previousVolume change changePercent volume iexMarketPercent iexVolume  avgTotalVolume iexBidPrice iexBidSize iexAskSize iexOpen iexOpenTime iexClose iexCloseTime marketCap peRatio week52High week52Low  ytdChange  lastTradeTime isUSMarketOpen 
 The order defined here will be used to dump column in final output
 -->
    <add key="latestPrice" value="LASTPRICE" />
    <add key="high" value="HIGH" />
    <add key="low" value="LOW" />
    <add key="iexBidPrice" value="BID" />
    <add key="iexAskPrice" value="ASK" />
    <add key="iexOpen" value="OPEN" />
    <add key="change" value="CHANGE" />
    <add key="avgTotalVolume" value="TOTALVOLUME" />
    <add key="previousClose" value="PREVIOUS" />
    <add key="sharesOutstanding" value="SHARESOUTSTANDING" />
    <add key="updateTime" value="UPDATETIME" />
  </ColumnMapping>

  <SymbolMapping>
    <add key="6502-TSE" value="6502.T" />
  </SymbolMapping>

  <ExchangeMapping>
    <add key="-LON" value=".L" />
    <add key=".EQ-NSE" value=".NS" />
    <add key="-TC" value=".TO" />
    <add key="-TSE" value=".T"/>
    <!--FX Mapping-->
    <add key=" Curncy" value="USD"/>
  </ExchangeMapping>

  <CurrenciesToUpdate>
    <add key="GBp" value="GBP,D,100" />
    <add key="ZAC" value="ZAR,D,100" />
  </CurrenciesToUpdate>

  <APIKey>
    <!-- THIS IS PRODUCTION URL AND API KEY. THIS HAS TO BE UNCOMMENTED AT THE TIME OF FETCHING LIVE DATA-->
    
    <!--<add key="IEXAPI" value="pk_b0efcf34201d4604b26c146cb1727ef4"/>
    <add key="APIURL" value="cloud.iexapis.com"/>-->

    <!-- THIS IS TEST URL AND API KEY. THIS IS USING FOR TESTING PURPOSE. PLEASE COMMENT AFTER GOING LIVE-->
    <add key="IEXAPI" value="Tpk_83efb2d030b44929b20ada767047efcc"/>
    <add key="APIURL" value="sandbox.iexapis.com"/>
  </APIKey>

</configuration>