if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_AdvancedOrders]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_AdvancedOrders]
GO

CREATE TABLE [dbo].[T_AdvancedOrders] (
	[AdvancedOrdersID] [int] IDENTITY (1, 1) NOT NULL ,
	[AdvancedOrders] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

