if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUEC_T_Asset]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUEC] DROP CONSTRAINT FK_T_AUEC_T_Asset
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_UnderLying_T_Asset]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_UnderLying] DROP CONSTRAINT FK_T_UnderLying_T_Asset
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Asset]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Asset]
GO

CREATE TABLE [dbo].[T_Asset] (
	[AssetID] [int] IDENTITY (1, 1) NOT NULL ,
	[AssetName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Comment] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUEC_T_Asset]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUEC] DROP CONSTRAINT FK_T_AUEC_T_Asset
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_UnderLying_T_Asset]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_UnderLying] DROP CONSTRAINT FK_T_UnderLying_T_Asset
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Asset]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Asset]
GO

CREATE TABLE [dbo].[T_Asset] (
	[AssetID] [int] IDENTITY (1, 1) NOT NULL ,
	[AssetName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Comment] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

