if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUECExchange_T_AUEC]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUECExchange] DROP CONSTRAINT FK_T_AUECExchange_T_AUEC
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUECHoliday_T_AUEC]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUECHoliday] DROP CONSTRAINT FK_T_AUECHoliday_T_AUEC
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUECMarketFee_T_AUEC]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUECMarketFee] DROP CONSTRAINT FK_T_AUECMarketFee_T_AUEC
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_AUEC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_AUEC]
GO

CREATE TABLE [dbo].[T_AUEC] (
	[AUECID] [int] IDENTITY (1, 1) NOT NULL ,
	[AssetID] [int] NOT NULL ,
	[UnderLyingID] [int] NOT NULL ,
	[ExchangeID] [int] NOT NULL ,
	[CurrencyID] [int] NOT NULL 
) ON [PRIMARY]
GO

