if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_AUECCompliance]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_AUECCompliance]
GO

CREATE TABLE [dbo].[T_AUECCompliance] (
	[AUECComplianceID] [int] IDENTITY (1, 1) NOT NULL ,
	[CurrencyConvention] [int] NOT NULL ,
	[Multiplier] [int] NOT NULL ,
	[IsShortSaleAllowed] [int] NOT NULL ,
	[IsShortSaleConfirmation] [int] NOT NULL ,
	[ProvideFundNameWithTrade] [int] NOT NULL ,
	[ProvideIdentifierNameWithTrade] [int] NOT NULL ,
	[IdentifierID] [int] NOT NULL ,
	[IsBuySideAllowed] [int] NOT NULL ,
	[IsSellSideAllowed] [int] NOT NULL ,
	[IsShortAllowed] [int] NOT NULL ,
	[IsBuyToCoverAllowed] [int] NOT NULL ,
	[IsBuyToOpenAllowed] [int] NOT NULL ,
	[IsBuyToCloseAllowed] [int] NOT NULL ,
	[IsSellToOpenAllowed] [int] NOT NULL ,
	[IsSellToCloseAllowed] [int] NOT NULL ,
	[auecID] [int] NOT NULL 
) ON [PRIMARY]
GO

