if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_AUECMarketFee]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_AUECMarketFee]
GO

CREATE TABLE [dbo].[T_AUECMarketFee] (
	[AUECFeesID] [int] IDENTITY (1, 1) NOT NULL ,
	[AUECID] [int] NOT NULL ,
	[PurchaseSecFees] [float] NOT NULL ,
	[SaleSecFees] [float] NOT NULL ,
	[PurchaseStamp] [float] NOT NULL ,
	[SaleStamp] [float] NOT NULL ,
	[PurchaseLevy] [float] NOT NULL ,
	[SaleLevy] [float] NOT NULL 
) ON [PRIMARY]
GO

