if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_AUECHoliday]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_AUECHoliday]
GO

CREATE TABLE [dbo].[T_AUECHoliday] (
	[HolidayID] [int] IDENTITY (1, 1) NOT NULL ,
	[AUECID] [int] NOT NULL ,
	[HolidayDate] [datetime] NOT NULL ,
	[Description] [varchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

