if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyFunds]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyFunds]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyFunds]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyFunds] (
	[CompanyFundID] [int] IDENTITY (1, 1) NOT NULL ,
	[FundName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[FundShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyFunds] ADD 
	CONSTRAINT [FK_T_CompanyFunds_T_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[T_Company] (
		[CompanyID]
	)
GO

