if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUserCounterPartyVenues]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyUserCounterPartyVenues] (
	[CompanyUserCounterPartyVenueID] [int] IDENTITY (1, 1) NOT NULL ,
	[CounterPartyVenueID] [int] NOT NULL ,
	[CompanyUserID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyUserCounterPartyVenues] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyUserCounterParties] PRIMARY KEY  CLUSTERED 
	(
		[CompanyUserCounterPartyVenueID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[T_CompanyUserCounterPartyVenues] ADD 
	CONSTRAINT [FK_T_CompanyUserCounterParties_T_CompanyUser] FOREIGN KEY 
	(
		[CompanyUserID]
	) REFERENCES [dbo].[T_CompanyUser] (
		[UserID]
	)
GO

