if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserModule]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUserModule]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserModule]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyUserModule] (
	[CompanyUserModuleID] [int] IDENTITY (1, 1) NOT NULL ,
	[ModuleID] [int] NOT NULL ,
	[CompanyUserID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyUserModule] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyUserModule] PRIMARY KEY  CLUSTERED 
	(
		[CompanyUserModuleID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[T_CompanyUserModule] ADD 
	CONSTRAINT [FK_T_CompanyUserModule_T_CompanyUser] FOREIGN KEY 
	(
		[CompanyUserID]
	) REFERENCES [dbo].[T_CompanyUser] (
		[UserID]
	)
GO

