if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CounterPartyVenueDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CounterPartyVenueDetails]
GO

CREATE TABLE [dbo].[T_CounterPartyVenueDetails] (
	[CounterPartyVenueDetailsID] [int] IDENTITY (1, 1) NOT NULL ,
	[CounterPartyVenueID] [int] NULL ,
	[DisplayName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IsElectronic] [int] NOT NULL ,
	[FixIdentifier] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AUECID] [varchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SymbolConversionID] [int] NOT NULL ,
	[SideID] [int] NOT NULL ,
	[OrderTypesID] [int] NOT NULL ,
	[TimeInForceID] [int] NOT NULL ,
	[HandlingInstructionsID] [int] NOT NULL ,
	[ExecutionInstructionsID] [int] NOT NULL ,
	[AdvancedOrdersID] [int] NOT NULL 
) ON [PRIMARY]
GO

