if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterParty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyCounterParty]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterParty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyCounterParty] (
	[CompanyCounterPartyID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[CounterPartyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyCounterParty] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyCounterParty] PRIMARY KEY  CLUSTERED 
	(
		[CompanyCounterPartyID]
	)  ON [PRIMARY] 
GO

