if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserTradingAccounts]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUserTradingAccounts]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserTradingAccounts]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyUserTradingAccounts] (
	[CompanyUserTradingAccountID] [int] IDENTITY (1, 1) NOT NULL ,
	[TradingAccountID] [int] NOT NULL ,
	[CompanyUserID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyUserTradingAccounts] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyUserTradingAccounts] PRIMARY KEY  CLUSTERED 
	(
		[CompanyUserTradingAccountID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[T_CompanyUserTradingAccounts] ADD 
	CONSTRAINT [FK_T_CompanyUserTradingAccounts_T_CompanyUser] FOREIGN KEY 
	(
		[CompanyUserID]
	) REFERENCES [dbo].[T_CompanyUser] (
		[UserID]
	)
GO

