if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyAsset]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyAsset]
GO

CREATE TABLE [dbo].[T_CompanyAsset] (
	[CompanyAssetID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[AssetID] [int] NOT NULL 
) ON [PRIMARY]
GO

