if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyClearingFirmsPrimeBrokers]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyClearingFirmsPrimeBrokers]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyClearingFirmsPrimeBrokers] (
	[CompanyClearingFirmsPrimeBrokersID] [int] IDENTITY (1, 1) NOT NULL ,
	[ClearingFirmsPrimeBrokersName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ClearingFirmsPrimeBrokersShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyClearingFirmsPrimeBrokers] ADD 
	CONSTRAINT [FK_T_CompanyClearingFirmsPrimeBrokers_T_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[T_Company] (
		[CompanyID]
	)
GO

