if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenueTag]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyCounterPartyVenueTag]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenueTag]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyCounterPartyVenueTag] (
	[CompanyCounterPartyVenueTagID] [int] IDENTITY (1, 1) NOT NULL ,
	[TagType] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyCounterPartyVenueTag] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyCounterPartyVenueTag] PRIMARY KEY  CLUSTERED 
	(
		[CompanyCounterPartyVenueTagID]
	)  ON [PRIMARY] 
GO

