if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserUnderLyings]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUserUnderLyings]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserUnderLyings]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyUserUnderLyings] (
	[CompanyUserUnderLyingsID] [int] IDENTITY (1, 1) NOT NULL ,
	[UnderLyingID] [int] NOT NULL ,
	[CompanyUserID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyUserUnderLyings] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyUserUnderLyings] PRIMARY KEY  CLUSTERED 
	(
		[CompanyUserUnderLyingsID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[T_CompanyUserUnderLyings] ADD 
	CONSTRAINT [FK_T_CompanyUserUnderLyings_T_CompanyUser] FOREIGN KEY 
	(
		[CompanyUserID]
	) REFERENCES [dbo].[T_CompanyUser] (
		[UserID]
	)
GO

