if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyModule]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyModule]
GO

CREATE TABLE [dbo].[T_CompanyModule] (
	[CompanyModuleID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[ModuleID] [int] NOT NULL 
) ON [PRIMARY]
GO

