if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyAsset_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyAsset] DROP CONSTRAINT FK_T_CompanyAsset_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyClearingFirmsPrimeBrokers_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyClearingFirmsPrimeBrokers] DROP CONSTRAINT FK_T_CompanyClearingFirmsPrimeBrokers_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyClient_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyClient] DROP CONSTRAINT FK_T_CompanyClient_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyCounterParty_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyCounterPartyVenues] DROP CONSTRAINT FK_T_CompanyCounterParty_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyFunds_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyFunds] DROP CONSTRAINT FK_T_CompanyFunds_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyModule_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyModule] DROP CONSTRAINT FK_T_CompanyModule_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyStrategy_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyStrategy] DROP CONSTRAINT FK_T_CompanyStrategy_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyThirdParty_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyThirdParty] DROP CONSTRAINT FK_T_CompanyThirdParty_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyTradingAccounts_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyTradingAccounts] DROP CONSTRAINT FK_T_CompanyTradingAccounts_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUnderLying_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUnderLying] DROP CONSTRAINT FK_T_CompanyUnderLying_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUser_T_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUser] DROP CONSTRAINT FK_T_CompanyUser_T_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Company]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Company]
GO

CREATE TABLE [dbo].[T_Company] (
	[CompanyID] [int] IDENTITY (1, 1) NOT NULL ,
	[Name] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Address1] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Address2] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyTypeID] [int] NOT NULL ,
	[Telephone] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Fax] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrimaryContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrimaryContactTitle] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrimaryContactEMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrimaryContactTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrimaryContactCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SecondaryContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactTitle] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactEMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactTitle] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactEMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TechnologyContactCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Compliance] [int] NOT NULL 
) ON [PRIMARY]
GO

