if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Country]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Country]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Country]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_Country] (
	[CountryID] [int] IDENTITY (1, 1) NOT NULL ,
	[CountryName] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_Country] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_Country] PRIMARY KEY  CLUSTERED 
	(
		[CountryID]
	)  ON [PRIMARY] 
GO

