if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyCounterPartyVenues]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenues]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyCounterPartyVenues] (
	[CompanyCounterPartyVenueID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[CounterPartyVenueID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyCounterPartyVenues] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyCounterParty] PRIMARY KEY  CLUSTERED 
	(
		[CompanyCounterPartyVenueID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[T_CompanyCounterPartyVenues] ADD 
	CONSTRAINT [FK_T_CompanyCounterParty_T_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[T_Company] (
		[CompanyID]
	)
GO

