if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyTrader]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyTrader]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyTrader]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyTrader] (
	[TraderID] [int] IDENTITY (1, 1) NOT NULL ,
	[FirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[LastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Title] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TelephoneWork] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TelephoneCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pager] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelephoneHome] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyTrader] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyTrader] PRIMARY KEY  CLUSTERED 
	(
		[TraderID]
	)  ON [PRIMARY] 
GO

