if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyThirdParty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyThirdParty]
GO

CREATE TABLE [dbo].[T_CompanyThirdParty] (
	[CompanyThirdPartyID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[ThirdPartyID] [int] NOT NULL 
) ON [PRIMARY]
GO

