if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyClientFund]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyClientFund]
GO

CREATE TABLE [dbo].[T_CompanyClientFund] (
	[CompanyClientFundID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyClientFundName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyClientFundShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyClientID] [int] NOT NULL 
) ON [PRIMARY]
GO

