if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenueDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyCounterPartyVenueDetails]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyCounterPartyVenueDetails]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyCounterPartyVenueDetails] (
	[CompanyCounterPartyVenueDetailsID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyCounterPartyID] [int] NOT NULL ,
	[CompanyCounterPartyVenueID] [int] NOT NULL ,
	[UserID] [int] NULL ,
	[ClearingFirmPrimeBrokerID] [int] NULL ,
	[DeliverToCompanyID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DeliverToSubID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SenderCompanyID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FundID] [int] NULL ,
	[OnBehalfOfCompID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CMTAGiveUp] [int] NULL ,
	[OnBehalfOfSubID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CompanyCounterPartyVenueTagID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyCounterPartyVenueDetails] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_CompanyCounterPartyVenueDetails] PRIMARY KEY  CLUSTERED 
	(
		[CompanyCounterPartyVenueDetailsID]
	)  ON [PRIMARY] 
GO

