if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CounterPartyVenue]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CounterPartyVenue]
GO

CREATE TABLE [dbo].[T_CounterPartyVenue] (
	[CounterPartyVenueID] [int] IDENTITY (1, 1) NOT NULL ,
	[CounterPartyID] [int] NULL ,
	[VenueID] [int] NULL 
) ON [PRIMARY]
GO

