if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUnderLying]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUnderLying]
GO

CREATE TABLE [dbo].[T_CompanyUnderLying] (
	[CompanyUnderLyingID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyID] [int] NOT NULL ,
	[UnderLyingID] [int] NOT NULL 
) ON [PRIMARY]
GO

