if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUserAsset]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUserAsset]
GO

CREATE TABLE [dbo].[T_CompanyUserAsset] (
	[CompanyUserAssetID] [int] IDENTITY (1, 1) NOT NULL ,
	[AssetID] [int] NOT NULL ,
	[CompanyUserID] [int] NOT NULL 
) ON [PRIMARY]
GO

