if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Color]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Color]
GO

CREATE TABLE [dbo].[T_Color] (
	[ColorID] [int] NOT NULL ,
	[ColorName] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RedPart] [int] NOT NULL ,
	[BluePart] [int] NOT NULL ,
	[GreenPart] [int] NOT NULL 
) ON [PRIMARY]
GO

