if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CounterParty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CounterParty]
GO

CREATE TABLE [dbo].[T_CounterParty] (
	[CounterPartyID] [int] IDENTITY (1, 1) NOT NULL ,
	[FullName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Address] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Phone] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactName1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Title1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EMail1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ContactName2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Title2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EMail2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Acronym] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BaseCurrency] [int] NOT NULL ,
	[IsElectronicTrading] [bit] NULL ,
	[FIXVersionID] [int] NULL ,
	[FIXCapabilities] [int] NULL ,
	[CounterPartyTypeID] [int] NULL ,
	[OutgoingCompanyID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IncomingCompanyID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Comment] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

