if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyClientFund_T_CompanyClient]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyClientFund] DROP CONSTRAINT FK_T_CompanyClientFund_T_CompanyClient
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyClientTrader_T_CompanyClient]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyClientTrader] DROP CONSTRAINT FK_T_CompanyClientTrader_T_CompanyClient
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyClient]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyClient]
GO

CREATE TABLE [dbo].[T_CompanyClient] (
	[CompanyClientID] [int] IDENTITY (1, 1) NOT NULL ,
	[ClientName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[MailingAddress1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MailingAddress2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CompanyType] [int] NOT NULL ,
	[Telephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactTitle] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactEmail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrimaryContactCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactTitle] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondryContactEmail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SecondaryContactCell] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
GO

