if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CounterPartyType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CounterPartyType]
GO

CREATE TABLE [dbo].[T_CounterPartyType] (
	[CounterPartyTypeID] [int] IDENTITY (1, 1) NOT NULL ,
	[CounterPartyType] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

