if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyTradingAccounts]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyTradingAccounts]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyTradingAccounts]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyTradingAccounts] (
	[CompanyTradingAccountsID] [int] IDENTITY (1, 1) NOT NULL ,
	[TradingAccountName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TradingShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyTradingAccounts] ADD 
	CONSTRAINT [FK_T_CompanyTradingAccounts_T_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[T_Company] (
		[CompanyID]
	)
GO

