if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyStrategy]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyStrategy]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyStrategy]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_CompanyStrategy] (
	[CompanyStrategyID] [int] IDENTITY (1, 1) NOT NULL ,
	[StrategyName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[StrategyShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_CompanyStrategy] ADD 
	CONSTRAINT [FK_T_CompanyStrategy_T_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[T_Company] (
		[CompanyID]
	)
GO

