if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_Company_T_CompanyType]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_Company] DROP CONSTRAINT FK_T_Company_T_CompanyType
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyType]
GO

CREATE TABLE [dbo].[T_CompanyType] (
	[CompanyTypeID] [int] IDENTITY (1, 1) NOT NULL ,
	[CompanyType] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

