if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUserAsset_T_CompanyUser]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUserAsset] DROP CONSTRAINT FK_T_CompanyUserAsset_T_CompanyUser
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUserCounterParties_T_CompanyUser]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUserCounterPartyVenues] DROP CONSTRAINT FK_T_CompanyUserCounterParties_T_CompanyUser
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUserModule_T_CompanyUser]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUserModule] DROP CONSTRAINT FK_T_CompanyUserModule_T_CompanyUser
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUserTradingAccounts_T_CompanyUser]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUserTradingAccounts] DROP CONSTRAINT FK_T_CompanyUserTradingAccounts_T_CompanyUser
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_CompanyUserUnderLyings_T_CompanyUser]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_CompanyUserUnderLyings] DROP CONSTRAINT FK_T_CompanyUserUnderLyings_T_CompanyUser
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_CompanyUser]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_CompanyUser]
GO

CREATE TABLE [dbo].[T_CompanyUser] (
	[UserID] [int] IDENTITY (1, 1) NOT NULL ,
	[LastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Title] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MailingAddress] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[EMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneWork] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneHome] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneMobile] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Login] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Password] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IsActive] [int] NULL ,
	[TelphonePager] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CompanyID] [int] NOT NULL 
) ON [PRIMARY]
GO

