if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUEC_T_Currency]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUEC] DROP CONSTRAINT FK_T_AUEC_T_Currency
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Currency]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Currency]
GO

CREATE TABLE [dbo].[T_Currency] (
	[CurrencyID] [int] IDENTITY (1, 1) NOT NULL ,
	[CurrencyName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DeletedID] [int] NULL 
) ON [PRIMARY]
GO

