if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Electronic]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Electronic]
GO

CREATE TABLE [dbo].[T_Electronic] (
	[ElectronicID] [int] NULL ,
	[Status] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

