if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_T_AUEC_T_Exchange]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[T_AUEC] DROP CONSTRAINT FK_T_AUEC_T_Exchange
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Exchange]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Exchange]
GO

CREATE TABLE [dbo].[T_Exchange] (
	[ExchangeID] [int] IDENTITY (1, 1) NOT NULL ,
	[FullName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DisplayName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Currency] [varchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Unit] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TimeZone] [float] NOT NULL ,
	[RegularTradingStartTime] [datetime] NOT NULL ,
	[RegularTradingEndTime] [datetime] NOT NULL ,
	[PreMarketTradingStartTime] [datetime] NOT NULL ,
	[PreMarketTradingEndTime] [datetime] NOT NULL ,
	[LunchTimeStartTime] [datetime] NOT NULL ,
	[LunchTimeEndTime] [datetime] NOT NULL ,
	[PostMarketTradingStartTime] [datetime] NOT NULL ,
	[PostMarketTradingEndTime] [datetime] NOT NULL ,
	[SettlementDays] [int] NULL ,
	[DayLightSaving] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Country] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Location] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

