if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_ExecutionInstructions]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_ExecutionInstructions]
GO

CREATE TABLE [dbo].[T_ExecutionInstructions] (
	[ExecutionInstructionsID] [int] IDENTITY (1, 1) NOT NULL ,
	[ExecutionInstructions] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

