if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_FIX]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_FIX]
GO

CREATE TABLE [dbo].[T_FIX] (
	[FIXID] [int] IDENTITY (1, 1) NOT NULL ,
	[FixVersion] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

