if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Fields]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Fields]
GO

CREATE TABLE [dbo].[T_Fields] (
	[FieldID] [int] IDENTITY (1, 1) NOT NULL ,
	[FieldName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[IsDefault] [bit] NOT NULL ,
	[IsColumnField] [bit] NOT NULL 
) ON [PRIMARY]
GO

