if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_FIXCapability]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_FIXCapability]
GO

CREATE TABLE [dbo].[T_FIXCapability] (
	[FixCapabilityID] [int] IDENTITY (1, 1) NOT NULL ,
	[Description] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

