if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Identifier]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Identifier]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Identifier]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_Identifier] (
	[IdentifierID] [int] IDENTITY (1, 1) NOT NULL ,
	[IdentifierName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
END

GO

