if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Module]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Module]
GO

CREATE TABLE [dbo].[T_Module] (
	[ModuleID] [int] IDENTITY (1, 1) NOT NULL ,
	[ModuleName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

