if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_ModuleRowField]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_ModuleRowField]
GO

CREATE TABLE [dbo].[T_ModuleRowField] (
	[ModuleColumnFieldID] [int] NOT NULL ,
	[FieldID] [int] NOT NULL ,
	[ModuleID] [int] NOT NULL ,
	[UserID] [int] NOT NULL ,
	[ColorID] [int] NOT NULL ,
	[SortOrder] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

