if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_OrderSide]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_OrderSide]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_OrderSide]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_OrderSide] (
	[OrderSideID] [int] IDENTITY (1, 1) NOT NULL ,
	[OrderSide] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_OrderSide] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_OrderSide] PRIMARY KEY  CLUSTERED 
	(
		[OrderSideID]
	)  ON [PRIMARY] 
GO

