if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Permission]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Permission]
GO

CREATE TABLE [dbo].[T_Permission] (
	[PermissionID] [int] IDENTITY (1, 1) NOT NULL ,
	[PermissionName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

