if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_RolePermission]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_RolePermission]
GO

CREATE TABLE [dbo].[T_RolePermission] (
	[RolePermissionID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoleID] [int] NOT NULL ,
	[PermissionID] [int] NOT NULL 
) ON [PRIMARY]
GO

