if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_RoutingInstruction]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_RoutingInstruction]
GO

CREATE TABLE [dbo].[T_RoutingInstruction] (
	[RoutingInstructionID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoutingInstructionName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[RoutingInstruction] [varchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

