if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Role]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Role]
GO

CREATE TABLE [dbo].[T_Role] (
	[RoleID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoleName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

