if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_SymbolMapping]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_SymbolMapping]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_SymbolMapping]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_SymbolMapping] (
	[MappedSymbolID] [int] IDENTITY (1, 1) NOT NULL ,
	[AUECID] [int] NOT NULL ,
	[SymbolID] [int] NOT NULL ,
	[MappedSymbol] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CounterPartyVenueID] [int] NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_SymbolMapping] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_SymbolMapping] PRIMARY KEY  CLUSTERED 
	(
		[MappedSymbolID]
	)  ON [PRIMARY] 
GO

