if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Symbol]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Symbol]
GO

CREATE TABLE [dbo].[T_Symbol] (
	[SymbolID] [int] IDENTITY (1, 1) NOT NULL ,
	[Symbol] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CompanyName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

