if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_ThirdParty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_ThirdParty]
GO

CREATE TABLE [dbo].[T_ThirdParty] (
	[ThirdPartyID] [int] IDENTITY (1, 1) NOT NULL ,
	[ThirdPartyName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ThirdPartyTypeID] [int] NULL ,
	[ShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactPerson] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CellPhone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[WorkTelephone] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Email] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

