if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_ThirdPartyType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_ThirdPartyType]
GO

if not exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_ThirdPartyType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
 BEGIN
CREATE TABLE [dbo].[T_ThirdPartyType] (
	[ThirdPartyTypeID] [int] IDENTITY (1, 1) NOT NULL ,
	[ThirdPartyTypeName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
END

GO

ALTER TABLE [dbo].[T_ThirdPartyType] WITH NOCHECK ADD 
	CONSTRAINT [PK_T_ThirdPartyType] PRIMARY KEY  CLUSTERED 
	(
		[ThirdPartyTypeID]
	)  ON [PRIMARY] 
GO

