if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_UserPermission]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_UserPermission]
GO

CREATE TABLE [dbo].[T_UserPermission] (
	[UserPermissionID] [int] IDENTITY (1, 1) NOT NULL ,
	[UserID] [int] NOT NULL ,
	[PermissionID] [int] NOT NULL 
) ON [PRIMARY]
GO

