if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_UserRole]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_UserRole]
GO

CREATE TABLE [dbo].[T_UserRole] (
	[UserRoleID] [int] IDENTITY (1, 1) NOT NULL ,
	[UserID] [int] NOT NULL ,
	[RoleID] [int] NOT NULL 
) ON [PRIMARY]
GO

