if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Vendor]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Vendor]
GO

CREATE TABLE [dbo].[T_Vendor] (
	[VendorID] [int] IDENTITY (1, 1) NOT NULL ,
	[VendorName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactLastName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactFirstName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ShortName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Title] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Product] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Comment] [varchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MailingAddress] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EMail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneWork] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneHome] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TelphoneMobile] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Pager] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Fax] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address1] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Address2] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

