if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_VenuType]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_VenuType]
GO

CREATE TABLE [dbo].[T_VenuType] (
	[VenueTypeID] [int] IDENTITY (1, 1) NOT NULL ,
	[VenuType] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

