if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Vendor_Old]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Vendor_Old]
GO

CREATE TABLE [dbo].[T_Vendor_Old] (
	[VendorID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[V_Name] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Product] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

