if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[T_Venue]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[T_Venue]
GO

CREATE TABLE [dbo].[T_Venue] (
	[VenueID] [int] IDENTITY (1, 1) NOT NULL ,
	[VenueName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[VenueTypeID] [int] NOT NULL ,
	[Route] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

