<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="futuresMultipliers" type="System.Configuration.NameValueSectionHandler" />
    <section name="LiveFeed" type="System.Configuration.NameValueSectionHandler" />
    <section name="otcExchanges" type="System.Configuration.NameValueSectionHandler" />
    <section name="FutureExpirationMonthCodes" type="System.Configuration.NameValueSectionHandler" />
    <section name="OptionCallPutMonthCodes" type="System.Configuration.NameValueSectionHandler" />
    <section name="Compliance" type="System.Configuration.NameValueSectionHandler" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="Logs\ExpnlService_SocketConnection.log" formatter="Text Formatter" name="SocketConnection" header="-------------------------------------" footer="-----------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_AllLog.log" formatter="Text Formatter" name="FlatFileDestination" header="-------------------------------------" footer="-----------------------------------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_Error.log" formatter="Text Formatter" name="RollingFileErrorListener" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_Warnings.log" formatter="Basic Messages" name="RollingWarningsTraceListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_Informations.log" formatter="Basic Messages" name="RollingInformationsTraceListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_Verbose.log" formatter="Text Formatter" name="RollingFileVerboseListener" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_ConfigBasedLogging.log" formatter="Text Formatter" name="RollingFileConfigListener" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add fileName="Logs\ExpnlService_PranaLog.log" header="-------------------------------------" footer="-----------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="Flat File Destination" />
      <add fileName="Logs\ExpnlService_Log.log" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingFile ExceptionListener" />
      <add fileName="Logs\ExpnlService_Trace.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingFile TraceListener" />
      <add fileName="Logs\ExpnlService_InformationReporter.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" header="" footer="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" formatter="Information_Reporter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="RollingInformationReporterTraceListener" />
      <add fileName="Logs\Compliance_Logs\Compliance_ExpnlService_InformationReporter.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" header="" footer="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" formatter="Information_Reporter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="ComplianceInformationReportTraceListerner" />
	  <add fileName="Logs\ExpnlService_StartUpConfig.log" timeStampPattern="yyyy-MM-dd HH-mm-ss" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="2048" header="-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=" footer="=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-" formatter="For Startup Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" name="StartUpConfig" />
    </listeners>
    <formatters>
      <add name="Default Formatter" template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add name="Text Formatter" template="{message} {timestamp}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add template="Timestamp: {timestamp} {message}&#xD;&#xA;		" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Line Formatter" />
      <add template="{timestamp} : {title}{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Basic Messages" />
      <add template="{title}{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Information_Reporter" />
	  <add template="Timestamp: {timestamp} {message} " type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="For Startup Logging" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category" />
      <add minimumPriority="0" maximumPriority="2147483647" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Default Category">
        <listeners>
          <add name="RollingFile ExceptionListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="RollingFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Tracing">
        <listeners>
          <add name="RollingFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_AllLog">
        <listeners>
          <add name="FlatFileDestination" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Error">
        <listeners>
          <add name="RollingFileErrorListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Warning">
        <listeners>
          <add name="RollingWarningsTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Information">
        <listeners>
          <add name="RollingInformationsTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_ActivityTracingAndDebuging">
        <listeners>
          <add name="RollingFileVerboseListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_ConfigBasedLogging">
        <listeners>
          <add name="RollingFileConfigListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Information_Reporter">
        <listeners>
          <add name="RollingInformationReporterTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_SocketConnection">
        <listeners>
          <add name="SocketConnection" />
        </listeners>
      </add>
      <add switchValue="All" name="Category_Information_Reporter_Compliance">
        <listeners>
          <add name="ComplianceInformationReportTraceListerner" />
        </listeners>
      </add>
	  <add switchValue="All" name="Category_Start_Up_Config">
        <listeners>
          <add name="StartUpConfig" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="RollingFileErrorListener" />
          <add name="RollingFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="LogAndSocketPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_SocketConnection" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndShowPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Prana.LogManager.EnterpriseLibrary.MessageReportingExceptionHandler, Prana.LogManager.EnterpriseLibrary" name="Custom Handler" />
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogAndThrowPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ShowOnlyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="Prana.LogManager.EnterpriseLibrary.MessageReportingExceptionHandler, Prana.LogManager.EnterpriseLibrary" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LogOnlyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Category_Error" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <castle>
    <components>
      <component id="ExpnlService" service="Prana.CoreService.Interfaces.IPranaServiceCommon,Prana.CoreService.Interfaces" type="Prana.ExpnlService.ExpnlService, Prana.ExpnlService" />
      <component id="ExpnlCalculationService" service="Prana.Interfaces.IExpnlCalculationService,Prana.Interfaces" type="Prana.ExpnlService.ExpnlCalculationService,Prana.ExpnlService" />
      <component id="LogManager" service="Prana.LogManager.ILog,Prana.LogManager" type="Prana.LogManager.EnterpriseLibrary.EnterpriseLibraryLogging, Prana.LogManager.EnterpriseLibrary" />
      <component id="DatabaseManager" service="Prana.DatabaseManager.IDatabaseManager,Prana.DatabaseManager" type="Prana.DatabaseManager.EnterpriseLibrary.DatabaseManager,Prana.DatabaseManager.EnterpriseLibrary" />
      <component id="KeyValueDataManager" service="Prana.Interfaces.IKeyValueDataManager,Prana.Interfaces" type="Prana.CommonDatabaseAccess.KeyValueDataManager,Prana.CommonDatabaseAccess" />
      <component id="ClientsCommonDataManager" service="Prana.Interfaces.IClientsCommonDataManager,Prana.Interfaces" type="Prana.CommonDatabaseAccess.ClientsCommonDataManager,Prana.CommonDatabaseAccess" />
      <component id="RiskPreferenceDataManager" service="Prana.Interfaces.IRiskPreferenceDataManager,Prana.Interfaces" type="Prana.CommonDatabaseAccess.RiskPreferenceDataManager,Prana.CommonDatabaseAccess" />
      <component id="MarkDataManager" service="Prana.Interfaces.IMarkDataManager,Prana.Interfaces" type="Prana.CommonDatabaseAccess.MarkDataManager,Prana.CommonDatabaseAccess" />
      <component id="AllocationPrefDataManager" service="Prana.Interfaces.IAllocationPrefDataManager,Prana.Interfaces" type="Prana.CommonDatabaseAccess.AllocationPrefDataManager,Prana.CommonDatabaseAccess" />
    </components>
  </castle>
  <dataConfiguration defaultDatabase="PranaConnectionString" />
  <connectionStrings>
    <add name="PranaConnectionString" connectionString="Database=DevNirvanaClient;Server=localhost\MSSQLSERVER22;Integrated Security=SSPI;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="HistoricalConnectionString" connectionString="Data Source=bloomberg.nirvanasolutions.com;Initial Catalog=Historicals;Persist Security Info=True;User ID=sa;Password=NIRvana2@@6" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <futuresMultipliers>
    <add key="ES" value="50" />
    <add key="NQ" value="20" />
    <add key="ER" value="100" />
    <add key="RS" value="100" />
    <add key="TPX" value="10000" />
    <add key="NI" value="5" />
    <add key="NI225" value="1000" />
    <add key="NK" value="5" />
  </futuresMultipliers>
  <OptionCallPutMonthCodes>
    <!-- Put = 0,Call = 1 Based on fix tag 201 , Here First call/put code then 2 characters for month code -->
    <!-- Call month Codes e.g. 101 represents 1=Call, 01 = January-->
    <add key="101" value="A" />
    <add key="102" value="B" />
    <add key="103" value="C" />
    <add key="104" value="D" />
    <add key="105" value="E" />
    <add key="106" value="F" />
    <add key="107" value="G" />
    <add key="108" value="H" />
    <add key="109" value="I" />
    <add key="110" value="J" />
    <add key="111" value="K" />
    <add key="112" value="L" />
    <!-- Put month Codes e.g. 001 represents 0=Put, 01 = January-->
    <add key="001" value="M" />
    <add key="002" value="N" />
    <add key="003" value="O" />
    <add key="004" value="P" />
    <add key="005" value="Q" />
    <add key="006" value="R" />
    <add key="007" value="S" />
    <add key="008" value="T" />
    <add key="009" value="U" />
    <add key="010" value="V" />
    <add key="011" value="W" />
    <add key="012" value="X" />
  </OptionCallPutMonthCodes>
  <!--F = JAN G = FEB H = MAR J = APR K = MAY  M = JUNE N = JULY Q = AUG U = SEP V = OCT X = NOV Z = DEC-->
  <FutureExpirationMonthCodes>
    <add key="ZB" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="CR" value="F,G,U,X" />
    <add key="NDJ" value="H,M,U,Z" />
    <add key="DJ" value="H,M,U,Z" />
    <add key="ES" value="H,M,U,Z" />
    <add key="EN" value="H,M,U,Z" />
    <add key="MB" value="H,M,U,Z" />
    <add key="RMB" value="H,M,U,Z" />
    <add key="NQ" value="H,M,U,Z" />
    <add key="RNQ" value="H,M,U,Z" />
    <add key="NK" value="H,M,U,Z" />
    <add key="YX" value="H,M,U,Z" />
    <add key="SP" value="H,M,U,Z" />
    <add key="RSP" value="H,M,U,Z" />
    <add key="DX" value="H,M,U,Z" />
    <add key="DB" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="SM" value="F,H,K,N,Q,U,V,Z" />
    <add key="CL" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="ED" value="H,M,U,Z" />
    <add key="RED" value="H,M,U,Z" />
    <add key="EY" value="H,M,U,Z" />
    <add key="EM" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="REM" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="FF" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="RFF" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="US" value="H,M,U,Z" />
    <add key="USD" value="H,M,U,Z" />
    <add key="TY" value="H,M,U,Z" />
    <add key="TYD" value="H,M,U,Z" />
    <add key="FV" value="H,M,U,Z" />
    <add key="RFV" value="H,M,U,Z" />
    <add key="TU" value="H,M,U,Z" />
    <add key="RTU" value="H,M,U,Z" />
    <add key="TB" value="H,M,U,Z" />
    <add key="RTB" value="H,M,U,Z" />
    <add key="AD" value="H,M,U,Z" />
    <add key="RAD" value="H,M,U,Z" />
    <add key="BP" value="H,M,U,Z" />
    <add key="RBP" value="H,M,U,Z" />
    <add key="CD" value="H,M,U,Z" />
    <add key="RCD" value="H,M,U,Z" />
    <add key="EC" value="H,M,U,Z" />
    <add key="REC" value="H,M,U,Z" />
    <add key="JY" value="H,M,U,Z" />
    <add key="RJY" value="H,M,U,Z" />
    <add key="ME" value="H,M,U,Z" />
    <add key="RME" value="H,M,U,Z" />
    <add key="SF" value="H,M,U,Z" />
    <add key="RSF" value="H,M,U,Z" />
    <add key="HO" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="RHO" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="NG" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="RNG" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="HU" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="RHU" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="NC" value="H,K,N,U,Z" />
    <add key="C" value="H,K,N,U,Z" />
    <add key="NO" value="H,K,N,U,Z" />
    <add key="O" value="H,K,N,U,Z" />
    <add key="NNR" value="F,H,K,N,U,V,Z" />
    <add key="NR" value="F,H,K,N,U,V,Z" />
    <add key="NS" value="F,H,K,N,Q,U,X" />
    <add key="S" value="F,H,K,N,Q,U,X" />
    <add key="NBO" value="F,H,K,N,Q,U,V,Z" />
    <add key="BO" value="F,H,K,N,Q,U,V,Z" />
    <add key="NW" value="H,K,N,U,Z" />
    <add key="W" value="H,K,N,U,Z" />
    <add key="KW" value="H,K,N,U,Z" />
    <add key="FC" value="F,H,J,Q,U,V,X" />
    <add key="LH" value="G,J,M,N,Q,V,Z" />
    <add key="LC" value="G,J,M,Q,V,Z" />
    <add key="PB" value="G,H,K,N,Q" />
    <add key="XC" value="H,K,N,U,Z" />
    <add key="XS" value="F,H,K,N,Q,U,X" />
    <add key="XW" value="H,K,N,U,Z" />
    <add key="FM" value="F,H,J,K,Q,U,V,X" />
    <add key="HM" value="G,J,M,N,Q,V,Z" />
    <add key="UD" value="H,M,U,Z" />
    <add key="CO" value="H,K,N,U,Z" />
    <add key="KC" value="H,K,N,U,Z" />
    <add key="CT" value="H,K,N,V,Z" />
    <add key="LB" value="F,H,K,N,U,X" />
    <add key="OJ" value="F,H,K,N,U,X" />
    <add key="SB" value="H,K,N,V" />
    <add key="HG" value="F,H,K,N,U,Z" />
    <add key="GC" value="G,J,M,Q,V,Z" />
    <add key="PA" value="H,M,U,Z" />
    <add key="PL" value="F,J,N,V" />
    <add key="SI" value="F,H,K,N,U,Z" />
    <add key="DK" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
    <add key="DA" value="F,G,H,J,K,M,N,Q,U,V,X,Z" />
  </FutureExpirationMonthCodes>
  <otcExchanges>
    <add key="OTC" value="77" />
  </otcExchanges>
  <appSettings>
    <!-- Socket HeartBeat-->
    <add key="ServerHeartBeat" value="60" />
    <add key="ServerDisconnectInterval" value="180" />
    <!-- WCF HeartBeat-->
    <add key="HeartBeatInterval" value="5000" />
    <add key="DisconnectionInterval" value="16000" />
    <!-- Realtime Data dump -->
    <add key="EnableDataDumper" value="False" />
    <add key="RemoveOldData" value="True" />
    <add key="Hours" value="0" />
    <add key="PranaSymbology" value="0" />
    <add key="DefaultEquityAUECID" value="1" />
    <add key="DefaultOptionAUECID" value="12" />
    <add key="DefaultFutureAUECID" value="16" />
    <!-- For listening to Clients, If you want to run multiple expnl server which listen on this port; then change here as well as on client-->
    <add key="OrderRequestPort" value="5002" />
    <!-- Specify no. of messages to be sent -->
    <add key="MessageChunkSize" value="600" />
    <add key="AvgVolumeNumOfDays" value="90" />
    <add key="IsNAVSaved" value="false" />
    <add key="IsLoggingEnabled" value="true" />
    <add key="CalculateFxGainLossOnForexForwards" value="False" />
    <add key="CalculateFxGainLossOnFutures" value="True" />
    <add key="CalculateFxGainLossOnSwaps" value="False" />
    <add key="IsM2MIncludedInCash" value="True" />
    <!--Notification Manager-->
    <add key="MailSenderAddress" value="alerts1@nirvanasolutions.com" />
    <add key="MailSenderName" value="Nirvana Support" />
    <add key="MailSenderId" value="alerts1@nirvanasolutions.com" />
    <add key="MailPassword" value="nirvana888" />
    <add key="MailHostName" value="smtp.nirvanasolutions.com" />
    <add key="MailPort" value="2525" />
    <add key="MailRecieverAddress" value="shagoon.gurtata@nirvanasolutions.com" />
    <add key="EnableSSL" value="false" />
    <add key="CompliancePostTradeRuleViolationSummaries" value="Rule Violation Summaries" />
    <add key="CompliancePostTradeRuleType" value="PostTrade" />
    <add key="IsAccrualsNeededOnPM" value="true" />
    <add key="IsIncludeTradingDayAccruals" value="true" />
    <!--Credit Limit Calculations if 0 : SharesBasis, 1 : NotionalBasis-->
    <add key="CreditLimitCalculationBasis" value="0" />
    <add key="CreditLimitBoxPositionAllowed" value="false" />
    <!-- Market Value for swaps if true : Calculate like equity, false: Calculate as CostBasisPNL-->
    <add key="EquitySwapsMarketValueAsEquity" value="false" />
    <add key="IsTaxlotsBrokenForBoxedPositions" value="false" />
    <!--Splitted Taxlots Cache if 0 : Account, 1 : Masterfund-->
    <add key="SplittedTaxlotsCacheBasis" value="0" />
    <add key="IsNetExposureZeroForForexForwards" value="true" />
    <!--BBG Utility File Watcher settings-->
    <add key="BBGFileImportSourceFilePath" value="" />
    <add key="BBGFileImportFileType" value="" />
    <add key="BBGFileImportSearchingFileNameOnFTPStartWith" value="" />
    <add key="BBGFileImportFileName" value="" />
    <!-- 1: ExecuteFor Only Client SP, 2: ExecuteFor Only SMDB SP, 3: ExecuteFor Both SP -->
    <add key="BBGFileImportExecuteFor" value="3" />
    <add key="BBGFileImportFTPTimeInterval" value="2000" />
    <add key="BBGFileImportDBTimeInterval" value="5000" />
    <add key="BBGFileImportClientSPName" value="P_ImportBBUtilityInClientDB" />
    <add key="BBGFileImportSMSPName" value="P_ImportBBUtilityInSMDB" />
    <add key="BBGFileImportSenderID" value="reports@nirvanasolutions.com" />
    <add key="BBGFileImportMailServer" value="smtp.gmail.com" />
    <add key="BBGFileImportMailServerSMTPPort" value="587" />
    <add key="BBGFileImportSenderPWD" value="nirvana123" />
    <add key="BBGFileImportSecureEmail" value="true" />
    <add key="BBGFileImportReceiverIDs" value="bharat.jangir@nirvanasolutions.com" />
    <add key="BBGFileImportMailSubject" value="Daily BBG file import" />
    <add key="BBGFileImportMailBody" value="&lt;html&gt;&lt;body&gt; Attached is the Daily BBG file report for Tiger Veda. &lt;br&gt; This is an automatically generated notification email from an unattended mailbox. Please do not directly reply. Open attached document(s) for your reference. For questions and concerns please contact support@nirvanasolutions.com or call 212-768-3410.&lt;br&gt; Thanks &lt;/body&gt;&lt;/html&gt;" />
    <add key="BBGFileImportCCIDs" value="bharat.jangir@nirvanasolutions.com" />
    <add key="BBGFileImportBCCIDs" value="bharat.jangir@nirvanasolutions.com" />
    <!--BBG Utility File Watcher settings-->
    <!-- If published taxlot's currency blank then we are forcefully refilling from server-->
    <add key="FetchCurrencyIfBlankCurrencyTradeFound" value="true" />
    <!--  0 - TradeDate , 1 - ProcessDate, 2 - OriginalPurchaseDate-->
    <add key="FetchDataByDate" value="0" />
    <!--  0 - Not Enabled , 1 - Enabled but only Logging, 2 - Enabled with Logging + Display on Expnl-->
    <add key="IsTracingEnabledForPublishedTaxlots" value="0" />
    <!-- This is in seconds, currently set at 5 seconds-->
    <add key="TimerRefreshInterval" value="5" />
    <add key="ServiceDescription" value="Prana Exposure, Profit amp; Loss Service provides real time Profit, loss and risk monitoring." />
    <!--ExpnlCompression values: Taxlot, Account_Symbol-->
    <add key="ExpnlCompression" value="Taxlot" />
    <add key="ConfigSectionNamesForLogAtApplicationStartUp" value="connectionStrings, appSettings" />
  </appSettings>
  <Compliance>
    <add key="OrderQueueName" value="Nirvana.Order" />
    <add key="LiveFeedExchangeName" value="Nirvana.LiveFeed" />
    <!--<add key="HistoricalPositionQueueName" value="Nirvana.HistoricalPosition"/>-->
    <add key="AmqpServer" value="localhost" />
    <add key="VHost" value="Dev" />
    <add key="vhostUserId" value="nirvana" />
    <add key="vhostPassword" value="PRana888" />
    <add key="RuleSixteenBExchangeName" value="Nirvana.RuleSixteenB" />
    <add key="RuleFeedSixteenBQueue" value="Nirvana.RuleFeedSixteenB" />
    <add key="EsperRequestExchange" value="Nirvana.EsperRequest" />
    <add key="OtherDataExchange" value="Nirvana.OtherEventStreams" />
    <add key="NotificationExchange" value="Nirvana.Notification" />
  </Compliance>
  <LiveFeed>
    <add key="Level1TimerStartDueTime" value="1000" />
    <add key="TimerInterval" value="100" />
    <add key="Level1TimerIntervalMultiple" value="7" />
    <add key="OptionChainDataInterval" value="300" />
    <!--LEvel 1 will refresh after TimerInterval * Level1TimerIntervalMultiple-->
  </LiveFeed>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <httpRuntime maxRequestLength="2097151" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceBinding" transferMode="Buffered" closeTimeout="1.00:00:00" openTimeout="1.00:00:00" receiveTimeout="1.00:00:00" sendTimeout="1.00:00:00" maxBufferPoolSize="0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <reliableSession inactivityTimeout="1.00:00:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <dataContractSerializer />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:5051/PricingService2" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.CoreService.Interfaces.IPricingService2" name="PricingService2EndpointAddress" />
      <endpoint address="net.tcp://localhost:5052/PricingSubscription" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.PubSubService.Interfaces.ISubscription" name="PricingSubscriptionEndpointAddress" />
      <endpoint address="net.tcp://localhost:5052/PricingService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.IPricingService" name="PricingServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5052/PricingMarketDataPermissionService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.IMarketDataPermissionService" name="PricingMarketDataPermissionServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5053/TradeService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.CoreService.Interfaces.ITradeService" name="TradeServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5054/TradeSubscription" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.PubSubService.Interfaces.ISubscription" name="TradeSubscriptionEndpointAddress" />
      <endpoint address="net.tcp://localhost:5054/TradePositionService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.IPranaPositionServices" name="TradePositionServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5054/TradeCashService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.ICashManagementService" name="TradeCashServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5054/TradeSecMasterSyncService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.ISecMasterSyncServices" name="TradeSecMasterSyncServiceEndpointAddress" />
      <endpoint address="net.tcp://localhost:5056/ExpnlPublishing" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.PubSubService.Interfaces.IPublishing" name="ExpnlPublishingEndpointAddress" />
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Prana.ExpnlService.ExpnlService">
        <endpoint address="net.tcp://localhost:5055/ExpnlService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.CoreService.Interfaces.IExpnlService" name="ExpnlServiceEndpointAddress" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Prana.PubSubService.Publishing">
        <endpoint address="net.tcp://localhost:5056/ExpnlPublishing" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.PubSubService.Interfaces.IPublishing" name="ExpnlPublishingEndpointAddress" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Prana.PubSubService.Subscription">
        <endpoint address="net.tcp://localhost:5056/ExpnlSubscription" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.PubSubService.Interfaces.ISubscription" name="ExpnlSubscriptionEndpointAddress" />
      </service>
      <service behaviorConfiguration="ServiceBehaviour" name="Prana.ExpnlService.ExpnlCalculationService">
        <endpoint address="net.tcp://localhost:5056/ExpnlCalculationService" binding="netTcpBinding" bindingConfiguration="ServiceBinding" contract="Prana.Interfaces.IExpnlCalculationService" name="ExpnlCalculationServiceEndpointAddress" />
      </service>
    </services>
  </system.serviceModel>
</configuration>